{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}
<div class="container">
	
	<div class="row">
		<div class="col-lg-offset-2 col-lg-7">		
			<div class="jumbotron">
	
				<h2>{{ "Confirmation paiement"|trans }}</h2>
				
				<p>
					{{ "Merci votre paiement est effectué, nous allons traiter votre commande au plus vite"|trans }}.
				</p>
  				
			</div>
		</div>
	</div>

</div>
{% endblock %}
