{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}


<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center search_promesse">
			{{ "Des prestations beauté de qualité et sur mesure, à domicile pour TOUTES les femmes"|trans }}.<br/> 
			<a href="{{ path('register_cliente') }}">{{ "Curieuse ? Inscrivez-vous pour tester le service"|trans }}</a> 7jours/7 de 6h à 22h
		</div>
	</div>
</div>
			
<div class="container-fluid container-rose home_temp_bk">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{{ render(controller('CoreBundle:Partial:search')) }}
			</div>
		</div>
	</div>
</div>

<div class="container container-blanc">
	<div class="row home-categories-a">
		<div class="col-md-offset-1 col-md-11 col-lg-offset-2 col-lg-10">
			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-2 text-center">
					<a href="{{ path('home_gosearch', {'update': 1, 'search_category': 1 }) }}"><img src="{{ asset('images/template/home/picto1.jpg') }}"></a><br/>
					<a href="{{ path('home_gosearch', {'update': 1, 'search_category': 1 }) }}">{{ "Coiffure"|trans }}</a>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 text-center">
					<a href="{{ path('home_gosearch', {'update': 1, 'search_category': 20 }) }}"><img src="{{ asset('images/template/home/picto2.jpg') }}"></a><br/>
					<a href="{{ path('home_gosearch', {'update': 1, 'search_category': 20 }) }}">{{ "Maquillage et regard"|trans }}</a>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 text-center">
					<a href="{{ path('home_gosearch', {'update': 1, 'search_category': 30 }) }}"><img src="{{ asset('images/template/home/picto3.jpg') }}"></a><br/>
					<a href="{{ path('home_gosearch', {'update': 1, 'search_category': 30 }) }}">{{ "Epilation"|trans }}</a>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 text-center">
					<a href="{{ path('home_gosearch', {'update': 1, 'search_category': 46 }) }}"><img src="{{ asset('images/template/home/picto4.jpg') }}"></a><br/>
					<a href="{{ path('home_gosearch', {'update': 1, 'search_category': 46 }) }}">{{ "Ongles"|trans }}</a>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 text-center">
					<a href="{{ path('home_gosearch', {'update': 1, 'search_category': 47 }) }}"><img src="{{ asset('images/template/home/picto5.jpg') }}"></a><br/>
					<a href="{{ path('home_gosearch', {'update': 1, 'search_category': 47 }) }}">{{ "Soins"|trans }}</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid container-rose">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 container-vision-title">
				{{ "Le principe"|trans }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 container-vision-description">
				{{ render_esi(controller('ContentBundle:Partial:zone', { 'id': 25 })) }}
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 container-vision-title container-vision-title2">
				{{ "Notre vision"|trans }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 container-vision-description container-vision-description2">
				{{ render_esi(controller('ContentBundle:Partial:zone', { 'id': 24 })) }}
			</div>
		</div>
	</div>
</div>

<div class="container-fluid container-rose">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 container-vision-title">
				{{ "Nos beauty artists"|trans }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 container-vision-description">
				{{ render_esi(controller('ContentBundle:Partial:zone', { 'id': 26 })) }}
			</div>
		</div>
	</div>
</div>

{{ render_esi(controller('CoreBundle:Partial:home')) }}

{% if popup %}
<div id="popupcookie">
	{{ "En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies pour vous proposer des services adaptés à vos centres d’intérêts."|trans }} <a href="javascript:void(0);" onclick="$('#popupcookie').hide();">{{ "Fermer"|trans }}</a>
</div>
{% endif %}

{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{getGmapApi()}}&signed_in=false&libraries=places"></script>
{{ parent() }}
<script>

$(document).ready(function(){
	
	initMap();
	
	function extractFromAdress(components, type){
		for (var i=0; i<components.length; i++)
			for (var j=0; j<components[i].types.length; j++)
				if (components[i].types[j]==type) return components[i].long_name;
		return "";
	}
	
	function initMap() {
		var input = document.getElementById('search_ou');
	    var options = {componentRestrictions: {country: "fr"}};
	    var autocomplete = new google.maps.places.Autocomplete(input,options);
	    google.maps.event.addListener(
			autocomplete, 'place_changed', function() {
				var place = autocomplete.getPlace();
				if (place.geometry){
					$('#search_ou_location').val(place.geometry.location);
					$('#search_ou_city').val(extractFromAdress(place.address_components, "locality"));
				}
			}
		);
	}
	

  
});
</script>
{% endblock %}

