{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Recommandez ce site à vos amis"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-lg-12">		
			
			<div class="jumbotron">

				<h4>{{ "Saisissez une liste d’adresses emails qui doivent être séparées par une virgule"|trans }}</h4>
			  
				<form method="post" class="form-horizontal">
					<div class="row">
						<div class="form-group">
						  <div class="col-lg-12">
							<input required=required class="form-control" id="prenom" name="prenom" placeholder="Votre nom">
						  </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
						  <div class="col-lg-12">
							<textarea required=required class="form-control" id="emails" name="emails" placeholder="Exemple : monami@email.com,monautreami@email.com"></textarea>
						  </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-lg-12">
								<button class="pull-right btn btn-primary"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;{{ "Envoyer"|trans }}</button>
						   </div>
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</div>	    

</div>
		    	
{% endblock %}