{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Partager par email"|trans }}</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('home_search') }}">{{ "Recherche"|trans }}</a> > {{ "Partager par email"|trans }} > {{ user.entreprise }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">		
			
			<div class="jumbotron">

				<h4>{{ "Saisissez une liste d’adresses emails qui doivent être séparées par une virgule"|trans }}</h4>
			  
				<form method="post" class="form-horizontal">
					<div class="row">
						<div class="form-group">
						  <div class="col-lg-12">
							<input required=required class="form-control" id="prenom" name="prenom" placeholder="{{ 'Votre nom'|trans }}">
						  </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
						  <div class="col-lg-12">
							<textarea required=required class="form-control" id="emails" name="emails" placeholder="{{ 'Exemple : monami@email.com,monautreami@email.com'|trans }}"></textarea>
						  </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-lg-6">
								<a class="btn btn-warning" href="{{ path('home_show', { 'user_id': user.id, 't': user.strippedName }) }}">{{ "Retour sur le profil"|trans }}</a>
							</div>
							<div class="col-lg-6">
								<button class="pull-right btn btn-primary"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;{{ "Envoyer"|trans }}</button>
						   </div>
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</div>	
</div>    
		    	
{% endblock %}