{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid container-rose">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{{ render(controller('CoreBundle:Partial:search')) }}
			</div>
		</div>
	</div>
</div>

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > {{ "Recherche"|trans }}
			</div>
		</div>
	</div>
</div>


<div class="container">
	
	<div class="row">
		<div class="col-lg-12">
		
			<div class="row">
				<div class="col-lg-12">
					{% if nb_result == 1 %}
						<h1 class="search_title_2"><b>1 {{ "résultat"|trans }}</b> {{ "correspond à votre recherche"|trans }}</h1>
					{% elseif nb_result > 1 %}
						<h1 class="search_title_2"><b>{{ nb_result }} {{ "résultats"|trans }}</b> {{ "correspondent à votre recherche"|trans }}</h1>
					{% else %}
						<h1 class="search_title_2">{{ "Aucun résultat correspond à votre recherche"|trans }}</h1>
					{% endif %}
				</div>
			</div>

			<div class="row">
				{% include 'CoreBundle:Partial:result.html.twig' with {'liste': liste} %}
			</div>
			
			<div class="row">
				{% include 'CoreBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
			</div>

		</div>
	</div>
		
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{getGmapApi()}}&signed_in=false&libraries=places"></script>
{{ parent() }}
<script>

$(document).ready(function(){
	
	initMap();
	
	function extractFromAdress(components, type){
		for (var i=0; i<components.length; i++)
			for (var j=0; j<components[i].types.length; j++)
				if (components[i].types[j]==type) return components[i].long_name;
		return "";
	}
	
	function initMap() {
		var input = document.getElementById('search_ou');
	    var options = {componentRestrictions: {country: "fr"}};
	    var autocomplete = new google.maps.places.Autocomplete(input,options);
	    google.maps.event.addListener(
			autocomplete, 'place_changed', function() {
				var place = autocomplete.getPlace();
				if (place.geometry){
					$('#search_ou_location').val(place.geometry.location);
					$('#search_ou_city').val(extractFromAdress(place.address_components, "locality"));
				}
			}
		);
	}
	

  
});
</script>
{% endblock %}