{% extends "CoreBundle::layout.html.twig" %}

{% block meta_title %}{{ user.entreprise }}{% endblock %}
{% block meta_description %}{{ user.description|truncate(200) }}{% endblock %}

{% block facebook_metas %}
<meta property="og:type" content="website"/>
<meta property="og:title" content="{{ user.entreprise }}" />
<meta property="og:description" content="{{ user.description|truncate(200) }}" />
{% if user.image is not null %}
<meta property="og:image" content="{{ user.image.url }}"/>
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/fotorama/fotorama.js') }}"></script>	
{% if user.lat %}	
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{getGmapApi()}}&signed_in=false&sensor=false&callback=initMap" async defer></script>
<script type="text/javascript">
function initMap() {
  var myLatLng = {lat: {{ user.lat }}, lng: {{ user.lng }}};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: '{{ user.entreprise }}'
  });
}
</script>
{% endif %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('js/fotorama/fotorama.css') }}" rel="stylesheet">
{% endblock %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a style="font-weight:bold;font-size:18px;" href="{{ path('home_search') }}">{{ "Retour à la recherche"|trans }}</a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="col-md-8 col-lg-8">
			
			<div class="row">
				<div class="col-lg-12">
			
					<h2 class="title2 title_bottom title_top">{{ "Qui suis-je ?"|trans }}</h2>
					
					{{ user.description|nl2br }}
					
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
			
					<h2 class="title2 title_bottom title_top">{{ "Mes prestations / tarifs"|trans }}</h2>
					
					{% for offer in user.offers %}
					<div class="row">
						<div class="col-lg-8 offer-title">
							{{ offer.title }}
						</div>
						<div class="col-lg-2 offer-duree">
							{{ offer.dureeLabel }}
						</div>
						<div class="col-lg-2 offer-price">
							{{ offer.priceLabel }}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							{{ offer.description|raw }}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<ul class="liste-photo">
							{% for image in offer.images %}
								<li><a rel="facebox" href="{{ image.urlzoom }}"><img src="{{ image.url }}"/></a></li>
							{% endfor %}
							</ul>
						</div>
					</div>
					<hr/>
					{% endfor %}
					
				</div>
			</div>
			
		</div>
		<div class="col-md-4 col-lg-4">
		
			<div class="row">
				<div class="col-lg-12 user-detail-title text-center">
					<h1>{{ user.shortUserName2 }}</h1>
					<p>
						{{ user.metiersLabel }}
					</p>
					<p>
						<img class="img-thumbnail" alt="{{ user.lastName }}" src="{{ user.image.url }}"/>
					</p>					
					<p>
						{% if user.nbNote > 0 %}<img src="{{ asset('images/template/b' ~ user.note ~ '.png') }}"/> <a href="#a_comments">{{ "Lire les avis"|trans }}</a>{% else %}{{ "Aucune note"|trans }}{% endif %}
					</p>
				</div>
			</div>
			
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.type == 1 %}
			
			{% if user.id != app.user.id %}
			
			<hr/>
			
			<div class="row">
				<div class="col-lg-12">
					
					{% if user not in app.user.favoris %}
						<a class="btn btn-info btn-partage-t" style="border-color:white !important;margin-right:20px;background-color:#EA988B !important;color:white !important;" href="{{ path('user_addfavoris', {'user_id': user.id}) }}"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;{{ "Ajouter dans mes favoris"|trans }}</a>
					{% else %}
						<a class="btn btn-info btn-partage-t" style="border-color:white !important;margin-right:20px;background-color:#EA988B !important;color:white !important;" href="{{ path('user_deletefavoris', {'user_id': user.id}) }}">{{ "Supprimer de vos favoris"|trans }}</a>
					{% endif %}
					
				</div>
			</div>	
			{% endif %}
			
			{% endif %}	
			
		</div>
	</div>
	
	{% if user.offers|length %}
	<h2 class="title title_top" style="background-color:#F9DCD3;color:#BC6E5D;border-bottom-left-radius:0px;border-bottom-right-radius:0px;font-size:24px;">{{ "Prendre un rendez-vous"|trans }}</h2>
	
	<div class="row">
		<div class="col-lg-12">
	
			<div class="zone_message_advert" style="border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
		
				<form class="zone_message_advert" type="POST" onsubmit="$(this).find(':button').attr('disabled', 'disabled');this.submit();return true;" action="{{ path('booking_newbooking') }}" method="post" class="form-horizontal col-lg-12">
					<div class="row">

						<div class="col-lg-offset-1 col-lg-10">
						
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
									<div class="zone_message_advert_etapes">Je choisi ma formule</div>
									
									<script>

									function initresa(){

										$.ajax({
											url: '{{ path('home_agenda', { 'user_id': user.id }) }}',
											type: 'GET',
											beforeSend: function(data) {
												$('#agenda_user').empty().append('<center><img src=\'{{ asset('images/template/loader.gif') }}\'></center>');
											},
											success: function(data) {
												$('#agenda_user').empty().append(data);
											},
											error: function () {
												alert('La requête n\'a pas abouti');
											}
										});
										
									};
									</script>
									
									{% for offer in user.offers %}
										<div class="row">
											<div class="col-lg-8 offer-title">
												<input onchange="initresa()" checked=checked type="radio" id="offer_{{ offer.id }}" name="offer" value="{{ offer.id }}"> <label for="offer_{{ offer.id }}">{{ offer }}</label>
											</div>
											<div class="col-lg-2 offer-duree">
												{{ offer.dureeLabel }}
											</div>
											<div class="col-lg-2 offer-price">
												{{ offer.priceLabel }}
											</div>
										</div>
									{% endfor %}
								  </div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-12">
									<div class="zone_message_advert_etapes">Je choisi une date et heure de RDV</div>
								</div>
							</div>
							
							{{ render(controller('CoreBundle:Partial:agenda', { 'user': user })) }}	
						
					</div>
				</form>

			</div>
			
		</div>
	</div>
	{% endif %}
	
	<h2 class="title title_top">{{ "Avis"|trans }}</h2>
	
	<a name="a_comments"></a>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			{% for comment in user.validComments %}
			<article class="comment">
				<div class="row">
					<div class="col-lg-12">
						<span class="comment_author">
							{{ comment.user.shortUsername }} {{ comment.createdAt('d/m/Y') }}<br/>
							<img style="margin-left:45px;" src="{{ asset('images/template/b' ~ comment.note ~ '.png') }}"/>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 comment_message" style="padding-top:8px;">
						{{ comment.message|nl2br }}
				   </div>
				</div>
			</article>
			{% endfor %}
		</div>
	</div>
	
	
</div>



{% endblock %}
