{% extends "CoreBundle::layout.html.twig" %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div id="temp_contact_home">
				
				<p class="text-center">
					<img src="{{ asset('images/template/logo.png') }}">
				</p>
				<p class="logo_slogan" style="margin-bottom:25px;">{{ "Le home beauty service qui vous ressemble, vraiment"|trans }}</p>
				<p>
					<b>Le premier home beauty service dédié à toutes les beautés arrive bientôt.</b>
				</p>
				<p style="margin-top:25px;">
					Les 100 premières inscrites bénéficieront de notre offre exclusive de bienvenue.
				</p>
				<p>
					Pour vous inscrire, c’est par ici :
				</p>
				<p>
					<form method="post" class="form">
					
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group" style="margin-bottom:15px;">
								  <input required=required placeholder="{{ "Votre adresse mail"|trans }}" class="form-control" type="email" id="email" name="email" value="">
								 </div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-offset-3 col-lg-6">
								<div class="form-group text-center">
									<div class="g-recaptcha" data-sitekey="6LetBCwUAAAAAM2ulGdTUS0uyBHm18oVBerlPpUy"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 text-center">
								<button class="btn btn-primary btn-sadv">{{ "Je profite de l'offre"|trans }}</button>
							</div>
						</div>
					
					</form>
				</p>
				<p style="margin-top:55px;">
					Vous êtes un/e professionnel/le de la beauté (coiffure, make-up ou esthétique) et souhaitez rejoindre la plateforme ?
				</p>
				<p>	
					Contactez-nous à l’adresse : <a href="mailto:artists@mybeautybooking.fr">artists@mybeautybooking.fr</a>
				</p>
				<p>
					A très vite, l’équipe MyBeauty Booking
				</p>
			</div>
		</div>
	</div>
</div>

{{ include("CoreBundle::messages.html.twig") }}

{% endblock %}