<script>
function select_date(date){
$('#'+$('#date_select').val()).show();
$('#'+$('#date_select').val()+'_label').hide();
$('#date_select').val(date);
$('#'+date).hide();
$('#'+date+'_label').show();
}
</script>
<div id="agenda_user">
<a class="pull-left btn btn-primary btn-xs" onclick="$('#agenda_user').empty().append('<center><img style=\'margin:60px;\' src=\'{{ asset('images/template/loader.gif') }}\'></center>').load('{{ path('agenda_getagenda', { 'date': last_date }) }}');" href="javascript:void(0);"><<</a>
<a class="pull-right btn btn-primary btn-xs" onclick="$('#agenda_user').empty().append('<center><img style=\'margin:60px;\' src=\'{{ asset('images/template/loader.gif') }}\'></center>').load('{{ path('agenda_getagenda', { 'date': next_date }) }}');" href="javascript:void(0);">>></a>
<table class="table table-bordered table-striped">
<tr>
	<th></th>
	{% for ligne in entete %}
	<th class="agenda_entete">{{ ligne['jour'] }}<br/>{{ ligne['date'] }}</th>
	{% endfor %}
</tr>
{% for data in datas %}
<tr>
	<td class="text-center">
		{{ data['heure'] }}
	</td>
	{% for reservation in data['jours'] %}
	<td class="text-center">
		{% if reservation['booking_id'] %}
			<a class="agenda_booking" href="{{ path('booking_show', {'booking_id': reservation['booking_id']}) }}">{{ reservation['booking_user'] }}</a>
		{% elseif reservation['ouverture'] == 1 %}
		<div id="disponibilite_{{ reservation['date']~'_'~data['heure'] }}">
			<a class="agenda_choisir" id="{{ reservation['date']~'_'~data['heure'] }}" href="javascript:void(0);" onclick="$('#disponibilite_{{ reservation['date']~'_'~data['heure'] }}').empty().append('<center><img style=\'width:20px;\' src=\'{{ asset('images/template/loader.gif') }}\'></center>').load('{{ path('agenda_disponibilite', { 'date': reservation['date']~'_'~data['heure'] }) }}');" href="javascript:void(0);">{{ "Disponible"|trans }}</a>
		</div>
		{% elseif reservation['ouverture'] == -1 %}
		<div id="disponibilite_{{ reservation['date']~'_'~data['heure'] }}">
			<a class="agenda_choisir_ok" id="{{ reservation['date']~'_'~data['heure'] }}" href="javascript:void(0);" onclick="$('#disponibilite_{{ reservation['date']~'_'~data['heure'] }}').empty().append('<center><img style=\'width:20px;\' src=\'{{ asset('images/template/loader.gif') }}\'></center>').load('{{ path('agenda_disponibilite', { 'date': reservation['date']~'_'~data['heure'] }) }}');" href="javascript:void(0);">{{ "Indisponible"|trans }}</a>
		</div>
		{% endif %}
	</td>
	{% endfor %}
</tr>
{% endfor %}
</table>

</div>