{% if disponible %}
<a class="agenda_choisir_ok" id="{{ date }}" href="javascript:void(0);" onclick="$('#disponibilite_{{ date }}').empty().append('<center><img style=\'width:20px;\' src=\'{{ asset('images/template/loader.gif') }}\'></center>').load('{{ path('agenda_disponibilite', { 'date': date }) }}');" href="javascript:void(0);">{{ "Indisponible"|trans }}</a>
{% else %}
<a class="agenda_choisir" id="{{ date }}" href="javascript:void(0);" onclick="$('#disponibilite_{{ date }}').empty().append('<center><img style=\'width:20px;\' src=\'{{ asset('images/template/loader.gif') }}\'></center>').load('{{ path('agenda_disponibilite', { 'date': date }) }}');" href="javascript:void(0);">{{ "Disponible"|trans }}</a>
{% endif %}