{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Mon planning"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Mon planning"|trans }}</h3>
				</div>
				<div class="panel-body">
					
					<div class="row">
						<div class="col-lg-12">
							{{ render(controller('UserBundle:Agenda:getagenda')) }}
						</div>
					</div>
					
					<form id="myform" autocomplete="off" method="POST" class="form-horizontal col-lg-12">
					<div class="row">
						<div class="form-group">
							<h2 class="title title2 title_top">{{ "Vos horaires d'ouverture"|trans }}</h2>
						</div>
					</div>
					<div class="row">
					  <div class="form-group">
						<div class="col-lg-9">
							<ul class="horaires">
								<li>
									<div class="left">Lundi</div>
									{% include 'UserBundle:Form:horaire.html.twig' with {'jour': 1, 'horaires' : app.user.horairesLundi} %}
								</li>
								<li>
									<div class="left">Mardi</div>
									{% include 'UserBundle:Form:horaire.html.twig' with {'jour': 2, 'horaires' : app.user.horairesMardi} %}
								</li>
								<li>
									<div class="left">Mercredi</div>
									{% include 'UserBundle:Form:horaire.html.twig' with {'jour': 3, 'horaires' : app.user.horairesMercredi} %}
								</li>
								<li>
									<div class="left">Jeudi</div>
									{% include 'UserBundle:Form:horaire.html.twig' with {'jour': 4, 'horaires' : app.user.horairesJeudi} %}
								</li>
								<li>
									<div class="left">Vendredi</div>
									{% include 'UserBundle:Form:horaire.html.twig' with {'jour': 5, 'horaires' : app.user.horairesVendredi} %}
								</li>
								<li>
									<div class="left">Samedi</div>
									{% include 'UserBundle:Form:horaire.html.twig' with {'jour': 6, 'horaires' : app.user.horairesSamedi} %}
								</li>
								<li class='last'>
									<div class="left">Dimanche</div>
									{% include 'UserBundle:Form:horaire.html.twig' with {'jour': 7, 'horaires' : app.user.horairesDimanche} %}
								</li>			
							</ul>
							<script>
							
								$(function(){							
									$("a.del_tranche").click(function(){
											var jour = $(this).parent().parent().parent().attr('data-placeholder');
											$('input#cnt_'+jour).val( parseInt($('input#cnt_'+jour).val()) - parseInt(1));
											if($('input#cnt_'+jour).val()==0) $('div.closedbox_'+jour).css('display','inline');
											$('div.tranche_'+jour+'_'+$(this).attr('data-placeholder')).css('display','none');
											$('div.tranche_'+jour+'_'+$(this).attr('data-placeholder')+' select').val('00');
										return false;
									});
									
									$("a.add_tranche").click(function(){
											var jour = $(this).attr('data-placeholder');	
											var found = 0;									
											if($('input#cnt_'+jour).val() < 5)
												{
												for(i=0;i<5;i++) {
														if($('div.tranche_'+jour+'_'+i).css('display') == 'none' && found == 0) {
															$('div.tranche_'+jour+'_'+i).css('display','block');
															var found = 1;
															}
												}				
												$('input#cnt_'+jour).val( parseInt($('input#cnt_'+jour).val()) + parseInt(1));
												if($('input#cnt_'+jour).val()==1) $('div.closedbox_'+jour).css('display','none');
												//alert($('input#cnt_'+jour).val());
												}
										return false;
									});				
								});

							</script>

						</div>
					  </div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-lg-12 text-center">
								<button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Enregistrer"|trans }}</button>
						   </div>
						</div>
					</div>
					</form>

		    		
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}