<nav class="visible-xs navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
		<div class="col-xs-4">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		        <span class="sr-only">Navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
      	</div>
    	<div class="col-xs-8 text-right">
      		<a id="logo" href="{{ path('home_index') }}"><img src="{{ asset('images/template/logo.png') }}" alt="{{ getSiteName() }}"></a>
      	</div>
      	
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      	{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<li class="nav-item-menu"><a href="{{ path('home_gosearch', {'search_update' : 1}) }}">{{ "Prendre un rendez-vous"|trans }}</a></li>
			<li class="nav-item-menu"><a href="{{ path('register_cliente') }}">{{ "Inscription"|trans }}</a></li>
			<li class="nav-item-menu"><a href="{{ path('register_connexion') }}">{{ "Connexion"|trans }}</a></li>
		{% else %}
			{% if app.user.type == 2 %}
			<li class="nav-item-menu"><a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a></li>
			<li class="nav-item-menu"><a href="{{ path('booking_index') }}">{{ "Mes bookings"|trans }}</a></li>
			<li class="nav-item-menu"><a href="{{ path('message_index') }}">{{ "Messagerie"|trans }}</a></li>
			{% else %}
			<li class="nav-item-menu"><a href="{{ path('home_gosearch', {'search_update' : 1}) }}">{{ "Prendre un rendez-vous"|trans }}</a></li>
			<li class="nav-item-menu"><a href="{{ path('user_show') }}">{{ "Mon profil"|trans }}</a></li>
			<li class="nav-item-menu"><a href="{{ path('booking_index') }}">{{ "Mes bookings"|trans }}</a></li>
			<li class="nav-item-menu"><a href="{{ path('message_index') }}">{{ "Messagerie"|trans }}</a></li>
			<li class="nav-item-menu"><a href="{{ path('user_favoris') }}">{{ "Mes beauty artists"|trans }}</a></li>
			{% endif %}
			<li class="nav-item-menu"><a href="{{ path('user_editpassword') }}">{{ "Modifier mon mot de passe"|trans }}</a></li>
			<li class="nav-item-menu"><a href="{{ path('register_logout') }}">{{ "Se déconnecter"|trans }}</a></li>
		{% endif %}
      </ul>
    </div>
  </div>
</nav>

<audio id="audiotag1" src="{{ getSiteUrl() }}mp3/menu.mp3" preload="auto"></audio>

<script type="text/javascript">
	function play_single_sound() {
		document.getElementById('audiotag1').play();
	}
</script>

<div class="hidden-xs container">
	<div class="row">
		<div class="col-lg-12">
			<div class="header">
				<div class="row">
					<div class="col-sm-2 col-md-2 col-lg-3">
						<a onclick="play_single_sound();" id="menu_a" class="btn btn-primary" href="#menu"><span class="glyphicon glyphicon-menu-hamburger"></span> &nbsp;&nbsp;{{ "Découvrir"|trans }}</a>
					</div>
					<div class="col-sm-5 col-md-6 col-lg-6 text-center">
						<a id="logo" href="{{ path('home_index') }}"><img src="{{ asset('images/template/logo.png') }}" alt="{{ getSiteName() }}"></a>
						<div class="logo_slogan">{{ "Le home beauty service qui vous ressemble, vraiment"|trans }}</div>
					</div>
					<div class="col-sm-5 col-md-4 col-lg-3" style="padding-left:0px;padding-right:0px;padding-top:15px;">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<div class="col-zonemembre">
							<div class="row">
								<div class="col-sm-2 col-md-2 col-lg-3">
									<!-- Single button -->
									<div class="btn-group dropdown">
									  <button id="zonemembre-dropdown" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-angle-down fa-2"></i>
									  </button>
									  <ul class="dropdown-menu">
										{% if app.user.type == 2 %}
										<li><a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a></li>
										<li><a href="{{ path('booking_index') }}">{{ "Mes bookings"|trans }}</a></li>
										<li><a href="{{ path('message_index') }}">{{ "Messagerie"|trans }}</a></li>
										{% else %}
										<li><a href="{{ path('user_show') }}">{{ "Mon profil"|trans }}</a></li>
										<li><a href="{{ path('message_index') }}">{{ "Messagerie"|trans }}</a></li>
										{% endif %}
										<li><a href="{{ path('register_logout') }}">{{ "Se déconnecter"|trans }}</a></li>
									  </ul>
									</div>
								</div>
								<div class="col-sm-10 col-md-10 col-lg-9">
									<p class="zonemembre-name">
										<b class="zonemembre-name-1">{{ app.user.lastName }}</b> {% if app.user.score < 100 %}<b class="pull-right" style="font-size:13px;"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ app.user.score }}</b>{% endif %}
									</p>
									<p class="zonemembre-infos">
										{{ render(controller('MessageBundle:Partial:usermessages')) }}
									</p>
									<p class="zonemembre-infos">
										{% if app.user.type == 1 %}
										{{ render(controller('BookingBundle:Partial:bookingcliente')) }}
										{% else %}
										{{ render(controller('BookingBundle:Partial:bookingpro')) }}
										{% endif %}
									</p>
								</div>
							</div>
						</div>
						{% else %}
						<div class="row">
							<div class="col-lg-12" style="padding-left:0px;padding-right:0px;">
								<ul class="menu-connexion pull-right">
									<li style="margin-left:10px;"><a class="btn btn-primary" href="{{ path('register_cliente') }}"><span class="glyphicon glyphicon-log-in"></span> &nbsp;&nbsp;{{ "S'inscrire"|trans }}</a></li>
									<li style="margin-left:10px;"><a class="btn btn-primary" style="cursor:pointer;" data-toggle="modal" data-target="#modal_login"><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;{{ "Se connecter"|trans }}</a></li>
								</ul>
							</div>
						</div>
						{% endif %}
	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade clearfix" id="modal_login" tabindex="-1" role="dialog" aria-labelledby="modal_login_modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="modal_login_modalLabel">{{ "Connexion à mon compte"|trans }}</h4>
      </div>
      <form action="{{ path('register_login') }}" method="post" class="form-horizontal col-xs-offset-1 col-xs-10 col-lg-10">
      <div class="modal-body">
	  
			<div class="row text-center" style="margin-top:30px;">
		    	
		    	<div id="loginbuttonfb">
			    	<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
				</div>
				
				<div id="status">
				</div>
			</div>
			
			<hr/>

			<div class="row" style="margin-top:50px;">
		    	<div class="col-lg-offset-1 col-lg-9">
				    <div class="row">
					    <div class="form-group">
							<div class="input-group input-group-md">
							  <span class="input-group-addon">
							    <i class="fa fa-envelope"></i>
							  </span>
							  <input required="required" class="form-control" type="email" id="email" name="email" value="" placeholder="{{ "Votre Email"|trans }}">
							</div>
						</div>
					</div>
					<div class="row">
					    <div class="form-group">
							<div class="input-group input-group-md">
							  <span class="input-group-addon">
							    <i class="fa fa-lock"></i>
							  </span>
							  <input required="required" class="form-control" type="password" id="password" name="password" placeholder="{{ "Mot de passe"|trans }}">
							</div> 
						</div>
					</div>
					<div class="row">
					    <div class="form-group">
							<div class="input-group input-group-md">
					    		<input type="checkbox" id="remember_me" name="_remember_me" checked=checked/> {{ "Se souvenir de moi"|trans }}
					    	</div>
						</div>
					</div>
				    <div class="form-group">
				       <button class="pull-right btn btn-primary">{{ "Connexion"|trans }}</button>
				    </div>
				</div>
			</div>
		
	    	<hr/>
	    </div>
	    </form>
	    <div class="modal-footer">
	    	<div class="row">
	    		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
	    			<a href="{{ path('register_cliente') }}"><b>{{ "Pas encore inscrit ?"|trans }}</b></a>
	    		</div>
	    		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	    			<a href="{{ path('register_password') }}">{{ "Mot de passe oublié ?"|trans }}</a>
	    		</div>
	    	</div>
	    </div>
	 </div>
  </div>
</div>