{% extends "::base.html.twig" %}

{% block meta_title %}{{ getMetaTitle() }}{% endblock %}
{% block meta_description %}{{ getMetaDescription() }}{% endblock %}
{% block meta_keywords %}{{ getMetaKeywords() }}{% endblock %}

{% block facebook_metas %}
{{ include("RegisterBundle:Partial:facebook_metas.html.twig") }}
{% endblock %}

{% block facebook_js %}
{{ render(controller('RegisterBundle:Partial:facebook')) }}
{% endblock %}

{% block body %}
<div id="page">
	
	{{ include("CoreBundle:Partial:menu.html.twig") }}

	<div id="header">
		{{ include("CoreBundle::header.html.twig") }}
	</div>
	
	<div id="content">
		{% block body_content %}

		{% endblock %}
		
		{% block body_bottom %}{% endblock %}
		
		{{ include("CoreBundle::popupajax.html.twig") }}

		{{ include("CoreBundle::messages.html.twig") }}
	</div>
	
	<footer>
		{{ include("CoreBundle::footer.html.twig") }}
	</footer>
</div>
{% endblock %}