{% if app.session.flashbag.has('message') or app.session.flashbag.has('error') %}
     {% for type, messages in app.session.flashBag.all %}
	    {% for message in messages %}
	    
	        {% if type == 'message' %}    
				<script type="text/javascript">
				  $(document).ready(function(){					  
					  jSuccess(
						'{{ message }}',
						{
						  autoHide : true, // added in v2.0
						  clickOverlay : true, // added in v2.0
						  MinWidth : 250,
						  TimeShown : 2000,
						  ShowTimeEffect : 200,
						  HideTimeEffect : 200,
						  LongTrip :20,
						  HorizontalPosition : 'center',
						  VerticalPosition : 'top',
						  ShowOverlay : true,
				   		  ColorOverlay : '#000',
						  OpacityOverlay : 0.3,
						  onClosed : function(){ // added in v2.0
						   
						  },
						  onCompleted : function(){ // added in v2.0
						   
						  }
						});
					  });
					  
					  
				</script>
			 {% endif %}
	        
	         {% if type == 'error' %}
	            
				<script type="text/javascript">
				  $(document).ready(function(){					  
					  jError(
						'{{ message }}',
						{
						  autoHide : true, // added in v2.0
						  clickOverlay : true, // added in v2.0
						  MinWidth : 250,
						  TimeShown : 2000,
						  ShowTimeEffect : 200,
						  HideTimeEffect : 200,
						  LongTrip :20,
						  HorizontalPosition : 'center',
						  VerticalPosition : 'top',
						  ShowOverlay : true,
				   		  ColorOverlay : '#000',
						  OpacityOverlay : 0.3,
						  onClosed : function(){ // added in v2.0
						   
						  },
						  onCompleted : function(){ // added in v2.0
						   
						  }
						});
					  });
					  
					  
				</script>
	        {% endif %}
	    {% endfor %}
	{% endfor %}
{% endif %}
