{% if nbPages > 1 %}
<ul class="pagination">
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path(action, {'page': p, 'sort': sort, 'sens': sens}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}