<div class="modal fade" id="popupajaxModal" tabindex="-1" role="dialog" aria-labelledby="popupajaxModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="poputitle"></h4>
        <div id="urlload" style="display:none;"></div>
      </div>
      <div class="modal-body" id="popupajax">


      </div>
    </div>
  </div>
</div>