{% extends "::error.html.twig" %}

{% block body_content %}
	<p><b>Désolé, cette page est introuvable</b></p>
	<p>
  		Veuillez retourner à la page d'accueil ou nous signaler ce problème par e-mail.
  	</p>
  	<p>
  		Merci de votre compréhension.
  	</p>
{% endblock %}