{% extends "::error.html.twig" %}

{% block body_content %}
	<p><b>Une erreur est survenue</b></p>
	<p>Le code de cette erreur :<br/>"{{ status_code }} {{ status_text }}".</p>
	<p>
  		Veuillez retourner à la page d'accueil ou nous signaler ce problème par e-mail.
  	</p>
  	<p>
  		Merci de votre compréhension.
  	</p>
{% endblock %}