{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}
{% form_theme form 'UserBundle:Form:fields.html.twig' %}

<form method="POST" {{ form_enctype(form) }} class="form-horizontal col-lg-12">
{{ form_widget(form.user) }}

	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.images, "Bannieres"|trans, {'label_attr': {'class': 'col-lg-2'}}) }}
	      <div class="form_images_type col-lg-10">
	        {{ form_errors(form.images) }}
	        {{ form_widget(form.images) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.title, "Titre"|trans, {'label_attr': {'class': 'col-lg-2'}}) }}
	      <div class="col-lg-4">
	        {{ form_errors(form.title) }}
	        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.url, "URL"|trans, {'label_attr': {'class': 'col-lg-2'}}) }}
	      <div class="col-lg-4">
	        {{ form_errors(form.url) }}
	        {{ form_widget(form.url, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	{% if (form.vars.value.status < 1) %}
	<hr/>
	<div class="row">
	    <div class="form-group">
	      <div class="col-lg-10">
	      		<h3>{{ "Tarifs pour votre publicité" }}</h3>
	      		<table class="table table-striped table-bordered">
	     			<tr>
	     				<th></th>
	     				<th>{{ "Option"|trans }}</th>
	     				<th>{{ "Description"|trans }}</th>
	     				<th>{{ "Prix TTC"|trans }}</th>
	     			</tr>
	        		{% for option in options %}
	        		<tr>
	        			<td>
	        				<input type="radio" checked=checked value="{{ option.id }}" name="publicite_option" id="publicite_option_{{option.id}}">
	        			</td>
	        			<td>
	        				{{ option.title }}
	        			</td>
	        			<td>
	        				{{ option.description }}
	        			</td>
	        			<td>
	        				{{ option.priceTtcLabel(taux_tva) }}
	        			</td>
	        		</tr>
	        		{% endfor %}
	        	</table>
	      </div>
	    </div>
	</div>
	{% endif %}
	<div class="row">
		<div class="form-group">
			<div class="col-lg-6">
       			<button class="pull-right btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Valider"|trans }}</button>
       			<a class="btn btn-warning" href="{{ path('publicite_index') }}"><span>{{ "Annuler"|trans }}</span></a>
       		</div>
       </div>
    </div>
	{{ form_widget(form._token) }}
</form>


{# Voici le script en question : #}
<script type="text/javascript">
  $(document).ready(function() {
  	
  	//$('div.file_input_hidden').replaceWith('');
  	
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#faprod_pubbundle_publicite_images');

    // On ajoute un lien pour ajouter une nouvelle catégorie
    var $addLink = $('<a href="#" id="add_image" class="btn btn-default">Ajouter une banniere</a>');
    $container.append($addLink);

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $addLink.click(function(e) {
      addCategory($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addCategory($container);
    } else {
      // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire Categorie
    function addCategory($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Photo n°' + (index+1))
          .replace(/__name__/g, index));

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>