
<script>

function goresa(date, date_select){

    $.ajax({
        url: '{{ path('home_agenda', { 'user_id': user.id }) }}',
        type: 'GET',
        data: 'offer_id='+$('input[name=offer]:checked').val()+'&date='+date+'&date_select='+date_select,
        beforeSend: function(data) {
            $('#agenda_user').empty().append('<center><img src=\'{{ asset('images/template/loader.gif') }}\'></center>');
        },
        success: function(data) {
            $('#agenda_user').empty().append(data);
        },
        error: function () {
            alert('La requête n\'a pas abouti');
        }
    });
	
};
</script>

<div id="agenda_user">
	<div class="row">
		<div class="col-lg-12" style="overflow-x:auto;">	
			
				{% if selection_valide == -1 %}
				<div id="agenda_user_erreur">
					{{ "Le créneau horaire choisi ne permet pas d'effectuer cette prestation"|trans }}
				</div>
				{% endif %}
				<a class="pull-left btn btn-primary btn-xs" onclick="$('#agenda_user').empty().append('<center><img style=\'margin:60px;\' src=\'{{ asset('images/template/loader.gif') }}\'></center>').load('{{ path('home_agenda', { 'user_id': user.id, 'date': last_date }) }}');" href="javascript:void(0);"><<</a>
				<a class="pull-right btn btn-primary btn-xs" onclick="$('#agenda_user').empty().append('<center><img style=\'margin:60px;\' src=\'{{ asset('images/template/loader.gif') }}\'></center>').load('{{ path('home_agenda', { 'user_id': user.id, 'date': next_date }) }}');" href="javascript:void(0);">>></a>
				<table class="table table-bordered" style="background-color:white;">
				{% if selection_valide == 1 %}
				<input type="hidden" id="date_select" name="date_select" value="{{ date_select }}">
				{% endif %}
				<tr>
					<th></th>
					{% for ligne in entete %}
					<th class="agenda_entete">{{ ligne['jour'] }}<br/>{{ ligne['date'] }}  {{ duree }}</th>
					{% endfor %}
				</tr>
				{% for data in datas %}
				<tr>
					<td class="text-center" style="font-size:13px;padding-top:8px !important;">
						{{ data['heure'] }}
					</td>
					{% for reservation in data['jours'] %}
					<td class="text-center">
						{% if reservation['ouverture'] == 1 %}
							{% if reservation['case_select'] == 1 and selection_valide == 1 %}
								<label class="agenda_select_date" id="{{ reservation['date']~'_'~data['heure'] }}_label">{{ "booké" }}</label>
							{% else %}
								<a class="agenda_choisir" id="{{ reservation['date']~'_'~data['heure'] }}" onclick="goresa('{{ date_agenda }}', '{{ reservation['date']~'_'~data['heure'] }}');" href="javascript:void(0);">{{ "Je booke"|trans }}</a>
							{% endif %}
						{% elseif reservation['ouverture'] == -1 %}
						{{ ""|trans }}
						{% else %}
						{{ ""|trans }}
						{% endif %}
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
				</table>
				
			</div>
		</div>
	</div>
	{% if selection_valide == 1 %}
	<div class="row">
		<div class="form-group">
			<div class="col-lg-12 text-center" style="font-size:14px;margin-bottom:7px;">
				{{ "Si vous disposez d'un code de réduction vous pouvez le saisir ici"|trans }} : <input style="padding:5px;" name="code_reduction" id="code_reduction" placeholder="Mon code de réduction">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-lg-12 text-center">
				<button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-hand-up"></span>&nbsp;&nbsp;{{ "Valider ma réservation"|trans }}</button>
			</div>
		</div>
	</div>
	{% endif %}

</div>