
{% if user.phone %}
<h2 class="soustitre" style="margin-top:0px;font-size:20px;">{{ "N° téléphone"|trans }} : <b>{{ user.phoneLabel }}</b></h2>
{% endif %}

{% if user.mobile %}
<h2 class="soustitre" style="margin-top:0px;font-size:20px;">{{ "N° mobile"|trans }} : <b>{{ user.mobileLabel }}</b></h2>
{% endif %}