<div class="container container-blanc">
	<div class="row">
		<div class="col-lg-12 container-avis-title">
			{{ "Avis"|trans }}
		</div>
	</div>
	<div class="row home-categories-a">
		<div class="col-lg-offset-1 col-lg-10">

			<div class="row">
				<div class="col-lg-12">
					<!-- Carousel
					================================================== -->
					<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-pause="false">
					  <div class="carousel-inner" role="listbox">

						<div class="row item active">

							<div class="col-sm-4 col-md-4 col-lg-4 text-center">
								<p>
									<b>Nadia</b> <img src="{{ asset('images/template/b4.png') }}">
								</p>
								<p>
									Céline est super très pro. <br/>
									Mon tie and dye est réussi à la perfection. <br/>
									Je recommande.<br/>
								</p>
							</div>

							<div class="col-sm-4 col-md-4 col-lg-4 text-center">
								<p>
									<b>Stéphanie</b> <img src="{{ asset('images/template/b5.png') }}">
								</p>
								<p>
									Booking la veille pour le lendemain avec Aurélie pour l'épilation intégrale. RAS
								</p>
							</div>

							<div class="col-sm-4 col-md-4 col-lg-4 text-center">
								<p>
									<b>Khadi</b> <img src="{{ asset('images/template/b5.png') }}">
								</p>
								<p>
									Make up au top. Rien à dire.<br/>
									J'ai trouvé ma nouvelle perle.<br/>
								</p>
							</div>

						</div>

						
						<div class="row item">

							<div class="col-sm-4 col-md-4 col-lg-4 text-center">
								<p>
									<b>Marion</b> <img src="{{ asset('images/template/b3.png') }}">
								</p>
								<p>
									Les doigts de fée de Linda...<br/>
									Ses massages sont un peu brusques mais très efficaces. <br/>
									Je recommande!<br/>
								</p>
							</div>

							<div class="col-sm-4 col-md-4 col-lg-4 text-center">
								<p>
									<b>Sarah</b> <img src="{{ asset('images/template/b4.png') }}">
								</p>
								<p>
									Brushing impeccable. Cathy sait très bien y faire avec ma tignasse! lol
								</p>
							</div>
							
							<div class="col-sm-4 col-md-4 col-lg-4 text-center">
								<p>
									<b>Vanessa</b> <img src="{{ asset('images/template/b5.png') }}">
								</p>
								<p>
									Trés contente du massage, je recommande !
								</p>
							</div>

						</div>


					  </div>
					  
					  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					  </a>
							  
							  
					</div><!-- /.carousel -->
				</div>
			</div>


		</div>
	</div>
</div>