<nav id="menu" class="mmenu mmenu-horizontal">
	<ul>
		<li>
			<a class="btn btn-primary" href="{{ path('content_show', {'content_id': 11, 't': 'qui-sommes-nous'}) }}">{{ "Qui sommes-nous ?"|trans }}</a>
		</li>
		<li class="text-center" style="color:white;font-size:18px;">
			<hr>
			{{ "Nos clientes"|trans }}
		</li>
		<li>
			<a class="btn btn-primary" href="{{ path('content_show', {'content_id': 15, 't': 'nos-prestations'}) }}">{{ "Liste des prestations"|trans }}</a>
		</li>
		<li>
			<a class="btn btn-primary" href="{{ path('home_index') }}">{{ "Accès réservations"|trans }}</a>
		</li>
		<li class="text-center" style="color:white;font-size:18px;">
			<hr>
			{{ "Nos beauty artists "|trans }}
		</li>
		<li>
			<a class="btn btn-primary" href="{{ path('content_show', {'content_id': 12, 't': 'pourquoi-choisir-my-beauty-booking'}) }}">{{ "Pourquoi rejoindre MBB ?"|trans }}</a>
		</li>
		<li>
			<a class="btn btn-primary" href="{{ path('content_show', {'content_id': 13, 't': 'rejoindre-notre-reseau-professionnel'}) }}">{{ "Adhérer"|trans }}</a>
		</li>
		<li>
			<a href="{{ path('mentions_legales') }}" class="btn btn-primary">Mentions légales</a>
		</li>
	</ul>
</nav>