<select class="form-control" id="search_prestation" name="search_prestation">
<option value="">{{ "Type de prestation"|trans }}</option>
{% for prestation in prestations %}
<option value="{{ prestation.id }}">{{ prestation.title }}</option>
{% for sub_prestation in prestation.children %}
<option value="{{ sub_prestation.id }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ sub_prestation.title }}</option>
{% endfor %}
{% endfor %}
</select>