<div class="row">
	<div class="col-lg-12">
		<h2 class="title title_bottom title_top">{{ "Blog ethnique" }}</h2>
	</div>
</div>

{% for content in contents %}
<div class="row">
	<div class="col-lg-12 right_blog">
		<p class="right_blog_title">
			<a href="{{ path('content_show', {'content_id': content.id, 't': content.strippedTitle}) }}">{{ content.title }}</a>
		</p>
		<p class="right_blog_date">
			{{ "Posté le"|trans }} {{ content.enligneDate('d/m/Y') }}
		</p>
		<p class="right_blog_description">
			{{ content.description }}
		</p>
		<p>
			<a class="btn btn-primary btn-sm pull-right" href="{{ path('content_show', {'content_id': content.id, 't': content.strippedTitle}) }}">{{ "Lire la suite"|trans }}</a>
		</p>
	</div>
</div>
{% endfor %}