<script>

function goprestation(metier_id){

    $.ajax({
        url: '{{ path('home_prestation') }}',
        type: 'GET',
        data: 'metier_id='+metier_id,
        beforeSend: function(data) {
            $('#div_modele').empty().append('<center><img style=\'width:25px;\' src=\'{{ asset('images/template/loader.gif') }}\'></center>');
        },
        success: function(data) {
            $('#div_modele').empty().append(data);
        },
        error: function () {
            alert('La requête n\'a pas abouti');
        }
    });
	
};
</script>

<div class="row home_search_large">
	<div class="col-lg-12 search_box_xs">
		<form action="{{ path('home_gosearch') }}" autocomplete="off" method="post" class="form">
		<div class="container">
			<div class="row"> 
				<div class="col-sm-6 col-md-3 col-lg-offset-2 col-lg-3">
					<select required=required onchange="goprestation(this.value)" class="form-control" id="search_category" name="search_category">
						<option value="">{{ "Prestation"|trans }}</option>
						{% for metier in metiers %}
							<option {% if app.session.get('search_category') == metier.id %}selected=selected{% endif %} value="{{ metier.id }}">{{ metier }}</option>
						{% endfor %}
					</select>
					<div id="div_modele" style="margin-top:10px;">
						{% if app.session.get('search_category') %}
						<select class="form-control" id="search_prestation" name="search_prestation">
							<option value="">{{ "Type de prestation"|trans }}</option>
							{% for prestation in prestations %}
							<option {% if app.session.get('search_prestation') == prestation.id %}selected=selected{% endif %} value="{{ prestation.id }}">{{ prestation.title }}</option>
							{% for sub_prestation in prestation.children %}
							<option {% if app.session.get('search_prestation') == sub_prestation.id %}selected=selected{% endif %} value="{{ sub_prestation.id }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ sub_prestation.title }}</option>
							{% endfor %}
							{% endfor %}
						</select>
						{% endif %}
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					  <input type="hidden" id="search_ou_location" name="search_ou_location" value="{{ app.session.get('search_ou_location')}}">
					  <input onkeypress="refuserToucheEntree(event)" placeholder="{{ "Où ?"|trans }}" class="form-control" type="text" id="search_ou" name="search_ou" value="{{ app.session.get('search_ou')}}">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
					<button class="btn btn-primary btn-sadv"><span class="glyphicon glyphicon-search"></span> {{ "Recherche"|trans }}</button>
				</div>
			</div>
		</div>
		</form>
	</div>
</div>