{% if app.user.type == 2 %}
<div id="menu_left" class="menu_profil_pro">

<a href="{{ path('user_index') }}" class="btn btn-primary">{{ "Mon espace Pro"|trans }}</a>
<a href="{{ path('user_edit') }}" class="btn btn-primary {{ app.user.checkprofilpro }}">{{ "Mon profil"|trans }}</a>
<a href="{{ path('agenda_index') }}" class="btn btn-primary {{ app.user.checkDisponibilites }}">{{ "Mon planning"|trans }}</a>
<a href="{{ path('booking_paiements') }}" class="btn btn-primary">{{ "Mes paiements"|trans }}</a>
<a href="{{ path('user_bank') }}" class="btn btn-primary {{ app.user.checkCompteiban }}">{{ "Mon RIB"|trans }}</a>
<a href="{{ path('document_index') }}" class="btn btn-primary {{ app.user.checkDocuments }}">{{ "Mes documents"|trans }}</a>
<a href="{{ path('user_statistique') }}" class="btn btn-primary">{{ "Tableau de bord"|trans }}</a>
<a href="{{ path('user_competences') }}" class="btn btn-primary {{ app.user.checkcheveux }}">{{ "Mes compétences"|trans }}</a>
<a href="{{ path('offer_index') }}" class="btn btn-primary {{ app.user.checkServices }}">{{ "Mes prestations"|trans }}</a>
<a href="{{ path('booking_index') }}" class="btn btn-primary">{{ "Mes bookings"|trans }}</a>
<a href="{{ path('user_avis') }}" class="btn btn-primary">{{ "Notes & Avis"|trans }}</a>
<a href="{{ path('message_index') }}" class="btn btn-primary">{{ "Messagerie"|trans }}</a>

</div>
{% else %}
<div id="menu_left" class="menu_profil">

<a href="{{ path('user_show') }}" class="btn btn-primary {{ app.user.checkprofil }}">{{ "Mon profil"|trans }}</a>
<a href="{{ path('user_edit') }}" class="btn btn-primary {{ app.user.checkmesinfos }}">{{ "Mes infos"|trans }}</a>
<a href="{{ path('user_photos') }}" class="btn btn-primary {{ app.user.checkphotos }}">{{ "Mes photos"|trans }}</a>
<a href="{{ path('user_cheveux') }}" class="btn btn-primary {{ app.user.checkcheveux }}">{{ "Mes cheveux"|trans }}</a>
<a href="{{ path('user_peau') }}" class="btn btn-primary {{ app.user.checkpeau }}">{{ "Ma peau"|trans }}</a>
<a href="{{ path('user_preferences') }}" class="btn btn-primary {{ app.user.checkpreferences }}">{{ "Mes préférences"|trans }}</a>
<a href="{{ path('user_favoris') }}" class="btn btn-primary">{{ "Mes beauty artists"|trans }}</a>
<a href="{{ path('user_avis') }}" class="btn btn-primary">{{ "Mes notes & avis"|trans }}</a>
<a href="{{ path('booking_index') }}" class="btn btn-primary">{{ "Mes bookings"|trans }}</a>
<a href="{{ path('message_index') }}" class="btn btn-primary">{{ "Messagerie"|trans }}</a>

</div>
{% endif %}