<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vignette_ajax vignette_certifie">
	<div class="vignette">
		<div class="row">
			<div class="vignette_infos_1 col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
				<a href="{{ path('home_show', { 'user_id': user.id, 't': user.entrepriseStripped }) }}"><img class="img-thumbnail" alt="{{ user.lastName }}" src="{{ user.image.url }}"/></a>
			</div>
			<div class="vignette_infos_2 col-xs-12 col-sm-6 col-md-6 col-lg-7">
				<div class="vignette_infos_title">
					<a href="{{ path('home_show', { 'user_id': user.id, 't': user.entrepriseStripped }) }}">{{ user.shortUserName2 }}</a>
				</div>
				<div class="vignette_infos_autre">
					{{ user.city|truncate(30) }}{% if user.postalCode %} ({{ user.postalCode }}){% endif %}
				</div>
				<div class="vignette_infos_autre_2">
					{{ user.description|truncate(150) }}
				</div>
				<div class="vignette_infos_autre_2">
				{% if user.nbNote > 0 %}<img src="{{ asset('images/template/b' ~ user.note ~ '.png') }}"/>{% else %}{{ "Aucune note"|trans }}{% endif %}
				</div>
			</div>
			<div class="vignette_infos_1 col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
				
				<a href="{{ path('home_show', { 'user_id': user.id, 't': user.entrepriseStripped }) }}" class="btn btn-primary btn-lg vignette-btn"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ "Voir la fiche"|trans }}</a>
				
			</div>
		</div>	
	</div>
</div>