{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}

<form method="POST" {{ form_enctype(form) }}>
<div class="form_admin">
 <table>
    <thead>
      <tr>
        <td colspan="2">
 
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_reduc_index') }}"><span>Annuler</span></a>
			</div>
          </li>
          <li class="button-valider">
          	<input type="submit" value="Valider"/>           
          </li>
        </ul> 
        
        </td>
      </tr>
    </thead>
    <tbody>
     {{ form_errors(form) }}
     <tr>
		<th>{{ form_label(form.code, "Code") }}</th>
		<td>
		  {{ form_errors(form.code) }}
		  {{ form_widget(form.code) }}
		</td>
	</tr>
	<tr>
		<th>{{ form_label(form.value, "Valeur") }}</th>
		<td>
		  {{ form_errors(form.value) }}
		  {{ form_widget(form.value) }}
		</td>
	</tr>
	<tr>
		<th>{{ form_label(form.valide, "Valide") }}</th>
		<td class="checkbox-register">
		  {{ form_errors(form.valide) }}
		  {{ form_widget(form.valide) }}
		</td>
	</tr>
	<tr>
		<th>{{ form_label(form.begin_date, "Début") }}</th>
		<td>
		  {{ form_errors(form.begin_date) }}
		  {{ form_widget(form.begin_date) }}
		</td>
	</tr>
	<tr>
		<th>{{ form_label(form.end_date, "Fin") }}</th>
		<td>
		  {{ form_errors(form.end_date) }}
		  {{ form_widget(form.end_date) }}
		</td>
	</tr>
    </tbody>
  </table>
  </div>
{{ form_widget(form._token) }}
</form>