{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

  <h1>Codes de réduction</h1>
  
  <div class="table_admin">
	<table>
	  <thead>
	    <tr style="background-color:white;">
	        <th colspan="10">
		        <ul id="bout-action">
		          <li>
		          	<div class="buttonwrapper">
						<a class="boldbuttons" href="{{ path('admin_reduc_add') }}"><span>Ajouter</span></a>
					</div>
		          </li>
		        </ul>
	        </th>
	    </tr>  
	    <tr class="entete">
	      <th></th>
	      <th><a href="{{ path('admin_reduc_index', {'sort': 'code', 'sens': sens_inv}) }}">Code</a></th>
	      <th><a href="{{ path('admin_reduc_index', {'sort': 'value', 'sens': sens_inv}) }}">Valeur</a></th>
	      <th><a href="{{ path('admin_reduc_index', {'sort': 'nb_used', 'sens': sens_inv}) }}">Utilisé</a></th>
	      <th><a href="{{ path('admin_reduc_index', {'sort': 'valide', 'sens': sens_inv}) }}">Valide</a></th>
	      <th><a href="{{ path('admin_reduc_index', {'sort': 'begin_date', 'sens': sens_inv}) }}">Début</a></th>
	      <th><a href="{{ path('admin_reduc_index', {'sort': 'end_date', 'sens': sens_inv}) }}">Fin</a></th>
	      <th>Activé</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for reduc in liste %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_reduc_show', {'reduc_id': reduc.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td>{{ reduc.code }}</td>
	      <td>{{ reduc.valueLabel }}</td>
	      <td>{{ reduc.nbUsed }}</td>
	      <td>{{ reduc.valideLabel }}</td>
	      <td>{{ reduc.beginDate('d/m/Y') }}</td>
	      <td>{{ reduc.endDate('d/m/Y') }}</td>
	      <td>{{ reduc.actifLabel }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	  
	</table>
	
	{% include 'AdminBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
	
  </div>

{% endblock %}