{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Details code de réduction</h1>

<div class="form_admin">
<table>
  <tbody>
    <tr>
      <th>Code:</th>
      <td>{{ reduc.code }}</td>
    </tr>
    <tr>
      <th>Valeur:</th>
      <td>{{ reduc.valueLabel }}</td>
    </tr>
    <tr>
      <th>Nombre utilisation:</th>
      <td>{{ reduc.nbUsed }}</td>
    </tr>
    <tr>
      <th>Valide:</th>
      <td>{{ reduc.valideLabel }}</td>
    </tr>
    <tr>
      <th>Début:</th>
      <td>{{ reduc.beginDate('d/m/Y') }}</td>
    </tr>
    <tr>
      <th>Fin:</th>
      <td>{{ reduc.endDate('d/m/Y') }}</td>
    </tr>
    <tr>
      <th>Activé:</th>
      <td>{{ reduc.actifLabel }}</td>
    </tr>
  </tbody>
   <thead>
      <tr>
        <td colspan="2">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_reduc_edit', {'reduc_id': reduc.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_reduc_delete', {'reduc_id': reduc.id}) }}"><span>Supprimer</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_reduc_index') }}"><span>Retour liste</span></a>
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
</table>
</div>

{% endblock %}
