{% extends "AdminBundle::admin.html.twig" %}

{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block body %}

  <h1>Modifier une newsletter</h1>

  {{ include("AdminBundle:Newsletter:form.html.twig") }}

{% endblock %}