{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}

<form method="POST" {{ form_enctype(form) }}>
<div class="form_admin">
 <table>
    <thead>
      <tr>
        <td colspan="2">
 
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_newsletter_index') }}"><span>Annuler</span></a>
			</div>
          </li>
          <li class="button-valider">
          	<input type="submit" value="Valider"/>           
          </li>
        </ul> 
        
        </td>
      </tr>
    </thead>
    <tbody>
     {{ form_errors(form) }}
     <tr>
		<th>{{ form_label(form.title, "Titre") }}</th>
		<td>
		  {{ form_errors(form.title) }}
		  {{ form_widget(form.title) }}
		</td>
	</tr>
	<tr>
		<th>{{ form_label(form.html, "Contenu") }}</th>
		<td>
		  {{ form_errors(form.html) }}
		  {{ form_widget(form.html) }}
		  <script type="text/javascript">CKEDITOR.replace('faprod_contentbundle_newsletter_html');</script>
		</td>
	</tr>
	<tr>
		<th>{{ form_label(form.tous, "Newsletter uniquement") }}</th>
		<td class="checkbox-register">
		  {{ form_errors(form.tous) }}
		  {{ form_widget(form.tous) }}
		</td>
	</tr>
	<tr>
		<th>{{ form_label(form.cliente, "Cliente") }}</th>
		<td class="checkbox-register">
		  {{ form_errors(form.cliente) }}
		  {{ form_widget(form.cliente) }}
		</td>
	</tr>
	<tr>
		<th>{{ form_label(form.pro, "Professionnelle") }}</th>
		<td class="checkbox-register">
		  {{ form_errors(form.pro) }}
		  {{ form_widget(form.pro) }}
		</td>
	</tr>
    </tbody>
  </table>
  </div>
{{ form_widget(form._token) }}
</form>