{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Details newsletter</h1>

<div class="form_admin">
<table>
  <tbody>
    <tr>
      <th>Titre:</th>
      <td>{{ newsletter.title }}</td>
    </tr>
    <tr>
      <th>Contenu:</th>
      <td>{{ newsletter.html|raw }}</td>
    </tr>
    <tr>
      <th>Newsletter uniquement:</th>
      <td>{{ newsletter.tousLabel }}</td>
    </tr>
	<tr>
      <th>Cliente:</th>
      <td>{{ newsletter.clienteLabel }}</td>
    </tr>
	<tr>
      <th>Professionnelle:</th>
      <td>{{ newsletter.proLabel }}</td>
    </tr>
    <tr>
    	<th>Date envoie</th>
    	<td>
    		{{ newsletter.envoyeDate('d/m/Y') }}
    	</td>
    </tr>
  </tbody>
   <thead>
      <tr>
        <td colspan="2">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_newsletter_edit', {'newsletter_id': newsletter.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_newsletter_test', {'newsletter_id': newsletter.id}) }}"><span>Tester la newsletter</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_newsletter_envoyer', {'newsletter_id': newsletter.id}) }}"><span>Envoyer</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_newsletter_delete', {'newsletter_id': newsletter.id}) }}"><span>Supprimer</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_newsletter_index') }}"><span>Retour liste</span></a>
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
</table>
</div>

{% endblock %}
