{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Mon document"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{% if form.vars.value.id %}{{ "Modifier mon document"|trans }}{% else %}{{ "Ajouter un document"|trans }}{% endif %}</h3>
				</div>
				<div class="panel-body">
  
  					{{ include("UserBundle:Form:document.html.twig") }}

		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}