{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Mes documents"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Mes documents"|trans }}</h3>
				</div>
				<div class="panel-body">
				
					<div class="row">
						<div class="col-lg-9">
							{{ render_esi(controller('ContentBundle:Partial:zone', { 'id': 27 })) }}
						</div>
					</div>
					
					<table class="table table-stripped">
						<tbody>
							{% for key, value in types %}
								{% if key in documents_type %}
								<tr>
									<td>{{ value }}</td>
									<td>
										{% for document in documents %}
											{% if document.type == key %}
												<a href="{{ path('document_show', {'document_id': document.id}) }}"><img src="{{ asset('images/loupe3.png') }}"></a><br/>
											{% endif %}
										{% endfor %}
									</td>
								</tr>
								{% else %}
								<tr>
									<td>{{ value }}</td>
									<td>
										<a class="btn btn-primary" href="{{ path('document_edit', {'document_id' : 0, 'type' : key}) }}"><span>{{ "Ajouter ce document"|trans }}</span></a>
									</td>
								</tr>
								{% endif %}
							{% endfor %}
						</tbody>  
					</table>	
		    		
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}