{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Mon document"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
		
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Mon document"|trans }}</h3>
				</div>
				<div class="panel-body">
		
					<table class="table table-bordered table_white">
						<tbody>
							<tr>
								<th style="width:25%;">{{ "Type de document"|trans }}</th>
								<td>{{ document }}</td>
							</tr>
							<tr>
								<th>{{ "Télécharger"|trans }}</th>
								<td>{% if document.document %}<a href="{{ document.url }}" target="_blank">{{ "Télécharger"|trans }}</a>{% endif %}</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<td colspan="2">
									<a class="btn btn-primary" href="{{ path('document_edit', {'document_id' : document.id}) }}"><span>{{ "Modifier"|trans }}</span></a>
									<a class="btn btn-primary" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('document_delete', {'document_id': document.id}) }}">{{ "Supprimer"|trans }}</a>
									<a class="btn btn-primary" href="{{ path('document_index') }}"><span>{{ "Retour"|trans }}</span></a>
								</td>
							</tr>
						</thead>
					</table>
					
				</div>
				
			</div>
			
			
		</div>
	</div>
</div>



{% endblock %}