<div class="row popup_mesinfos">
	<div class="col-lg-12" style="overflow-y:auto;max-height:314px;">

		<table class="table table-condensed table_popup">
			<tbody>
				{% for key, value in types %}
					{% if key in documents_type %}
					<tr>
						<td>{{ value }}</td>
						<td>
							{% for document in documents %}
								{% if document.type == key %}
									<a href="{{ path('document_show', {'document_id': document.id}) }}"><img src="{{ asset('images/loupe3.png') }}"></a><br/>
								{% endif %}
							{% endfor %}
						</td>
					</tr>
					{% else %}
					<tr>
						<td>{{ value }}</td>
						<td>
							<a class="btn btn-primary btn-xs" href="{{ path('document_edit', {'document_id' : 0, 'type' : key}) }}"><span>{{ "Ajouter ce document"|trans }}</span></a>
						</td>
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>  
		</table>
		
	</div>
</div>