{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

  <h1>Paramètres</h1>
  
  <div class="table_admin">
	<table>
	  <thead>
	    <tr class="entete">
	      <th></th>
	      <th>Parametre</th>
	      <th>Valeur</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for config in liste %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_configs_show', {'configs_id': config.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td>{{ config.label }}</td>
	      <td>{{ config.value }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	  
	</table>
	
	{% include 'AdminBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
	
  </div>

{% endblock %}
