{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Paramètre</h1>

<div class="form_admin">
<table>
  <tbody>
    <tr>
      <th>Paramètre:</th>
      <td>{{ config.label }}</td>
    </tr>
    <tr>
      <th>Valeur:</th>
      <td>{{ config.value }}</td>
    </tr>
  </tbody>
   <thead>
      <tr>
        <td colspan="2">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_configs_edit', {'configs_id': config.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_configs_index') }}"><span>Retour liste</span></a>
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
</table>
</div>

{% endblock %}
