{% if publicite is not null %}
	{% if index_image == -1 %}
		{{ publicite.html|raw }}
	{% else %}
	<center>
		<a href="{{ path('home_clic', {'publicite_id' : publicite.id}) }}" target="_blank">
			<img src="{{ publicite.images[index_image].url }}"/>
		</a>
	</center>
	{% endif %}
{% endif %}