<!DOCTYPE html>
<html>
<head>
	
  <title>{% block meta_title %}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{{ getSiteUrl() }}favicon.ico" />
  
  {% block facebook_metas %}{% endblock %}

  {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    {% stylesheets filter='cssrewrite,?yui_css'
    	'css/jNotify.jquery.css'
    	'css/core.css'
    	'css/advert.css'
    	'css/content.css'
		'css/mmenu.css'
    	'js/facebox/facebox.css'
    	'js/dropzone/dropzone.css'
    %}
  	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	{% endstylesheets %}
  {% endblock %}
  
  {% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% javascripts filter='?yui_js'
    	'js/dropzone/dropzone.js'
    	'js/jNotify.jquery.min.js'
    	'js/datepicker/js/bootstrap-datepicker.js'
    	'js/datepicker/js/locales/bootstrap-datepicker.fr.js'
    	'js/facebox/facebox.js'
    %}
  	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript" src="{{ asset('js/jquery.mmenu.js') }}"></script>
	<script>
	
		function displayDefrisage(input)
		{
			var cases = document.getElementsByClassName('div_defrisage');

			if (input.value == 170 || input.value == 171) {
				if (input.checked) {
					$('.div_defrisage').show();
				} else {
					$('.div_defrisage').hide();
				}
			} else {
				if (input.checked) {
					$('.div_defrisage').hide();
				}
			}
		}
		
		function nbCoche(class_name)
		{	
			var cases = document.getElementsByClassName(class_name);
			var nb = 0;
			
			for (var i=0;i< cases.length;i++){
				if(cases[i].type=="checkbox" && cases[i].checked)
					nb++;
			}
			//alert(nb);
			return nb;
			
		}
		
	    function processCoche(class_name, id_name)
		{	
			var cases = document.getElementsByClassName(class_name);
			var not_in = [];//["faprod_userbundle_user_cheveux_247", "faprod_userbundle_user_cheveux_248", "faprod_userbundle_user_cheveux_249", "faprod_userbundle_user_cheveux_250", "faprod_userbundle_user_cheveux_251", "faprod_userbundle_user_cheveux_252"];
			//alert(not_in.indexOf(id_name));
			if (not_in.indexOf(id_name) == -1) {
				for (var i=0;i< cases.length;i++){
					if(cases[i].type=="checkbox" && cases[i].checked && cases[i].id != id_name && not_in.indexOf(cases[i].id) == -1)
						cases[i].checked = false;
				}
			}
		}

		function refuserToucheEntree(event){
			// Compatibilité IE / Firefox
			if(!event && window.event) {
				event = window.event;
			}
			// IE
			if(event.keyCode == 13) {
				event.returnValue = false;
				event.cancelBubble = true;
			}
			// DOM
			if(event.which == 13) {
				event.preventDefault();
				event.stopPropagation();
			}
		}

		jQuery(document).ready(function($) {
		
			$(function() {
				$('nav#menu').mmenu();
			});
			
		  $('#popupajaxModal').on('show.bs.modal', function (event) {
			  var button = $(event.relatedTarget) // Button that triggered the modal
			  var url = button.data('whatever') // Extract info from data-* attributes
			  var title = button.data('title')
			  var modal = $(this)
			  if (modal.find('#urlload').text() != url){
			  	modal.find('#urlload').text(url)
			  	modal.find('#poputitle').text(title)
			  	modal.find('#popupajax').empty().append('<center><img src=\'{{ asset('images/template/loader.gif') }}\'></center>').load(url);
			  }
			})
			$('#popupajaxModal').on('hide.bs.modal', function (event) {
				var modal = $(this)
				modal.find('#urlload').text('')
			})
			
		  $('a[rel*=facebox]').facebox();
		  $('[data-toggle="popover"]').popover({trigger : 'hover',html : true});
		})
	</script>
  {% endblock %}
  
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->


   <script src='https://www.google.com/recaptcha/api.js'></script>
   
   
   
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '550444071953644'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=550444071953644&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107296929-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-107296929-2');
</script>



</head>

<body{% if getControllerAction() == "Home/welcome" %} class="home_temp_bk"{% endif %}>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = '';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = '';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{{getFacebookApi()}}',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      div_status = document.getElementById('status');
      if (div_status){
      	div_status.innerHTML = '<br/><a href="{{ path("register_facebook") }}"><b>>> Cliquez ici pour vous connecter maintenant avec Facebook</b></a>';
    	}
    	loginbuttonfb = document.getElementById('loginbuttonfb');
      if (loginbuttonfb){
      	loginbuttonfb.style.display = "none" ;
    	}
		
		div_status2 = document.getElementById('status2');
      if (div_status2){
      	div_status2.innerHTML = '<br/><a href="{{ path("register_facebook") }}"><b>>> Cliquez ici pour vous connecter maintenant avec Facebook</b></a>';
    	}
		loginbuttonfb2 = document.getElementById('loginbuttonfb2');
      if (loginbuttonfb2){
      	loginbuttonfb2.style.display = "none" ;
    	}
    });
  }
</script>

{% block body %}
{% endblock %}

</body>
</html>