<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="fr-FR">
<title>Erreur</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8">
<link href='http://fonts.googleapis.com/css?family=Istok+Web|Chivo' rel='stylesheet' type='text/css'>

<style>

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, menu, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {
        outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}


/******************************************************************************/

body, html {
  width:100%;
  margin:0 auto;
  padding:0;
}

body {
  background: #f2f2f2 url("{{ asset('bundles/core/images/error/background.png') }}") top left;
}

/* page wrappers **************************************************************/


/* page Wrapper */
.wrapper { 
  	width:100%;
  	margin:0 auto 0;
  	display:table;
	position:absolute;
	top:130px;
	background: url("{{ asset('bundles/core/images/error/container_background.png') }}") repeat-x scroll left top transparent;
}

/* content wrapper */
.mainWrapper {
    margin: 0 auto;
    position: relative;
    width: 830px;	
}

/* main holders */
/* left holder - Logo, 404 Error */
.leftHolder {
    border-right: 1px solid #A99159;
    display: block;
    float: left;
    height: 269px;
    margin: 41px 0 0;
    position: relative;
    padding-right:25px;
    margin-right:25px;
}

/* right holder - Message, Robot, Try to, Search Form */
.rightHolder {
    display: block;
    float: right;
    padding-top:30px;
    font-family:verdana;
    font-size:21px;
    color:#897547;
    height: 321px;
    margin: 0 0 31px;
}
.rightHolder a{
	color:#897547;
}

/* your logo */
.logo {
    display: block;
}

/* error 404 */
.errorNumber {
    color: #FFFFFF;
    display: block;
    float: left;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
}

.error_logo{
margin-top:50px;
margin-left:90px;
}

</style>

<!--[if IE]>
<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>


<div class="wrapper">

	<div class="mainWrapper">
		<table border="0" width="100%" cellpadding="0" style="border-collapse: collapse">
			<tr>
				<td style="vertical-align:top;">
					<div class="leftHolder">
			        	<a class="logo" href="{{ path('home_index') }}">
				        	<img src="{{ asset('images/template/logo.png') }}"/>
				        </a>
			            <img class="error_logo" src="{{ asset('bundles/core/images/error/error.png') }}"/>
			        </div>
			    </td>
				<td style="vertical-align:top;">
					<div class="rightHolder">
			            <div class="tryToMessage">
			               {% block body_content %}{% endblock %}
			               
			               <p>
				               <a class="logo" href="{{ path('home_index') }}">
				               		Retour page d'accueil
				               </a>
			               </p>
			            </div>
			        </div>
				</td>
			</tr>
		</table>
    
	</div>

</div>
<!-- end .wrapper -->


</body>
</html>