{% for content in contents %}
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 vignette_ajax">
	<div class="vignette_content" onclick="document.location='{{ path('content_show', { 'content_id': content.id, 't': content.strippedTitle }) }}'">
		<div class="vignette_content_image">
			{% if content.imagePrincipale is not null %}
				<img alt="{{ content.title }}" src="{{ content.imagePrincipale.url }}"/>
			{% endif %}
		</div>
		<div class="vignette_content_infos_visible">
			<div class="vignette_content_infos_title">
				{{ content.title|truncate(40) }}
			</div>
			<div class="vignette_content_infos_date">
				{{ content.enligneDate('d/m/Y') }}
			</div>
			<div class="vignette_content_infos_price">
				{{ content.description|truncate(80) }}
			</div>
		</div>
		<div class="vignette_content_infos">
			<div class="vignette_content_infos_hover">
				<img src="{{ asset('images/template/hover.png') }}"/>
			</div>
		</div>
	</div>
</div>
{% endfor %}