<div class="row">
	<div class="col-lg-12">
		<form action="{{ path('content_gosearch') }}" autocomplete="off" method="post" class="form home_search_large">
			<div class="row">
				<div class="col-sm-6 col-md-3 col-lg-3">
			        <div class="form-group">
			            <input placeholder="{{ "Mot(s) clé(s)"|trans }}" id="search_mots" name="search_mots" type="text" value="{{ app.session.get('search_mots')}}" class="form-control">
			        </div>
			    </div>
			    <div class="col-sm-6 col-md-3 col-lg-3">
					<div class="form-group">
				        <select class="form-control" id="search_category" name="search_category">
				          	<option value="">{{ "Thématique"|trans }}</option>
				          	{% for category in categorys %}
				          		<option {% if app.session.get('search_blog_category') == category.id %}selected{% endif %} value="{{ category.id }}">{{ category.title }}</option>
				          			{% for sub_category in category.children %}
				          				<option {% if app.session.get('search_blog_category') == sub_category.id %}selected{% endif %} value="{{ sub_category.id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ sub_category.title }}</option>
				          			{% endfor %}
				          	{% endfor %}
				        </select>
				    </div>
				</div>
			    <div class="col-sm-6 col-md-3 col-lg-3">
			        <div class="form-group">				
						<button class="btn btn-primary btn-sadv pull-right"><span class="glyphicon glyphicon-search"></span> {{ "Recherche"|trans }}</button>
					</div>
			    </div>
			</div>
		</form>
	</div>
</div>