{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}
<div class="container">

<script language="javascript">
   
// Fonction permettant l'affichage des cases à cocher en fonction de l'élément sélectionné dans la liste déroulante
// Chaque "lot" de cases à cocher est regroupé dans un div, identifié par un id
function changerub(rubrique){
    var targetElement;
    if(rubrique==1){//Particulier
       targetElement = document.getElementById('professionnel');
       targetElement.style.display = "none" ;
    } else if(rubrique==2){//Professionnel
       targetElement = document.getElementById('professionnel');
       targetElement.style.display = "block" ;
    }
}
</script>

	<h1 class="title title_bottom">{{ "Finaliser mon inscription"|trans }}</h1>
	
	<b>{{ "Veuillez préciser le mot de passe que vous souhaitez"|trans }}</b>
	<br/>
	<br/>
	
    {% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}
	
	<form method="POST" {{ form_enctype(form) }} class="form-horizontal col-lg-6">
	    {{ form_errors(form) }}
	    {{ form_widget(form.newsletter) }}
	    
		<div class="row">
		    <div class="form-group">
		      {{ form_label(form.password, "Mot de passe"|trans, {'label_attr': {'class': 'col-lg-4'}}) }}
		      <div class="col-lg-8">
		        {{ form_errors(form.password) }}
		        {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
		      </div>
		    </div>
		</div>
		<div class="row">
		    <div class="form-group">
		      {{ form_label(form.type, "Vous êtes"|trans, {'label_attr': {'class': 'col-lg-4'}}) }}
		      <div class="col-lg-8">
		        {{ form_errors(form.type) }}
		        {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
		      </div>
		    </div>
		</div>
		<div id="professionnel" style="{% if form.vars.value.type == 2 %}display:block;{% else %}display:none;{% endif %}">
		<div class="row">
		    <div class="form-group">
		      {{ form_label(form.pro_rs, "Raison Sociale"|trans, {'label_attr': {'class': 'col-lg-4'}}) }}
		      <div class="col-lg-8">
		        {{ form_errors(form.pro_rs) }}
		        {{ form_widget(form.pro_rs, { 'attr': {'class': 'form-control'} }) }}
		      </div>
		    </div>
		</div>
		<div class="row">
		    <div class="form-group">
		      {{ form_label(form.pro_rcs, "SIRET"|trans, {'label_attr': {'class': 'col-lg-4'}}) }}
		      <div class="col-lg-8">
		        {{ form_errors(form.pro_rcs) }}
		        {{ form_widget(form.pro_rcs, { 'attr': {'class': 'form-control'} }) }}
		      </div>
		    </div>
		</div>
	</div>
		<div class="form-group">
	       <button class="pull-right btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Valider"|trans }}</button>
	    </div>
	{{ form_widget(form._token) }}
	</form>

</div>
{% endblock %}