{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}
{% form_theme form 'UserBundle:Form:fields.html.twig' %}

<form method="POST" {{ form_enctype(form) }}>
<div class="form_admin">
 <table>
    <thead>
      <tr>
        <td colspan="2">
 
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_publicite_index') }}"><span>Annuler</span></a>
			</div>
          </li>
          <li class="button-valider">
          	<input type="submit" value="Valider"/>
          </li>
        </ul> 
        
        </td>
      </tr>
    </thead>
    <tbody>
     {{ form_errors(form) }}
      <tr>
        <th>{{ form_label(form.images, "Bannieres") }}</th>
        <td class="form_images_type">
          {{ form_errors(form.images) }}
          {{ form_widget(form.images) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.html, "HTML") }}</th>
        <td>
          {{ form_errors(form.html) }}
          {{ form_widget(form.html) }}
          <script type="text/javascript">CKEDITOR.replace('faprod_pubbundle_publicite_html');</script>
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.type, "Type") }}</th>
        <td>
          {{ form_errors(form.type) }}
          {{ form_widget(form.type) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.cible, "Cible") }}</th>
        <td>
          {{ form_errors(form.cible) }}
          {{ form_widget(form.cible) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.title, "Titre") }}</th>
        <td>
          {{ form_errors(form.title) }}
          {{ form_widget(form.title) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.url, "URL") }}</th>
        <td>
          {{ form_errors(form.url) }}
          {{ form_widget(form.url) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.status, "Etat") }}</th>
        <td>
          {{ form_errors(form.status) }}
          {{ form_widget(form.status) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.enligne_date, "En ligne le") }}</th>
        <td>
          {{ form_errors(form.enligne_date) }}
          {{ form_widget(form.enligne_date) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.end_date, "Fin publication") }}</th>
        <td>
          {{ form_errors(form.end_date) }}
          {{ form_widget(form.end_date) }}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
{{ form_widget(form._token) }}
</form>



{# Voici le script en question : #}
<script type="text/javascript">
  $(document).ready(function() {
  	
  	//$('div.file_input_hidden').replaceWith('');
  	
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#faprod_pubbundle_publicite_images');

    // On ajoute un lien pour ajouter une nouvelle catégorie
    var $addLink = $('<a href="#" id="add_image" class="btn btn-default">Ajouter une banniere</a>');
    $container.append($addLink);

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $addLink.click(function(e) {
      addCategory($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addCategory($container);
    } else {
      // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire Categorie
    function addCategory($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Photo n°' + (index+1))
          .replace(/__name__/g, index));

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>