{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

  <h1>Publicites</h1>
  
  <div class="table_admin">
	<table>
	  <thead>
	  	<tr style="background-color:white;">
	        <th colspan="10">
		        <ul id="bout-action">
		          <li>
		          	<div class="buttonwrapper">
						<a class="boldbuttons" href="{{ path('admin_publicite_add') }}"><span>Ajouter</span></a>
					</div>
		          </li>
		        </ul>
	        </th>
	    </tr>  
	    <tr class="entete">
	      <th></th>
	      <th></th>
	      <th>Titre</th>
	      <th>Type</th>
	      <th>Cible</th>
	      <th>Début</th>
	      <th>Fin</th>
	      <th>Etat</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for publicite in liste %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_publicite_show', {'publicite_id': publicite.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td>{{ publicite.id }}</td>
	      <td>{{ publicite.title }}</td>
	      <td>{{ publicite.typeLabel }}</td>
	      <td>{{ publicite.cibleLabel }}</td>
	      <td>{{ publicite.enligneDate('d/m/Y') }}</td>
	      <td>{{ publicite.endDate('d/m/Y') }}</td>
	      <td>{{ publicite.statusLabel }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	  
	</table>
	
	{% include 'AdminBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
	
  </div>

{% endblock %}
