{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Publicité</h1>

<div class="form_admin">
<table>
  <tbody>
    <tr>
      <th>ID:</th>
      <td>{{ publicite.id }}</td>
    </tr>
    <tr>
      <th>Bannieres:</th>
      <td>
		{% for image in publicite.images %}
			<img src="{{ image.url }}"/><br/><br/>
		{% endfor %}
      </td>
    </tr>
    <tr>
      <th>HTML:</th>
      <td>{{ publicite.html|raw }}</td>
    </tr>
    <tr>
      <th>Type:</th>
      <td>{{ publicite.typeLabel }}</td>
    </tr>
    <tr>
      <th>Cible:</th>
      <td>{{ publicite.cibleLabel }}</td>
    </tr>
    <tr>
      <th>Titre:</th>
      <td>{{ publicite.title }}</td>
    </tr>
    <tr>
      <th>URL:</th>
      <td>{{ publicite.url }}</td>
    </tr>
    <tr>
      <th>Etat:</th>
      <td>{{ publicite.statusLabel }}</td>
    </tr>
    <tr>
      <th>En ligne le:</th>
      <td>{{ publicite.enligneDate('d/m/Y') }}</td>
    </tr>
    <tr>
      <th>Fin publication:</th>
      <td>{{ publicite.endDate('d/m/Y') }}</td>
    </tr>
    <tr>
    	<th></th>
    	<td>
    		<div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    	</td>
    </tr>
  </tbody>
   <thead>
      <tr>
        <td colspan="2">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_publicite_edit', {'publicite_id': publicite.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_publicite_delete', {'publicite_id': publicite.id}) }}"><span>Supprimer</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_publicite_index') }}"><span>Retour liste</span></a>
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
</table>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
<script src="{{ asset('js/export-csv.js') }}"></script>
<script type="text/javascript">
    {{ chart(chart) }}
</script>
{% endblock %}