{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}
<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Contactez-nous"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			{{ render_esi(controller('ContentBundle:Partial:zone', { 'id': 21 })) }}
		</div>
	</div>

	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">		
			<div class="jumbotron">

			    <form method="post" class="form-horizontal">
				    <div class="row">
					    <div class="form-group">
					      {{ form_label(form.email, "Email *"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
					      <div class="col-lg-9">
					        {{ form_errors(form.email) }}
					        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
					      </div>
					    </div>
					</div>
				  	<div class="row">
					    <div class="form-group">
					      {{ form_label(form.first_name, "Nom *"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
					      <div class="col-lg-9">
					        {{ form_errors(form.first_name) }}
					        {{ form_widget(form.first_name, { 'attr': {'class': 'form-control'} }) }}
					      </div>
					    </div>
					</div>
					<div class="row">
					    <div class="form-group">
					      {{ form_label(form.last_name, "Prénom *"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
					      <div class="col-lg-9">
					        {{ form_errors(form.last_name) }}
					        {{ form_widget(form.last_name, { 'attr': {'class': 'form-control'} }) }}
					      </div>
					    </div>
					</div>
					<div class="row">
					    <div class="form-group">
					      {{ form_label(form.phone, "Téléphone"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
					      <div class="col-lg-9">
					        {{ form_errors(form.phone) }}
					        {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
					      </div>
					    </div>
					</div>
					<div class="row">
					    <div class="form-group">
					      {{ form_label(form.message, "Votre message *"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
					      <div class="col-lg-9">
					        {{ form_errors(form.message) }}
					        {{ form_widget(form.message, { 'attr': {'class': 'form-control'} }) }}
					      </div>
					    </div>
					</div>
				    <div class="form-group">
				       <button class="pull-right btn btn-primary"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;{{ "Envoyer"|trans }}</button>
				    </div>
				    <div class="form-group">
				       <i>{{ "* champs obligatoires"|trans }}</i>
				    </div>
			    </form>
  				
			</div>
		</div>
	</div>

</div>
{% endblock %}
