{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{% if app.user.type == 2 %}
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Mes notes & avis"|trans }}
				{% else %}
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_show') }}">{{ "Mon profil"|trans }}</a> > {{ "Mes notes & avis"|trans }}
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Mes notes & avis"|trans }}</h3>
				</div>
				<div class="panel-body">
					

					{% if avis|length %}
					
					
						<table class="table table-striped">
							<thead>
								<tr class="entete">
									{% if app.user.type == 1 %}
									<th>Pro</th>
									{% else %}
									<th>Cliente</th>
									{% endif %}
									<th>Message</th>
									<th>Note</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								{% for avi in avis %}
									<tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
										{% if app.user.type == 1 %}
										<td>{% if avi.vendeur %}{{ avi.vendeur.shortUsername }}{% endif %}</td>
										{% else %}
										<td>{% if avi.user %}{{ avi.user.shortUsername }}{% endif %}</td>
										{% endif %}
										<td>{{ avi.message }}</td>
										<td><img src="{{ asset('images/template/b'~avi.note~'.png') }}"></td>
										<td>{{ avi.createdAt('d/m/Y') }}</td>
									</tr>
								{% endfor %}
							</tbody>  
						</table>	

		    		
		    		{% else %}
		    		
						<div class="row">
							<div class="col-lg-12">
								{{ "Aucune note pour le moment"|trans }}.<br/><br/>
							</div>
						</div>
		    		
		    		{% endif %}
		    		
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}