{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Tableau de bord"|trans }}</a> > {{ "Votre abonnement"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Mon abonnement"|trans }}</h3>
				</div>
				<div class="panel-body">
					
					{{ render_esi(controller('ContentBundle:Partial:zone', { 'id': 11 })) }}
					
					<hr/>
			
					{% if app.user.aboactif %}
					<p>
						<b>{{ "Abonnement activé jusqu'au"|trans }} {{ app.user.aboEndDate('d/m/Y') }}.</b>
					</p>
					{% else %}
					<p>
						<b>{{ "Votre abonnement n'est pas actif"|trans }}.</b>
					</p>
					{% endif %}
					
					
					<form method="POST" class="form-horizontal col-lg-12">
						<div class="row">
						    <div class="form-group">
						      <div class="col-lg-12">
						      		<table class="table table-striped table-bordered">
						     			<tr>
						     				<th></th>
						     				<th style="width:200px;">{{ "Options"|trans }}</th>
						     				<th style="width:150px;">{{ "Prix TTC"|trans }}</th>
						     			</tr>
						        		{% for option in options %}
						        		<tr>
						        			<td style="width:20px;">
						        				<input type="radio" checked=checked value="{{ option.id }}" name="pro_option" id="pro_option_{{option.id}}">
						        			</td>
						        			<td>
						        				{{ option.title }}
						        			</td>
						        			<td>
						        				{{ option.priceTtcLabel(taux_tva) }}
						        			</td>
						        		</tr>
						        		{% endfor %}
						        	</table>
						      </div>
						    </div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-lg-6">
					       			<button class="pull-right btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Valider"|trans }}</button>
					       		</div>
					       </div>
					    </div>
					</form>

		    		
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}