{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Compétences cheveux"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Compétences"|trans }}</h3>
				</div>
				<div class="panel-body">
				
				
					<form action="{{ path('user_competences') }}" id="myform" autocomplete="off" method="POST" {{ form_enctype(form) }} class="form-horizontal col-lg-12">
					{{ form_errors(form) }}
					
						<table class="table table_white">
							<tbody>
							    {% if 1 in app.user.metiers or 2 in app.user.metiers %}
								<tr>
								  <th colspan="2" class="text-center"><h3 style="margin-top:5px;margin-bottom:5px;font-size:18px;">{{ "Cheveux"|trans }}</h3></th>
								</tr>
								{% for sub_category in cheveux.children %}
								{% if sub_category.matching %}
								<tr>
								  <th style="width:25%;">{{ sub_category.title }}</th>
								  <td>
									<ul class="list_checks_profil">
									{% for competence in sub_category.children %}
										<li> <input {% if competence in form.vars.value.cheveux %}checked=checked{% endif %} type="checkbox" name="faprod_userbundle_user[cheveux][]" id="faprod_userbundle_user_cheveux_{{ competence.id }}" value="{{ competence.id }}"> {{ competence.title }}</li>
									{% endfor %}
									</ul>
								  </td>
								</tr>
								{% endif %}
								{% endfor %}
								{% endif %}
								{% if 3 in app.user.metiers or 4 in app.user.metiers or 5 in app.user.metiers %}
								<tr>
								  <th colspan="2" class="text-center"><h3 style="margin-top:5px;margin-bottom:5px;font-size:18px;">{{ "Peau"|trans }}</h3></th>
								</tr>
								{% for sub_category in peau.children %}
								{% if sub_category.matching %}
								<tr>
								  <th style="width:25%;">{{ sub_category.title }}</th>
								  <td style="padding-bottom:25px;">
									<ul class="list_checks_profil">
									{% for competence in sub_category.children %}
										<li> <input {% if competence in form.vars.value.peau %}checked=checked{% endif %} type="checkbox" name="faprod_userbundle_user[peau][]" id="faprod_userbundle_user_peau_{{ competence.id }}" value="{{ competence.id }}">
										{% if competence.couleurPeau %}
										<div class="img-circle img-thumbnail" style="margin-top:25px;width:50px;height:50px;background-color:#{{ competence.couleurPeau }}"></div>
										{% else %}
										{{ competence.title }}
										{% endif %}
										</li>
									{% endfor %}
									</ul>
								  </td>
								</tr>
								{% endif %}
								{% endfor %}
								{% endif %}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2" class="text-center">
										<button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Enregistrer"|trans }}</button>
									</td>
								</tr>
							</thead>
						</table>

					{{ form_widget(form._token) }}
					</form>
		
		
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}