{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Tableau de bord"|trans }}</a> > {{ "Supprimer mon compte"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Supprimer mon compte"|trans }}</h3>
				</div>
				<div class="panel-body">
			
					<div class="row">
						<div class="col-lg-12">
							<p>
								{{ "ATTENTION : si vous supprimez votre compte, vous n’aurez plus accès à vos données ni à votre historique."|trans }}
							</p>
							<p>
								<a onclick="if (confirm('{{ "Êtes vous sûr de vouloir supprimer votre compte ?"|trans }}')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('user_delcomptego') }}" class="btn btn-primary">{{ "Je confirme vouloir supprimer mon compte"|trans }}</a>
							</p>
						</div>
					</div>
		    		
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}