{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_show') }}">{{ "Mon profil"|trans }}</a> > {{ "Mes beauty artists"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Mes beauty artists"|trans }}</h3>
				</div>
				<div class="panel-body">
			
					{% if app.user.favoris|length %}
					
						{% for user in app.user.favoris %}
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vignette_ajax vignette_certifie">
								<div class="vignette">
									<div class="row">
										<div class="vignette_infos_1 col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
											<a href="{{ path('home_show', { 'user_id': user.id, 't': user.entrepriseStripped }) }}"><img class="img-thumbnail" alt="{{ user.lastName }}" src="{{ user.image.url }}"/></a>
										</div>
										<div class="vignette_infos_2 col-xs-12 col-sm-6 col-md-6 col-lg-7">
											<div class="vignette_infos_title">
												<a href="{{ path('home_show', { 'user_id': user.id, 't': user.entrepriseStripped }) }}">{{ user.entreprise|truncate(70) }}</a>
											</div>
											<div class="vignette_infos_autre">
												{{ user.city|truncate(30) }}{% if user.postalCode %} ({{ user.postalCode }}){% endif %}
											</div>
											<div class="vignette_infos_autre_2">
											{% if user.nbNote > 0 %}<img src="{{ asset('images/template/b' ~ user.note ~ '.png') }}"/>{% else %}{{ "Aucune note"|trans }}{% endif %}
											</div>
										</div>
										<div class="vignette_infos_1 col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
											<!-- Single button -->
											<div class="btn-group dropdown pull-right">
											  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												{{" Actions"|trans }} <span class="caret"></span>
											  </button>
											  <ul class="dropdown-menu">
												<li><a href="{{ path('home_show', {'user_id': user.id, 't': user.strippedName}) }}">{{ "Consulter ce profil"|trans }}</a></li>
												<li><a href="{{ path('user_deletefavoris', {'user_id': user.id}) }}">{{ "Supprimer de ma liste"|trans }}</a></li>
											  </ul>
											</div>
										</div>
									</div>	
								</div>
							</div>
			    		{% endfor %}
		    		
		    		{% else %}
		    		
		    		<div class="row">
						<div class="col-lg-12">
							{{ "Aucun professionnel pour le moment"|trans }}.<br/><br/>
						</div>
					</div>
		    		
		    		{% endif %}
		    		
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}