{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > {{ "Mon espace Pro"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="col-lg-12">
			<div class="visible-xs visible-sm">
				{{ include("UserBundle:Partial:menu.html.twig") }}
			</div>
			<div id="profil_pro_bk" class="visible-md visible-lg">
			
				<div id="profil_pro_photo">
					<img class="img-rounded" src="{{ user.image.url }}"/>
				</div>
				
				<div id="profil_pro_espacepro_titre">
					<h3>{{ "Mon espace Pro"|trans }}</h3>
				</div>
				
				<div id="profil_pro_espacepro">
					<div id="menu_left">
						<a href="{{ path('user_edit') }}" class="btn btn-primary {{ app.user.checkprofilpro }}">{{ "Mon profil"|trans }}</a><br/>
						<a href="{{ path('agenda_index') }}" class="btn btn-primary {{ app.user.checkDisponibilites }}">{{ "Mon planning"|trans }}</a><br/>
						<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Mes paiements"|trans }}" data-whatever="{{ path('booking_paiementspopup') }}" class="btn btn-primary">{{ "Mes paiements"|trans }}</a><br/>
						<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Mes documents"|trans }}" data-whatever="{{ path('user_showdocuments') }}" class="btn btn-primary {{ app.user.checkDocuments }}">{{ "Mes documents"|trans }}</a><br/>
						<a href="{{ path('user_statistique') }}" class="btn btn-primary">{{ "Mon tableau de bord"|trans }}</a><br/>
					</div>
				</div>
				
				<div id="profil_pro_espacepro_titre2">
					<h3>{{ "Artist profil"|trans }}</h3>
				</div>
				
				<div id="profil_pro_monprofil">
					<div id="menu_left">
						<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Mes compétences"|trans }}" data-whatever="{{ path('user_showcompetences') }}" class="btn btn-primary {{ app.user.checkcompetences }}">{{ "Mes compétences"|trans }}</a>
						<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Mes prestations"|trans }}" data-whatever="{{ path('user_showprestations') }}" class="btn btn-primary {{ app.user.checkServices }}">{{ "Mes prestations"|trans }}</a><br/>
						<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Mes bookings"|trans }}" data-whatever="{{ path('booking_popup') }}"  class="btn btn-primary">{{ "Mes booking"|trans }}</a>
						<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Mes notes & avis"|trans }}" data-whatever="{{ path('user_showavis') }}" class="btn btn-primary">{{ "Notes & Avis"|trans }}</a>
					</div>
				</div>
				
				<div id="profil_pro_messagerie">
					<div id="menu_left">
					<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Messagerie"|trans }}" data-whatever="{{ path('message_popup') }}" class="btn btn-primary">{{ "Messagerie"|trans }}</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>
{% endblock %}