{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{% if form.vars.value.type == 2 %}
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Autres compétences"|trans }}
				{% else %}
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_show') }}">{{ "Mon profil"|trans }}</a> > {{ "Mes préférences"|trans }}
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					{% if form.vars.value.type == 2 %}
				    <h3 class="panel-title">{{ "Autres compétences"|trans }}</h3>
					{% else %}
					<h3 class="panel-title">{{ "Mes préférences"|trans }}</h3>
					{% endif %}
				</div>
				<div class="panel-body">
				
				
					<form action="{{ path('user_preferences') }}" id="myform" autocomplete="off" method="POST" {{ form_enctype(form) }} class="form-horizontal col-lg-12">
					{{ form_errors(form) }}
					
						<table class="table table_white">
							<tbody>
								{% for sub_category in preferences.children %}
								<tr>
								  <th style="width:25%;">{{ sub_category.title }}</th>
								  <td>
									<ul class="list_checks_profil">
									{% for competence in sub_category.children %}
										{% if competence.display(is_crepu, is_lisse, is_boucle) %}
										<li> <input {% if competence in form.vars.value.preferences %}checked=checked{% endif %} type="checkbox" name="faprod_userbundle_user[preferences][]" id="faprod_userbundle_user_preferences_{{ competence.id }}" value="{{ competence.id }}"> {{ competence.title }}</li>
										{% endif %}
									{% endfor %}
									</ul>
								  </td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2" class="text-center">
										<button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Enregistrer"|trans }}</button>
									</td>
								</tr>
							</thead>
						</table>
						
					{{ form_widget(form._token) }}
					</form>
					
					
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}