{% if type == 1 %}
	<img class="img-circle img-thumbnail" id="image_old" src="{{ image.url }}"/>
	<input type="hidden" id="image_old" name="image_old" value="{{ image.filename }}">
	{% if image.filename != 'no_image.png' %}
	<div class="row">
	 	<div class="col-lg-12 text-center">
		 	<a title="{{ 'Rotation à droite'|trans }}" href="javascript:void(0);" onclick="rotationImg('div_image_principale_old_img','{{ image.id }}','-90','1', '{{ title }}');"><img style="width:20px;height:20px;" src="{{ asset('images/template/img-droite.png') }}"></a>
			&nbsp;&nbsp;
			<a title="{{ 'Supprimer'|trans }}" href="javascript:void(0);" onclick="$('#image_old').val('');$('#image_principale_old_img').hide();$(this).hide();"><img style="width:15px;height:15px;" src="{{ asset('images/template/image-supprimer.jpg') }}"></a>
			&nbsp;&nbsp;
			<a title="{{ 'Rotation à gauche'|trans }}" href="javascript:void(0);" onclick="rotationImg('div_image_principale_old_img','{{ image.id }}','90','1', '{{ title }}');"><img style="width:20px;height:20px;" src="{{ asset('images/template/img-gauche.png') }}"></a>
		</div>
	</div>
	{% endif %}
{% else %}
	<div class="row">
		<div class="col-lg-12 text-center">
			<img style="width:100px;height:100px;" id="images_old_img_{{ image.id }}" src="{{ image.url }}"/>
			<input type="hidden" id="images_old_{{ image.id }}" name="images_old[]" value="{{ image.id }}">
		</div>
	</div>
	{% if image.filename != 'no_image.png' %}
	<div class="row">
		<div class="col-lg-12 text-center">
			<a title="{{ 'Rotation à droite'|trans }}" href="javascript:void(0);" onclick="rotationImg('div_img_{{image.id}}','{{ image.id }}','-90', '{{ title }}');"><img style="width:20px;height:20px;" src="{{ asset('images/template/img-droite.png') }}"></a>
			&nbsp;&nbsp;
			<a title="{{ 'Supprimer'|trans }}" href="javascript:void(0);" onclick="$('#images_old_{{ image.id }}').val('');$('#images_old_img_{{ image.id }}').hide();$(this).hide();"><img style="width:15px;height:15px;" src="{{ asset('images/template/image-supprimer.jpg') }}"></a>
			&nbsp;&nbsp;
			<a title="{{ 'Rotation à gauche'|trans }}" href="javascript:void(0);" onclick="rotationImg('div_img_{{image.id}}','{{ image.id }}','90', '{{ title }}');"><img style="width:20px;height:20px;" src="{{ asset('images/template/img-gauche.png') }}"></a>
		</div>
	</div>
	{% endif %}
{% endif %}