<div class="row popup_mesinfos">
<div class="col-lg-12">

		<table class="table table-condensed table_popup">
			<tbody>
				<tr>
				  <th style="width:25%;">{{ "Nom"|trans }}</th>
				  <td>{{ user.firstName }}</td>
				</tr>
				<tr>
				  <th>{{ "Prénom"|trans }}</th>
				  <td>{{ user.lastName }}</td>
				</tr>
				<tr>
				  <th>{{ "Votre adresse"|trans }}</th>
				  <td>{{ user.address1 }}</td>
				</tr>
				<tr>
				  <th>{{ "Complément adresse"|trans }}</th>
				  <td>{{ user.address2 }}</td>
				</tr>
				<tr>
				  <th>{{ "Code postal"|trans }}</th>
				  <td>{{ user.postalCode }}</td>
				</tr>
				<tr>
				  <th>{{ "Ville"|trans }}</th>
				  <td>{{ user.city }}</td>
				</tr>
				<tr>
				  <th>{{ "Téléphone fixe"|trans }}</th>
				  <td>{{ user.phone }}</td>
				</tr>
				<tr>
				  <th>{{ "Téléphone portable"|trans }}</th>
				  <td>{{ user.mobile }}</td>
				</tr>
				<tr>
				  <th>{{ "Email"|trans }}</th>
				   <td>{{ user.email }}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2" class="text-center">
						<a class="btn btn-primary" href="{{ path('user_edit') }}"><span>{{ "Modifier"|trans }}</span></a>
					</td>
				</tr>
			</thead>
		</table>

</div>
</div>

