<div class="row popup_preferences">
	<div class="col-lg-12">
	
		<table class="table table-condensed table_popup">
			<tbody>
				{% for sub_category in preferences.children %}
				<tr>
				  <th style="width:25%;">{{ sub_category.title }}</th>
				  <td>
					<ul>
					{% for competence in sub_category.children %}
						{% if competence in user.preferences %}<li style="margin-right:10px;display:inline;"> {{ competence.title }}</li>{% endif %}
					{% endfor %}
					</ul>
				  </td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2" class="text-center">
						<a class="btn btn-primary" href="{{ path('user_preferences') }}"><span>{{ "Modifier"|trans }}</span></a>
					</td>
				</tr>
			</thead>
		</table>

	</div>
</div>