<div class="row popup_avis">
	<div class="col-lg-12" style="overflow-y:auto;max-height:275px;">
	
		{% if avis|length %}
					
					
			<table class="table table-striped">
				<thead>
					<tr class="entete">
						{% if app.user.type == 1 %}
						<th>Pro</th>
						{% else %}
						<th>Cliente</th>
						{% endif %}
						<th>Message</th>
						<th>Note</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					{% for avi in avis %}
						<tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
							{% if app.user.type == 1 %}
							<td>{% if avi.vendeur %}{{ avi.vendeur.shortUsername }}{% endif %}</td>
							{% else %}
							<td>{% if avi.user %}{{ avi.user.shortUsername }}{% endif %}</td>
							{% endif %}
							<td>{{ avi.message }}</td>
							<td><img src="{{ asset('images/template/b'~avi.note~'.png') }}"></td>
							<td>{{ avi.createdAt('d/m/Y') }}</td>
						</tr>
					{% endfor %}
				</tbody>  
			</table>	
			
			{% if avis|length >= 4  %}
			<p class="text-center">
				<a class="btn btn-primary" href="{{ path('user_avis') }}">{{ "Voir tout"|trans }}</a>
			</p>
			{% endif %}

		
		{% else %}
		
			<div class="row">
				<div class="col-lg-12 text-center">
					<br/><br/><br/><br/><br/>
					{{ "Aucune note pour le moment"|trans }}.<br/><br/>
				</div>
			</div>
		
		{% endif %}
		
	</div>
</div>