<div class="row popup_mesinfos">
	<div class="col-lg-12">
	
		<table class="table table-condensed table_popup">
			<tbody>
				{% if 1 in app.user.metiers or 2 in app.user.metiers %}
			    <tr>
				  <th colspan="2" class="text-center"><h3 style="margin-top:10px;margin-bottom:10px;font-size:18px;">{{ "Cheveux"|trans }}</h3></th>
				</tr>
				{% for sub_category in cheveux.children %}
				{% if sub_category.matching %}
				<tr>
				  <th style="width:25%;">{{ sub_category.title }}</th>
				  <td>
					<ul>
					{% for competence in sub_category.children %}
						{% if competence in user.cheveux %}<li style="margin-right:10px;display:inline;"> {{ competence.title }}</li>{% endif %}
					{% endfor %}
					</ul>
				  </td>
				</tr>
				{% endif %}
				{% endfor %}
				{% endif %}
				{% if 3 in app.user.metiers or 4 in app.user.metiers or 5 in app.user.metiers %}
				<tr>
				  <th colspan="2" class="text-center"><h3 style="margin-top:10px;margin-bottom:10px;font-size:18px;">{{ "Peau"|trans }}</h3></th>
				</tr>
				{% for sub_category in peau.children %}
				{% if sub_category.matching %}
				<tr>
				  <th style="width:25%;">{{ sub_category.title }}</th>
				  <td>
					<ul>
					{% for competence in sub_category.children %}
						{% if competence in user.peau %}
						<li style="margin-right:10px;display:inline;">
						{% if competence.couleurPeau %}
						<div class="img-circle img-thumbnail" style="width:50px;height:50px;background-color:#{{ competence.couleurPeau }}"></div>
						{% else %}
						{{ competence.title }}
						{% endif %}
						</li>
						{% endif %}
					{% endfor %}
					</ul>
				  </td>
				</tr>
				{% endif %}
				{% endfor %}
				{% endif %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2" class="text-center">
						<a class="btn btn-primary" href="{{ path('user_competences') }}"><span>{{ "Modifier"|trans }}</span></a>
					</td>
				</tr>
			</thead>
		</table>
		
	</div>
</div>