<div class="row popup_peau">
	<div class="col-lg-12">
	
		<table class="table table-condensed table_popup">
			<tbody>
				{% for sub_category in peau.children %}
				<tr>
				  <th style="width:25%;">{{ sub_category.title }}</th>
				  <td>
					<ul>
					{% for competence in sub_category.children %}
						{% if competence in user.peau %}
						<li style="margin-right:10px;display:inline;">
						{% if competence.couleurPeau %}
						<div class="img-circle img-thumbnail" style="width:50px;height:50px;background-color:#{{ competence.couleurPeau }}"></div>
						{% else %}
						{{ competence.title }}
						{% endif %}
						</li>
						{% endif %}
					{% endfor %}
					</ul>
				  </td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2" class="text-center">
						<a class="btn btn-primary" href="{{ path('user_peau') }}"><span>{{ "Modifier"|trans }}</span></a>
					</td>
				</tr>
			</thead>
		</table>

	</div>
</div>