{% extends "CoreBundle::layout.html.twig" %}


{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > {{ "Mon profil"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="col-lg-12">
			<div class="visible-xs visible-sm">
				{{ include("UserBundle:Partial:menu.html.twig") }}
			</div>
			<div id="profil_cliente_bk" class="visible-md visible-lg">
			
				<div id="profil_cliente_photo">
					<img class="img-circle" src="{{ user.image.url }}"/>
				</div>
				
				<div id="profil_cliente_mesphotos">
					<div id="menu_left">
					<a href="{{ path('user_photos') }}" class="btn btn-primary {{ app.user.checkphotos }}">{{ "Mes photos"|trans }}</a>
					</div>
				</div>
				
				<div id="profil_cliente_prenom">
					{{ user.lastName }}
				</div>
				
				<div id="profil_cliente_mesinfos">
					<div id="menu_left">
					<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Mes infos"|trans }}" data-whatever="{{ path('user_showinfos') }}" class="btn btn-primary {{ app.user.checkmesinfos }}">{{ "Mes infos"|trans }}</a>
					</div>
				</div>
				
				<div id="profil_cliente_mescheveux">
					<div id="menu_left">
					<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Mes cheveux"|trans }}" data-whatever="{{ path('user_showcheveux') }}" class="btn btn-primary {{ app.user.checkcheveux }}">{{ "Mes cheveux"|trans }}</a>
					</div>
				</div>
				
				<div id="profil_cliente_mapeau">
					<div id="menu_left">
					<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Ma peau"|trans }}" data-whatever="{{ path('user_showpeau') }}" class="btn btn-primary {{ app.user.checkpeau }}">{{ "Ma peau"|trans }}</a>
					</div>
				</div>
				
				<div id="profil_cliente_mespreferences">
					<div id="menu_left">
					<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Mes préférences"|trans }}" data-whatever="{{ path('user_showpreferences') }}" class="btn btn-primary {{ app.user.checkpreferences }}">{{ "Mes préférences"|trans }}</a>
					</div>
				</div>
				
				<div id="profil_cliente_favoris">
					<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Mes beauty artists"|trans }}" data-whatever="{{ path('user_showfavoris') }}" class="btn btn-primary">{{ "Mes beauty artists"|trans }}</a>
				</div>
				
				<div id="profil_cliente_notes">
					<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Mes notes & avis"|trans }}" data-whatever="{{ path('user_showavis') }}" class="btn btn-primary">{{ "Mes notes & avis"|trans }}</a>
				</div>
				
				<div id="profil_cliente_reservations">
				    <a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Mes bookings"|trans }}" data-whatever="{{ path('booking_popup') }}" class="btn btn-primary">{{ "Mes bookings"|trans }}</a>
				</div>
				
				<div id="profil_cliente_messages">
					<a href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" data-title="{{ "Messagerie"|trans }}" data-whatever="{{ path('message_popup') }}" class="btn btn-primary">{{ "Messagerie"|trans }}</a>
				</div>
				
			</div>
		</div>
	</div>

</div>
{% endblock %}