<div class="row popup_favoris">
	<div class="col-lg-12" style="overflow-y:auto;max-height:314px;">
	
		{% if app.user.favoris|length %}
					
			{% for user in app.user.favoris %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vignette_ajax vignette_certifie">
					<div class="vignette" style="margin-top:0px !important;padding:5px;padding-bottom:8px;">
						<div class="row">
							<div class="vignette_infos_1 col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
								<a href="{{ path('home_show', { 'user_id': user.id, 't': user.entrepriseStripped }) }}"><img class="img-thumbnail" alt="{{ user.lastName }}" src="{{ user.image.url }}"/></a>
							</div>
							<div class="vignette_infos_2 col-xs-12 col-sm-6 col-md-6 col-lg-7">
								<div class="vignette_infos_title">
									<a href="{{ path('home_show', { 'user_id': user.id, 't': user.entrepriseStripped }) }}">{{ user.entreprise|truncate(70) }}</a>
								</div>
								<div class="vignette_infos_autre">
									{{ user.city|truncate(30) }}{% if user.postalCode %} ({{ user.postalCode }}){% endif %}
								</div>
								<div class="vignette_infos_autre_2">
								{% if user.nbNote > 0 %}<img src="{{ asset('images/template/b' ~ user.note ~ '.png') }}"/>{% else %}{{ "Aucune note"|trans }}{% endif %}
								</div>
							</div>
							<div class="vignette_infos_1 col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
								<!-- Single button -->
								<div class="btn-group dropdown">
								  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									{{" Actions"|trans }} <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu">
									<li><a href="{{ path('home_show', {'user_id': user.id, 't': user.strippedName}) }}">{{ "Consulter ce profil"|trans }}</a></li>
									<li><a href="{{ path('user_deletefavoris', {'user_id': user.id}) }}">{{ "Supprimer de ma liste"|trans }}</a></li>
								  </ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
			{% endfor %}
		
		{% else %}
		
		<div class="row">
			<div class="col-lg-12 text-center">
				<br/><br/><br/><br/><br/>
				{{ "Aucun professionnel pour le moment"|trans }}.<br/><br/>
			</div>
		</div>
		
		{% endif %}
		
	</div>
</div>