{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Tableau de bord"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Tableau de bord"|trans }}</h3>
				</div>
				<div class="panel-body">

					<div class="row">
						<div class="col-md-12">
							<div id="linechart" style="min-width: 400px; height: 400px;"></div>
						</div>
					</div>
					
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if app.user.type == 2 %}
<script src="{{ asset('js/highcharts.js') }}"></script>
<script src="{{ asset('js/exporting.js') }}"></script>
<script type="text/javascript">
    {{ chart(chart) }}
</script>
{% endif %}
{% endblock %}