<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
    
<div id="main">
    
    <div id="texte">
    <p>
    	<img src="{{ asset('images/logo.jpg', absolute=true) }}" alt="{{ getSiteName() }}">
    </p>
    <p>
    	{{ "Bonjour"|trans }} {{ user.lastName }} {{ user.firstName }},
    </p>
    <p>
    	{{ "Bienvenue dans notre communauté"|trans }} !
    </p>
	<p>
    	{{ "Afin de recevoir les prochains emails sans difficulté pensez à nous ajouter dans vos contacts, ainsi les messages n'arriveront pas dans les spams"|trans }}.
    </p>
	<p>
		{{ "Vous pouvez dès à présent commencer à rechercher un professionnel pour prendre rendez-vous"|trans }}.
	</p>
	<p>
    	<a href="{{ url('register_validate', { 'id': user.id, 'e': user.email }) }}">
    		{{ "Cliquez ici pour valider votre adresse email"|trans }}
		</a>
    </p>
	<p>
		{{ "Nous restons à votre disposition"|trans }}.
	</p>
	<p>
		{{ "Cordialement"|trans }}
	</p>
 </div>

</div>

</body>
</html>


