<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
    
<div id="main">
    
    <div id="texte">
    <p>
    	<img src="{{ asset('images/logo.jpg', absolute=true) }}" alt="{{ getSiteName() }}">
    </p>
    <p>
    	{{ "Bonjour"|trans }} {{ user.lastName }} {{ user.firstName }},
    </p>
	<p>
		Félicitations, vous venez de compléter votre profil avec succès !
	</p>
	<p>
		L'équipe My Beauty Booking vous remercie pour votre confiance en notre offre de service.
	</p>
	<p>
		Pour finaliser votre inscription et activer votre compte, il ne vous reste qu'une seule étape.
	</p>
	<p>
		Afin d'évaluer vos compétences en situation réelle et valider votre adhésion sur la plateforme, nous vous demandons de nous faire parvenir une vidéo de votre travail.
	</p>
	<p>
		D'une durée de 30 à 45 minutes, cette vidéo doit illustrer la réalisation d'une ou de vos prestations de prédilection. 
	</p>
	<p>
		Cette vidéo n'a aucun but commercial ou de communication.
	</p>
	<p>
		Elle sera utilisée uniquement dans le cadre du processus de sélection et ne sera jamais diffusée sur un quelconque support.
	</p>
	<p>
		Une fois envoyée, votre dossier sera traité dans les 7 jours.<br/>
		S'il est validé, vous pourrez commencer à exercer aussitôt. 
	</p>
	<p>
		Si vous rencontrez des difficultés, vous pouvez-nous contacter à l'adresse:<br/>
		support-artists@mybeautybooking.fr
	</p>
	<p>
		A très vite!<br/>
		L'équipe My Beauty Booking
	</p>
 </div>

</div>

</body>
</html>