<div id="fb-root"></div>
<script>
	var APP_ID="{{ getFacebookApi() }}";

	window.fbAsyncInit = initFacebook;
	
	function initFacebook()
	{
		FB.init({
		  appId  : APP_ID,
		  cookie: true,
	      xfbml: true,
	      oauth: true
		});

		FB.getLoginStatus(onFacebookLoginStatus);
	};

	(function() {
		var e = document.createElement('script');
		e.src = document.location.protocol + "//connect.facebook.net/{% if app.request.locale == 'fr' %}fr_FR{% else %}en_US{% endif %}/all.js";
		e.async = true;
		document.getElementById('fb-root').appendChild(e);
		}());

	var facebookLoginWindow;
	var loginWindowTimer;
	function facebookLogin()
	{
		var popupWidth=500;
		var popupHeight=300;
		var xPosition=($(window).width()-popupWidth)/2;
		var yPosition=($(window).height()-popupHeight)/2;
		var loginUrl="http://www.facebook.com/dialog/oauth/?"+
			"scope={{ getFacebookScope() }}&"+
			"client_id="+APP_ID+"&"+
			"redirect_uri={{ getSiteUrl() }}loginHandler.html&"+
			"response_type=token&"+
			"display=popup";
		
		facebookLoginWindow=window.open(loginUrl, "LoginWindow", 
			"location=1,scrollbars=1,"+
			"width="+popupWidth+",height="+popupHeight+","+
			"left="+xPosition+",top="+yPosition);
			
		document.getElementById("fb-login-button-div").value = 1;
			
		loginWindowTimer=setInterval(onTimerCallbackToCheckLoginWindowClosure, 1000);
	}

	function onTimerCallbackToCheckLoginWindowClosure() 
	{ 
		if (facebookLoginWindow && facebookLoginWindow.closed) 
		{
			clearInterval(loginWindowTimer);
			initFacebook();
		}
    }

	function onFacebookLoginStatus(response)
	{
		if (response.status=="connected" && response.authResponse)
		{
			var loginButtonDiv=document.getElementById("fb-login-button-div");
			//if (loginButtonDiv)loginButtonDiv.style.display="none";
			if (facebookLoginWindow && facebookLoginWindow.closed) 
			{
				if ((loginButtonDiv && loginButtonDiv.style.display=="none") || loginButtonDiv == null)
				window.top.location = '{{ url('register_loginfacebook') }}';
			}
			
			if (document.getElementById("fb-login-button-div").value == 1){
				window.top.location = '{{ url('register_loginfacebook') }}';
			}
		}
		else
		{
			var loginButtonDiv=document.getElementById("fb-login-button-div");
			if (loginButtonDiv)loginButtonDiv.style.display="block";	
		}
	}  
	
</script>