{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}

<form method="POST" {{ form_enctype(form) }}>
<div class="form_admin">
 <table>
    <thead>
      <tr>
        <td colspan="2">
 
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_contentcomment_index') }}"><span>Annuler</span></a>
			</div>
          </li>
          <li class="button-valider">
          	<input type="submit" value="Valider"/>
          </li>
        </ul> 
        
        </td>
      </tr>
    </thead>
    <tbody>
     {{ form_errors(form) }}
     <tr>
        <th>{{ form_label(form.note, "Note") }}</th>
        <td>
          {{ form_errors(form.note) }}
          {{ form_widget(form.note) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.email, "Email") }}</th>
        <td>
          {{ form_errors(form.email) }}
          {{ form_widget(form.email) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.nom, "Nom") }}</th>
        <td>
          {{ form_errors(form.nom) }}
          {{ form_widget(form.nom) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.phone, "Téléphone") }}</th>
        <td>
          {{ form_errors(form.phone) }}
          {{ form_widget(form.phone) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.message, "Commentaire") }}</th>
        <td>
          {{ form_errors(form.message) }}
          {{ form_widget(form.message) }}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
{{ form_widget(form._token) }}
</form>
