{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

  <h1>{{ nb_result }} commentaires</h1>
  
  <div class="table_admin">
	<table>
	  <thead>
	    <tr class="entete">
	      <th></th>
	      <th><a href="{{ path('admin_contentcomment_index', {'sort': 'id', 'sens': sens_inv}) }}">ID</a></th>
	      <th>Artisan</th>
		  <th><a href="{{ path('admin_contentcomment_index', {'sort': 'email', 'sens': sens_inv}) }}">Email</a></th>
		  <th><a href="{{ path('admin_contentcomment_index', {'sort': 'nom', 'sens': sens_inv}) }}">Nom</a></th>
		  <th><a href="{{ path('admin_contentcomment_index', {'sort': 'phone', 'sens': sens_inv}) }}">Téléphone</a></th>
	      <th><a href="{{ path('admin_contentcomment_index', {'sort': 'message', 'sens': sens_inv}) }}">Commentaire</a></th>
	      <th><a href="{{ path('admin_contentcomment_index', {'sort': 'created_at', 'sens': sens_inv}) }}">Date</a></th>
	      <th><a href="{{ path('admin_contentcomment_index', {'sort': 'ip_address', 'sens': sens_inv}) }}">IP</a></th>
	      <th><a href="{{ path('admin_contentcomment_index', {'sort': 'validate', 'sens': sens_inv}) }}">Publié</a></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for comment in liste %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_contentcomment_show', {'comment_id': comment.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td>{{ comment.id }}</td>
	      <td>{{ comment.vendeur.entrepriseLabel }}</td>
		  <td>{{ comment.email }}</td>
		  <td>{{ comment.nom }}</td>
		  <td>{{ comment.phone }}</td>
	      <td>{{ comment.message }}</td>
	      <td>{{ comment.createdat("d/m/Y") }}</td>
	      <td>{{ comment.ipaddress }}</td>
	      <td>{{ comment.validateLabel }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	  
	</table>
	
	{% include 'AdminBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
	
  </div>

{% endblock %}
