<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
    
<div id="main">
    
    <div id="texte">
    	<p>
    		<img src="{{ asset('images/logo.jpg', absolute=true) }}" alt="{{ getSiteName() }}">
    	</p>
	    <p>
	    	{{ "Bonjour"|trans }},
	    </p>
	    <p>    
	        {{ "Merci pour votre commentaire, il est accepté et maintenant visible sur le site"|trans }} :
	    </p>
	    <p>
	        <b>{{ "Note"|trans }}</b> : {{ comment.note }}
	    </p>
	    <p>
	    	<b>{{ "Commentaire"|trans }}</b> : {{ comment.message }}
	    </p>
	    <p>
			{{ "Cordialement"|trans }}.
		</p>
		<p>
			{{ getSiteName() }}
		</p>
    </div>

</div>

</body>
</html>