{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Details commentaire</h1>

<div class="form_admin">
<table>
  <tbody>
  	<tr>
      <th>ID:</th>
      <td>{{ comment.id }}</td>
    </tr>
    <tr>
      <th>Adresse IP:</th>
      <td>{{ comment.ipAddress }}</td>
    </tr>
    {% if comment.content is not null %}
     <tr>
      <th>Page:</th>
      <td><a href="{{ path('admin_content_show', {'content_id': comment.content.id}) }}">{{ comment.content.title }}</a></td>
    </tr>
    {% endif %}
    {% if comment.vendeur is not null %}
     <tr>
      <th>Artisan:</th>
      <td><a href="{{ path('admin_user_show', {'user_id': comment.vendeur.id}) }}">{{ comment.vendeur.shortusername }}</a></td>
    </tr>
    {% endif %}
	<tr>
      <th>Email:</th>
      <td>{{ comment.email }}</td>
    </tr>
	<tr>
      <th>Nom:</th>
      <td>{{ comment.nom }}</td>
    </tr>
	<tr>
      <th>Prénom:</th>
      <td>{{ comment.prenom }}</td>
    </tr>
	<tr>
      <th>Téléphone:</th>
      <td>{{ comment.phone }}</td>
    </tr>
    <tr>
      <th>Commentaire:</th>
      <td>{{ comment.message }}</td>
    </tr>
	<tr>
		<th>{{ "Piece jointe"|trans }}</th>
		<td>
			{% if comment.scan %}
			<a target="_blank" href="{{ comment.url }}">
				{{ "Ouvrir le fichier"|trans }}
			</a>
			{% endif %}	
		</td>
	</tr>
    <tr>
      <th>Publié:</th>
      <td>{{ comment.validateLabel }}</td>
    </tr>
    <tr>
      <th>Date creation</th>
      <td>{{ comment.createdat("d/m/Y") }}</td>
    </tr>
    <tr>
      <th>Date modification:</th>
      <td>{{ comment.updatedat("d/m/Y") }}</td>
    </tr>

  </tbody>
   <thead>
      <tr>
        <td colspan="2">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_contentcomment_edit', {'comment_id': comment.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_contentcomment_accepter', {'comment_id': comment.id}) }}"><span>Accepter</span></a>
			</div>
          </li>
           <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_contentcomment_refuser', {'comment_id': comment.id}) }}"><span>Refuser</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_contentcomment_delete', {'comment_id': comment.id}) }}"><span>Supprimer</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_contentcomment_index') }}"><span>Retour liste</span></a>
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
</table>
</div>

{% endblock %}
