{% extends "AdminBundle::admin.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
    <script>
	$(document).ready(function () {
		
		Dropzone.autoDiscover = false; // otherwise will be initialized twice
		var myDropzoneOptions = {
		    url: "{{ url('upload_media', {'resize' : '1_350_250_2_800_600'}) }}",
		    acceptedFiles: "image/jpeg,image/png,image/gif",
	        addRemoveLinks: true,
	        dictRemoveFile : "{{ 'Retirer cette photo'|trans }}",
	        dictCancelUploadConfirmation : "{{ 'Êtes-vous sûr de vouloir annuler le transfert'|trans }}",
	        dictCancelUpload : "{{ 'Annuler le transfert'|trans }}",
	        autoProcessQueue: true,
		    uploadMultiple: false,
		    parallelUploads: 3,
		    //maxFiles: 1,
		    maxFilesize: 20, // MB
	        success: function (file, response) {
	            var imgName = response['name'];
	            var input_hidden = Dropzone.createElement("<input type='hidden' name='images[]' value='"+imgName+"'>");
	            
	            file.previewElement.classList.add("dz-success");
      			file.previewElement.appendChild(input_hidden);
	        },
	        error: function (file, response) {
	            file.previewElement.classList.add("dz-error");
	        },
		};
		var myDropzone = new Dropzone('#upload_images_div', myDropzoneOptions);
		
		var myDropzoneOptions = {
		    url: "{{ url('upload_media', {'resize' : '1_350_250_2_800_600'}) }}",
		    acceptedFiles: "image/jpeg,image/png,image/gif",
	        addRemoveLinks: true,
	        dictRemoveFile : "{{ 'Retirer cette photo'|trans }}",
	        dictCancelUploadConfirmation : "{{ 'Êtes-vous sûr de vouloir annuler le transfert'|trans }}",
	        dictCancelUpload : "{{ 'Annuler le transfert'|trans }}",
	        autoProcessQueue: true,
		    uploadMultiple: false,
		    parallelUploads: 1,
		    maxFiles: 1,
		    maxFilesize: 20, // MB
	        success: function (file, response) {
	            var imgName = response['name'];
	            var input_hidden = Dropzone.createElement("<input type='hidden' name='image_principale' value='"+imgName+"'>");
	            
	            file.previewElement.classList.add("dz-success");
      			file.previewElement.appendChild(input_hidden);
	        },
	        error: function (file, response) {
	            file.previewElement.classList.add("dz-error");
	        },
	        init: function() {
			    this.on("addedfile", function() {
			      if (this.files[1]!=null){
			        this.removeFile(this.files[0]);
			      }
			    });
			}
		};
		var myDropzone = new Dropzone('#upload_image_principale_div', myDropzoneOptions);

	});
	</script>
	<script src="{{ asset('js/jquery-ui.js') }}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#tabs").tabs();
	});
	</script>
{% endblock %}

{% block body %}

  <h1>Ajouter une page</h1>

  {{ include("AdminBundle:Content:form.html.twig") }}

{% endblock %}