{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

  <h1>Liste pages</h1>
  
  <div class="table_admin">
	<table>
	  <thead>
	    <tr style="background-color:white;">
	        <th colspan="10">
		        <ul id="bout-action">
		          <li>
		          	<div class="buttonwrapper">
						<a class="boldbuttons" href="{{ path('admin_content_add') }}"><span>Ajouter</span></a>
					</div>
		          </li>
		        </ul>
	        </th>
	    </tr>  
	    <tr class="entete">
	      <th></th>
	      <th></th>
	      <th><a href="{{ path('admin_content_index', {'sort': 'id', 'sens': sens_inv}) }}">ID</a></th>
	      <th><a href="{{ path('admin_content_index', {'sort': 'title', 'sens': sens_inv}) }}">Titre</a></th>
	      <th><a href="{{ path('admin_content_index', {'sort': 'created_at', 'sens': sens_inv}) }}">Date</a></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for content in liste %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_content_show', {'content_id': content.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td>
	      	{% if content.imagePrincipale is not null %}
      			<img style="width:45px;" src="{{ content.imagePrincipale.url }}"/>
      		{% endif %}
  		  </td>
	      <td>{{ content.id }}</td>
	      <td>{{ content.title }}</td>
	      <td>{{ content.createdAt("d/m/Y") }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	  
	</table>
	
	{% include 'AdminBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
	
  </div>

{% endblock %}
