{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Details Page</h1>

<div class="form_admin">
<table>
  <tbody>
  	<tr>
      <th>ID:</th>
      <td>{{ content.id }}</td>
    </tr>
    <tr>
      <th>URL:</th>
      <td>
      	<a href="{{ url('content_show', { 'content_id': content.id, 't': content.strippedTitle }) }}" target="_blank">
      		{{ url('content_show', { 'content_id': content.id, 't': content.strippedTitle }) }}
      	</a>
  	</td>
    </tr>
    <tr>
      <th>Titre:</th>
      <td>{{ content.title() }}</td>
    </tr>
    <tr>
      <th>Contenu:</th>
      <td>{{ content.html|raw }}</td>
    </tr>
    <tr>
      <th>META Titre:</th>
      <td>{{ content.metaTitle }}</td>
    </tr>
    <tr>
      <th>META Description:</th>
      <td>{{ content.metaDescription }}</td>
    </tr>
    <tr>
      <th>META Mots clés:</th>
      <td>{{ content.metaKeywords }}</td>
    </tr>
    <tr>
      <th>Mise en ligne</th>
      <td>{{ content.enligneDate("d/m/Y") }}</td>
    </tr>
    <tr>
      <th>Date creation</th>
      <td>{{ content.createdat("d/m/Y") }}</td>
    </tr>
    <tr>
      <th>Date modification:</th>
      <td>{{ content.updatedat("d/m/Y") }}</td>
    </tr>

  </tbody>
   <thead>
      <tr>
        <td colspan="2">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_content_edit', {'content_id': content.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_content_delete', {'content_id': content.id}) }}"><span>Supprimer</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_content_index') }}"><span>Retour liste</span></a>
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
</table>
</div>

{% endblock %}
