  <tr>
    <th>{{ form_label(form.translations[langue].title, "Titre") }}</th>
    <td>
      {{ form_errors(form.translations[langue].title) }}
      {{ form_widget(form.translations[langue].title) }}
    </td>
  </tr>
  <tr>
    <th>{{ form_label(form.translations[langue].html, "Contenu") }}</th>
    <td>
      {{ form_errors(form.translations[langue].html) }}
      {{ form_widget(form.translations[langue].html) }}
      <script type="text/javascript">CKEDITOR.replace('faprod_contentbundle_content_translations_{{ langue }}_html');</script>
    </td>
  </tr>
  <tr>
    <th>{{ form_label(form.translations[langue].meta_title, "META Titre") }}</th>
    <td>
      {{ form_errors(form.translations[langue].meta_title) }}
      {{ form_widget(form.translations[langue].meta_title) }}
    </td>
  </tr>
  <tr>
    <th>{{ form_label(form.translations[langue].meta_description, "META Description") }}</th>
    <td>
      {{ form_errors(form.translations[langue].meta_description) }}
      {{ form_widget(form.translations[langue].meta_description) }}
    </td>
  </tr>
  <tr>
    <th>{{ form_label(form.translations[langue].meta_keywords, "META Mots clés") }}</th>
    <td>
      {{ form_errors(form.translations[langue].meta_keywords) }}
      {{ form_widget(form.translations[langue].meta_keywords) }}
    </td>
  </tr>