{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}

<form method="POST" {{ form_enctype(form) }}>
<div class="form_admin">
 <table>
    <thead>
      <tr>
        <td colspan="2">
 
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_admin_index') }}"><span>Annuler</span></a>
			</div>
          </li>
          <li class="button-valider">
          	<input type="submit" value="Valider"/>           
          </li>
        </ul> 
        
        </td>
      </tr>
    </thead>
    <tbody>
     {{ form_errors(form) }}
     <tr>
        <th>{{ form_label(form.username, "Pseudo") }}</th>
        <td>
          {{ form_errors(form.username) }}
          {{ form_widget(form.username) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.password, "Mot de passe") }}</th>
        <td>
          {{ form_errors(form.password) }}
          {{ form_widget(form.password) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.validate, "Valide") }}</th>
        <td>
          {{ form_errors(form.validate) }}
          <select name="faprod_adminbundle_admin[validate]" id="faprod_adminbundle_admin_validate">
          	<option {% if form.vars.value.validate == 0 %}selected=selected{% endif %} value="0">Non activé</option>
          	<option {% if form.vars.value.validate == 1 %}selected=selected{% endif %} value="1">Activé</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
{{ form_widget(form._token) }}
</form>

  	       
<script language="JavaScript" type="text/javascript">

function clearPwBox()
{
if (document.getElementById)
{
var pw = document.getElementById('admin_password');
if (pw != null)
{
pw.value = '';
}

}
}
window.setTimeout("clearPwBox()", 100);
</script>
