{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

  <h1>Liste administrateurs</h1>
  
  <div class="table_admin">
	<table>
	  <thead>
	    <tr style="background-color:white;">
	        <th colspan="10">
		        <ul id="bout-action">
		          <li>
		          	<div class="buttonwrapper">
						<a class="boldbuttons" href="{{ path('admin_admin_add') }}"><span>Ajouter</span></a>
					</div>
		          </li>
		        </ul>
	        </th>
	    </tr>  
	    <tr class="entete">
	      <th></th>
	      <th><a href="{{ path('admin_admin_index', {'sort': 'username', 'sens': sens_inv}) }}">Pseudo</a></th>
	      <th><a href="{{ path('admin_admin_index', {'sort': 'validate', 'sens': sens_inv}) }}">Valide</a></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for admin in liste %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_admin_show', {'admin_id': admin.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td>{{ admin.username }}</td>
	      <td>{{ admin.validatelabel }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	  
	</table>
	
	{% include 'AdminBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
	
  </div>

{% endblock %}
