{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Details Administrateur</h1>

<div class="form_admin">
<table>
  <tbody>
    <tr>
      <th>Pseudo:</th>
      <td>{{ admin.username }}</td>
    </tr>
    <tr>
    	<th>Valide</th>
    	<td>
    		{{ admin.validatelabel }}
    	</td>
    </tr>
  </tbody>
   <thead>
      <tr>
        <td colspan="2">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_admin_edit', {'admin_id': admin.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_admin_delete', {'admin_id': admin.id}) }}"><span>Supprimer</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_admin_index') }}"><span>Retour liste</span></a>
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
</table>
</div>

{% endblock %}
