{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}
<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Il y a eu un problème"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">		
			<div class="jumbotron">

				Désolé une erreur est survenue pendant cette opération
  				
			</div>
		</div>
	</div>

</div>
{% endblock %}
