<form action="{{ path('booking_note', { 'booking_id': booking.id }) }}" method="post" class="form-horizontal">
  <div class="modal-body">
		<div class="row" style="margin-top:50px;">
			<div class="form-group">
			  {{ form_label(form_comment.note, "Votre note sur 5"|trans, {'label_attr': {'class': 'col-lg-offset-1 col-lg-3'}}) }}
			  <div class="col-lg-6">
				{{ form_errors(form_comment.note) }}
				{{ form_widget(form_comment.note, { 'attr': {'class': 'form-control'} }) }}
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10">
			  <div class="form-group">
				{{ form_label(form_comment.message, "Votre avis"|trans) }}
				{{ form_errors(form_comment.message) }}
				{{ form_widget(form_comment.message, { 'attr': {'class': 'form-control', 'rows' : 5, 'style' : 'height:150px !important;'} }) }}
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10">
			  <div class="form-group text-center">
				<button type="button" class="btn btn-primary" data-dismiss="modal">{{ "Annuler"|trans }}</button>
				<button type="submit" class="btn btn-primary">{{ "Envoyer"|trans }}</button>
			  </div>
			</div>
		</div>
  </div>
  <div class="modal-footer">
	
  </div>
</form>