{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{% if app.user.type == 2 %}
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Mes paiements"|trans }}
				{% else %}
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_show') }}">{{ "Mon profil"|trans }}</a> > {{ "Mes paiements"|trans }}
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Mes paiements"|trans }}</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form style="font-size:12px;" action="{{ path('booking_paiements') }}" class="form-horizontal" method="post">
							<div class="row">
								<div class="col-md-1 col-lg-1">
									<label class="pull-right">Début</label>
								</div>
								<div class="col-md-3 col-lg-3">
									{{ form_widget(form.begin_date) }}
								</div>
								<div class="col-md-1 col-lg-1">
									<label class="pull-right">Fin</label>
								</div>
								<div class="col-md-3 col-lg-3">
									{{ form_widget(form.end_date) }}
								</div>
								<div class="col-md-4 col-lg-4">
									<input class="btn btn-primary" type="submit" id="boutton-recherche" class="button-valider" value="Filtrer"/>
								</div>
								{{ form_widget(form._token) }}
							</div>
							</form>
						</div>
					</div>
					<hr/>
					<div class="row">
						<div class="col-lg-12 box">
							
							{% if liste|length %}
					
					
								<table class="table table-striped">
									<thead>
										<tr class="entete">
											<th>Prestation</th>
											{% if app.user.type == 1 %}
											<th>Pro</th>
											{% else %}
											<th>Cliente</th>
											{% endif %}
											<th>Date</th>
											<th>Heure</th>
											<th>Prix</th>
											<th>Statut</th>
										</tr>
									</thead>
									<tbody>
										{% for booking in liste %}
											<tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
												<td>{{ booking.offer }}</td>
												{% if app.user.type == 1 %}
												<td>{% if booking.seller %}{{ booking.seller.shortUsername }}{% endif %}</td>
												{% else %}
												<td>{% if booking.user %}{{ booking.user.shortUsername }}{% endif %}</td>
												{% endif %}
												<td>{{ booking.dateRdv('d/m/Y') }}</td>
												<td>{{ booking.heureRdvLabel }}</td>
												<td>{{ booking.priceTtcLabel }}</td>
												<td>{{ booking.statutLabel }}</td>
											</tr>
										{% endfor %}
									</tbody>  
								</table>	

							
							{% else %}
							
								<div class="row">
									<div class="col-lg-12">
										{{ "Aucun paiement pour le moment"|trans }}.<br/><br/>
									</div>
								</div>
							
							{% endif %}
							
							{% include 'CoreBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
					
						</div>
					</div>

		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}