<form method="POST" action="{{result.CardRegistrationURL}}">
	<input type="hidden" name="ID" value="{{result.Id}}" />
	<input type="hidden" name="data" value="{{result.PreregistrationData}}" />
	<input type="hidden" name="accessKeyRef" value="{{result.AccessKey}}" />
	<input type="hidden" name="returnURL" value="{{returnURL}}" />
	<input type="hidden" name="price" value="{{ price_ttc }}" />
	<input type="hidden" name="currency" value="{{ currency }}" />
	<input type="hidden" name="cardExpirationDate" id="cardExpirationDate" value="" />
	
	<div class="message_discussion_bloc">
		<table class="table table-condensed">
		<tbody>
			<tr>
				<td colspan="2" class="text-center">
					<h4>{{"Votre paiement de : "|trans}}{{price_ttc}} {{currency}}</h4>
				</td>
			</tr>
			<tr>
				<th>{{"Numéro de carte"|trans}}</th>
				<td><input class="form-control" type="text" name="cardNumber" value="" /></td>
			</tr>
			<tr>
				<th>{{"Date d'expiration"|trans}}</th>
				<td>
					<select style="width:100px;display:inline;" class="form-control" id="expir_month" onchange="expire()">
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="05">05</option>
						<option value="06">06</option>
						<option value="07">07</option>
						<option value="08">08</option>
						<option value="09">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>
					<span class="display:inline;">/</span>
					<select style="width:100px;display:inline;" class="form-control" id="expir_year" onchange="expire()">
						<option value={{ "now"|date("y") }}>{{ "now"|date("y") }}</option>
						<option value={{ "now"|date("y") + 1 }}>{{ "now"|date("y") + 1 }}</option>
						<option value={{ "now"|date("y") + 2 }}>{{ "now"|date("y") + 2 }}</option>
						<option value={{ "now"|date("y") + 3 }}>{{ "now"|date("y") + 3 }}</option>
						<option value={{ "now"|date("y") + 4 }}>{{ "now"|date("y") + 4 }}</option>
						<option value={{ "now"|date("y") + 5 }}>{{ "now"|date("y") + 5 }}</option>
						<option value={{ "now"|date("y") + 6 }}>{{ "now"|date("y") + 6 }}</option>
						<option value={{ "now"|date("y") + 7 }}>{{ "now"|date("y") + 7 }}</option>
						<option value={{ "now"|date("y") + 8 }}>{{ "now"|date("y") + 8 }}</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>{{"Pictogramme visuel"|trans}}</th>
				<td><input class="form-control" type="text" name="cardCvx" value="" /></td>
			</tr>
			<tr>
				<th style="width:200px;"></th>
				<td>
					<input id="btnsubmit" class="btn btn-danger" type="submit" value="{{'Valider mon paiment'|trans}}" onclick="wait()"/><img id="loading" src="{{ asset('images/template/loader.gif') }}" style="display:none;">
				</td>
			</tr>
		</tbody>
	</table>
	
	</div>
</form>
			

<script>
function expire() {
	var month = document.getElementById("expir_month").value;
	var year = document.getElementById("expir_year").value;
	var expire_date = month + year;
	document.getElementById("cardExpirationDate").value = expire_date;
}
function wait() {
	var btnsubmit = document.getElementById("btnsubmit").style.display = "none";
	var wait = document.getElementById("loading").style.display = "inline";
}
</script>
