<div class="row popup_booking">
	<div class="col-lg-12" style="overflow-y:auto;max-height:349px;">
	
		{% if liste|length %}

			<table class="table table-condensed table_popup">
				<thead>
					<tr class="entete">
						<th></th>
						<th>Prestation</th>
						{% if app.user.type == 1 %}
						<th>Pro</th>
						{% else %}
						<th>Cliente</th>
						{% endif %}
						<th>Date</th>
						<th>Heure</th>
						<th style="width:80px;">Prix</th>
						<th>Statut</th>
					</tr>
				</thead>
				<tbody>
					{% for booking in liste %}
						<tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
							<td><a href="{{ path('booking_show', {'booking_id': booking.id}) }}"><img src="{{ asset('images/loupe3.png') }}"></a></td>
							<td>{{ booking.offer }}</td>
							{% if app.user.type == 1 %}
							<td>{% if booking.seller %}{{ booking.seller.shortUsername }}{% endif %}</td>
							{% else %}
							<td>{% if booking.user %}{{ booking.user.shortUsername }}{% endif %}</td>
							{% endif %}
							<td>{{ booking.dateRdv('d/m/Y') }}</td>
							<td>{{ booking.heureRdvLabel }}</td>
							<td>{{ booking.priceTtcLabel }}</td>
							<td>{{ booking.statutLabel }}</td>
						</tr>
					{% endfor %}
				</tbody>  
			</table>	
			
			{% if liste|length >= 15  %}
			<p class="text-center">
				<a class="btn btn-primary" href="{{ path('booking_index') }}">{{ "Voir tout"|trans }}</a>
			</p>
			{% endif %}

		
		{% else %}
		
			<div class="row">
				<div class="col-lg-12 text-center">
					<br/><br/><br/><br/><br/>
					{{ "Aucun booking pour le moment"|trans }}.<br/><br/>
				</div>
			</div>
		
		{% endif %}
		
	</div>
</div>