{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{% if app.user.type == 2 %}
				<a href="{{ path('home_index') }}">{{ "Accueil" }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Mes bookings"|trans }}
				{% else %}
				<a href="{{ path('home_index') }}">{{ "Accueil" }}</a> > <a href="{{ path('user_show') }}">{{ "Mon profil"|trans }}</a> > {{ "Mes bookings"|trans }}
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
		
			{{ include("UserBundle:Partial:menu.html.twig") }}
			
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ "Mon booking"|trans }}</h3>
				</div>
				<div class="panel-body">
				
					<h3 style="margin-top:0px;">{{ booking.statutLabel }}</h3>
					
					{% if booking.statut == 1 %}
						{% if app.user.type == 1 %}
							<p><b>Vous devez effectuer le paiement afin de confirmer la réservation</b></p>
						{% else %}
							<p><b>La cliente doit effectuer le paiement afin de confirmer la réservation</b></p>
						{% endif %}
					{% endif %}
					{% if booking.statut == 2 %}
						{% if app.user.type == 1 %}
							<p><b>Le paiement est effectué, la réservation doit maintenant être validée par votre Beauty Artist</b></p>
						{% else %}
							<p><b>Le paiement est effectué, vous devez maintenant valider la réservation</b></p>
						{% endif %}
					{% endif %}
					{% if booking.statut == 3 %}
						<p><b>La prestation sera effectuée le {{ booking.dateRdv('d/m/Y') }} à {{ booking.heureRdvLabel }}</b></p>
					{% endif %}
					{% if booking.statut == 4 %}
						{% if app.user.type == 1 %}
							<p><b>La prestation est effectuée, vous devez laisser une note et avis</b></p>
						{% else %}
							<p><b>La prestation est effectuée, la cliente doit laisser une note et avis</b></p>
						{% endif %}
					{% endif %}
							
					<table class="table table-condensed table_white">
						<tbody>
							<tr>
								<th style="width:20%;">{{ "Prestation"|trans }}</th>
								<td>{{ booking.offer }}</td>
							</tr>
							<tr>
								<th>{{ "Date"|trans }}</th>
								<td>{{ booking.dateRdv('d/m/Y') }}</td>
							</tr>
							<tr>
								<th>{{ "Heure"|trans }}</th>
								<td>{{ booking.heureRdvLabel }}</td>
							</tr>
							<tr>
								<th>{{ "Description"|trans }}</th>
								<td>{{ booking.offer.description|raw }}</td>
							</tr>
							<tr>
								<th>{{ "Durée"|trans }}</th>
								<td>{{ booking.offer.dureeLabel }}</td>
							</tr>
							<tr>
								<th>{{ "Photos"|trans }}</th>
								<td>
									<ul class="liste-photo">
									{% for image in booking.offer.images %}
										<li><a rel="facebox" href="{{ image.urlzoom }}"><img src="{{ image.url }}"/></a></li>
									{% endfor %}
									</ul>
								</td>
							</tr>
							{#<tr>
								<th>{{ "Prix"|trans }}</th>
								<td>{{ booking.priceLabel }}</td>
							</tr>#}
							{% if booking.code %}
							<tr>
								<th>{{ "Code de réduction"|trans }}</th>
								<td>{{ booking.code }}</td>
							</tr>
							<tr>
								<th>{{ "Réduction"|trans }}</th>
								<td>- {{ booking.codeReducLabel }}</td>
							</tr>
							{% endif %}
							<tr>
								<th>TVA sur frais de service</th>
								<td>{{ booking.tvaLabel }}</td>
							</tr>
							<tr>
								<th>{{ "Total"|trans }}</th>
								<td>{{ booking.priceTtcLabel }}</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<td colspan="2" class="text-center">
									{% if booking.statut == 1 and app.user.type == 1 %}
										<a  class="btn btn-warning btn-lg" href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" title="{{ "Payer cette réservation"|trans }}" data-title="{{ "Payer cette réservation"|trans }}" data-whatever="{{ path('booking_payer', {'booking_id' : booking.id }) }}"><span class="glyphicon glyphicon-hand-up"></span>&nbsp;&nbsp;{{ "Payer cette réservation"|trans }}</a>
										<button>Supprimer</button>
									{% endif %}
									{% if booking.statut == 2 and app.user.type == 2 %}
										<a href="{{ path('booking_accept', {'booking_id' : booking.id }) }}" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;{{ "Confirmer cette réservation"|trans }}</a>
									{% endif %}
									{% if booking.statut == 2 and app.user.type == 2 %}
										&nbsp;&nbsp;<a href="{{ path('booking_refuse', {'booking_id' : booking.id }) }}" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;&nbsp;{{ "Annuler cette réservation"|trans }}</a>
									{% endif %}
									{% if booking.statut == 4 and app.user.type == 1 %}
										<a  class="btn btn-warning btn-lg" href="javascript:void(0);" data-toggle="modal" data-target="#popupajaxModal" title="{{ "Ajouter une évaluation"|trans }}" data-title="{{ "Ajouter une évaluation"|trans }}" data-whatever="{{ path('booking_note', {'booking_id' : booking.id }) }}"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;{{ "Ajouter une évaluation"|trans }}</a>
									{% endif %}
								</td>
							</tr>
						</thead>
					</table>
				</div>
				{% if app.user.type == 1 and booking.seller %}
				<div class="panel-heading">
					<h3 class="panel-title">{{ "Beauty Artist"|trans }}</h3>
				</div>
				<div class="panel-body">

					<table class="table table-condensed table_white">
						<tbody>
							<tr>
							  <th>{{ "Photo"|trans }}</th>
							  <td colspan="3">
								{% if booking.seller.image is not null %}
									<a rel="facebox" href="{{ booking.seller.image.urlZoom }}"><img class="img-thumbnail" src="{{ booking.seller.image.url }}"/></a>
								{% endif %}
							  </td>
							</tr>
							<tr>
								<th style="width:20%;">{{ "Beauty Artist"|trans }}</th>
								<td>
									{{ booking.seller.shortUsername }}
								</td>
							</tr>
							{% if booking.statut >= 2 %}
							<tr>
								<th style="width:20%;">{{ "Portable"|trans }}</th>
								<td>{{ booking.seller.phoneLabel }}</td>
							</tr>
							{% endif %}
						</tbody>
						<tfoot>
							<tr>
								<th colspan="2" class="text-center">
									{% if booking.statut > 1 %}
										 <a class="btn btn-primary" href="{{ path('message_newdiscussion', {'destinataire_id' : booking.seller.id }) }}"><span class="glyphicon glyphicon-send"></span> &nbsp;&nbsp;{{ "Envoyer un message à"|trans }} {{ booking.seller.shortUsername }}</a>
									{% endif %}
								</th>
							</tr>
						</tfoot>
					</table>
				
				</div>
				
				{% elseif booking.user %}
				
				<div class="panel-heading">
					<h3 class="panel-title">{{ "La cliente"|trans }}</h3>
				</div>
				<div class="panel-body">
				
					<table class="table table-condensed table_white">
						<tbody>
							<tr>
							  <th>{{ "Photo"|trans }}</th>
							  <td colspan="3">
								{% if booking.user.image is not null %}
									<a rel="facebox" href="{{ booking.user.image.urlZoom }}"><img class="img-thumbnail" src="{{ booking.user.image.url }}"/></a>
								{% endif %}
							  </td>
							</tr>
							<tr>
								<th style="width:20%;">{{ "Prénom"|trans }}</th>
								<td colspan="3">
									{{ booking.user.shortUsername }}
								</td>
							</tr>
							{% if booking.statut >= 2 %}
							<tr>
							  <th>{{ "Adresse"|trans }}</th>
							  <td>{{ booking.user.address1 }}</td>
							  <th style="width:20%;">{{ "Complément"|trans }}</th>
							  <td>{{ booking.user.address2 }}</td>
							</tr>
							<tr>
							  <th>{{ "Code postal"|trans }}</th>
							  <td>{{ booking.user.postalCode }}</td>
							  <th>{{ "Ville"|trans }}</th>
							  <td>{{ booking.user.city }}</td>
							</tr>
							<tr>
							  <th>{{ "Fixe"|trans }}</th>
							  <td>{{ booking.user.phone }}</td>
							  <th>{{ "Portable"|trans }}</th>
							  <td>{{ booking.user.mobile }}</td>
							</tr>
							{% endif %}
							<tr>
							  <th>{{ "Cheveux"|trans }}</th>
							   <td colspan="3">{{ booking.user.cheveuxLabel }}</td>
							</tr>
							<tr>
							  <th>{{ "Peau"|trans }}</th>
							   <td colspan="3">
								    <ul>
									{% for competence in booking.user.peau %}
										<li style="margin-right:10px;display:inline;">
										{% if competence.couleurPeau %}
										<div class="img-circle img-thumbnail" style="width:50px;height:50px;background-color:#{{ competence.couleurPeau }}"></div>
										{% else %}
										{{ competence.title }}
										{% endif %}
										</li>
									{% endfor %}
									</ul>
							   </td>
							</tr>
							<tr>
							  <th>{{ "Preferences"|trans }}</th>
							   <td colspan="3">{{ booking.user.preferencesLabel }}</td>
							</tr>
							<tr>
								<th>{{ "Autres photos"|trans }}</th>
								<td colspan="3">
									<ul class="liste-photo">
									{% for image in booking.user.images %}
										<li><a rel="facebox" href="{{ image.urlZoom }}"><img class="img-thumbnail" src="{{ image.url }}"/></a></li>
									{% endfor %}
									</ul>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="4" class="text-center">
									{% if booking.statut > 1 %}
										 <a class="btn btn-primary" href="{{ path('message_newdiscussion', {'destinataire_id' : booking.user.id }) }}"><span class="glyphicon glyphicon-send"></span> &nbsp;&nbsp;{{ "Envoyer un message à"|trans }} {{ booking.user.shortUsername }}</a>
									{% endif %}
								</th>
							</tr>
						</tfoot>
					</table>
				
				</div>
				{% endif %}

					
				<div class="row">
					<div class="col-lg-12">
						<a style="margin:30px;" class="btn btn-primary" href="{{ path('booking_index') }}"><span>{{ "Retour"|trans }}</span></a>
					</div>
				</div>
						
					

			</div>
		    
		</div>
	</div>

</div>
{% endblock %}