{% extends "CoreBundle::layout.html.twig" %}

{% block meta_title %}{{ content.metaTitle }}{% endblock %}
{% block meta_description %}{{ content.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ content.metaKeywords }}{% endblock %}

{% block facebook_metas %}
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ content.title }}" />
    <meta property="og:description" content="{{ content.description|truncate(200) }}" />
    {% if content.imagePrincipale is not null %}
        <meta property="og:image" content="{{ content.imagePrincipale.url }}"/>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fotorama/fotorama.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{getGmapApi()}}&signed_in=false&sensor=false&callback=initMap" async defer></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fotorama/fotorama.css') }}" rel="stylesheet">
{% endblock %}

{% block body_content %}

    <div class="container-fluid title title_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>CONDITIONS GENERALES DE VENTE ET D’UTILISATION MY BEAUTY BOOKING</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                CONDITIONS GENERALES DE VENTE ET D’UTILISATION
                MY BEAUTY BOOKING
                MENTIONS LEGALES
                Le Site www.mybeautybooking.fr est édité par la Société ALL BEAUTY
                CORP, Société par Actions Simplifiées au capital social de 5000 euros, dont le
                siège social est situé à Paris (75020), 3 rue Victor Dejeante, immatriculée au
                RCS de Paris sous le numéro (RCS PARIS 831 649 678).
                Le Site www.mybeautybooking.fr est hébergé par la Société Waycom située au
                5 quai Marcel Dassault, 92150 Suresnes.
                PREAMBULE
                Les présentes conditions générales d’utilisation et de vente s'appliquent entre la
                Société MY BEAUTY BOOKING, Société par Actions Simplifiées au capital
                social de 5000 euros, dont le siège social est situé à Paris (75020), 3 rue Victor
                Dejeante, immatriculée au RCS de Paris sous le numéro (RCS PARIS 831 649 678),
                ci-après dénommée « la Société » ou encore « MY BEAUTY BOOKING », et toute
                personne physique effectuant une Commande via le Site Internet www.
                mybeautybooking.fr, ci-après dénommée " L’Utilisateur ".
                Les présentes conditions visent à définir les modalités de vente à distance entre la
                Société et l’Utilisateur, de la commande au paiement de la prestation, et régissent
                l’utilisation et l’accès par l’Utilisateur du Site www.mybeautybooking.fr, ainsi qu’à
                tous les services qui lui sont fournis indirectement par le site (courriels, sms,etc.).
                Elles règlent toutes les étapes nécessaires à la passation de la commande et assurent
                le suivi de cette commande entre les parties contractantes.
                La passation d'une commande sur le Site, édité par la Société MY BEAUTY
                BOOKING, implique sans réserve l'acceptation des dispositions des présentes
                conditions.
                L'Utilisateur déclare être âgé d'au moins 18 ans et avoir la capacité juridique ou être

                1	titulaire d'une autorisation parentale lui permettant d'effectuer une commande sur le
                Site.
                DEFINITIONS :
                « Charte de qualité » désigne le document établi par la Société,
                présentant les engagements et valeurs souscrits par les professionnels de
                beauté partenaires ;
                « Commande » désigne l’achat par l’Utilisateur d’une prestation
                disponible sur le Site et proposée par un professionnel de la beauté
                partenaire ;
                « Conditions générales d’utilisation » désigne les présentes conditions
                ainsi que toute éventuelle modification effectuée ultérieurement par la
                Société ;
                « Coordonnées » désigne l’ensemble des informations renseignées par
                l’Utilisateur sur le Site ;
                « Parties » désigne à la fois l’Utilisateur du Site et la Société ; «
                Prestations » désigne les soins de beauté, coiffure, maquillage et
                prestations
                esthétiques proposés aux Utilisateurs par les professionnels de la beauté
                partenaires ;
                « Professionnel de beauté partenaire » désigne le prestataire de
                service, personne physique ou morale adhérent du Site
                www.mybeautybooking.fr, réalisant les soins de beauté, coiffure,
                maquillage et prestations esthétiques à destination de l’Utilisateur
                ayant réservé la prestation ;
                « Service » désigne la plateforme de mise en relation entre les
                Utilisateurs et les Professionnels de beauté partenaires, mise à la
                disposition par la Société ;

                2	« Site » désigne le site internet www.mybeautybooking.fr exploité par la
                société MY BEAUTY BOOKING ;
                « Utilisateur » désigne toute personne consultant le Site et qui y est
                régulièrement inscrit.
                ARTICLE 1 : DESCRIPTION DU SERVICE
                Le Site internet www.mybeautybooking.fr a pour objet de mettre en
                relation l’Utilisateur et des professionnels de la beauté, via l’utilisation
                d’un outil de prise de rendez-vous, hébergé sur les serveurs de la Société.
                Un référencement des professionnels de beauté partenaires est mis en
                place par le Site, permettant à l’Utilisateur de comparer et choisir une
                prestation.
                L’Utilisateur a la possibilité d’acheter une prestation pour l’utiliser
                personnellement ou l’offrir à une personne tierce de son choix.
                Lors de la prise de rendez-vous avec le professionnel de beauté
                partenaire, la disponibilité de la prestation est communiquée, à titre
                indicatif, à l’Utilisateur. La Société ne saurait être tenue garante et
                responsable de la disponibilité ou non du professionnel de beauté
                partenaire, sachant qu’en cas d’indisponibilité, le professionnel de beauté
                partenaire contactera l’Utilisateur dans les plus brefs délais afin de lui
                proposer un autre créneau de rendez-vous pour la réalisation de la
                prestation achetée.
                Pour le cas où le nouveau créneau de rendez-vous ne conviendrait pas à
                l’Utilisateur, la Société procédera à un remboursement de la prestation
                achetée au bénéfice de l’Utilisateur .
                Le professionnel de beauté partenaire proposera, sur son espace
                personnel créé sur le Site, d’éventuelles réductions à valoir sur les

                3	prestations pouvant être commandées par l’Utilisateur.
                En cas d’annulation d’une prestation commandée par l’Utilisateur,
                jusqu’à 24 heures avant sa réalisation, l’Utilisateur se verra remboursé
                du montant intégral de sa commande, diminution faite des frais de
                réservation.
                En cas d’annulation d’une prestation commandée par l’Utilisateur,
                jusqu’à deux heures avant sa réalisation, l’Utilisateur se verra remboursé
                du montant de sa commande, à hauteur de 70 % de son montant,
                déduction faite des frais de réservation.
                En cas d’annulation d’une prestation commandée par l’Utilisateur, moins
                de 2 heures avant sa réalisation, ou en cas de non-présentation de
                l’Utilisateur, le montant de la commande sera débité en intégralité, sans
                remboursement possible au bénéfice de l’Utilisateur.
                En cas de retard de plus de 15 minutes de l’Utilisateur lors de la
                présentation pour la réalisation de la prestation commandée, le
                professionnel de beauté partenaire sera libre de refuser d’effectuer la
                prestation, laquelle sera alors remboursée intégralement à l’Utilisateur,
                déduction faite des frais de réservation.
                ARTICLE 2 : MODALITES D’INSCRIPTION ET D’ADHESION AU
                SITE PAR LE PROFESSIONNEL PARTENAIRE
                Le professionnel de beauté partenaire devra respecter, lors de son
                inscription sur le Site, les conditions suivantes :
                - Disposer du diplôme ou de la formation nécessaire à l’exercice
                de l’activité qui sera promue sur son espace personnel ;
                - Exercer leur activité de manière indépendante ;
                - Justifier d’une assurance de responsabilité civile

                4	professionnelle.
                Des profils de particuliers souhaitant exercer dans le domaine de la
                coiffure par le biais du site www.mybeautybooking.fr pourront adhérer à
                la plateforme sous réserve de proposer et effectuer exclusivement des
                prestations ne nécessitant aucun usage de matériels ou produits
                normalement utilisés par des professionnels de la coiffure diplômés.
                Les prestations ne peuvent être réalisées qu’à l’usage des mains et de
                petits accessoires de coiffure uniquement.
                Dans le cadre de leur activité sur la plateforme, ces profils de particuliers
                doivent fournir une attestation de responsabilité civile personnelle.
                Ces profils particuliers doivent déclarer tous revenus générés à
                l’administration fiscale en qualité de complément de revenus et My
                Beauty Booking ne pourra, en aucun cas, être tenu responsable du non-
                respect des obligations en matière fiscale par les profils de particuliers.
                Le professionnel de beauté partenaire s’engage, lors de la réalisation de
                la prestation de service à destination de l’Utilisateur ayant réservé le
                soin, à adopter un ton courtois, à respecter les règles d’hygiène et de
                sécurité, en utilisant notamment un matériel adapté, propre et désinfecté
                après chaque utilisation. L’absence avérée de respect de ces règles
                pourra conduire la Société à résilier l’inscription et l’adhésion souscrite
                par le professionnel de beauté partenaire.
                L’adhésion du professionnel de beauté partenaire, aux services du Site, et
                notamment la possibilité de réaliser des prestations de soins à destination
                d’Utilisateurs, sera facturé moyennant un prélèvement bancaire mensuel
                prélevé par la Société, à hauteur de 20 euros hors taxes, lequel
                interviendra le 5 de chaque mois.
                Le professionnel de beauté partenaire aura la faculté, à tout moment et
                sur simple demande effectuée par mail ou courrier, de résilier son
                adhésion aux services du Site.
                Mis à part les conditions de diplôme, de statut juridique professionnel et

                5	d’assurance professionnelle, les profils de particuliers sont soumis aux
                mêmes règles stipulées dans les présentes conditions générales
                d’utilisation que les professionnels de beauté adhérant à la plateforme.
                ARTICLE 3 : ACCESSIBILITE DU SITE – CREATION DE COMPTE
                Afin de pouvoir réserver des prestations auprès des professionnels de
                beauté partenaires, tout Utilisateur doit au préalable s’inscrire sur le Site,
                un seul compte étant autorisé par l’Utilisateur.
                L’Utilisateur s’engage à communiquer à MY BEAUTY BOOKING des
                informations personnelles exactes et actualisées, toute modification
                éventuelle des coordonnées devant être renseignée par l’Utilisateur.
                L’Utilisateur s’engage à conserver ses identifiants et mot de passe de
                connexion et à ne pas les divulguer sous quelque forme que ce soit. A cet
                égard, l’Utilisateur est seul responsable de ses identifiants et mot de
                passe de connexion. En cas de perte, l’Utilisateur s’engage à mettre en
                œuvre dans les plus brefs délais la procédure de modification des
                identifiants et mot de passe de connexion telle que prévue sur la page du
                site adéquate.
                L’Utilisateur est seul responsable des contenus qu’il publie sur le Site. Il
                s’engage à ne pas usurper l’identité d’un tiers, diffuser toute image,
                donnée, information ou lien revêtant un caractère notamment
                pornographique, violent, raciste et d’une manière générale, tout élément
                contrevenant aux lois et règlements français en vigueur.
                L’Utilisateur s’interdit également de modifier et/ou reproduire tout
                élément composant le Site, et de manière générale de porter atteinte aux
                droits de propriété intellectuelle attachés au Site et détenus par MY
                BEAUTY BOOKING.

                6	ARTICLE 4 : ACCESSIBILITE DU SITE – COMMANDE D’UNE
                PRESTATION
                L’Utilisateur, régulièrement inscrit sur le Site, a la possibilité de
                rechercher et d’acheter sur le Site une prestation auprès d’un des
                professionnels de beauté partenaires.
                La Commande de la prestation s’effectue à partir du compte personnel de
                l’Utilisateur, ce dernier communiquant l’adresse à laquelle la prestation
                sera réalisée.
                La Commande de la prestation est ensuite transmise au professionnel de
                beauté partenaire, lequel fait part de sa disponibilité, l’Utilisateur se
                voyant confirmé par SMS et par mail la réservation de la prestation à
                l’adresse et au lieu fixés.
                Il est rappelé que MY BEAUTY BOOKING ne saurait être responsable
                en cas de non- intervention du professionnel de beauté partenaire ou de
                retard dans l’exécution de la prestation, la Société n’intervenant à aucun
                moment dans le cadre des relations contractuelles commerciales entre
                l’Utilisateur et le professionnel de beauté partenaire, mais s’engageant
                uniquement à mettre en relation l’Utilisateur avec le prestataire afin que
                ce dernier réalise la ou les prestation(s) objet(s) de la Commande.
                ARTICLE 5 : ACCESSIBILITE DU SITE – PAIEMENT DU PRIX DE
                LA PRESTATION
                Le règlement de la prestation sera effectué en ligne par l’Utilisateur via
                la page de paiement du site www.mybeautybooking.fr, par carte
                bancaire, lors de la réservation de la prestation. L’Utilisateur doit choisir

                7	le type de carte bancaire qui servira au règlement de la prestation, et doit
                obligatoirement renseigner les champs « Titulaire de la carte », «
                Numéro de carte bancaire », « Date d’expiration » et « Cryptogramme ».
                (Le cryptogramme étant demandé pour tout paiement supérieur à 20
                euros). Le paiement est effectué par l’intermédiaire de la société
                MANGOPAY SA (voir détail en annexe).
                L’Utilisateur désirant obtenir une facture du règlement de la prestation
                doit en formuler la demande directement au prestataire, lequel est seul
                habilité à lui fournir.
                A compter de la date de la prestation, l’Utilisateur dispose d’un délai de
                48 heures pour confirmer à MY BEAUTY BOOKING la bonne
                réalisation de la prestation. A l’issue de ce délai, et en l’absence de
                confirmation ou de contestation par l’Utilisateur, MY BEAUTY
                BOOKING considèrera que la confirmation par l’Utilisateur est
                implicite.
                Les sommes seront ensuite débloquées au profit du professionnel de
                beauté partenaire et de la société MY BEAUTY BOOKING (sur un
                compte bancaire domicilié à la banque LCL Paris Chaillot), dans un délai
                maximal de 72 heures.
                En cas de contestation par l’Utilisateur de la bonne réalisation de la
                prestation, MY BEAUTY BOOKING s’efforcera de régler les différends
                rencontrés en invitant l’utilisateur et le professionnel à rechercher une
                solution amiable au conflit.
                ARTICLE 6 : ACCESSIBILITE DU SITE – NOTATION PAR
                L’UTILISATEUR
                Après la réalisation de la prestation, l’Utilisateur a la possibilité de noter
                le professionnel de beauté partenaire, et de mettre en ligne un
                commentaire sur l’exécution de la prestation.

                8	Il est précisé que la notation tient compte de la cohérence entre la
                demande de l’Utilisateur et le résultat final de la prestation, ainsi que le
                comportement dont a fait preuve le professionnel de beauté partenaire au
                cours de la réalisation de la prestation.
                La notation est comprise entre 1 et 5 étoiles.
                L’Utilisateur accepte que tout contenu publié soit rendu public.
                L’Utilisateur s’engage à ne pas mettre en ligne de commentaire revêtant
                un caractère notamment pornographique, violent, raciste et d’une
                manière générale, contrevenant aux lois et règlements français en
                vigueur.
                ARTICLE 7 : DROIT DE RETRACTATION DE L’UTILISATEUR
                Conformément aux dispositions prévues à l’article L. 121-21-8 du Code
                de la Consommation, il est précisé que l’Utilisateur ne dispose d’aucun
                droit de rétractation à la suite de la confirmation de la Commande de la
                prestation, laquelle fait ainsi débuter l’exécution de la prestation.
                Le délai de rétractation ne peut être exercé par l’Utilisateur, s’agissant de
                prestations personnalisées, réalisées selon les spécificités de l’Utilisateur.
                L’Utilisateur reconnaît ainsi et accepte expressément qu’il ne dispose
                d’aucun droit de rétractation.
                ARTICLE 8 : LIMITATION DE RESPONSABILITE DE MY
                BEAUTY BOOKING
                La responsabilité de MY BEAUTY BOOKING est strictement limitée à

                9	la mise à disposition pour les Utilisateurs des fonctionnalités du Site, la
                Société n’étant pas un fournisseur de prestations offerts sur le Site, et
                n’intervient qu’en qualité d’intermédiaire technique entre les Utilisateurs
                et les professionnels de la beauté partenaires.
                Bien qu’ayant mis en place tout moyen nécessaire à la prévention des
                virus et du piratage informatique, MY BEAUTY BOOKING ne saurait
                être tenue à une obligation de résultat quant à la survenance de risques
                d’intrusion sur le Site, et décline à ce titre toute responsabilité.
                MY BEAUTY BOOKING ne saurait par ailleurs être responsable des
                dysfonctionnements et aléas indépendants qui pourraient être rencontrés
                sur le Site, tels que des problèmes de connexion dus au fournisseur
                d’accès internet de l’Utilisateur.
                L’Utilisateur reconnaît par ailleurs expressément que l’ensemble des
                photographies et images présentes sur le Site ne sont pas contractuelles.
                Il appartient à ce dernier de vérifier les informations communiquées par
                le professionnel de la beauté partenaire pour s’assurer de sa compétence,
                MY BEAUTY BOOKING déclinant toute responsabilité dans le cadre
                des relations contractuelles commerciales entre l’Utilisateur et le
                prestataire
                MY BEAUTY BOOKING ne saurait être responsable des liens
                hypertextes qui pourraient être fournis occasionnellement par des tiers
                sur le Site, et qui ne peuvent être contrôlés par la Société. MY BEAUTY
                BOOKING n’est de même pas responsable des liens hypertextes figurant
                sur des sites tiers et renvoyant vers le Site et ses services.
                ARTICLE 9 : DUREE - RESILIATION
                L’accès par l’Utilisateur au Site s’effectue 24 heures sur 24 et 7 jours sur
                7 et l’utilisation de services qui y sont proposés peut s’effectuer de 6

                10	heures à 22 heures et 7 jours sur 7. L’Utilisateur peut à tout moment
                clôturer son compte, valant ainsi résiliation. Les présentes conditions
                demeureront applicables jusqu’à la parfaite clôture du compte de
                l’Utilisateur, étant précisé que toute Commande souscrite avant la clôture
                du compte devra être exécutée par l’Utilisateur et le prestataire.
                A l’initiative de MY BEAUTY BOOKING, et en cas de non-respect des
                présentes conditions, la Société se réserve le droit, sans préavis ni
                indemnité, de suspendre ou résilier, temporairement ou définitivement, le
                compte de l’Utilisateur.
                ARTICLE 10 : DONNEES PERSONNELLES
                MY BEAUTY BOOKING s’engage à respecter la règlementation en
                vigueur relative à la protection des données personnelles des Utilisateurs
                du Site.
                Conformément à la Loi n°78-87 du 6 janvier 1978 modifiée, dite
                « Informatiques et Libertés », les données à caractère personnel des
                Utilisateurs du Site feront l’objet d’une collecte et d’un traitement
                automatisés dont seul le personnel habilité de MY BEAUTY BOOKING
                et les professionnels concernés habilités seront destinataires, afin de
                permettre l’accès et l’utilisation du Site. Les traitements mis en œuvre
                ont fait l’objet d’une déclaration CNIL (Commission Nationale de
                l’Informatique et des Libertés).
                En application des dispositions des articles 38 et suivants de la loi du 6
                janvier 1978, l’Utilisateur dispose d’un droit d’accès, de rectification et
                de suppression des données le concernant, qui peut être exercé par
                demande adressée par courrier à MY BEAUTY BOOKING, 3 rue Victor
                Dejeante – 75020 PARIS, ou par mail, à contact@mybeautybooking.fr .

                11	ARTICLE 11 : COOKIES
                L’Utilisateur est informé que la consultation du Site est de nature à
                générer l’apparition de cookies, dans le but de collecter des informations
                permettant d’évaluer les fonctionnalités de navigation sur le Site.
                L’Utilisateur peut choisir à tout moment de paramétrer sa navigation sur
                le Site, et notamment de désactiver les cookies, toute modification du
                paramétrage de navigation étant toutefois susceptible de modifier les
                conditions d’accès et d’utilisation du Site.
                ARTICLE 12 : LOI APPLICABLE ET COMPETENCE
                JURIDICTIONNELLE
                Tout différend et litige relatif à l’application ou à l’interprétation des
                présentes conditions sera régi par les dispositions de droit français.
                Les Parties tenteront en premier lieu de chercher une solution amiable
                pour le règlement de leur différend. En l’absence de solution amiable,
                tout différend entre les Parties relèvera de la compétence des tribunaux
                de Paris.
                ARTICLE 13 : TRADUCTION – NULLITE PARTIELLE – ABSENCE
                DE RENONCIA TION
                Pour le cas où les présentes conditions feraient l’objet d’une traduction,
                seule la version française de ces conditions générales d’utilisation fera
                foi.

                12	Dans l’hypothèse où l’une des conditions générales d’utilisation serait
                inopposable, nulle ou inapplicable de quelque manière que ce soit, il est
                précisé que la validité des autres dispositions des présentes conditions
                n’en est nullement affectée et conservera plein effet.
                Il est par ailleurs précisé que le retard ou l’inaction de MY BEAUTY
                BOOKING dans la préservation d’un de ses droits ne portera atteinte
                audit droit et ne saurait l’en priver, ledit droit conservant ainsi plein effet.
                ANNEXE

                13	CONTRAT-CADRE D’EMISSION, GESTION, MISE A DISPOSITION DE
                MONNAIE ELECTRONIQUE MANGOPAY
                Conditions Générales d’Utilisation de la Monnaie Electronique
                (version pour la France)
                Conclu entre : 
                Le client du Site, une personne physique (nom, prénom, date lieu de naissance, adresse) et
                majeure capable, résident dans un Etat membre de l’Union Européenne ou dans un Etat partie à
                l’Espace Economique européen ou dans un pays tiers imposant des obligations équivalentes en
                termes de lutte contre le blanchiment et le financement du terrorisme.
                ou
                Le client du Site, une personne morale immatriculée au RCS dans un Etat membre de l’Union
                Européenne ou dans un Etat partie à l’Espace Economique européen ou dans un pays tiers
                imposant des obligations équivalentes en termes de lutte contre le blanchiment et le financement
                du terrorisme,
                ci-après dénommé(e) l’« Utilisateur », d’une part
                et
                MANGOPAY SA, société anonyme de droit luxembourgeois, au capital de 2.000.000 euros, dont
                le siège social est situé 59 Boulevard Royal, L-2449 Luxembourg et immatriculée au Registre du
                commerce et des sociétés luxembourgeois sous le numéro B173459, habilitée à exercer son
                activité en France en libre établissement, en qualité d’établissement de monnaie électronique
                agréé par la Commission de Surveillance du Secteur Financier, 110 route d’Arlon L-1150
                Luxembourg, http://www.cssf.lu/
                ci-après dénommée l’ « Emetteur », d’autre part
                ci-après ensemble dénommées les « Parties »,
                Avertissement
                Veuillez lire attentivement les présentes Conditions Générales d'Utilisation de la Monnaie
                Electronique et les Conditions Tarifaires qui vous ont été communiquées sur le Site avant de les
                accepter.
                Vous êtes informés que la langue utilisée pour communiquer avec l’Emetteur est le français ou
                l’anglais.
                1. Définitions
                1Pour les besoins des présentes, les termes ci-après sont définis comme suit :
                « Banques » : établissements de crédit qui conservent les fonds collectés par l’Emetteur
                correspondant à la Monnaie Electronique en circulation. Les établissements retenus sont à ce jour
                le Crédit Mutuel Arkéa et ING Luxembourg. L’Emetteur se réserve la possibilité de sélectionner
                tout autre établissement de crédit agréé dans un Etat membre de l’Union Européenne ou partie à
                l’accord relatif à l’Espace Economique Européen.
                « Bénéficiaire » : Personne physique ou morale agissant pour son compte, désignée par
                l’Utilisateur parmi les personnes clientes du Site, au profit de laquelle est transférée la Monnaie
                Electronique dans le cadre d’une Opération de Paiement. Tout Bénéficiaire peut devenir un
                Utilisateur au sens des présentes à compter de son acceptation du Contrat-cadre sous réserve
                d’acceptation par l’Emetteur. Dans certain cas, le Bénéficiaire peut être le Distributeur
                conformément aux Conditions Particulières.
                « Carte » : carte bancaire, de paiement ou de crédit utilisée par l’Utilisateur pour remettre des
                fonds à l’Emetteur en contrepartie de l’émission de Monnaie électronique. Cette carte est
                rattachée à l’un des réseaux suivants : Visa, MasterCard, CB, Amex.
                « Conditions générales » : Désigne le présent document intitulé « Contrat-cadre d’émission,
                gestion et mise à disposition de monnaie électronique, Conditions Générales d’Utilisation de la
                Monnaie Electronique MANGOPAY».
                « Conditions Particulières d’Utilisation de la Monnaie Electronique » : Désigne le formulaire
                à remplir par l’Utilisateur sur le Site comprenant les données personnelles de ce dernier et les
                Conditions Tarifaires applicables à la Monnaie électronique.
                « Conditions Générales du Site » : Désigne les conditions générales d’utilisation du Site
                conclues entre l’Utilisateur agissant en qualité de client du Site et le Distributeur, régissant
                notamment l’accès au Site.
                « Contrat-cadre » : Désigne le Contrat cadre d’émission, gestion, mise à disposition de Monnaie
                Electronique MANGOPAY composé des Conditions Générales et des Conditions Particulières
                d’Utilisation de la Monnaie Electronique.
                « Conditions Tarifaires » : Désigne le document comprenant l’ensemble des frais versés pour
                l’acquisition, l’utilisation et la gestion de la Monnaie électronique telles que prévues dans les
                Conditions Particulières d’Utilisation.
                « Compte » : Désigne une référence interne permettant à l’Emetteur d’identifier dans ses livres
                les différentes opérations d’acquisition, d’utilisation et de remboursement de Monnaie
                électronique réalisées au nom d’un même Utilisateur et de déterminer, à tout moment, le montant
                en euro de Monnaie Electronique disponible détenue par ce dernier. Le Compte ne peut en aucun
                cas être assimilé à un compte de dépôt, un compte courant ou à un compte de paiement.
                « Distributeur » : Désigne l’entité, dont les coordonnées sont indiquées dans les Conditions
                Particulières, qui exploite le Site. Le Distributeur prépare, facilite et conseille ses clients, en vue
                de la conclusion du Contrat-cadre par l’intermédiaire de son Site. Il accompagne ses clients tout
                2au long de leur relation avec l’Emetteur dans le cadre de la réalisation de leurs Opérations de
                paiement et Remboursement. A cet effet, le Distributeur met à la disposition de tout client un
                service client dédié aux Opérations de paiement exécutées en application des présentes. Le
                Distributeur ne collecte pas les fonds à l’exception des frais convenus dans les Conditions
                Tarifaires.
                « Emetteur » : Désigne MANGOPAY. SA, émetteur de la Monnaie Electronique agréé à ce titre
                au Luxembourg par la Commission de Surveillance du Secteur Financier sous les références
                n°3812 et habilité à exercer son activité dans le pays d’accueil indiqué dans les Conditions
                Particulières. L’Emetteur figure sur la liste des établissements de monnaie électronique
                consultable sur http://supervisedentities.cssf.lu/index.html?language=fr#Home
                « Identifiant » : Désigne les données nécessaires à l’identification d’un Utilisateur par
                l’Emetteur pour la réalisation d’une Opération de paiement se composant d'un User (adresse
                email valide)
                « Jour Ouvré » : Désigne un jour calendaire à l’exception des samedis, dimanches, et jours
                fériés en France métropolitaine, au Luxembourg et dans le pays d’accueil indiqué dans les
                Conditions Particulières, au cours duquel les infrastructures de paiement de ces pays et les
                Banques utilisées exerce leurs activités en fonctionnement régulier.
                « Monnaie Electronique » : Désigne la valeur monétaire disponible représentant une créance de
                l’Utilisateur sur l’Emetteur. La Monnaie Electronique est émise par l’Emetteur contre la remise
                des fonds en euro (€) correspondants par l’Utilisateur et constitue un moyen de paiement accepté
                exclusivement par les Bénéficiaires. L’Emetteur la conserve sous une forme électronique sur son
                serveur par l’inscription sur un Compte ouvert à cet effet.
                « Ordre » : Désigne l’instruction donnée par l’Utilisateur à l’Emetteur conformément à la
                procédure prévue au Contrat-Cadre en vue d’exécuter une Opération de paiement et/ou un
                Remboursement.
                « Opération de paiement » : Désigne le transfert de Monnaie Electronique au profit d’un
                Bénéficiaire désigné sur le Site par un Utilisateur.
                « Page de paiement » : Désigne la page sécurisée par Payline, le prestataire monétique de
                l’Emetteur. Seule cette adresse doit être considérée comme valable par l’Utilisateur. L’Utilisateur
                est invité à vérifier systématiquement l’adresse figurant en haut de sa page.
                « Remboursement » : Désigne le transfert par l’Emetteur sur Ordre de l’Utilisateur, des fonds
                scripturaux correspondant à tout ou partie de la Monnaie Electronique disponible détenue par lui
                diminuée des éventuels frais dus.
                « Site » : Désigne le site internet exploité par le Distributeur dont l’objet consiste à vendre des
                biens ou services à des Utilisateurs ou à collecter des fonds auprès d’eux, ou à mettre en relation
                des Bénéficiaires avec des Utilisateurs. Le Site dont l’adresse est indiquée dans les Conditions
                Particulières, a intégré l’API aux couleurs de la Marque pour permettre à l’Utilisateur de disposer
                d’un moyen de paiement émis et géré par l’Emetteur pour transférer des fonds au Bénéficiaire
                désigné.
                3« Utilisateur » : Toute personne physique ou morale agissant pour son compte détenant de la
                Monnaie Electronique inscrite sur un Compte ouvert à son nom, afin de réaliser une ou des
                Opérations de paiement.
                2. Objet
                Les présentes Conditions Générales ont pour objet de définir les conditions dans lesquelles
                l’Emetteur fournit à l’Utilisateur un moyen de paiement exclusivement accepté par les
                Bénéficiaires dans le cadre de leurs relations établies par l’intermédiaire du Site.
                Le moyen de paiement proposé doit être systématiquement prépayé par l’Utilisateur et ne fera
                l’objet d’aucune avance, crédit, ou escompte. Il repose sur la Monnaie électronique émise et
                gérée par l’Emetteur.
                L’Emetteur a mandaté le Distributeur pour proposer aux clients du Site ce moyen de paiement,
                faciliter la conclusion des présentes et accompagner les Utilisateurs tout au long de leurs relations
                avec l’Emetteur.
                Les Conditions Générales et les Conditions Particulières d’Utilisation de Monnaie Electronique,
                constituent l'intégralité du Contrat-cadre d’émission, gestion et utilisation de la Monnaie
                Electronique MANGOPAY, conclu entre les Parties.
                L’Utilisateur peut à tout moment et sans frais se procurer une copie de ces documents en se
                rendant sur le Site. Seul le Contrat-cadre fera foi entre les Parties en cas de litige.
                3. Inscription de l’Utilisateur 
                3.1 Conditions nécessaires et préalables à l’inscription de l’Utilisateur
                Toute personne physique âgée d’au moins 18 (dix- huit) ans, juridiquement capable, ainsi que
                toute personne morale, résidente ou immatriculée dans un Etat membre de l’Union Européenne
                ou dans un Etat partie à l’accord relatif à l’Espace Economique européen ou dans un pays tiers
                imposant des obligations équivalentes en termes de lutte contre le blanchiment et le financement
                du terrorisme, peut transmettre une demande d’ouverture de Compte sous réserve qu’elle soit
                cliente du Site.
                L’Utilisateur, personne physique, indiquera dans les Conditions Particulières s’il utilise la
                Monnaie électronique pour des besoins professionnels ou non professionnels. Le cas échéant, il
                sera considéré comme agissant pour des besoins exclusivement non professionnels en application
                des dispositions du Contrat-cadre.
                3.2 Procédure d’inscription et d’ouverture d’un Compte
                Le client devra transmettre au Distributeur :
                ses nom, prénom, adresse mail, date de naissance et nationalité (pour les personnes
                physiques), ou
                sa dénomination, sa forme sociale, son capital, l’adresse de son siège social, la description
                4de son activité, l’identité des associés et dirigeants sociaux, ainsi que la liste des
                bénéficiaires effectifs tels que définis par la réglementation (pour les personnes
                morales),
                si ces informations ne sont pas déjà en possession du Distributeur.
                Il devra indiquer un identifiant, composé d'un Identifiant et un mot de passe ou se connecter par
                l’intermédiaire de son compte Facebook. Il est entièrement responsable du maintien de la
                confidentialité de son Identifiant. Il accepte de ne pas utiliser le compte, nom ou Identifiant d'un
                autre utilisateur à aucun moment, ni de divulguer son Identifiant à un tiers. Il accepte d'avertir
                immédiatement le Distributeur, dans le cas où il soupçonnerait une utilisation non autorisée de
                son Identifiant .Il est seul responsable de toute utilisation de son Identifiant.
                Après avoir pris connaissance du Contrat-cadre, le client devra l’accepter suivant les modalités
                prévues par le Site et fournir toutes les informations et justificatifs qui lui sont demandés par le
                Distributeur. En donnant son accord sur les termes du Contrat-cadre, le client accepte que le
                Distributeur transmette à l’Emetteur sa demande d’inscription en qualité d’Utilisateur et toutes
                les pièces justificatives reçues par lui.
                L’Emetteur est le seul à pouvoir accepter l’inscription d’un client du Site en qualité d’Utilisateur
                et procéder à l’ouverture d’un Compte en son nom. Cet accord sera notifié à l’Utilisateur par le
                Distributeur par tout moyen suivant les modalités prévues sur le Site.
                L’Emetteur pourra, sans motivation, ni droit à indemnité en faveur du client du Site, refuser une
                demande d’inscription en qualité d’Utilisateur et d’ouverture d’un Compte. Ce refus sera notifié
                au Client par le Distributeur par tout moyen suivant les modalités prévues sur le Site.
                En outre, l’Emetteur se réserve le droit de demander à l’Utilisateur avant toute inscription et à
                tout moment pendant toute la durée du Contrat-cadre des informations et des données
                d’identification complémentaires aux fins de contrôle de son identité, ainsi que toutes pièces
                justificatives qu’il estimera utiles.
                L’Utilisateur déclare au moment de la transmission de sa demande d’inscription au Distributeur
                et pendant toute la durée du Contrat-cadre :
                - - (a) qu’il est âgé d'au moins 18 (dix-huit) ans et juridiquement capable ;
                - - (b) qu’il agit pour son propre compte ;
                -
                - (c) que toutes les informations fournies lors de son inscription sont sincères,
                exactes et à jour.
                -
                - 3.3 Limites d’utilisation du Compte
                Suivant la libre appréciation de l’Emetteur, un Utilisateur qui n’a pas transmis tous les documents
                requis ci-dessous pourra être expressément autorisé par l’Emetteur à utiliser son Compte pour
                5l’acquisition de biens ou services dans la limite de 2 500 euros de Monnaie Electronique détenue
                par un Utilisateur au cours d’une même année civile ou de 1000 € de remboursement au cour
                d’une même année civile, sous réserve que cette Monnaie Electronique n’ait fait l’objet d’aucune
                demande de Remboursement.
                - A réception de l’ensemble des documents listés ci-dessous et sous réserve qu’ils soient jugés
                satisfaisants par l’Emetteur, l’Utilisateur pourra détenir et initier des Remboursements de
                Monnaie Electronique au dessus des seuils mentionnés au cours d’une même année civile. Cette
                autorisation ne pourra être octroyée que si l’acquisition ou le Remboursement de Monnaie
                électronique est effectué en provenance ou à destination d’un compte ouvert au nom de
                l’Utilisateur auprès d’une personne mentionnée aux 1° à 6° de l’article L.561-2 du Code
                monétaire et financier établie dans un Etat membre de l’Union Européenne , dans un Etat partie à
                l’accord sur l’Espace Economique Européen ou dans un pays tiers imposant des obligations
                équivalentes en termes de lutte contre le blanchiment et le financement du terrorisme.
                Les documents requis pour tout Utilisateur personne physique conformément à ce qui précède
                sont les suivants :
                - une copie d’un document officiel d’identité en cours de validité permettant l’identification
                de l’Utilisateur 1
                - un justificatif de domicile datant de moins de 3 mois est susceptible d’être demandé par
                l’Emetteur.
                Les documents requis pour tout Utilisateur personne morale conformément à ce qui précède sont
                les suivants :
                - original ou copie d’un extrait du registre officiel datant de moins de trois mois constatant
                la dénomination, la forme juridique, l’adresse du siège social et l’identité des associés et
                dirigeants sociaux mentionnés aux 1° et 2° de l’article R.123-54 du Code de Commerce
                ou de leurs équivalents en droit étranger ;
                - une copie des statuts et des éventuelles décisions nommant le représentant légal certifiées
                conforme;
                - la déclaration des actionnaires à remplir par le dirigeant de la société
                - une copie d’un document officiel d’identité en cours de validité permettant l’identification
                du représentant légal et le cas échéant du bénéficiaire effectif. 1
                Il est expressément prévu que l’Emetteur se réserve la possibilité de demander à tout moment des
                1
                A l'intérieur de l'espace économique européen : passeport, carte nationale d'identité, permis de conduire ou titre de
                séjour de ressortissants de pays tiers à l'Union européenne
                En dehors de l'espace économique européen : passeport obligatoire, permis de conduire pour les USA et le Canada
                acceptés
                6documents complémentaires concernant l’Utilisateur, le Bénéficiaire, le bénéficiaire effectif ou
                toute Opération de paiement ou Remboursement.
                Le Bénéficiaire est réputé être le bénéficiaire effectif au sens de la réglementation. Le cas
                échéant, il s’engage à renseigner l’adresse mail, la date de naissance, la nationalité ainsi que
                l’adresse postale de la personne à qui le Bénéficiaire remettra les fonds.
                4. Fonctionnement d'un Compte 
                4.1 Achat de Monnaie Electronique
                L’acquisition de Monnaie Electronique peut être réalisée, par Carte (ou tout autre moyen
                accepté par l’Emetteur), en une ou plusieurs fois.
                Lorsqu’il souhaite effectuer une telle opération, l’Utilisateur procède à son identification sur le
                Site en indiquant son User (adresse mail valide) et son mot de passe ou en se connectant par
                l’intermédiaire de son compte Facebook.
                L’ordre de transfert de fonds est transmis sur une Page de paiement dédiée à cet effet.
                L’Emetteur pourra exiger pour tout paiement la saisie d’un code à usage unique notifié sur le
                téléphone portable de l’Utilisateur par l’établissement émetteur de la Carte. Le cas échéant, il
                appartient à l’Emetteur de refuser tout paiement suivant sa libre appréciation et sans que cette
                décision ne puisse donner lieu à une quelconque indemnisation. L’opération de transfert de fonds
                est exécutée par l’établissement émetteur de la Carte. Toute contestation d’un tel transfert doit
                être notifiée audit établissement. L’Emetteur n’est pas habilité à annuler un tel transfert.
                Nonobstant ce qui précède, l’Utilisateur peut obtenir le Remboursement de la Monnaie
                électronique conformément à l’article 4.4.
                L’inscription de la Monnaie électronique au nom de l’Utilisateur peut être conditionnée à la
                réception effective des fonds collectés déduction faite des frais convenus dans les Conditions
                Tarifaires.
                Dans l’hypothèse où le transfert des fonds est annulé par l’émetteur de la Carte à la suite d’une
                contestation, quel que soit le motif invoqué, l’Emetteur pourra dès réception de l’information
                suspendre ou annuler toute Opération de paiement, clôturer le Compte concerné, débiter à tout
                moment le Compte du montant de Monnaie Electronique correspondant aux fonds dont le
                transfert est annulé et procéder au recouvrement des sommes dues par l’Utilisateur par tout
                moyen.
                4.2 Fonctionnement du compte
                La Monnaie Electronique est stockée pour une durée indéterminée sur le Compte de
                l’Utilisateur par l’Emetteur dans les Conditions Tarifaires convenues.
                Le Compte est crédité par l’acquisition de Monnaie électronique contre la remise de fonds
                ordonnée par l’Utilisateur directement auprès de l’Emetteur par Carte (ou tout autre moyen
                accepté par l’Emetteur) déduction faite des frais correspondants tels que prévus par les
                7Conditions Tarifaires. Ce Compte est débité sur Ordre de l’Utilisateur de Monnaie électronique
                du montant de l’Opération de paiement ou de Remboursement réalisé et des frais y afférents tels
                que prévus par les Conditions Tarifaires. L’Emetteur est habilité à débiter à tout moment ce
                Compte du montant de Monnaie électronique correspondant aux frais dus et exigibles prévus
                dans les Conditions Tarifaires.
                Le montant de Monnaie Electronique disponible sur le Compte est immédiatement ajustée en
                fonction :
                des frais dus et exigibles, par l’Utilisateur du Compte, dont le paiement est réalisé en Monnaie
                Electronique ;
                des Ordres transmis (ou en cours de transmission) à l’Emetteur et portant sur la Monnaie
                Electronique stockée sur le Compte ;
                des fonds reçus par l’Emetteur en contrepartie de l’acquisition de Monnaie Electronique sur le
                Compte ;
                et toute annulation portant sur l’une des opérations précitées en application des présentes.
                4.4 Utilisation de la Monnaie Electronique en vue de réaliser une Opération de Paiement
                Avant de transmettre un Ordre, l’Utilisateur devra s’assurer qu’il dispose d’un montant de
                Monnaie Electronique disponible suffisant pour couvrir le montant de l’Opération de paiement et
                les frais y afférents tels que convenus dans les Conditions Tarifaires.
                Le cas échéant, il devra acquérir la Monnaie électronique suffisante conformément à l’article
                4.1 avant que l’Ordre ne puisse être valablement transmis à l’Emetteur pour exécution. La
                Monnaie électronique ne peut être détenue par l’Utilisateur que sous réserve de la remise
                effective des fonds correspondant. La Monnaie électronique ne peut en aucun être émise à crédit.
                Ainsi, lorsque le montant de Monnaie électronique disponible à la date d’exécution de l’Ordre par
                l’Emetteur est inférieur au montant de l’Opération de Paiement (frais inclus), l’Ordre est
                automatiquement refusé par l’Emetteur. L’information portant sur ce refus est mise à la
                disposition de l’Utilisateur sur le Site. Ce refus pourra donner lieu à des frais complémentaires
                conformément aux Conditions Tarifaires.
                Les modalités de transmission d’un Ordre par l’Utilisateur sont les suivantes :
                Lorsqu’il souhaite effectuer une Opération de paiement, l’Utilisateur procède à son
                identification sur le Site en indiquant son Identifiant et son mot de passe ou en se connectant par
                l’intermédiaire de son compte Facebook. Il remplit le formulaire adéquat sur la Page de paiement
                et communique le cas échéant les pièces justificatives demandées par l’Emetteur. Le formulaire
                devra indiquer les éléments suivants : le montant exprimé en euro (€) de l’Opération de paiement,
                les éléments permettant d’identifier le Bénéficiaire, la date d’exécution de l’Ordre et toute autre
                information requise. L’Ordre de paiement devient irrévocable, lorsque l’Utilisateur clique sur
                l’onglet de validation du formulaire L’Utilisateur reçoit alors un email de confirmation (« Date de
                réception »).
                8Dans certains cas, l’Utilisateur pourra remplir un formulaire unique contenant un ordre de
                transfert des fonds tel que prévu à l’article 4.1 et un Ordre permettant la réalisation d’un
                Opération de paiement conformément au paragraphe précédent.
                Exécution de l’Ordre
                Le montant des Opérations de Paiement vient s’imputer sur la Monnaie Electronique disponible
                inscrite sur le Compte pour être créditée en faveur du Bénéficiaire suivant les instructions de
                l’Utilisateur. Ainsi, le Bénéficiaire pourra procéder à l’ouverture d’un Compte conformément à
                l’article 3.2 pour recevoir la Monnaie électronique s’il n’est pas déjà Utilisateur. Les fonds
                correspondant à la Monnaie électronique utilisée pourront le cas échéant être directement
                transférés sur un compte bancaire ou de paiement ouvert au nom du Bénéficiaire dès réception
                des coordonnées de ce compte par l’Emetteur. Le Bénéficiaire doit à cet effet fournir le numéro
                IBAN et le code SWIFT du compte bancaire ou de paiement dont il est titulaire ainsi que son
                adresse. Ce compte devra être ouvert par un établissement bancaire ou de paiement établi dans un
                Etat membre de l’Union Européenne, d’un Etat partie à l’accord sur l’Espace Economique
                Européen ou dans un pays tiers imposant des obligations équivalentes en termes de lutte contre le
                blanchiment et le financement du terrorisme.
                Il est convenu entre les Parties que l’Opération de paiement sera exécutée au plus tard deux (2)
                Jours Ouvrés suivant la Date de réception si le Bénéficiaire dispose d’un Compte. Le cas échéant,
                la Date de réception devra être reportée à l’ouverture du Compte ou au jour de la collecte par
                l’Emetteur des coordonnées du compte bancaire ou de paiement du Bénéficiaire destinataire des
                fonds.
                Si la Date de réception n’est pas un Jour Ouvré, elle sera réputée être le Jour Ouvré suivant pour
                tout Ordre passé après 12h.
                4.4 Transmission et exécution d’un Ordre de Remboursement
                Lorsqu’il souhaite transmettre un Ordre de Remboursement, l’Utilisateur procède à son
                identification sur le Site en indiquant son Identifiant et son mot de passe ou en se connectant par
                l’intermédiaire de son compte Facebook. Il remplit le formulaire adéquat sur la Page de paiement
                et communique le cas échéant les pièces justificatives demandées par l’Emetteur. L’Utilisateur
                devra indiquer sur le formulaire les éléments suivants : le montant du Remboursement, la date
                d’exécution de l’Ordre et toute autre information requise. L’Ordre de paiement devient
                irrévocable, lorsque l’Utilisateur clique sur l’onglet de validation du formulaire. L’Utilisateur
                reçoit alors un email de confirmation (« Date de réception »).
                Le Remboursement interviendra par crédit de la Carte ayant servi à l’Utilisateur pour acquérir de
                la Monnaie électronique. Le cas échéant, il sera réalisé par transfert des fonds sur le compte
                bancaire ou de paiement du Bénéficiaire dont les coordonnées auront été notifiées à l’Emetteur
                (« Date de notification »). Il est convenu entre les Parties que le Remboursement sera exécuté au
                plus tard deux (2) Jours Ouvrés suivant la Date de réception ou de notification suivant le cas.
                Si la Date de réception n’est pas un Jour Ouvré, elle sera réputée être le Jour ouvré suivant pour
                tout Ordre passé après 12h.
                94.5 Retrait d’un Ordre
                Aucun Ordre ne peut être retiré par l’Utilisateur après la date à laquelle il est réputé irrévocable
                comme indiqué ci-dessus.
                5 Opposition d’Identifiant contestation d’Opération et Reporting
                5.1 Opposition d’Identifiant
                L’Utilisateur doit informer le Distributeur de la perte ou du vol de son Identifiant, du
                détournement ou de toute utilisation non autorisée de celui-ci ou de ses données dès qu’il en a
                connaissance afin d’en demander le blocage. Cette déclaration doit être réalisée:
                - par appel téléphonique au service client du Distributeur au numéro indiqué dans les
                Conditions Particulières,
                - directement par message électronique par l’intermédiaire du formulaire de contact
                accessible sur le Site.
                ou
                L’Emetteur par l’intermédiaire du Distributeur exécutera immédiatement la demande de mise en
                opposition de l’Identifiant concerné. L’événement sera enregistré et horodaté. Un numéro
                d’opposition avec horodatage sera communiqué à l’Utilisateur. Une confirmation écrite de cette
                mise en opposition sera adressée par le Distributeur à l’Utilisateur concerné par message
                électronique. L’Emetteur prend en charge le dossier sur le plan administratif et conserve toutes
                les traces pendant 18 (dix-huit) mois. Sur demande écrite de l’Utilisateur et avant l’expiration de
                ce délai, l’Emetteur communiquera une copie de cette opposition.
                Toute demande d’opposition doit être confirmée sans délai par l’Utilisateur concerné, par lettre
                signée de ce dernier, remise ou expédiée sous pli recommandé, ou email, à l’Emetteur à l’adresse
                postale en tête des présentes ou à l’adresse éventuellement indiquée dans les Conditions
                Particulières.
                L’Emetteur et le Distributeur ne sauraient être tenus pour responsable des conséquences d’une
                opposition par télécopie ou courriel, qui n’émanerait pas de l’Utilisateur.
                Une demande d’opposition est réputée faite à la date et à l’heure de réception effective de la
                demande par le Distributeur. En cas de vol ou d’utilisation frauduleuse de l’Identifiant,
                l’Emetteur est habilité à demander par l’intermédiaire du Distributeur, un récépissé ou une copie
                du dépôt de plainte à l’Utilisateur qui s’engage à y répondre dans les plus brefs délais.
                5. 2 Contestation d’une Opération
                Pour toute réclamation relative aux Opérations de paiement ou de Remboursement réalisées par
                l’Emetteur dans le cadre des présentes, l’Utilisateur est invité à s’adresser au service client du
                Distributeur ou à l’adresse indiquée à cet effet dans les Conditions Générales du Site.
                10Si un Ordre est exécuté par l’Emetteur avec des erreurs dues à une faute de ce dernier, l’Ordre est
                annulé et le Compte est rétabli dans la situation dans laquelle il se trouvait avant la réception de
                l’ordre de paiement. Par la suite, l’Ordre est représenté correctement.
                L’Utilisateur qui souhaite contester une opération non autorisée par lui doit contacter par
                téléphone le service client Distributeur (coordonnées figurant sur le Site) dans les plus brefs
                délais suivant sa prise de connaissance de l’anomalie et au plus tard 13 mois suivant l’inscription
                en compte de l’opération. Après validation de la légitimité de la demande, l’Emetteur procèdera à
                l’annulation de l’Ordre et rétablira sous forme d’un crédit temporaire le Compte dans l’état dans
                lequel il était si l’opération contestée n’avait jamais été effectuée. Après enquête sur la validité de
                la contestation, l’Emetteur ajustera le Compte en conséquence et est autorisé à contrepasser tout
                écriture indûment réalisée.
                En cas de perte ou de vol du dispositif de sécurité (Identifiant et mot de passe), les opérations non
                autorisées effectuées avant la notification de l’opposition sont à la charge de l’Utilisateur, dans la
                limite de 150 euros. Toutefois, la responsabilité de l’Emetteur n’est pas engagée en cas de faute
                de l’Utilisateur telle qu’un manquement volontaire ou constitutif d’une négligence grave à ses
                obligations, d’une transmission tardive de l’opposition ou de mauvaise foi. En cas de perte ou de
                vol de détournement du dispositif de sécurité personnalisé, les pertes résultant des Ordre passés
                avant l’opposition par l’Utilisateur sont supportées par l’Emetteur, sauf en cas de faute telle que
                définie ci-dessus. Les opérations réalisées après l’opposition sont supportées par l’Emetteur sauf
                en cas de fraude.
                L’Utilisateur peut contester une opération autorisée dont le montant exact n’est pas défini ou
                celles dont le montant final n’est pas celui auquel il pouvait raisonnablement s’attendre compte
                tenu de son profil, de ses dépenses passées et des conditions du Contrat-cadre. Cette demande
                doit être transmise à l’Emetteur dans les 8 semaines suivant l’exécution de l’Ordre sur le Compte.
                L’Emetteur est tenu de rembourser l’Utilisateur dans un délai de 10 jours ouvrables suivant la
                réception de la demande, si celle-ci s’avère justifiée compte tenu de la réglementation et si la
                demande comporte tous les éléments nécessaires à son examen par l’Emetteur. Celle-ci se réserve
                la possibilité de refuser un tel remboursement qui sera motivé et notifié à l’Utilisateur. Ce dernier
                s’engage à fournir tous les éléments nécessaires permettant de déterminer les circonstances de
                l’Opération de paiement. Les frais et cotisations résultant des Opérations concernées ne sont pas
                remboursés par l’Emetteur. Des frais indiqués dans les Conditions Particulières pourront être
                perçus en cas de contestation non justifiée d’une Opération.
                5.3 Reporting
                L’Utilisateur reconnaît que seul le relevé d’Opérations de paiement validé par l’Emetteur vaut
                reconnaissance par ce dernier du montant de Monnaie électronique disponible sur le Compte
                arrêté à la date indiquée sur le relevé. L’Utilisateur peut accéder à tout moment sur sa page
                personnelle accessible sur le Site au montant indicatif de Monnaie Electronique disponible sur
                son Compte. L’Utilisateur est invité à prendre connaissance avec attention de ces relevés et à les
                conserver.
                A chaque fin de Jour ouvré, l’Utilisateur dispose sur la page personnelle du Site un état des
                Opérations de paiement réalisées sur le Compte comprenant les informations suivantes :
                11- a) Une référence permettant d'identifier l'Opération de paiement concernée ;
                - b) Le cas échéant, les informations relatives aux parties impliquées dans l’Opération de
                paiement ;
                - c) Le montant de l'Opération de paiement concernée ainsi que, le cas échéant, l’objet de
                l’Opération de paiement réalisée ;
                - d) Le cas échéant, la date de réception de l'Ordre correspondant et/ou la date à laquelle est
                exécuté l’Opération de paiement correspondante.
                L’Emetteur met à la disposition de l’Utilisateur sur demande les relevés mensuels du Compte
                couvrant les 13 mois précédents.
                6. Modification du Contrat-cadre
                L’Emetteur se réserve le droit, à tout moment, de modifier le Contrat-cadre. Elles sont rendues
                accessibles par le Distributeur à tous les Utilisateurs sur le Site
                Tout Utilisateur peut refuser les modifications proposées et doit notifier son refus au Service
                Client du Distributeur par lettre recommandée avec avis de réception 2 mois avant la date
                d’entrée en vigueur des modifications proposées (cachet de la Poste faisant foi) à l’adresse du
                siège social de l’Emetteur indiquée en première page.
                A défaut d’avoir notifié son refus avant la date d’entrée en vigueur indiquée, ou, à défaut, avant
                un délai de [7] jours à compter de leur mise en ligne sur le Site, l’Utilisateur est réputé accepter
                les modifications proposées.
                Les relations entre les Parties après la date d’entrée en vigueur seront alors régies par la nouvelle
                version du Contrat-cadre.
                Il est par conséquent important que l’Utilisateur consulte ses emails et lise régulièrement le
                Contrat-cadre accessibles en ligne sur le Site à tout moment.
                En cas de refus par l’Utilisateur, ce refus donnera lieu, sans frais, à la résiliation du Contrat-
                cadre, ainsi qu’au Remboursement des unités de Monnaie Electronique lui appartenant.
                7. Sécurité
                L’Emetteur s’engage à assurer ses prestations dans le respect des lois et règlements applicables et
                des règles de l’art. Notamment, l’Emetteur mettra tout en œuvre pour assurer la sécurité et la
                confidentialité des données des Utilisateurs, conformément à la règlementation en vigueur.
                L’Emetteur se réserve le droit de suspendre temporairement l'accès au Compte en ligne pour des
                raisons techniques, de sécurité ou de maintenance sans que ces opérations n'ouvrent droit à une
                quelconque indemnité. Il s'engage à limiter ce type d'interruptions au strict nécessaire.
                12L’Emetteur ne saurait toutefois être tenu responsable à l’égard de l’Utilisateur des éventuelles
                erreurs, omissions, interruptions ou retards des opérations réalisées via le Site résultant d’un
                accès non autorisé à ce dernier. L’Emetteur ne saurait d’avantage être tenu responsable des vols,
                destructions ou communications non autorisées de données résultant d’un accès non autorisé au
                Site. En outre, l’Emetteur demeure étranger au lien de droit existant entre l’Utilisateur et le
                Bénéficiaire de l’Opération de Paiement. L’Emetteur ne saurait être tenu responsable des fautes,
                manquements ou négligence de l’Utilisateur ou du Bénéficiaire l’un envers l’autre.
                Le Distributeur est seul responsable de la sécurité et de la confidentialité des données échangées
                dans le cadre de l'utilisation du Site conformément aux Conditions Générales du Site, l’Emetteur
                étant responsable de la sécurité et de la confidentialité des données qu’il échange avec
                l’Utilisateur dans le cadre des présentes au titre de la création et de la gestion de son Compte,
                ainsi que des Opérations de paiement associées au Compte.
                8. Limitation de responsabilité de l’Emetteur
                L’Emetteur n'intervient en aucune manière dans les relations juridiques et commerciales et les
                éventuels litiges intervenant entre le Bénéficiaire et l’Utilisateur. L’Emetteur n'exerce aucun
                contrôle sur la conformité, la sécurité, la licéité, les caractéristiques et le caractère approprié des
                produits objet d’une Opération de paiement. A cet égard, il appartient à l’Utilisateur de prendre
                toutes les informations utiles avant de procéder à l’achat d’un produit ou service, la collecte de
                fonds ou toute opération en toute connaissance de cause. Chaque opération réalisée par
                l’Utilisateur donne naissance à un contrat directement formé entre lui et le ou les Bénéficiaires
                auquel l’Emetteur est étranger. Ce dernier ne pourra en conséquence être tenu responsable de
                l’inexécution ou de la mauvaise exécution des obligations qui en résultent, ni des préjudices
                éventuels causé à l’Utilisateur à ce titre.
                Nonobstant toute disposition contraire dans le présent Contrat, la responsabilité de l’Emetteur à
                l’égard d’un Utilisateur est limitée à la réparation des dommages directs tels que prévus par la
                réglementation.
                9. Engagements de l’Utilisateur
                L’Utilisateur garantit qu’aucun élément de son profil sur le Site ne porte atteinte aux droits de
                tiers ni n'est contraire à la loi, à l’ordre public et aux bonnes mœurs. L’Utilisateur atteste de la
                conformité, la licéité et le caractère approprié du Don réalisé au profit du Bénéficiaire effectif, de
                l’achat du bien au Bénéficiaire.
                Il s’engage à ne pas exécuter le Contrat-cadre d’une manière illégale ou dans des conditions
                susceptibles d’endommager, de désactiver, de surcharger ou d’altérer le Site. Il s’engage à ne pas
                usurper l’identité d’une autre personne ou entité, de falsifier ou dissimuler son identité, son âge
                ou créer une identité.
                En cas de manquement à ces obligations l’Emetteur se réserve le droit de prendre toute mesure
                appropriée afin de faire cesser les agissements concernés. Il sera également en droit de suspendre,
                supprimer et/ou bloquer son accès au Compte. Sans préjudice des actions judiciaires engagées par
                13des tiers, l’Emetteur est en droit d’exercer à titre personnel toute action en justice visant à réparer
                les préjudices qu’il aurait personnellement subis du fait des manquements de l’Utilisateur à ses
                obligations au titre du présent Contrat.
                10. Durée et résiliation
                Les Conditions Générales sont conclues pour une durée indéterminée. Elles entrent en vigueur
                à compter de la réception par l’Utilisateur de l’email de confirmation de son inscription.
                L’Utilisateur peut à tout moment et moyennant le respect d’un préavis de 30 (trente) jours
                calendaires, procéder à la résiliation du Contrat-cadre. L’Emetteur peut à tout moment et
                moyennant le respect d’un préavis de 2 mois procéder à la résiliation du Contrat-Cadre.
                Cette résiliation emporte résiliation de l’ensemble du Contrat-cadre et en conséquence
                fermeture du Compte.
                Chaque Partie doit, pour ce faire, adresser sa notification de résiliation des présentes à l’autre
                Partie, par lettre recommandée avec accusé de réception, à l’adresse postale ou email indiquée
                dans les Conditions Particulières.
                L’Utilisateur devra désigner dans le courrier de résiliation les coordonnées de son compte
                bancaire ou de paiement permettant à l’Emetteur de lui rembourser la Monnaie Electronique
                disponible. En l’absence d’indication, il appartient à l’Emetteur de suivre les instructions de
                Remboursement impliquant le remboursement par crédit de la Carte ayant servi à l’acquisition de
                la Monnaie Electronique. L’Emetteur est déchargé de toute obligation dès lors qu’il aura
                confirmé à l’Utilisateur le virement sur le compte indiqué ou le crédit sur sa Carte du montant de
                Monnaie Electronique.
                En cas de manquement grave, fraude, ou impayés de la part de l’Utilisateur, l’Emetteur se
                réserve le droit de suspendre ou résilier les présentes par l’envoi d’un email accompagné en cas
                de résiliation d’une lettre recommandée avec avis de réception.
                En cas de nomination d’un successeur de l’Emetteur pour émettre la Monnaie Electronique
                distribuée sur le Site, il appartient au Distributeur de recueillir l’accord exprès et écrit de
                l’Utilisateur sur ce changement, sur le montant de Monnaie électronique disponible et d’indiquer
                à l’Emetteur les modalités de transfert des fonds correspondants à la Monnaie Electronique
                disponible.
                11. Droit de ré tractation
                L’Utilisateur dispose d’un délai de 14 (quatorze) jours calendaires révolus pour exercer son droit
                de rétractation, sans avoir à justifier de motif ni supporter de pénalité. Ce délai de rétractation
                commence à courir à compter du jour de son inscription en tant qu’Utilisateur.   L’Utilisateur
                doit notifier sa demande de rétractation dans le délai imparti au service client du Distributeur par
                téléphone ou par email et adresser un courrier de confirmation à l’adresse du service client du
                Distributeur   Au titre de l’exercice de son droit de rétractation par l’Utilisateur, le Contrat-cadre
                14sera résolu sans frais dans les conditions et sous les réserves prévues aux articles L.121-20-8 et
                suivants du Code de la consommation.
                Dans le cas, où l’Utilisateur aurait déjà bénéficié du service et qu’il serait détenteur de Monnaie
                Electronique à la date de rétractation, il devra indiquer au Distributeur les coordonnées de son
                compte bancaire permettant à l’Emetteur de rembourser à l’Utilisateur la Monnaie Electronique
                figurant au crédit de son Compte.
                12. Règles de lutte contre le blanchiment et le financement du terrorisme
                L’Emetteur est soumis à l’ensemble de la réglementation luxembourgeoise et française relative à
                la lutte contre le blanchiment et le financement du terrorisme.
                En application des dispositions de droit français et luxembourgeois, relatifs à la participation des
                organismes financiers à la lutte contre le blanchiment des capitaux et le financement des activités
                terroristes, l’Emetteur est tenu de s’informer auprès de tout Utilisateur pour toute opération ou
                relation d’affaires de l’origine, de l’objet et de la destination de l’opération ou de l’ouverture du
                Compte. Il doit, par ailleurs, réaliser toutes les diligences nécessaires à l’identification de
                l’Utilisateur et le cas échéant, du Bénéficiaire effectif du Compte et/ou des Opérations de
                paiement liées à celui-ci.
                L’Utilisateur reconnaît que l’Emetteur peut mettre un terme ou reporter à tout moment l’usage
                d’un identifiant, l’accès à un Compte ou l’exécution d’une opération ou d’un Remboursement en
                l’absence d’élément suffisant sur son objet ou sa nature. Il est informé qu’une opération réalisée
                dans le cadre des présentes peut faire l’objet de l’exercice du droit à la communication de la
                cellule de renseignement financier nationale.
                L’Utilisateur peut, conformément à la réglementation, accéder à toutes les informations ainsi
                communiquées sous réserve que ce droit d’accès ne remette pas en cause la finalité de lutte contre
                le blanchiment des capitaux et le financement du terrorisme lorsque ces données sont relatives au
                demandeur.
                Aucune poursuite et aucune action en responsabilité civile ne peut être intentée ni aucune
                sanction professionnelle prononcée contre l’Emetteur, ses dirigeants ou ses préposés qui ont fait
                de bonne foi les déclarations de soupçon auprès de leur autorité nationale.
                13. Données à caractère personnel et secret professionnel
                Les données personnelles de l’Utilisateur renseignées dans le cadre de l’ouverture de son Compte
                sont utilisées par l’Emetteur à des fins de gestion de son Compte, des Opérations de Paiement et
                Remboursements
                L’Utilisateur accepte que les coordonnées et informations nominatives le concernant recueillies
                par l’Emetteur dans le cadre des présentes soient transmises aux prestataires opérationnels avec
                lesquelles celui-ci est en relation contractuelle aux seules fins d’exécution des Opérations de
                paiement et services sous réserve que ces tiers destinataires des données à caractère personnel
                15soient soumis à une réglementation garantissant un niveau de protection suffisante tel que défini à
                l’article 561-7 II b du Code Monétaire et Financier. La liste des tiers destinataires des données de
                l’Utilisateur est accessible sur simple demande auprès du responsable de la conformité de
                l’Emetteur à l’adresse suivante : legal@mangopay.com. Ces informations sont conservées par lui
                ou toute société mandatée à cet effet, dans les conditions légales et réglementaires.
                L’Utilisateur sera informé préalablement à tout transfert de ses données personnelles en dehors de
                l’Union Européenne. En pareille hypothèse, l’Emetteur s’engage à respecter la réglementation en
                vigueur et à mettre en place toute mesure nécessaire afin de garantir la sécurité et la
                confidentialité des données ainsi transférées.
                Certaines informations recueillies et détenues par l’Emetteur dans le cadre des présentes peuvent
                donner lieu à l’exercice du droit d’accès et de rectification dans les conditions prévues par la loi
                n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés. Tout
                Utilisateur peut à tout moment obtenir une copie des informations le concernant sur simple
                demande adressée au correspondant clientèle de l’Emetteur à l’adresse suivante:
                legal@mangopay.com. Il peut solliciter à l’adresse en entête des présentes, une suppression ou
                une rectification de ces informations par écrit. Il peut à tout moment s’opposer à la réception de
                sollicitations commerciales, faire modifier ses coordonnées, s’opposer à leur communication en
                adressant une notification par courrier recommandée ou courriel suivie d’un accusé de réception à
                l’adresse du service client de l’Emetteur.
                L’Emetteur conservera les informations et données à caractère personnel pendant la durée
                maximum légale ou réglementaire applicable en fonction de la finalité de chacun des traitements
                de données.
                Les conditions de collecte, de détention et d’accès des données à caractère personnel recueillies
                par le Distributeur et sous sa responsabilité au titre de l’accès au Site, sont régies aux termes des
                Conditions Générales du Site ainsi que de la charte de confidentialité accessible sur le Site.
                14. Comptes inactifs
                Tout Compte d’unité de Monnaie Electronique inactif pendant un délai de 12 mois, fera l’objet
                d’une notification par l’Emetteur par email d’inactivité suivie d’une relance un mois plus tard.
                En l’absence de réponse ou d’utilisation de la Monnaie Electronique disponible dans ce délai, le
                Compte sera clôturé et maintenu à la seule fin de procéder au Remboursement de la Monnaie
                électronique. Des frais de gestion pourront être perçus par l’Emetteur.
                Le Compte ne pourra plus donner lieu à l’utilisation ultérieure de la Monnaie Electronique.
                15. Force majeure
                Les Parties ne seront pas tenues pour responsables, ou considérées comme ayant failli au titre des
                présentes, en cas de retard ou inexécution, lorsque leur cause est liée à un cas de force majeure tel
                que défini par la jurisprudence des tribunaux français.
                16. Indépendance des stipulations contractuelles
                16Si l'une quelconque des stipulations des présentes est tenue pour nulle ou sans objet, elle sera
                réputée non écrite et n'entraînera pas la nullité des autres stipulations.
                Si une ou plusieurs stipulations des présentes deviennent caduques ou sont déclarées comme
                telles en application d'une loi, d'un règlement ou à la suite d'une décision définitive rendue par
                une juridiction compétente, les autres stipulations conserveront leur force obligatoire et leur
                portée. Les stipulations déclarées nulles et non valides seront alors remplacées par les stipulations
                qui se rapprocheront le plus quant à leur sens et à leur portée des stipulations initialement
                convenues.
                17. Incessibilité
                Le Contrat-cadre ne peut faire l'objet d'une cession totale ou partielle par l’Utilisateur, à titre
                onéreux ou gratuit. Il est par suite interdit de céder à un tiers l'un quelconque des droits ou
                obligations qu’il tient des présentes. En cas de manquement à cette interdiction, outre la
                résiliation immédiate des présentes, sa responsabilité pourra être engagée par l’Emetteur.
                18. Frais
                Les services fournis dans le cadre des présentes sont facturés par le Distributeur en son nom et
                pour le compte de l’Emetteur conformément aux Conditions Tarifaires .
                Toutes les commissions dues par l’Utilisateur sont automatiquement prélevées sur le Compte de
                monnaie électronique par l’Emetteur. L’Utilisateur autorise l’Emetteur à compenser à tout
                moment, y compris après la clôture du Compte, toute créance certaine, liquide et exigible qui
                resterait redevable, à quelque titre que ce soit. Il pourra compenser la provision du Compte de
                monnaie électronique avec tout montant dû, exigible et impayé par l’Utilisateur à l’Emetteur.
                19. Protection des fonds collectés
                Les fonds de l’Utilisateur sont déposés à chaque fin de Jour Ouvré dans un compte ouvert auprès
                d’une Banque et sont cantonnés par celle-ci.
                Aux termes de l’article 24-10 (1) a) de la Loi du 20 mai 2011 publiée au Mémorial A n° 104 du
                24 mai 2011 du Luxembourg, portant transposition de la directive 2009/110/CE du Parlement
                européen et du Conseil du 16 septembre 2009 concernant l’accès à l’activité des établissements
                de monnaie électronique, les fonds collectés sont protégés et ne tombent pas dans la masse des
                avoirs de l’établissement de monnaie électronique en cas de liquidation, de faillite ou de toute
                autre situation de concours de ce dernier.
                20.Convention de preuve
                Toutes les données reprises de façon inaltérable, fiable, et sécurisée dans la base de données
                informatique de l’Emetteur relatives notamment aux ordres de paiement et confirmations reçues
                17de l’Utilisateur, aux notifications envoyées, aux accès, Retrait, Remboursement feront foi entre
                les parties jusqu’à preuve du contraire.
                21 Réclamation et médiation
                L’Utilisateur est invité à s’adresser au service relations clients indiqué dans les Conditions
                Particulières et sur le Site pour toute réclamation.
                Toute réclamation autre que celle prévue à l’article 5.2 portant sur la conclusion,
                l’exécution ou la résiliation du Contrat-cadre et des services d’émission et de gestion de
                Monnaie électronique devra être notifiée par lettre recommandée avec avis de réception
                au service suivant:legal@mangopay.com
                Si l’Utilisateur estime que la réponse donnée n’est pas satisfaisante ou en l’absence de
                réponse dans un délai d’un mois à compte de l’envoi du courrier, il pourrait saisir le CSSF
                par voie postale 110 route d’Arlon L-1150 Luxembourg ou par email : direction@cssf.lu
                22 Droit applicable et juridiction compétente
                Sauf en cas d'application d'une loi d’ordre public (laquelle ne s'appliquera que dans les strictes
                limites de son objet), il est expressément stipulé que le Contrat-cadre est soumis à la loi française
                et que tout litige entre les Parties au titre de ce dernier sera soumis à la juridiction des tribunaux
                français compétents.
                18

            </div>
        </div>

    </div>
{% endblock %}
