{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container">
	
	<div class="row">
		{% include 'ContentBundle:Partial:contents.html.twig' with {'contents': contents} %}
	</div>
	{% if contents|length >= nbPerPage %}
	<div class="row loadmore text-center">
		<img src="{{ asset('images/template/loader.gif') }}">
	</div>
	{% elseif contents|length == 0 %}
		<h2>{{ "Aucun article trouvé"|trans }}</h2>
	{% endif %}

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function(){
	// var last_id = $('.span5_event:last').attr('id');
    // var last_id = $('.nb_event').text();
    var load = false;
    var offset = $('.vignette_ajax:last').offset();
    var nbscroll = 1;
      
    $(window).scroll(function(){ // On surveille l'évènement scroll
           
                 
        /* Si l'élément offset est en bas de scroll, si aucun chargement 
		n'est en cours, si le nombre de commentaire affiché est supérieur 
		à 5 et si tout les commentaires ne sont pas affichés, alors on 
		lance la fonction. */
        if((offset.top-$(window).height() <= $(window).scrollTop()) && load==false && ($('.vignette_ajax').size()>={{ nbPerPage }}) && 	($('.vignette_ajax').size()!=$('.nb_com').text())){
  
             
            load = true;
  
            nbscroll = parseInt(nbscroll) + 1;
                        
            //var last_id = $('.span5_event:last').attr('id');         
            $('.loadmore').show();
                         
             
            $.ajax({
                 
                url: "{{ url('content_ajaxcontents') }}",
                type: 'GET',
                data: 'page='+nbscroll,
                               
                                
  
                //Succès de la requête
                success: function(data) {
  
                    //On masque le loader
                    $('.loadmore').fadeOut(500);
                    /* On affiche le résultat après
                    le dernier span5 event */
                    $('.vignette_ajax:last').after(data);
                    /* On actualise la valeur offset
                    du dernier span5 event */
                    offset = $('.vignette_ajax:last').offset();
                    //On remet la valeur à faux car c'est fini
                    load = false;
                                          
                }
            });
        }
  
  
    });
  
});
</script>
{% endblock %}