{% extends "CoreBundle::layout.html.twig" %}

{% block meta_title %}{{ content.metaTitle }}{% endblock %}
{% block meta_description %}{{ content.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ content.metaKeywords }}{% endblock %}

{% block facebook_metas %}
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ content.title }}" />
    <meta property="og:description" content="{{ content.description|truncate(200) }}" />
    {% if content.imagePrincipale is not null %}
        <meta property="og:image" content="{{ content.imagePrincipale.url }}"/>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fotorama/fotorama.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{getGmapApi()}}&signed_in=false&sensor=false&callback=initMap" async defer></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fotorama/fotorama.css') }}" rel="stylesheet">
{% endblock %}

{% block body_content %}

    <div class="container-fluid title title_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Mentions légales</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                {{ content.html|raw }}

            </div>
        </div>

    </div>
{% endblock %}
