{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Partagez cet article par email"|trans }}</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil" }}</a> > <a href="{{ path('content_index') }}">{{ "Le mag"|trans }}</a> > {{ "Partagez cet article par email"|trans }} > {{ content.title }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">		
			
			<div class="jumbotron">

				<h4>{{ "Saisissez une liste d’adresses emails qui doivent être séparées par une virgule"|trans }}</h4>
			  
				<form method="post" class="form-horizontal">
					<div class="row">
						<div class="form-group">
						  <div class="col-lg-12">
							<input required=required class="form-control" id="prenom" name="prenom" placeholder="Votre nom">
						  </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
						  <div class="col-lg-12">
							<textarea required=required class="form-control" id="emails" name="emails" placeholder="Exemple : monami@email.com,monautreami@email.com"></textarea>
						  </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-lg-6">
								<a class="btn btn-warning" href="{{ path('content_show', { 'content_id': content.id, 't': content.strippedTitle }) }}">{{ "Retour sur l'article"|trans }}</a>
							</div>
							<div class="col-lg-6">
								<button class="pull-right btn btn-primary"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;{{ "Envoyer"|trans }}</button>
						   </div>
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</div>	    
</div>
		    	
{% endblock %}