{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}

<form method="POST" {{ form_enctype(form) }}>
{{ form_widget(form.level) }}
{{ form_widget(form.parent) }}
<div class="form_admin">
 <table>
    <thead>
      <tr>
        <td colspan="2">
 
	        <ul id="bout-action">
	          <li>
	          	<div class="buttonwrapper">
					{% if form.vars.value.level > 0 %}
						<a class="boldbuttons" href="{{ path('admin_prestation_show', {'prestation_id': form.vars.value.parent.id}) }}"><span>Annuler</span></a>
					{% else %}
						<a class="boldbuttons" href="{{ path('admin_prestation_index') }}"><span>Annuler</span></a>
					{% endif %}
				</div>
	          </li>
	          <li class="button-valider">
	          	<input type="submit" value="Valider"/>
	          </li>
	        </ul> 
        
        </td>
      </tr>
    </thead>
    <tbody>
     {{ form_errors(form) }}
     {% if langues|length > 1 %}
     <tr>
          <td colspan="2">
          	<div id="tabs">
			    <ul>
			    	{% for langue in langues %}
			        	<li><a href="#tabs-{{ langue }}"><img src="{{ asset('bundles/core/images/flags/' ~ langue ~ '.png') }}"></a></li>
					{% endfor %}
			  	</ul>
			  	{% for langue in langues %}
				    <div id="tabs-{{ langue }}" class="onglet_admin_ml">
				    	<table class="onglet">
						 {{ include("AdminBundle:Prestation:translates.html.twig", { 'form': form, 'langue': langue }) }}
						</table>
				    </div>
			    {% endfor %}
			</div>
          </td>
    </tr>
    {% else %}
    	{{ include("AdminBundle:Prestation:translates.html.twig", { 'form': form, 'langue': 'fr' }) }}
    {% endif %}
	 <tr>
        <th>{{ form_label(form.metiers, "Metiers") }}</th>
        <td class="checkbox-register">
          {{ form_errors(form.metiers) }}
          {{ form_widget(form.metiers) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.is_publish, "Publié") }}</th>
        <td class="checkbox-register">
          {{ form_errors(form.is_publish) }}
          {{ form_widget(form.is_publish) }}
        </td>
      </tr>
       <tr>
        <th>{{ form_label(form.no_order, "Ordre") }}</th>
        <td>
          {{ form_errors(form.no_order) }}
          {{ form_widget(form.no_order) }}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
{{ form_widget(form._token) }}
</form>