{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Details prestation</h1>

<div class="form_admin">
<table>
  <tbody>
    <tr>
      <th>Titre:</th>
      <td>{{ prestation.title }}</td>
    </tr>
	<tr>
      <th>Metiers:</th>
      <td>{{ prestation.metiersLabel }}</td>
    </tr>
    <tr>
      <th>Ordre:</th>
      <td>{{ prestation.noorder }}</td>
    </tr>
    <tr>
      <th>Publié:</th>
      <td>{{ prestation.isPublishLabel }}</td>
    </tr>
    <tr>
      <th>Date modification:</th>
      <td>{{ prestation.updatedat("d/m/Y") }}</td>
    </tr>
  </tbody>
   <thead>
      <tr>
        <td colspan="2">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_prestation_edit', {'prestation_id': prestation.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_prestation_delete', {'prestation_id': prestation.id}) }}"><span>Supprimer</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
          		{% if prestation.level > 0 %}
					<a class="boldbuttons" href="{{ path('admin_prestation_show', {'prestation_id': prestation.parent.id}) }}"><span>Retour</span></a>
				{% else %}
					<a class="boldbuttons" href="{{ path('admin_prestation_index') }}"><span>Retour</span></a>
				{% endif %}
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
</table>
</div>

{% if prestation.level < 2 %}
<div class="table_admin">
<table>
  <thead>
    <tr style="background-color:white;">
        <th colspan="5">
        <ul id="bout-action">
         <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_prestation_add', {'id_ref': prestation.id}) }}"><span>Ajouter sous prestation</span></a>
			</div>
          </li>
        </ul>
        </td>
    </tr>
    <tr class="entete">
      <th></th>
      <th>Sous Categorie</th>
      <th>Ordre</th>
      <th>Publié</th>
	  <th>Metiers</th>
    </tr>
  </thead>
  <tbody>
    {% for sub_prestation in prestation.children %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_prestation_show', {'prestation_id': sub_prestation.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td>{{ sub_prestation.title }}</td>
	      <td>{{ sub_prestation.noorder }}</td>
	      <td>{{ sub_prestation.isPublishLabel }}</td>
          <td>{{ sub_prestation.metiersLabel }}</td>
	    </tr>
	{% endfor %}
  </tbody>

</table>
</div>
{% endif %}

{% endblock %}
