<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
		
		<div id="main">
			
			<div id="texte">

				<p>
					{{"Bonjour"|trans}} {{booking.user.lastname}},
				</p>
				<p>
					{{"Votre demande n°"|trans}}{{booking.id}} {{"avec"|trans}} {{booking.offer.user.lastname}} {{"le"|trans}} {{booking.dateRdv('d/m/Y')}} {{"n’a pas été validée par votre Beauty Artist."|trans}}
				</p>
				<p>
					{{"Nous avons donc annulé la transaction bancaire de"|trans}} {{booking.priceTtcLabel}}.
				</p>
				<p>
					{{"A très bientôt"|trans}}
				</p>
		   </div>

		</div>

	</body>
</html>


