<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
		
		<div id="main">
			
			<div id="texte">

				<p>
					{{"Bonjour"|trans}} {{booking.user.lastname}},
				</p>
				<p>
					{{"Félicitations !"|trans}} {{booking.offer.user.lastname}} {{"vous attend le"|trans}} {{booking.dateRdv('d/m/Y')}}
				</p>
				<p>
					{{"Le paiement de votre prestation d’un montant de"|trans}} {{booking.priceTtcLabel}} {{"à été prélevé ce jour et sera reversé au professionnel le lendemain de la prestation."|trans}}
				</p>
				<p>
					{{"A très bientôt"|trans}}
				</p>
				
		   </div>

		</div>

	</body>
</html>


