<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
		
		<div id="main">
			
			<div id="texte">

				<p>
					{{"Bonjour"|trans}} {{user.lastname}},
				</p>
				<p>
					{{"Félicitations !"|trans}} {{"Vous venez d'effectuer votre premier booking !"|trans}}
				</p>
				<p>
					{{"Pour vous remercier voici un code de réduction"|trans}} <b>{{code_reduc.code}}</b> {{"que vous pouvez utiliser jusqu'au"|trans}} {{ code_reduc.endDate('d/m/Y') }}.
				</p>
				<p>
					{{"Vous pouvez en faire également profiter vos proches et ami(e)s, n'hésitez pas à le partager !"|trans}}
				</p>
				<p>
					{{"A très bientôt"|trans}}
				</p>
				
		   </div>

		</div>

	</body>
</html>


