<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}ADMIN - {{ getSiteName() }}{% endblock %}</title>

  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bo.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/jqueryslidemenu.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/jNotify.jquery.css') }}"/>
    <link rel="stylesheet" href="{{ asset('js/dropzone/dropzone.css') }}"/>
  {% endblock %}
  
  {% block javascripts %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{{ asset('js/jqueryslidemenu.js') }}"></script>
	<script src="{{ asset('js/jNotify.jquery.min.js') }}"></script>
	<script src="{{ asset('js/dropzone/dropzone.js') }}"></script>
  {% endblock %}
	
</head>

<body>
    <div id="header">
	    <div id="logo">
	        <img src="{{ asset('images/logo.jpg') }}" alt="{{ getSiteName() }}">
	    </div>
	</div>
	<div id="linklogout">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<table>
			<tr>
				<td>
					{{ app.user.username }} - <a href="{{ path('admin_login_logout') }}">Déconnexion</a><br/>
				</td>
				<td>
					<a href="{{ getSiteUrl() }}" target="_blank">Visiter le site</a>
				</td>
				<td>
					{{ render(controller('AdminBundle:Home:infosheader')) }}
				</td>
			</tr>
		</table>
		{% endif %}
	</div>

	{{ include("AdminBundle::menu.html.twig") }}

	<div id="content">
        {% block body %}
        {% endblock %}
	</div>

	<div id="footer">
	
	</div>
	
	{{ include("AdminBundle::messages.html.twig") }}
</body>
</html>