<div id="myslidemenu_div">
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<div id="myslidemenu" class="jqueryslidemenu">
		<ul>
			<li style="margin-left:30px;"><a href="{{ path('admin_user_index') }}">Membres</a></li>
            <li>
				<a href="{{ path('admin_booking_index')}}">Réservation</a>
			    <ul id="">
                    <li><a href="{{ path('admin_booking_1') }}">Paiement</a></li>
                    <li><a href="{{ path('admin_booking_2') }}">Confirmation</a></li>
                    <li><a href="{{ path('admin_booking_3') }}">A réaliser</a></li>
                    <li><a href="{{ path('admin_booking_4') }}">Témoignage</a></li>
                    <li><a href="{{ path('admin_booking_5') }}">Clôturée</a></li>
                </ul>
			</li>
			<li><a href="{{ path('admin_reduc_index') }}">Codes réduction</a></li>
        	<li><a href="{{ path('admin_discussion_index') }}">Messages</a></li>
            <li><a href="{{ path('admin_content_index') }}">Pages</a></li>
            <li><a href="{{ path('admin_zone_index') }}">Zones</a></li>
            <li><a href="{{ path('admin_media') }}">Médiathèque</a></li>
            <li><a href="{{ path('admin_publicite_index') }}">Publicité</a></li>
			<li><a href="{{ path('admin_category_index') }}">Critéres</a></li>
			<li><a href="{{ path('admin_prestation_index') }}">Prestations</a></li>
            <li>
            	<a href="{{ path('admin_configs_index') }}">Autres</a>
            	<ul id="">
            		<li><a href="{{ path('admin_configs_index') }}">Paramètres</a></li>
	                <li><a href="{{ path('admin_admin_index') }}">Administrateurs</a></li>
	                <li><a href="{{ path('admin_newsletter_index') }}">Newsletters</a></li>
	            </ul> 
        	</li>
        	<li><a href="{{ path('admin_cache') }}">Vider cache</a></li>
         </ul>
	</div>
	{% endif %}
</div>