{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}

<form method="POST" {{ form_enctype(form) }} class="form-horizontal col-lg-10">
    {{ form_errors(form) }}
    <div class="row">
	    <div class="form-group">
	      {{ form_label(form.owner_name, "Titulaire du compte"|trans, {'label_attr': {'class': 'col-lg-5'}}) }}
	      <div class="col-lg-7">
	        {{ form_errors(form.owner_name) }}
	        {{ form_widget(form.owner_name, { 'attr': {'class': 'form-control'}}) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.owner_address, "Adresse du titulaire"|trans, {'label_attr': {'class': 'col-lg-5'}}) }}
	      <div class="col-lg-7">
	        {{ form_errors(form.owner_address) }}
	        {{ form_widget(form.owner_address, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.city, "Ville"|trans, {'label_attr': {'class': 'col-lg-5'}}) }}
	      <div class="col-lg-7">
	        {{ form_errors(form.city) }}
	        {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.postcode, "Code postal"|trans, {'label_attr': {'class': 'col-lg-5'}}) }}
	      <div class="col-lg-7">
	        {{ form_errors(form.postcode) }}
	        {{ form_widget(form.postcode, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.IBAN, "n° IBAN"|trans, {'label_attr': {'class': 'col-lg-5'}}) }}
	      <div class="col-lg-7">
	        {{ form_errors(form.IBAN) }}
	        {{ form_widget(form.IBAN, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="form-group">
		<div class="col-lg-12">
			<button class="pull-right btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Valider"|trans }}</button>
			<a class="btn btn-primary" href="{{ path('document_edit', {'document_id' : 0, 'type' : 2}) }}"><span>{{ "Télécharger mon RIB"|trans }}</span></a>
	   </div>
    </div>
{{ form_widget(form._token) }}
</form>
