{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}
{% form_theme form 'UserBundle:Form:fields.html.twig' %}

<form id="myform" method="POST" onsubmit="$(this).find(':button').attr('disabled', 'disabled');this.submit();return true;" {{ form_enctype(form) }} class="form-horizontal col-lg-12">
    
    <div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Type de document"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-9">
	        {{ form_errors(form.type) }}
	        {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Document"|trans }}</label>
		  </div>
	      <div class="col-lg-9">
	        {{ form_errors(form.file) }}
	        {{ form_widget(form.file) }}
	      </div>
	    </div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-lg-12 text-center">
				<button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Enregistrer"|trans }}</button>
		   </div>
		</div>
	</div>
{{ form_widget(form._token) }}
</form>