{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}

<form id="myform" autocomplete="off" method="POST" {{ form_enctype(form) }} class="form-horizontal col-lg-12">
    {{ form_errors(form) }}
    
	{% if form.vars.value.type == 1 %}
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Nom"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-9">
	        {{ form_errors(form.first_name) }}
	        {{ form_widget(form.first_name, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Prénom"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-9">
	        {{ form_errors(form.last_name) }}
	        {{ form_widget(form.last_name, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
    <div class="row">
	    <div class="form-group">
		   <div class="col-lg-3">
			<label>{{ "Email"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-9">
	        {{ form_errors(form.email) }}
	        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>	
	<div class="row">
	    <div class="form-group">
			<h2 class="title title2 title_bottom title_top">{{ "Mon adresse de réception"|trans }}</h2>
		</div>
	</div>
	<div class="row">
	  <div class="form-group">
		<div class="col-lg-3">
			<label>{{ "Votre adresse"|trans }}</label>
		</div>
		<div class="col-lg-9">
			{{ form_errors(form.address_1) }}
			{{ form_widget(form.address_1, { 'attr': {'class': 'form-control'} }) }}
		</div>
	  </div>
	</div> 
	<div class="row">
	      <div class="form-group">
	      	<div class="col-lg-3">
				<label>{{ "Complément adresse"|trans }}</label>
		    </div>
			<div class="col-lg-9">
				{{ form_errors(form.address_2) }}
				{{ form_widget(form.address_2, { 'attr': {'class': 'form-control'} }) }}
			</div>
		  </div>
	</div> 
	<div class="row">
	      <div class="form-group">
	      	<div class="col-lg-3">
				<label>{{ "Code postal"|trans }}</label>
		    </div>
			<div class="col-lg-9">
				{{ form_errors(form.postal_code) }}
				{{ form_widget(form.postal_code, { 'attr': {'class': 'form-control'} }) }}
			</div>
		  </div>
	</div> 
	<div class="row">
	      <div class="form-group">
	      	<div class="col-lg-3">
				<label>{{ "Ville"|trans }}</label>
		    </div>
			<div class="col-lg-9">
				{{ form_errors(form.city) }}
				{{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
			</div>
		  </div>
	</div>
	<div class="row">
	    <div class="form-group">
			<h2 class="title title2 title_bottom title_top">{{ "Pour me joindre"|trans }}</h2>
		</div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.phone, "Téléphone fixe"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
	      <div class="col-lg-9">
	        {{ form_errors(form.phone) }}
	        {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.mobile, "Téléphone portable"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
	      <div class="col-lg-9">
	        {{ form_errors(form.mobile) }}
	        {{ form_widget(form.mobile, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	
	{% else %}
	
	<div class="row">
	    <div class="form-group">
	      <label class="col-lg-1">{{ "Photo"|trans }}</label>
	      <div class="col-lg-2" id="div_image_principale_old_img" style="min-height:140px;">
	      	{% if form.vars.value.image is not null %}
			 <img class="img-thumbnail" id="image_old_img" src="{{ form.vars.value.image.url }}"/>
			 <input type="hidden" id="image_old" name="image_old" value="{{ form.vars.value.image.filename }}">
			 {% if form.vars.value.image.filename != 'no_image.png' %}
			 	<div class="row">
		 			<div class="col-lg-12 text-center">
						 	<a title="{{ 'Rotation à droite'|trans }}" href="javascript:void(0);" onclick="rotationImg('div_image_principale_old_img','{{ form.vars.value.image.id }}','-90','1', '{{ form.vars.value.strippedName }}');"><img style="width:20px;height:20px;" src="{{ asset('images/template/img-droite.png') }}"></a>
							&nbsp;&nbsp;
							<a title="{{ 'Supprimer'|trans }}" href="javascript:void(0);" onclick="$('#image_principale_old').val('');$('#image_principale_old_img').hide();$(this).hide();"><img style="width:15px;height:15px;" src="{{ asset('images/template/image-supprimer.jpg') }}"></a>
							&nbsp;&nbsp;
							<a title="{{ 'Rotation à gauche'|trans }}" href="javascript:void(0);" onclick="rotationImg('div_image_principale_old_img','{{ form.vars.value.image.id }}','90','1', '{{ form.vars.value.strippedName }}');"><img style="width:20px;height:20px;" src="{{ asset('images/template/img-gauche.png') }}"></a>
					</div>
				 </div>
			 {% endif %}
			{% endif %}
		  </div>
	      <div class="col-lg-5">
	        <div id="upload_image_div" class="dropzone text-center">
			    <div class="dz-default dz-message">
					<p>{{ "Cliquez ici pour ajouter votre photo."|trans }}</p>
				</div>
			</div>
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Je suis"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-8">
	        {{ form_errors(form.genre) }}
	        {{ form_widget(form.genre) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Métier"|trans }}</label>
		  </div>
	      <div class="col-lg-8">
			{{ app.user.metiersLabel }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Statut"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-8">
	        {{ form_errors(form.statut) }}
	        {{ form_widget(form.statut) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Nom"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-5">
	        {{ form_errors(form.first_name) }}
	        {{ form_widget(form.first_name, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Prénom"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-5">
	        {{ form_errors(form.last_name) }}
	        {{ form_widget(form.last_name, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		   <div class="col-lg-3">
			<label>{{ "Email"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-5">
	        {{ form_errors(form.email) }}
	        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
			<h2 class="title title2 title_bottom title_top">{{ "Votre entreprise"|trans }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Nom de l'entreprise"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
		  <div class="col-lg-5">
			{{ form_errors(form.entreprise) }}
			{{ form_widget(form.entreprise, { 'attr': {'class': 'form-control'} }) }}
		  </div>
		  <div class="col-lg-4">
			{{ "Nom de l'entreprise ou raison sociale"|trans }}
		  </div>
		</div>
	</div>
	<div class="row">
	      <div class="form-group">
	      	<div class="col-lg-3">
				<label>{{ "Votre adresse"|trans }}</label>
		    </div>
			<div class="col-lg-5">
				{{ form_errors(form.address_1) }}
				{{ form_widget(form.address_1, { 'attr': {'class': 'form-control'} }) }}
			</div>
		  </div>
	</div> 
	<div class="row">
	      <div class="form-group">
	      	<div class="col-lg-3">
				<label>{{ "Complément adresse"|trans }}</label>
		    </div>
			<div class="col-lg-5">
				{{ form_errors(form.address_2) }}
				{{ form_widget(form.address_2, { 'attr': {'class': 'form-control'} }) }}
			</div>
		  </div>
	</div> 
	<div class="row">
	      <div class="form-group">
	      	<div class="col-lg-3">
				<label>{{ "Code postal"|trans }}</label>
		    </div>
			<div class="col-lg-5">
				{{ form_errors(form.postal_code) }}
				{{ form_widget(form.postal_code, { 'attr': {'class': 'form-control'} }) }}
			</div>
		  </div>
	</div> 
	<div class="row">
	      <div class="form-group">
	      	<div class="col-lg-3">
				<label>{{ "Ville"|trans }}</label>
		    </div>
			<div class="col-lg-5">
				{{ form_errors(form.city) }}
				{{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
			</div>
		  </div>
	</div> 
	<div class="row">
	    <div class="form-group">
			<h2 class="title title2 title_bottom title_top">{{ "Zone d'intervention"|trans }}</h2>
		</div>
	</div>
	<div class="row">
	    <div class="col-lg-12">
	      <div class="form-group">
      	    {{ form_widget(form.gmap_lat) }}
      	    {{ form_widget(form.gmap_lng) }}
	        {{ "Précisez le centre de votre zone d'intervention. Saisissez une adresse ou déplacez le curseur sur la carte"|trans }}
			<input id="pac-input" name="pac-input" onkeypress="refuserToucheEntree(event)" class="form-control" type="text" placeholder="{{ "Saisissez votre adresse"|trans }}" value="">
		  </div>
	    </div>
	</div> 
	<div class="row">
	    <div class="col-lg-12">
	      <div class="form-group">
		    <div id="map" style="height:300px;"></div>
		  </div>
	    </div>
	</div> 
	<div class="row">
	      <div class="form-group">
	      	<div class="col-lg-3">
				<label>{{ "Rayon d'intervention"|trans }}</label>
		    </div>
			<div class="col-lg-9">
				{{ form_errors(form.distance) }}
				{{ form_widget(form.distance, { 'attr': {'class': 'form-control'} }) }}
			</div>
		  </div>
	</div>
	
	<div class="row">
	    <div class="form-group">
			<h2 class="title title2 title_bottom title_top">{{ "Présentation de votre entreprise"|trans }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
		     <div class="col-lg-3">
			    <label>{{ "Qui êtes vous ?"|trans }}</label>
		    </div>
	    	<div class="col-lg-9">
	      		{{ form_errors(form.description) }}
	        	{{ form_widget(form.description, { 'attr': {'class': 'form-control','rows' : 5, 'style' : 'height:150px !important;', 'placeholder' : "Quelques mots à propos de vous"|trans} }) }}
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.phone, "Téléphone fixe"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
	      <div class="col-lg-5">
	        {{ form_errors(form.phone) }}
	        {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.mobile, "Téléphone portable"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
	      <div class="col-lg-5">
	        {{ form_errors(form.mobile) }}
	        {{ form_widget(form.mobile, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.siren, "SIRET"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
	      <div class="col-lg-5">
	        {{ form_errors(form.siren) }}
	        {{ form_widget(form.siren, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	
	{% endif %}
	<div class="row">
	  <div class="form-group">
		<div class="col-lg-3">
			<label>{{ "Newsletter"|trans }}</label>
		</div>
		<div class="col-lg-9">
			{{ form_widget(form.newsletter) }} {{ "Je souhaite recevoir la newsletter"|trans }}<br/>
		</div>
	  </div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-lg-12 text-center">
				<button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Enregistrer"|trans }}</button>
		   </div>
		</div>
	</div>
{{ form_widget(form._token) }}
</form>