{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}
{% form_theme form 'UserBundle:Form:fields.html.twig' %}

<script>

function goprestation(metier_id){

    $.ajax({
        url: '{{ path('offer_prestation') }}',
        type: 'GET',
        data: 'metier_id='+metier_id,
        beforeSend: function(data) {
            $('#div_modele').empty().append('<center><img style=\'width:25px;\' src=\'{{ asset('images/template/loader.gif') }}\'></center>');
        },
        success: function(data) {
            $('#div_modele').empty().append(data);
        },
        error: function () {
            alert('La requête n\'a pas abouti');
        }
    });
	
};
</script>

<form method="POST" {{ form_enctype(form) }} class="form-horizontal col-lg-12" autocomplete="off">
{{ form_widget(form.user) }}

  <div class="row">
	    <div class="form-group">
			{{ form_label(form.price, "Type de prestation"|trans, {'label_attr': {'class': 'col-lg-3 text-right'}}) }}
		    <div class="col-lg-7">
					
				<select required=required class="form-control" id="faprod_userbundle_offer_prestation" name="faprod_userbundle_offer[prestation]">
					<option value="">{{ "Prestation"|trans }}</option>
					{% for prestation in prestations %}
						{% set metier_ok = 0 %}
						{% for user_metier in app.user.metiers %}
							{% if user_metier in prestation.metiers %}
							{% set metier_ok = 1 %}
							{% endif %}
						{% endfor %}
						
						{% if metier_ok %}
						<option {% if form.vars.value.prestation and form.vars.value.prestation.id == prestation.id %}selected=selected{% endif %} value="{{ prestation.id }}">{{ prestation.title }}</option>
							{% for sub_prestation in prestation.children %}

								{% set metier_ok = 0 %}
								{% for user_metier in app.user.metiers %}
									{% if user_metier in sub_prestation.metiers %}
									{% set metier_ok = 1 %}
									{% endif %}
								{% endfor %}
								{% if metier_ok %}
						
								<option {% if form.vars.value.prestation and form.vars.value.prestation.id == sub_prestation.id %}selected=selected{% endif %} value="{{ sub_prestation.id }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ sub_prestation.title }}</option>
									{% for sub_sub_prestation in sub_prestation.children %}
										
										{% set metier_ok = 0 %}
										{% for user_metier in app.user.metiers %}
											{% if user_metier in sub_sub_prestation.metiers %}
											{% set metier_ok = 1 %}
											{% endif %}
										{% endfor %}
										{% if metier_ok %}
								
										<option {% if form.vars.value.prestation and form.vars.value.prestation.id == sub_sub_prestation.id %}selected=selected{% endif %} value="{{ sub_sub_prestation.id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ sub_sub_prestation.title }}</option>
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				</select>
					
			</div>
		</div>
	</div>
	<div class="row">
		<div id="tabs">
		  	{% for langue in langues %}
				<div id="tabs-{{ langue }}" class="onglet_admin_ml">
					<div class="row">
						<div class="form-group">
							{{ form_label(form.translations[langue].description, "Description"|trans, {'label_attr': {'class': 'col-lg-3 text-right'}}) }}
							<div class="col-lg-7">
								{{ form_errors(form.translations[langue].description) }}
								{{ form_widget(form.translations[langue].description, { 'attr': {'class': 'form-control', 'placeholder' : "Description de la prestation"|trans} }) }}
							</div>
						</div>
					</div>
				</div>
		    {% endfor %}
		</div>
	</div>
	<div class="row">
	    <div class="form-group">
	        {{ form_label(form.duree, "Duree"|trans, {'label_attr': {'class': 'col-lg-3 text-right'}}) }}
		    <div class="col-lg-4">
		        {{ form_errors(form.duree) }}
		        {{ form_widget(form.duree, { 'attr': {'class': 'form-control'} }) }}
			</div>
		</div>
	</div>
	<div class="row">
	    <div class="form-group">
	        {{ form_label(form.price, "Prix en euros"|trans, {'label_attr': {'class': 'col-lg-3 text-right'}}) }}
		    <div class="col-lg-2">
		        {{ form_errors(form.price) }}
		        {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
			</div>

		</div>
	</div>
	<div class="row">
		<div class="form-group">
		  <label class="col-lg-12">{{ "Ajoutez des photos de cette prestation"|trans }}</label>
		  <div class="col-lg-12">
			<div class="row">
			{% if form.vars.value.images is not null %}
			 {% for image in form.vars.value.images %}
				<div class="col-lg-2" id="div_img_{{image.id}}" style="min-height:130px;">
					<div class="row">
						<div class="col-lg-12 text-center">
							<img class="img-thumbnail" style="width:100px;height:100px;" id="images_old_img_{{ image.id }}" src="{{ image.url }}"/>
							<input type="hidden" id="images_old_{{ image.id }}" name="images_old[]" value="{{ image.id }}">
						</div>
					</div>
					{% if image.filename != 'no_image.png' %}
					<div class="row">
						<div class="col-lg-12 text-center">
							<a title="{{ 'Supprimer'|trans }}" href="javascript:void(0);" onclick="$('#images_old_{{ image.id }}').val('');$('#images_old_img_{{ image.id }}').hide();$(this).hide();"><img style="width:15px;height:15px;" src="{{ asset('images/template/image-supprimer.jpg') }}"></a>
						</div>
					</div>
					{% endif %}
				</div>
			 {% endfor %}
			{% endif %}
			</div>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
		  <div class="col-lg-12">
			<div id="upload_images_div" class="dropzone">
				<div class="dz-default dz-message">

				</div>
				
				<p class="text-center">
				{{ "Ajoutez des photos de cette prestation"|trans }}
				</p>
			</div>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-lg-6">
       			<button class="pull-right btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Valider"|trans }}</button>
       			<a class="btn btn-warning" href="{{ path('offer_index') }}"><span>{{ "Annuler"|trans }}</span></a>
       		</div>
       </div>
    </div>
	{{ form_widget(form._token) }}
</form>
