{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}
{% form_theme form 'UserBundle:Form:fields.html.twig' %}

<form method="POST" {{ form_enctype(form) }} class="form-horizontal col-lg-8">
    {{ form_errors(form) }}
    <div class="row">
	    <div class="col-lg-9">
	      <div class="form-group">
	      		{{ form_label(form.password_old, "Votre ancien mot de passe"|trans) }}
	      		{{ form_errors(form.password_old) }}
	        	{{ form_widget(form.password_old, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-lg-9">
	      <div class="form-group">
	      		{{ form_label(form.password, "Votre nouveau mot de passe"|trans) }}
	      		{{ form_errors(form.password.first) }}
	        	{{ form_widget(form.password.first, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-lg-9">
	      <div class="form-group">
	      		{{ form_label(form.password, "Saisissez à nouveau votre mot de passe"|trans) }}
	      		{{ form_errors(form.password.second) }}
	        	{{ form_widget(form.password.second, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
		<div class="col-lg-9">
			<div class="form-group text-center">
       			<button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Enregistrer"|trans }}</button>
        	</div>
    	</div>
    </div>
{{ form_widget(form._token) }}
</form>