{% extends 'form_div_layout.html.twig' %}

{% block file_widget %}
    {% spaceless %}
		{% if image_url is not null %}
			<img class="img-thumbnail" src="{{ asset(image_url) }}"/>
			{{ block('form_widget') }}
		{% else %}
			{{ block('form_widget') }}
		{% endif %}
    {% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
{% spaceless %}
    <ul {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <li>
            {{ form_widget(child) }}&nbsp;&nbsp;{{ form_label(child) }}
        </li>
    {% endfor %}
    </ul>
{% endspaceless %}
{% endblock %}