{% set creneau = creneau - 1  %}
{% if horaires|length > creneau and horaires[creneau] is not null %}
{% set heure_deb = horaires[creneau].heureDeb %}
{% set minute_deb = horaires[creneau].minuteDeb %}
{% set heure_fin = horaires[creneau].heureFin %}
{% set minute_fin = horaires[creneau].minuteFin %}
{% else %}
{% set heure_deb = '' %}
{% set minute_deb = '' %}
{% set heure_fin = '' %}
{% set minute_fin = '' %}
{% endif %}
<div>
<b>De</b> 
	<select name="jour_{{ jour }}_deb_h[]" class="normal">
		<option value=""></option>
		{% for key, value in getHeures() %}
		<option {% if heure_deb == value %}selected=selected{% endif %} value="{{ key }}">{{ value }}h</option>
		{% endfor %}
	</select> 
	<select name="jour_{{ jour }}_deb_m[]" class="normal">
		<option value=""></option>
		{% for key, value in getMinutes() %}
		<option {% if minute_deb == value %}selected=selected{% endif %} value="{{ key }}">{{ value }}</option>
		{% endfor %}
	</select> 
<b>à</b> 
	<select name="jour_{{ jour }}_fin_h[]" class="normal">
		<option value=""></option>
		{% for key, value in getHeures() %}
		<option {% if heure_fin == value %}selected=selected{% endif %} value="{{ key }}">{{ value }}h</option>
		{% endfor %}
	</select> 
	<select name="jour_{{ jour }}_fin_m[]" class="normal">
		<option value=""></option>
		{% for key, value in getMinutes() %}
		<option {% if minute_fin == value %}selected=selected{% endif %} value="{{ key }}">{{ value }}</option>
		{% endfor %}
	</select> 
</div>