<div class="right" data-placeholder="{{ jour }}">
	<div class="closedbox_{{ jour }}" style="width:100%;{% if horaires|length %}display:none{% endif %}">
		<div class="closed"><em>Fermé</em></div>
		<div class="action"><a href="#" class="add_tranche" data-placeholder="{{ jour }}">Ajouter une tranche horaire</a></div>
	</div>
	<div class="tranche_{{ jour }}_0" style="width:100%;{% if horaires|length < 1 %}display:none{% endif %}">
		{% include 'UserBundle:Form:heuremin.html.twig' with {'jour': jour, 'creneau': 1, 'horaires' : horaires} %}
		<div class="action"><a href="#" class="del_tranche" data-placeholder="0">Supprimer cette tranche horaire</a><br><a href="#" class="add_tranche" data-placeholder="{{ jour }}">Ajouter une tranche horaire</a></div>
	</div>
	<div class="tranche_{{ jour }}_1" style="width:100%;{% if horaires|length < 2 %}display:none{% endif %}">
		{% include 'UserBundle:Form:heuremin.html.twig' with {'jour': jour, 'creneau': 2, 'horaires' : horaires} %}
		<div class="action"><a href="#" class="del_tranche" data-placeholder="1">Supprimer cette tranche horaire</a><br><a href="#" class="add_tranche" data-placeholder="{{ jour }}">Ajouter une tranche horaire</a></div>
	</div>
	<div class="tranche_{{ jour }}_2" style="width:100%;{% if horaires|length < 3 %}display:none{% endif %}">
		{% include 'UserBundle:Form:heuremin.html.twig' with {'jour': jour, 'creneau': 3, 'horaires' : horaires} %}
		<div class="action"><a href="#" class="del_tranche" data-placeholder="2">Supprimer cette tranche horaire</a><br><a href="#" class="add_tranche" data-placeholder="{{ jour }}">Ajouter une tranche horaire</a></div>
	</div>
	<div class="tranche_{{ jour }}_3" style="width:100%;{% if horaires|length < 4 %}display:none{% endif %}">
		{% include 'UserBundle:Form:heuremin.html.twig' with {'jour': jour, 'creneau': 4, 'horaires' : horaires} %}
		<div class="action"><a href="#" class="del_tranche" data-placeholder="3">Supprimer cette tranche horaire</a><br><a href="#" class="add_tranche" data-placeholder="{{ jour }}">Ajouter une tranche horaire</a></div>
	</div>
	<div class="tranche_{{ jour }}_4" style="width:100%;{% if horaires|length < 5 %}display:none{% endif %}">
		{% include 'UserBundle:Form:heuremin.html.twig' with {'jour': jour, 'creneau': 5, 'horaires' : horaires} %}
		<div class="action"><a href="#" class="del_tranche" data-placeholder="4">Supprimer cette tranche horaire</a><br><a href="#" class="add_tranche" data-placeholder="{{ jour }}">Ajouter une tranche horaire</a></div>
	</div>
	<input type=hidden name="cnt_{{ jour }}" id="cnt_{{ jour }}" value="{{ horaires|length }}">

</div>