{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}
{% form_theme form 'UserBundle:Form:fields.html.twig' %}

<form id="myform" method="POST" onsubmit="$(this).find(':button').attr('disabled', 'disabled');this.submit();return true;" {{ form_enctype(form) }} class="form-horizontal col-lg-12">
    
    <div class="row">
	    <div class="form-group">
	      <label class="col-lg-1">{{ "Photo"|trans }}</label>
	      <div class="col-lg-2" id="div_image_principale_old_img" style="min-height:140px;">
	      	{% if form.vars.value.image is not null %}
			 <img class="img-thumbnail" id="image_old_img" src="{{ form.vars.value.image.url }}"/>
			 <input type="hidden" id="image_old" name="image_old" value="{{ form.vars.value.image.filename }}">
			 {% if form.vars.value.image.filename != 'no_image.png' %}
			 	<div class="row">
		 			<div class="col-lg-12 text-center">
						 	<a title="{{ 'Rotation à droite'|trans }}" href="javascript:void(0);" onclick="rotationImg('div_image_principale_old_img','{{ form.vars.value.image.id }}','-90','1', '{{ form.vars.value.strippedName }}');"><img style="width:20px;height:20px;" src="{{ asset('images/template/img-droite.png') }}"></a>
							&nbsp;&nbsp;
							<a title="{{ 'Supprimer'|trans }}" href="javascript:void(0);" onclick="$('#image_principale_old').val('');$('#image_principale_old_img').hide();$(this).hide();"><img style="width:15px;height:15px;" src="{{ asset('images/template/image-supprimer.jpg') }}"></a>
							&nbsp;&nbsp;
							<a title="{{ 'Rotation à gauche'|trans }}" href="javascript:void(0);" onclick="rotationImg('div_image_principale_old_img','{{ form.vars.value.image.id }}','90','1', '{{ form.vars.value.strippedName }}');"><img style="width:20px;height:20px;" src="{{ asset('images/template/img-gauche.png') }}"></a>
					</div>
				 </div>
			 {% endif %}
			{% endif %}
		  </div>
	      <div class="col-lg-5">
	        <div id="upload_image_div" class="dropzone text-center">
			    <div class="dz-default dz-message">
					<p>{{ "Cliquez ici pour ajouter votre photo principale."|trans }}</p>
					<p>{{ "Mettez de préférence une photo de votre visage."|trans }}</p>
				</div>
			</div>
	      </div>
	    </div>
	</div>
	<div class="row">
		<div class="form-group">
		  <label class="col-lg-12">{{ "Autres photos : ajoutez ci-dessous des photos de vos cheveux et de votre peau"|trans }}</label>
		  <div class="col-lg-12">
			<div class="row">
			{% if form.vars.value.images is not null %}
			 {% for image in form.vars.value.images %}
				<div class="col-lg-2" id="div_img_{{image.id}}" style="min-height:130px;">
					<div class="row">
						<div class="col-lg-12 text-center">
							<img class="img-thumbnail" style="width:100px;height:100px;" id="images_old_img_{{ image.id }}" src="{{ image.url }}"/>
							<input type="hidden" id="images_old_{{ image.id }}" name="images_old[]" value="{{ image.id }}">
						</div>
					</div>
					{% if image.filename != 'no_image.png' %}
					<div class="row">
						<div class="col-lg-12 text-center">
							<a title="{{ 'Rotation à droite'|trans }}" href="javascript:void(0);" onclick="rotationImg('div_img_{{image.id}}','{{ image.id }}','-90','2', '{{ form.vars.value.strippedName }}');"><img style="width:20px;height:20px;" src="{{ asset('images/template/img-droite.png') }}"></a>
							&nbsp;&nbsp;
							<a title="{{ 'Supprimer'|trans }}" href="javascript:void(0);" onclick="$('#images_old_{{ image.id }}').val('');$('#images_old_img_{{ image.id }}').hide();$(this).hide();"><img style="width:15px;height:15px;" src="{{ asset('images/template/image-supprimer.jpg') }}"></a>
							&nbsp;&nbsp;
							<a title="{{ 'Rotation à gauche'|trans }}" href="javascript:void(0);" onclick="rotationImg('div_img_{{image.id}}','{{ image.id }}','90','2', '{{ form.vars.value.strippedName }}');"><img style="width:20px;height:20px;" src="{{ asset('images/template/img-gauche.png') }}"></a>
						</div>
					</div>
					{% endif %}
				</div>
			 {% endfor %}
			{% endif %}
			</div>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
		  <div class="col-lg-12">
			<div id="upload_images_div" class="dropzone">
				<div class="dz-default dz-message">

				</div>
				
				<p class="text-center">
				{{ "Ajoutez des photos de vos cheveux et de votre peau"|trans }}
				</p>
			</div>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-lg-12 text-center">
				<button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Enregistrer"|trans }}</button>
		   </div>
		</div>
	</div>
</form>