{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

  <form action="{{ path('admin_login_login') }}" method="post">
  	<table>
  		<tr>
  			<th style="text-align:right;">
  				<label for="username">Login :</label>
  			</th>
  			<td>
    			<input type="text" id="username" name="username" value="" />
    		</td>
    	</tr>
    	<tr>
    		<th style="text-align:right;">
    			<label for="password">Mot de passe :</label>
    		</th>
    		<td>
    			<input type="password" id="password" name="password" />
    		</td>
    	</tr>
    	<tr>
    		<td></td>
    		<td>
    			<input type="checkbox" id="remember_me" name="_remember_me" checked=checked/> se souvenir de moi
    		</td>
    	</tr>
    	<tr>
    		<td></td>
    		<td><input type="submit" value="Connexion" /></td>
    	</tr>
    </table>
  </form>

{% endblock %}
