{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}

<form method="POST" {{ form_enctype(form) }} autocomplete="off" class="form-horizontal col-lg-12">
{{ form_widget(form.validate) }}   
    {{ form_errors(form) }}
	<div class="row">
	  <div class="form-group">
		<div class="col-lg-4">
			<label>{{ "Inscription via Facebook"|trans }}</label>
		</div>
		<div class="col-lg-7">
			<div id="loginbuttonfb2">
				<fb:login-button size="large" scope="public_profile,email" onlogin="checkLoginState();">{{ "Connexion Facebook"|trans }}</fb:login-button>
			</div>
			
			<div id="status2">
			</div>
		</div>
	  </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-4">
			<label>{{ "Nom"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-7">
	        {{ form_errors(form.first_name) }}
	        {{ form_widget(form.first_name, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-4">
			<label>{{ "Prénom"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-7">
	        {{ form_errors(form.last_name) }}
	        {{ form_widget(form.last_name, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
    <div class="row">
	    <div class="form-group">
		   <div class="col-lg-4">
			<label>{{ "Email"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-7">
	        {{ form_errors(form.email) }}
	        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-lg-4">
			<label>{{ "Mot de passe"|trans }}</label> <b class="form-obligatoire">*</b>
		    </div>
	    	<div class="col-lg-7">
	      		{{ form_errors(form.password.first) }}
	        	{{ form_widget(form.password.first, { 'attr': {'class': 'form-control'} }) }}
	        </div>
	    </div>
	</div>
	<div class="row">
		<div class="form-group">
		     <div class="col-lg-4">
			    <label>{{ "Confirmez le mot de passe"|trans }}</label> <b class="form-obligatoire">*</b>
		    </div>
	    	<div class="col-lg-7">
	      		{{ form_errors(form.password.second) }}
	        	{{ form_widget(form.password.second, { 'attr': {'class': 'form-control'} }) }}
	        </div>
	    </div>
	</div>
	<div class="row">
	  <div class="form-group">
		<div class="col-lg-4">
			<label>{{ "CGU"|trans }}</label>
		</div>
		<div class="col-lg-7">
			{{ form_widget(form.cgu) }} <a target="_blank" href="{{ path('content_show', { 'content_id': 1, 't': 'conditions-generales-d-utilisation' }) }}">{{ "J'accepte les conditions générales d'utilisation"|trans }}</a><br/>
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="form-group">
		<div class="col-lg-4">
			<label>{{ "Newsletter"|trans }}</label>
		</div>
		<div class="col-lg-7">
			{{ form_widget(form.newsletter) }} {{ "Je souhaite recevoir la newsletter"|trans }}<br/>
		</div>
	  </div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-lg-12 text-center">
				<button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Validation"|trans }}</button>
		   </div>
		</div>
	</div>
{{ form_widget(form._token) }}
</form>

