{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}

<form method="POST" {{ form_enctype(form) }} autocomplete="off" class="form-horizontal col-lg-12">
{{ form_widget(form.validate) }}   
    {{ form_errors(form) }}
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Je suis"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-5">
	        {{ form_errors(form.genre) }}
	        {{ form_widget(form.genre) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Métiers"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-5">
			{{ form_errors(form.metiers) }}
	        {{ form_widget(form.metiers) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Statut"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-5">
	        {{ form_errors(form.statut) }}
	        {{ form_widget(form.statut) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Nom"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-5">
	        {{ form_errors(form.first_name) }}
	        {{ form_widget(form.first_name, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Prénom"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-5">
	        {{ form_errors(form.last_name) }}
	        {{ form_widget(form.last_name, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
		   <div class="col-lg-3">
			<label>{{ "Email"|trans }}</label> <b class="form-obligatoire">*</b>
		  </div>
	      <div class="col-lg-5">
	        {{ form_errors(form.email) }}
	        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-lg-3">
			<label>{{ "Mot de passe"|trans }}</label> <b class="form-obligatoire">*</b>
		    </div>
	    	<div class="col-lg-5">
	      		{{ form_errors(form.password.first) }}
	        	{{ form_widget(form.password.first, { 'attr': {'class': 'form-control'} }) }}
	        </div>
			<div class="col-lg-4">
			{{ "Mot de passe 6 caractères minimum"|trans }}
		  </div>
	    </div>
	</div>
	<div class="row">
		<div class="form-group">
		     <div class="col-lg-3">
			    <label>{{ "Confirmez le mot de passe"|trans }}</label> <b class="form-obligatoire">*</b>
		    </div>
	    	<div class="col-lg-5">
	      		{{ form_errors(form.password.second) }}
	        	{{ form_widget(form.password.second, { 'attr': {'class': 'form-control'} }) }}
	        </div>
			<div class="col-lg-4">
				{{ "Ressaisissez votre mot de passe pour vérification"|trans }}
		    </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
			<h2 class="title title2 title_bottom title_top">{{ "Votre entreprise"|trans }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
		  <div class="col-lg-3">
			<label>{{ "Nom de l'entreprise"|trans }}</label>
		  </div>
		  <div class="col-lg-5">
			{{ form_errors(form.entreprise) }}
			{{ form_widget(form.entreprise, { 'attr': {'class': 'form-control'} }) }}
		  </div>
		  <div class="col-lg-4">
			{{ "Nom de l'entreprise ou raison sociale"|trans }}
		  </div>
		</div>
	</div>
	<div class="row">
	      <div class="form-group">
	      	<div class="col-lg-3">
				<label>{{ "Code postal"|trans }}</label>
		    </div>
			<div class="col-lg-5">
				{{ form_errors(form.postal_code) }}
				{{ form_widget(form.postal_code, { 'attr': {'class': 'form-control'} }) }}
			</div>
		  </div>
	</div> 
	<div class="row">
	      <div class="form-group">
	      	<div class="col-lg-3">
				<label>{{ "Ville"|trans }}</label>
		    </div>
			<div class="col-lg-5">
				{{ form_errors(form.city) }}
				{{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
			</div>
		  </div>
	</div> 
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.phone, "Téléphone fixe"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
	      <div class="col-lg-5">
	        {{ form_errors(form.phone) }}
	        {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.mobile, "Téléphone portable"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
	      <div class="col-lg-5">
	        {{ form_errors(form.mobile) }}
	        {{ form_widget(form.mobile, { 'attr': {'class': 'form-control'} }) }}
	      </div>
	    </div>
	</div>
	<div class="row">
	    <div class="form-group">
	      {{ form_label(form.siren, "SIRET"|trans, {'label_attr': {'class': 'col-lg-3'}}) }}
	      <div class="col-lg-5">
	        {{ form_errors(form.siren) }}
	        {{ form_widget(form.siren, { 'attr': {'class': 'form-control'} }) }}
	      </div>
		  <div class="col-lg-4">
				{{ "Les 14 chiffres de votre SIRET"|trans }}
		    </div>
	    </div>
	</div>
	<div class="row">
	  <div class="form-group">
		<div class="col-lg-3">
			<label>{{ "Charte de qualité"|trans }}</label>
		</div>
		<div class="col-lg-9">
			{{ form_widget(form.charte) }} <b>{{ "J'adhère sans réserve à la charte de qualité"|trans }}</b><br/>
			{{ "- répondre à chaque demande de réservation"|trans }}<br/>
			{{ "- proposer un tarif adapté à la prestation fournie"|trans }}<br/>
			{{ "- être un professionnel et avoir les qualifications requises pour effectuer les prestations"|trans }}
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="form-group">
		<div class="col-lg-3">
			<label>{{ "CGU"|trans }}</label>
		</div>
		<div class="col-lg-9">
			{{ form_widget(form.cgu) }} <a target="_blank" href="{{ path('content_show', { 'content_id': 1, 't': 'conditions-generales-d-utilisation' }) }}">{{ "J'accepte les conditions générales d'utilisation"|trans }}</a><br/>
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="form-group">
		<div class="col-lg-3">
			<label>{{ "Newsletter"|trans }}</label>
		</div>
		<div class="col-lg-9">
			{{ form_widget(form.newsletter) }} {{ "Je souhaite recevoir la newsletter"|trans }}<br/>
		</div>
	  </div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-lg-12 text-center">
				<button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Inscription"|trans }}</button>
		   </div>
		</div>
	</div>
{{ form_widget(form._token) }}
</form>

