{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

	<div class="table_admin">
		<table>
			<thead>
				<tr class="entete">
					<th></th>
					<th><a href="{{ path('admin_booking_index', {'sort': 'id', 'sens': sens_inv}) }}">ID</a></th>
					<th><a href="{{ path('admin_booking_index', {'sort': 'statut', 'sens': sens_inv}) }}">Statut</a></th>
					<th><a href="{{ path('admin_booking_index', {'sort': 'user', 'sens': sens_inv}) }}">Client</a></th>
					<th><a href="{{ path('admin_booking_index', {'sort': 'seller', 'sens': sens_inv}) }}">Pro réservé</a></th>
					<th><a href="{{ path('admin_booking_index', {'sort': 'date_rdv', 'sens': sens_inv}) }}">Date prestation</a></th>
					<th><a href="{{ path('admin_booking_index', {'sort': 'created_at', 'sens': sens_inv}) }}">Date création</a></th>
				</tr>
			</thead>
			<tbody>
				{% for booking in liste %}
					<tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
						<td><a href="{{ path('admin_booking_show', {'booking_id': booking.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
						<td>{{ booking.id }}</td>
						<td>{{ booking.statutLabel }}</td>
						<td><a href="{{ path('admin_user_show', {'user_id': booking.user.id}) }}">{{ booking.user.lastname }} {{ booking.user.firstname }}</a></td>
						<td><a href="{{ path('admin_user_show', {'user_id': booking.seller.id}) }}">{{ booking.seller.lastname }} {{ booking.seller.firstname }}</a></td>
						<td>{{ booking.dateRdv('d/m/Y') }}</td>
						<td>{{ booking.createdat('d/m/Y') }}</td>
					</tr>
				{% endfor %}
			</tbody>  
		</table>	
		{% include 'AdminBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
	</div>

{% endblock %}
