{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Details Réservation</h1>

<div class="form_admin">
	<table>
		<tbody>
			<tr>
				<th>Numéro:</th>
				<td>{{booking.id}}</td>
			</tr>
			<tr>
				<th>Statut:</th>
				<td>{{booking.statutLabel}}</td>
			</tr>
			<tr>
				<th>Client:</th>
				<td><a href="{{ path('admin_user_show', {'user_id': booking.user.id}) }}">{{ booking.user.lastname }} {{ booking.user.firstname }}</a></td>
			</tr>
			<tr>
				<th>Pro réservé:</th>
				<td><a href="{{ path('admin_user_show', {'user_id': booking.seller.id}) }}">{{ booking.seller.lastname }} {{ booking.seller.firstname }}</a></td>
			</tr>
			<tr>
				<th>Date de création:</th>
				<td>{{ booking.createdat('d/m/Y') }}</td>
			</tr>
			<tr>
			<td colspan="2">
					<hr/>
				</td>
			</tr>
			<tr>
				<th>Date de prestation:</th>
				<td>{{ booking.dateRdv('d/m/Y') }}</td>
			</tr>
			<tr>
				<th>Heure:</th>
				<td>{{ booking.heureRdvLabel }}</td>
			</tr>
		    <tr>
				<td colspan="2">
					<hr/>
				</td>
			</tr>
			<tr>
				<th>{{ "Prix"|trans }}</th>
				<td>{{ booking.priceLabel }}</td>
			</tr>
			{% if booking.code %}
			<tr>
				<th>{{ "Code de réduction"|trans }}</th>
				<td>{{ booking.code }}</td>
			</tr>
			<tr>
				<th>{{ "Réduction"|trans }}</th>
				<td>- {{ booking.codeReducLabel }}</td>
			</tr>
			{% endif %}
			<tr>
				<th>{{ "Frais de service"|trans }}</th>
				<td>{{ booking.commissionLabel }}</td>
			</tr>
			<tr>
				<th>{{ "TVA"|trans }}</th>
				<td>{{ booking.tvaLabel }}</td>
			</tr>
			<tr>
				<th>{{ "Total"|trans }}</th>
				<td>{{ booking.priceTtcLabel }}</td>
			</tr>
			<tr>
				<td colspan="2">
					<hr/>
				</td>
			</tr>
			<tr>
				<th>Pré Authorisation:</th>
				<td>{{ booking.PreauthorizationId }}</td>
			</tr>
			<tr>
				<th>CB ID:</th>
				<td>{{ booking.CardId }}</td>
			</tr>
			<tr>
				<td colspan="2">
					<hr/>
				</td>
			</tr>
			<tr>
				<th>Offre réservée:</th>
				<td>{{ booking.offer.title }}</td>
			</tr>
			<tr>
				<th>Description:</th>
				<td>{{ booking.offer.description }}</td>
			</tr>
		</tbody>
		<thead>
			<tr>
				<td colspan="2">
					<ul id="bout-action">
						<li>
							<div class="buttonwrapper">
								<a class="boldbuttons" href="{{ path('admin_booking_index') }}"><span>Retour liste</span></a>
							</div>
						</li>
						{% if booking.statut == 3 %}
						<li>
							<div class="buttonwrapper">
								<a class="boldbuttons" href="{{ path('admin_booking_realise', {'booking_id' : booking.id }) }}"><span>Prestation réalisée</span></a>
							</div>
						</li>
						{% endif %}
					</ul>        
				</td>
			 </tr>
		</thead>
	</table>
</div>


</div>

{% endblock %}
