<select class="form-control" name="ville" id="ville" onchange="valideAdresse (); return false;" >
<option value="">choissez ville</option>
{% for ville in villes %}
<option value="{{ ville.id }}">{{ ville.title }} ({{ ville.postalCode }})</option>
{% endfor %}
</select>