{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Réinitialisation du mot de passe"|trans }}</h1>
			</div>
		</div>
	</div>
</div>
	
<div class="container">
	
	{% if result %}    
		<p>
		   <form action="{{ path('register_endpassword') }}" method="post" class="form col-lg-6">  
		   	<input type="hidden" name="email" value="{{ email }}">
		   	<input type="hidden" name="oldpassword" value="{{ password }}">
		   	<div class="form-group">
		      <legend>{{ "Indiquez votre nouveau mot de passe"|trans }}</legend>
		    </div>
		  	<div class="row">
			    <div class="form-group">
			      <label for="password" class="col-lg-3">{{ "Mot de passe"|trans }}</label>
			      <div class="col-lg-6">
			        <input required="required" class="form-control" type="password" id="password" name="password" value="" />
			      </div>
			      <div class="col-lg-3">
			       <button class="pull-right btn btn-primary">{{ "Valider"|trans }}</button>
			    </div>
			    </div>
			</div>
		   </form>
		</p>
	   
	{% else %}
	    
		<p>
			{{ "Impossible d'effectuer cette opération"|trans }}.
		</p>
	
	{% endif %}

</div>
{% endblock %}