{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12  text-center">
				<h1>{{ "Création de mon profil"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="col-lg-12">
			
			<div class="panel panel-default">
				<div class="panel-heading  text-center">
				    <h3 class="panel-title">{{ "Mes cheveux"|trans }}</h3>
				</div>
				<div class="panel-body">
				
				
					<form action="{{ path('register_cheveux') }}" id="myform" autocomplete="off" method="POST" {{ form_enctype(form) }} class="form-horizontal col-lg-12">
					{{ form_errors(form) }}
					
						<table class="table table_white">
							<tbody>
								{% for sub_category in cheveux.children %}
								<tr>
								  <th style="width:25%;">{% if sub_category.id == 176 %}<div class="div_defrisage" style="display:none;">{% endif %}{{ sub_category.title }}{% if sub_category.id == 176 %}</div>{% endif %}</th>
								  <td>
								    {% if sub_category.id == 176 %}<div class="div_defrisage" style="display:none;">{% endif %}
									<ul class="list_checks_profil">
									{% for competence in sub_category.children %}
										<li> <input onclick="{% if sub_category.id == 166 %}displayDefrisage(this);{% endif %}processCoche('input_{{ sub_category.id }}', 'faprod_userbundle_user_cheveux_{{ competence.id }}');" class="nbCoche input_{{ sub_category.id }}" {% if competence in form.vars.value.cheveux %}checked=checked{% endif %} type="checkbox" name="faprod_userbundle_user[cheveux][]" id="faprod_userbundle_user_cheveux_{{ competence.id }}" value="{{ competence.id }}"> {{ competence.title }}</li>
									{% endfor %}
									</ul>
									{% if sub_category.id == 176 %}</div>{% endif %}
								  </td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2" class="text-center">
										<a class="btn btn-primary btn-lg" href="javascript:void(0);" onclick="if (nbCoche('nbCoche') >= 6) {$('#myform').submit();} else {alert('Vous devez compléter tous les critéres');}"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Continuer >"|trans }}</a>
									</td>
								</tr>
							</thead>
						</table>

					{{ form_widget(form._token) }}
					</form>
		
		
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}