{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1>{{ "Inscription gratuite"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="col-lg-9">	
			{{ include("RegisterBundle:Form:cliente.html.twig") }}
		</div>
		<div class="col-lg-3">
			<div class="row">
				<div class="col-lg-12 text-center">
					<p>
						<br/><br/><br/><br/><br/><a href="{{ path('content_show', { 'content_id': 13, 't': 'rejoindre-notre-reseau-professionnel' }) }}" class="btn btn-primary btn-lg">{{ "S’inscrire comme professionnel"|trans }}</a>
					</p>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}