{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Connexion à votre compte"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		
		<div class="col-lg-6">
			
		  <form action="{{ path('register_login') }}" method="post" class="form-horizontal col-xs-offset-1 col-xs-10 col-lg-10">
			
			<div class="row">
		    	<div class="col-lg-offset-1 col-lg-9">
				    <div class="row">
					    <div class="form-group">
							<div class="input-group input-group-md">
							  <span class="input-group-addon">
							    <i class="fa fa-envelope"></i>
							  </span>
							  <input required="required" class="form-control" type="email" id="email" name="email" value="" placeholder="{{ "Email"|trans }}">
							</div>
						</div>
					</div>
					<div class="row">
					    <div class="form-group">
							<div class="input-group input-group-md">
							  <span class="input-group-addon">
							    <i class="fa fa-lock"></i>
							  </span>
							  <input required="required" class="form-control" type="password" id="password" name="password" placeholder="{{ "Mot de passe"|trans }}">
							</div> 
						</div>
					</div>
					<div class="row">
					    <div class="form-group">
							<div class="input-group input-group-md">
					    		<input type="checkbox" id="remember_me" name="_remember_me" checked=checked/> {{ "se souvenir de moi"|trans }}
					    	</div>
						</div>
					</div>
				    <div class="form-group">
				       <button class="pull-right btn btn-primary">{{ "Connexion"|trans }}</button>
				       
				       <a href="{{ path('register_password') }}">{{ "Mot de passe oublié ?"|trans }}</a>
				    </div>
				</div>
			</div>
			
		  </form>
	
		  
		</div>
		
	</div>

</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}