{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Réinitialisation du mot de passe"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	{% if result %}    
  
		<p>
		    {{ "Votre nouveau mot de passe est enregistré, vous pouvez dès maintenant vous connecter"|trans }}       
		</p>
	   
	{% else %}
	    
		<p>
			{{ "Impossible d'effectuer cette opération"|trans }}.
		</p>
	
	{% endif %}
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
{% endblock %}