{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Merci pour votre inscription"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<p>
		{{ "Cher membre"|trans }},
	</p>
	<p>
		{% trans %}Merci pour votre inscription; nous vous avons envoyé un email afin de valider votre compte{% endtrans %}.
	</p>
	<p>
		{% trans %}Veuillez consulter votre boite email et suivre les instructions{% endtrans %}.
	</p>
	<p>
		{% trans %}<b>Attention</b>, si vous ne recevez pas cet email dans les prochaines minutes, vérifiez qu’il ne se trouve pas dans le répertoire 'Spam' ou 'Courrier indésirable' de votre boite email. Sinon, l’adresse email que vous nous avez communiqué comporte peut-être une erreur.{% endtrans %}
	</p>
	<p>
		{% trans %}Il faut maintenant compléter le profil{% endtrans %} : 
	</p>
	<p class="text-center">
		<a class="btn btn-lg btn-primary" href="{{ path('user_edit') }}">{{ "Je complète mon profil >>"|trans }}</a>
	</p>
	<p>
		<a href="{{ path('contact_index') }}">En cas de problème, faites-le nous savoir via le Formulaire de contact</a>
	</p>
	<p>
		{% trans %}Merci{% endtrans %}
	</p>
	<p>
		{{ getSiteName() }}
	</p>

</div>
{% endblock %}