{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Inscription : choisissez le type de compte qui vous correspond"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="col-lg-offset-1 col-lg-5 text-center">
			<div class="title-section">{{ "Vous êtes une <b>cliente</b>"|trans|raw }}</div>
		</div>
		<div class="col-lg-5 text-center">
			<div class="title-section">{{ "Vous êtes un <b>professionnel</b>"|trans|raw }}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-offset-1 col-lg-5 text-center">
			<a href="{{ path('register_cliente') }}"><img src="{{ asset('images/template/register1.png') }}"></a>
		</div>
		<div class="col-lg-5 text-center">
			<a href="{{ path('register_professionnel') }}"><img src="{{ asset('images/template/register2.png') }}"></a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-offset-1 col-lg-5 text-center">
			<br/><a href="{{ path('register_cliente') }}" class="btn btn-primary btn-lg">{{ "Inscription cliente"|trans }}</a>
		</div>
		<div class="col-lg-5 text-center">
			<br/><a href="{{ path('register_professionnel') }}" class="btn btn-primary btn-lg">{{ "S’inscrire comme professionnel"|trans }}</a>
		</div>
	</div>

</div>

{% endblock %}