{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Réinitialisation du mot de passe"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<form method="post" action="{{ path('register_sendpassword') }}" class="form col-lg-10">
       <div class="form-group">
	      <legend>{{ "Indiquez votre email"|trans }}</legend>
	    </div>
	  	<div class="row">
		    <div class="form-group">
		      <label for="email" class="col-lg-2">{{ "Email"|trans }}</label>
		      <div class="col-lg-6">
		        <input required="required" class="form-control" type="email" id="email" name="email" value="" />
		      </div>
		      <div class="col-lg-2">
		       <button class="btn btn-primary">{{ "Valider"|trans }}</button>
		    </div>
		    </div>
		</div>
   </form>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
{% endblock %}