{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12  text-center">
				<h1>{{ "Création de mon profil"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="col-lg-12">
			
			<div class="panel panel-default">
				<div class="panel-heading text-center">
				    <h3 class="panel-title">{{ "Ma peau"|trans }}</h3>
				</div>
				<div class="panel-body">
				
				
					<form action="{{ path('register_peau') }}" id="myform" autocomplete="off" method="POST" {{ form_enctype(form) }} class="form-horizontal col-lg-12">
					{{ form_errors(form) }}
					
						<table class="table table_white">
							<tbody>
								{% for sub_category in peau.children %}
								<tr>
								  <th style="width:25%;">{{ sub_category.title }}</th>
								  <td>
									<ul class="list_checks_profil">
									{% for competence in sub_category.children %}
										<li> <input onclick="processCoche('input_{{ sub_category.id }}', 'faprod_userbundle_user_peau_{{ competence.id }}');" class="nbCoche input_{{ sub_category.id }}" {% if competence in form.vars.value.peau %}checked=checked{% endif %} type="checkbox" name="faprod_userbundle_user[peau][]" id="faprod_userbundle_user_peau_{{ competence.id }}" value="{{ competence.id }}">
										{% if competence.couleurPeau %}
										<div class="img-circle img-thumbnail" style="margin-top:25px;width:50px;height:50px;background-color:#{{ competence.couleurPeau }}"></div>
										{% else %}
										{{ competence.title }}
										{% endif %}
										</li>
									{% endfor %}
									</ul>
								  </td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td>
										<a class="btn btn-primary" href="{{ path('register_cheveux') }}">{{ "< Retour"|trans }}</a>
									</td>
									<td class="text-center">
										<a class="btn btn-primary btn-lg" href="javascript:void(0);" onclick="if (nbCoche('nbCoche') >= 2) {$('#myform').submit();} else {alert('Vous devez compléter tous les critéres');}"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Continuer >"|trans }}</a>
									</td>
								</tr>
							</thead>
						</table>
						
					{{ form_widget(form._token) }}
					</form>
					
					
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}