{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1>{{ "Création de mon profil"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="col-lg-12">
			
			<div class="panel panel-default">
				<div class="panel-heading text-center">
				    <h3 class="panel-title">{{ "Mes préférences"|trans }}</h3>
				</div>
				<div class="panel-body">
				
				
					<form action="{{ path('register_preferences') }}" id="myform" autocomplete="off" method="POST" {{ form_enctype(form) }} class="form-horizontal col-lg-12">
					{{ form_errors(form) }}
					
						<table class="table table_white">
							<tbody>
								{% for sub_category in preferences.children %}
								<tr>
								  <th style="width:25%;">{{ sub_category.title }}</th>
								  <td>
									<ul class="list_checks_profil">
									{% for competence in sub_category.children %}
										{% if competence.display(is_crepu, is_lisse, is_boucle) %}
										<li> <input class="nbCoche" {% if competence in form.vars.value.preferences %}checked=checked{% endif %} type="checkbox" name="faprod_userbundle_user[preferences][]" id="faprod_userbundle_user_preferences_{{ competence.id }}" value="{{ competence.id }}"> {{ competence.title }}</li>
										{% endif %}
									{% endfor %}
									</ul>
								  </td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td>
										<a class="btn btn-primary" href="{{ path('register_peau') }}">{{ "< Retour"|trans }}</a>
									</td>
									<td class="text-center">
										<a class="btn btn-primary btn-lg" href="javascript:void(0);" onclick="if (nbCoche('nbCoche') >= 3) {$('#myform').submit();} else {alert('Vous devez compléter tous les critéres');}"><span class="glyphicon glyphicon-ok-sign"></span> {{ "Continuer >"|trans }}</a>
									</td>
								</tr>
							</thead>
						</table>

					{{ form_widget(form._token) }}
					</form>
					
					
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}