{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1>{{ "Inscription professionnel"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="col-lg-12">
			{{ include("RegisterBundle:Form:professionnel.html.twig") }}
		</div>
	</div>

</div>


{% endblock %}