{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Réinitialisation du mot de passe"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	{% if result %}
    
    <p>
    	{{ "Vous allez recevoir un email afin de renouveler votre mot de passe"|trans }}.
    </p>
    
    {% else %}
    
    <p>
    	{{ "Cette adresse email est invalide ou n'existe pas dans notre base de données"|trans }}.
    </p>
    <p>
    	<a href="{{ path('register_password') }}">{{ "Recommencer"|trans }}</a>
    </p>
    
    {% endif %}
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
{% endblock %}