{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid title title_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ "Félicitation, votre inscription est validée!"|trans }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="content_center">
		
		<p>
			{{ "Vous avez dès à présent accès à toutes les fonctionnalités du site"|trans }}.
		</p>
		<p>
			<a href="{{ path('user_index') }}">{{ "Cliquez ici pour accéder à votre compte"|trans }}</a> {{ "(vous pourrez y compléter votre profil avec notamment une photo de profil)"|trans }}.
		</p>
	
	</div>

</div>
{% endblock %}