{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

  <h1>{% if form.vars.value.id %}{{ "Modifier ma publicité"|trans }}{% else %}{{ "Ajouter une publicité"|trans }}{% endif %}</h1>
  
  {{ include("PubBundle:Form:edit.html.twig") }}

{% endblock %}