{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}
	
	<h1>{{ "Mes publicités"|trans }}</h1>
	
	<table class="table table-striped table-bordered">
	  <tbody>
	  	<tr>
	  		<th></th>
	  		<th>{{ "Titre"|trans }}</th>
	  		<th>{{ "Début"|trans }}</th>
	  		<th>{{ "Fin"|trans }}</th>
	  		<th>{{ "Etat"|trans }}</th>
	  	</tr>
	  	{% for publicite in publicites %}
	    <tr>
	      <td style="width:50px;"><a href="{{ path('publicite_show', {'publicite_id': publicite.id}) }}"><img src="{{ asset('images/template/search.png') }}"></a></td>
	      <td>{{ publicite.title }}</td>
	      <td>{{ publicite.enligneDate('d/m/Y') }}</td>
	      <td>{{ publicite.endDate('d/m/Y') }}</td>
	      <td>{{ publicite.statusLabel }}</td>
	    </tr>
	    {% endfor %}
	 </tbody>
	 <thead>
	      <tr>
	        <td colspan="7">
		        <a class="btn btn-primary" href="{{ path('publicite_edit', {'publicite_id' : 0}) }}"><span>{{ "Ajouter une publicité"|trans }}</span></a>
		        <a class="btn btn-info" href="{{ path('user_index') }}"><span>{{ "Retour"|trans }}</span></a>
	        </td>
	      </tr>
	    </thead>
	</table>

{% endblock %}

