{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

	<h1>{{ "Votre publicité"|trans }}</h1>
	
	<table class="table table-bordered table_white">
	  <tbody>
	  	<tr>
	      <th style="width:25%;">{{ "Banniéres"|trans }}</th>
	      <td>
	      	{% for image in publicite.images %}
				<img src="{{ image.url }}"/><br/><br/>
			{% endfor %}
  			</td>
	    </tr>
	     <tr>
	      <th>{{ "Type"|trans }}</th>
	      <td>{{ publicite.typeLabel }}</td>
	    </tr>
	    <tr>
	      <th>{{ "Cible"|trans }}</th>
	      <td>{{ publicite.cibleLabel }}</td>
	    </tr>
	    <tr>
	      <th>{{ "Titre"|trans }}</th>
	      <td>{{ publicite.title }}</td>
	    </tr>
	    <tr>
	      <th>{{ "URL"|trans }}</th>
	      <td>{{ publicite.url }}</td>
	    </tr>
	    <tr>
	      <th>{{ "Etat"|trans }}</th>
	      <td>{{ publicite.statusLabel }}</td>
	    </tr>
	    <tr>
	      <th>{{ "En ligne le"|trans }}</th>
	      <td>{{ publicite.enligneDate('d/m/Y') }}</td>
	    </tr>
	    <tr>
	      <th>{{ "Fin publication"|trans }}</th>
	      <td>{{ publicite.endDate('d/m/Y') }}</td>
	    </tr>
	    <tr>
	      <th>{{ "Date creation"|trans }}</th>
	      <td>{{ publicite.createdat("d/m/Y") }}</td>
	    </tr>
	    <tr>
	      <th>{{ "Date modification"|trans }}</th>
	      <td>{{ publicite.updatedat("d/m/Y") }}</td>
	    </tr>
	    <tr>
	    	<th></th>
	    	<td>
	    		<div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
	    	</td>
	    </tr>
	  </tbody>
	   <thead>
	      <tr>
	        <td colspan="2">
		        <a class="btn btn-primary" href="{{ path('publicite_edit', {'publicite_id': publicite.id}) }}"><span>{{ "Modifier"|trans }}</span></a>
		        <a onclick="if (confirm('{{ "En êtes-vous sûr?"|trans }}')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" class="btn btn-warning" href="{{ path('publicite_delete', {'publicite_id': publicite.id}) }}"><span>{{ "Supprimer"|trans }}</span></a>
		        <a class="btn btn-info" href="{{ path('publicite_index') }}"><span>{{ "Retour"|trans }}</span></a>
	        </td>
	      </tr>
	    </thead>
	</table>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
<script type="text/javascript">
    {{ chart(chart) }}
</script>
{% endblock %}