{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}

<form method="POST" {{ form_enctype(form) }}>
<div class="form_admin">
 <table>
    <thead>
      <tr>
        <td colspan="2">
 
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_typecontent_index') }}"><span>Annuler</span></a>
			</div>
          </li>
          <li class="button-valider">
          	<input type="submit" value="Valider"/>
          </li>
        </ul> 
        
        </td>
      </tr>
    </thead>
    <tbody>
     {{ form_errors(form) }}
     <tr>
        <th>{{ form_label(form.label, "Rubrique") }}</th>
        <td>
          {{ form_errors(form.label) }}
          {{ form_widget(form.label) }}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
{{ form_widget(form._token) }}
</form>