{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

  <h1>Rubriques</h1>
  
  <div class="table_admin">
	<table>
	  <thead>
	  	<tr style="background-color:white;">
	        <th colspan="10">
		        <ul id="bout-action">
		          <li>
		          	<div class="buttonwrapper">
						<a class="boldbuttons" href="{{ path('admin_typecontent_add') }}"><span>Ajouter</span></a>
					</div>
		          </li>
		        </ul>
	        </th>
	    </tr>  
	    <tr class="entete">
	      <th></th>
	      <th>Rubrique</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for config in liste %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_typecontent_show', {'typecontent_id': config.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td>{{ config.label }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	  
	</table>
	
	{% include 'AdminBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
	
  </div>

{% endblock %}
