{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Rubrique</h1>

<div class="form_admin">
<table>
  <tbody>
    <tr>
      <th>Rubrique:</th>
      <td>{{ typecontent.label }}</td>
    </tr>
  </tbody>
   <thead>
      <tr>
        <td colspan="2">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_typecontent_edit', {'typecontent_id': typecontent.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
          {% if typecontent.id > 2 %}
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_typecontent_delete', {'typecontent_id': typecontent.id}) }}"><span>Supprimer</span></a>
			</div>
          </li>
          {% endif %}
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_typecontent_index') }}"><span>Retour liste</span></a>
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
</table>
</div>

{% endblock %}
