{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

  <h1>Liste discussions</h1>
  
  <div class="table_admin">
	<table>
	  <thead> 
	    <tr class="entete">
	      <th></th>
	      <th><a href="{{ path('admin_discussion_index', {'sort': 'user', 'sens': sens_inv}) }}">Auteur</a></th>
	      <th><a href="{{ path('admin_discussion_index', {'sort': 'destinataire', 'sens': sens_inv}) }}">Destinataire</a></th>
	      <th><a href="{{ path('admin_discussion_index', {'sort': 'created_at', 'sens': sens_inv}) }}">Date</a></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for discussion in liste %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_discussion_show', {'discussion_id': discussion.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td>{% if discussion.user %}{{ discussion.user.allUsername }}{% endif %}</td>
	      <td>{% if discussion.destinataire %}{{ discussion.destinataire.allUsername }}{% endif %}</td>
	      <td>{{ discussion.createdAt('d/m/Y') }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	
	{% include 'AdminBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
	
  </div>

{% endblock %}
