{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Details discussion</h1>

<div class="form_admin">
<table>
  <tbody>
  	{% if discussion.user %}
    <tr>
      <th>Auteur:</th>
      <td><a href="{{ path('admin_user_show', {'user_id': discussion.user.id}) }}">{{ discussion.user.allUsername }}</a></td>
    </tr>
    {% endif %}
    {% if discussion.destinataire %}
    <tr>
      <th>Destinataire:</th>
      <td><a href="{{ path('admin_user_show', {'user_id': discussion.destinataire.id}) }}">{{ discussion.destinataire.allUsername }}</a></td>
    </tr>
    {% endif %}
    <tr>
      <th>Date création:</th>
      <td>{{ discussion.createdat("d/m/Y") }}</td>
    </tr>
    <tr>
      <th>Date modification:</th>
      <td>{{ discussion.updatedat("d/m/Y") }}</td>
    </tr>
  </tbody>
   <thead>
      <tr>
        <td colspan="2">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_discussion_delete', {'discussion_id': discussion.id}) }}"><span>Supprimer</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
          		<a class="boldbuttons" href="{{ path('admin_discussion_index') }}"><span>Retour</span></a>
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
</table>
</div>

<div class="table_admin">
<table>
  <thead> 
    <tr class="entete">
      <th>De</th>
      <th>Destinataire</th>
      <th>Message</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for message in discussion.messages %}
    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
      <td>{{ message.user.lastName }}</td>
      <td>{{ message.destinataire.lastName }}</td>
      <td>{{ message.texte|nl2br }}</td>
      <td>{{ message.updatedAt('d/m/Y H:i') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
