<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
    
<div id="main">
    
    <div id="texte">
    <p>
    	<img src="{{ asset('images/logo.jpg', absolute=true) }}" alt="{{ getSiteName() }}">
    </p>
    <p>
    	{{ "Bonjour"|trans }} {{ user.lastName }},
    </p>
    <p>    
        <b>{{ "Votre réservation est confirmée"|trans }}.</b>
    </p>
    <p>
    	<a target="_blank" href="{{ url('register_login_message', {'p1': base64_encode(user.id), 'p2': base64_encode(user.email), 'p3': base64_encode(user.password)}) }}">
    		{{ "Pour la consulter, cliquez ici"|trans }}
		</a>
    </p>
    <p>
		{{ "A bientôt"|trans }},
	</p>
	<p>
		{{ getSiteName() }}
	</p>
 </div>

</div>

</body>
</html>