{% extends "AdminBundle::admin.html.twig" %}

{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
	<script src="{{ asset('js/jquery-ui.js') }}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#tabs").tabs();
	});
	</script>
{% endblock %}

{% block body %}

  <h1>Modifier une catégorie</h1>

  {{ include("AdminBundle:Category:form.html.twig") }}

{% endblock %}