{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

  <h1>Liste critéres</h1>
  
  <div class="table_admin">
	<table>
	  <thead>
	    <tr style="background-color:white;">
	        <th colspan="10">
		        <ul id="bout-action">
		          <li>
		          	<div class="buttonwrapper">
						<a class="boldbuttons" href="{{ path('admin_category_add') }}"><span>Ajouter</span></a>
					</div>
		          </li>
		        </ul>
	        </th>
	    </tr>  
	    <tr class="entete">
	      <th></th>
	      <th><a href="{{ path('admin_category_index', {'sort': 'title', 'sens': sens_inv}) }}">Titre</a></th>
	      <th><a href="{{ path('admin_category_index', {'sort': 'no_order', 'sens': sens_inv}) }}">Ordre</a></th>
	      <th><a href="{{ path('admin_category_index', {'sort': 'is_publish', 'sens': sens_inv}) }}">Publié</a></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for category in liste %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_category_show', {'category_id': category.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td>{{ category.title }}</td>
	      <td>{{ category.noorder }}</td>
	      <td>{{ category.isPublishLabel }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	  
	</table>
	
	{% include 'AdminBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
	
  </div>

{% endblock %}
