{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Details Catégorie</h1>

<div class="form_admin">
<table>
  <tbody>
    <tr>
      <th>Titre:</th>
      <td>{{ category.title }}</td>
    </tr>
    <tr>
      <th>Ordre:</th>
      <td>{{ category.noorder }}</td>
    </tr>
    <tr>
      <th>Publié:</th>
      <td>{{ category.isPublishLabel }}</td>
    </tr>
	{% if category.level == 1 %}
	<tr>
      <th>Matching:</th>
      <td>{{ category.MatchingLabel }}</td>
    </tr>
	{% endif %}
    <tr>
      <th>Date modification:</th>
      <td>{{ category.updatedat("d/m/Y") }}</td>
    </tr>
  </tbody>
   <thead>
      <tr>
        <td colspan="2">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_category_edit', {'category_id': category.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_category_delete', {'category_id': category.id}) }}"><span>Supprimer</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
          		{% if category.level > 0 %}
					<a class="boldbuttons" href="{{ path('admin_category_show', {'category_id': category.parent.id}) }}"><span>Retour</span></a>
				{% else %}
					<a class="boldbuttons" href="{{ path('admin_category_index') }}"><span>Retour</span></a>
				{% endif %}
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
</table>
</div>

{% if category.level < 2 %}
<div class="table_admin">
<table>
  <thead>
    <tr style="background-color:white;">
        <th colspan="5">
        <ul id="bout-action">
         <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_category_add', {'id_ref': category.id}) }}"><span>Ajouter sous catégorie</span></a>
			</div>
          </li>
        </ul>
        </td>
    </tr>
    <tr class="entete">
      <th></th>
      <th>Sous Categorie</th>
      <th>Ordre</th>
      <th>Publié</th>
	  <th>Matching</th>
    </tr>
  </thead>
  <tbody>
    {% for sub_category in category.children %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_category_show', {'category_id': sub_category.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td>{{ sub_category.title }}</td>
	      <td>{{ sub_category.noorder }}</td>
	      <td>{{ sub_category.isPublishLabel }}</td>
		  <td>{{ sub_category.matchingLabel }}</td>
	    </tr>
	{% endfor %}
  </tbody>

</table>
</div>
{% endif %}

{% endblock %}
