<tr>
	<th>{{ form_label(form.translations[langue].title, "Titre") }}</th>
	<td>
	  {{ form_errors(form.translations[langue].title) }}
	  {{ form_widget(form.translations[langue].title) }}
	</td>
</tr>