<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style type="text/css">
<!--
table th{
font-weight:bold;
}
table th,
table td{
text-align:left;
}
-->
</style>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
    
<div id="main">
    
    <div id="texte">
    <p>
    	<img src="{{ asset('images/logo.jpg', absolute=true) }}" alt="{{ getSiteName() }}">
    </p>
    <p>
    	{{ "Bonjour"|trans }},
    </p>
    <p>    
        {{ "Nous avons bien reçu votre message, nous vous répondrons dès que possible"|trans }}.
    </p>
    <p>
    	{{ "Votre message"|trans }} :
    </p>
    <p>
    	<table>
    		<tr>
    			<th>{{ "Nom"|trans }}</th>
    			<td>{{ contact['first_name'] }}</td>
    		</tr>
    		<tr>
    			<th>{{ "Prénom"|trans }}</th>
    			<td>{{ contact['last_name'] }}</td>
    		</tr>
    		<tr>
    			<th>{{ "Email"|trans }}</th>
    			<td>{{ contact['email'] }}</td>
    		</tr>
    		<tr>
    			<th>{{ "Téléphone"|trans }}</th>
    			<td>{{ contact['phone'] }}</td>
    		</tr>
    		<tr>
    			<th>{{ "Message"|trans }}</th>
    			<td>{{ contact['message'] }}</td>
    		</tr>
    	</table>
    </p>
 </div>

</div>

</body>
</html>


