{% extends "AdminBundle::admin.html.twig" %}

{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
	<script src="{{ asset('js/jquery-ui.js') }}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#tabs").tabs();
	});
	</script>
{% endblock %}

{% block body %}

  <h1>Modifier une zone</h1>

  {{ include("AdminBundle:Zone:form.html.twig") }}
  
  <h1>Médiathèque</h1>

  <div class="form_admin">
	  <table>
	      <tbody>
	        <tr>
	            <td colspan="2">
	                <center>
						<IFRAME src="{{ asset('js/fileman/index.html') }}" width=1060 height=700 scrolling=no frameborder=0 > </IFRAME>
					</center>
				</td>
			</tr>
	    </tbody>
	  </table>
  </div>  

{% endblock %}