{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

  <h1>Liste zones</h1>
  
  <div class="table_admin">
	<table>
	  <thead> 
	    <tr class="entete">
	      <th></th>
	      <th><a href="{{ path('admin_zone_index', {'sort': 'title', 'sens': sens_inv}) }}">Titre</a></th>
	      <th><a href="{{ path('admin_zone_index', {'sort': 'is_publish', 'sens': sens_inv}) }}">Publié</a></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for zone in liste %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_zone_show', {'zone_id': zone.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td>{{ zone.title }}</td>
	      <td>{{ zone.isPublishLabel }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	  
	</table>
	
	{% include 'AdminBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
	
  </div>

{% endblock %}
