{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Détails Zone</h1>

<div class="form_admin">
<table>
  <tbody>
    <tr>
      <th>Titre:</th>
      <td>{{ zone.title() }}</td>
    </tr>
    <tr>
      <th>Contenu:</th>
      <td>{{ zone.html|raw }}</td>
    </tr>
    <tr>
      <th>Publié:</th>
      <td>{{ zone.isPublishLabel }}</td>
    </tr>
    <tr>
      <th>Date modification:</th>
      <td>{{ zone.updatedat("d/m/Y") }}</td>
    </tr>
  </tbody>
   <thead>
      <tr>
        <td colspan="2">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_zone_edit', {'zone_id': zone.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_zone_index') }}"><span>Retour liste</span></a>
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
</table>
</div>

{% endblock %}
