<tr>
	<th>{{ form_label(form.translations[langue].title, "Titre") }}</th>
	<td>
	  {{ form_errors(form.translations[langue].title) }}
	  {{ form_widget(form.translations[langue].title) }}
	</td>
</tr>
<tr>
	<th>{{ form_label(form.translations[langue].html, "Contenu") }}</th>
	<td>
	  {{ form_errors(form.translations[langue].html) }}
	  {{ form_widget(form.translations[langue].html) }}
	  <script type="text/javascript">CKEDITOR.replace('faprod_contentbundle_zone_translations_{{ langue }}_html');</script>
	</td>
</tr>