{% extends "CoreBundle::layout.html.twig" %}


{% block javascripts %}
    {{ parent() }}
	<script>
	
	function rotationImg(div, image_id, rotate, type, title)
    { 	
	      $.ajax({
		        url: '{{ path('user_rotateimg') }}',
		        type: 'POST',
		        data: { image_id: image_id, rotate: rotate, type: type, title: title },
		        beforeSend: function(data) {
		            $("#"+div).empty().append('<center><img style=\'margin-top:10px;\' src=\'{{ asset('images/template/loader.gif') }}\'></center>');
		        },
		        success: function(data) {
		            $("#"+div).empty().append(data);
		        },
		        error: function () {
		            //alert('La requête n\'a pas abouti');
		        }
	      });
    }
    
	$(document).ready(function () {
		
		Dropzone.autoDiscover = false; // otherwise will be initialized twice
		var myDropzoneOptions = {
		    url: "{{ url('upload_media', {'resize' : '1_80_80_2_800_600'}) }}",
		    acceptedFiles: "image/jpeg,image/png,image/gif",
	        addRemoveLinks: true,
	        dictRemoveFile : "{{ 'Retirer cette photo'|trans }}",
	        dictCancelUploadConfirmation : "{{ 'Êtes-vous sûr de vouloir annuler le transfert'|trans }}",
	        dictCancelUpload : "{{ 'Annuler le transfert'|trans }}",
	        autoProcessQueue: true,
		    uploadMultiple: false,
		    parallelUploads: 3,
		    //maxFiles: 1,
		    maxFilesize: 20, // MB
	        success: function (file, response) {
	            var imgName = response['name'];
	            var input_hidden = Dropzone.createElement("<input type='hidden' name='images[]' value='"+imgName+"'>");
	            
	            file.previewElement.classList.add("dz-success");
      			file.previewElement.appendChild(input_hidden);
	        },
	        error: function (file, response) {
	            file.previewElement.classList.add("dz-error");
	        },
		};
		var myDropzone = new Dropzone('#upload_images_div', myDropzoneOptions);

	});
	</script>
		
{% endblock %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Ma prestation"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{% if form.vars.value.id %}{{ "Modifier ma prestation"|trans }}{% else %}{{ "Ajouter une prestation"|trans }}{% endif %}</h3>
				</div>
				<div class="panel-body">
  
  					{{ include("UserBundle:Form:editOffer.html.twig") }}

		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}