{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Mes prestations"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Mes prestations"|trans }}</h3>
				</div>
				<div class="panel-body">
				
					<div class="row">
						<div class="col-lg-12">
							<a class="btn btn-primary" href="{{ path('offer_edit', {'offer_id' : 0}) }}"><span>{{ "Ajouter une prestation"|trans }}</span></a>
						</div>
					</div>
					
					<div class="panel-divider"></div>
					

					{% if app.user.offers|length %}
					
					
						<table class="table table-striped table-condensed">
							<thead>
								<tr class="entete">
									<th></th>
									<th>Prestation</th>
									<th>Durée</th>
									<th>Prix</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for offer in app.user.offers %}
									<tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
										<td style="width:80px;"><a href="{{ path('offer_show', {'offer_id': offer.id}) }}"><img src="{{ asset('images/loupe3.png') }}"></a></td>
										<td>{{ offer.prestation }}</td>
										<td>{{ offer.dureeLabel }}</td>
										<td>{{ offer.priceLabel }}</td>
										<td><a onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('offer_delete', {'offer_id': offer.id}) }}"><img src="{{ asset('images/sup.gif') }}"></a></td>
									</tr>
								{% endfor %}
							</tbody>  
						</table>	

		    		
		    		{% else %}
		    		
						<div class="row">
							<div class="col-lg-12">
								{{ "Aucune offre pour le moment"|trans }}.<br/><br/>
							</div>
						</div>
		    		
		    		{% endif %}
		    		
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}