<select required=required class="form-control" id="faprod_userbundle_offer_prestation" name="faprod_userbundle_offer[prestation]">
<option value="">{{ "Prestation"|trans }}</option>
{% for prestation in prestations %}
<option value="{{ prestation.id }}">{{ prestation.title }}</option>
{% for sub_prestation in prestation.children %}
<option value="{{ sub_prestation.id }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ sub_prestation.title }}</option>
{% endfor %}
{% endfor %}
</select>