<div class="row popup_mesinfos">
	<div class="col-lg-12" style="overflow-y:auto;max-height:314px;">
	
		{% if app.user.offers|length %}

			<table class="table table-condensed table_popup">
				<thead>
					<tr class="entete">
						<th></th>
						<th>Prestation</th>
						<th>Durée</th>
						<th>Prix</th>
					</tr>
				</thead>
				<tbody>
					{% for offer in app.user.offers %}
						<tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
							<td style="width:80px;"><a href="{{ path('offer_show', {'offer_id': offer.id}) }}"><img src="{{ asset('images/loupe3.png') }}"></a></td>
							<td>{{ offer.prestation }}</td>
							<td>{{ offer.dureeLabel }}</td>
							<td>{{ offer.priceLabel }}</td>
						</tr>
					{% endfor %}
				</tbody>  
			</table>
		
		{% else %}
		
			<div class="row">
				<div class="col-lg-12 text-center">
					<br/><br/><br/><br/><br/>
					{{ "Aucune prestation pour le moment"|trans }}.<br/><br/>
				</div>
			</div>
		
		{% endif %}
		
		<p class="text-center">
			<a class="btn btn-primary" href="{{ path('offer_index') }}">{{ "Modifier"|trans }}</a>
		</p>
		
	</div>
</div>