{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Ma prestation"|trans }}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
		
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Ma prestation"|trans }}</h3>
				</div>
				<div class="panel-body">
		
					<table class="table table-bordered table_white">
						<tbody>
							<tr>
								<th style="width:25%;">{{ "Type de prestation"|trans }}</th>
								<td>{{ offer.prestation }}</td>
							</tr>
							<tr>
								<th>{{ "Description"|trans }}</th>
								<td>{{ offer.description|raw }}</td>
							</tr>
							<tr>
								<th>{{ "Durée"|trans }}</th>
								<td>{{ offer.dureeLabel }}</td>
							</tr>
							<tr>
								<th>{{ "Prix"|trans }}</th>
								<td>{{ offer.priceLabel }}</td>
							</tr>
							<tr>
								<th>{{ "Photos"|trans }}</th>
								<td>
									<ul class="liste-photo">
									{% for image in offer.images %}
										<li><a rel="facebox" href="{{ image.urlzoom }}"><img src="{{ image.url }}"/></a></li>
									{% endfor %}
									</ul>
								</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<td colspan="2">
									<a class="btn btn-primary" href="{{ path('offer_edit', {'offer_id' : offer.id}) }}"><span>{{ "Modifier"|trans }}</span></a>
									<a class="btn btn-primary" href="{{ path('offer_index') }}"><span>{{ "Retour"|trans }}</span></a>
								</td>
							</tr>
						</thead>
					</table>
					
				</div>
				
			</div>
			
			
		</div>
	</div>
</div>



{% endblock %}