{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Médiathèque</h1>

<div class="form_admin">
  <table>
      <tbody>
        <tr>
            <td colspan="2">
                <center>
					<IFRAME src="{{ asset('js/fileman/index.html') }}" width=1060 height=700 scrolling=no frameborder=0 > </IFRAME>
				</center>
			</td>
		</tr>
    </tbody>
  </table>
</div>  

{% endblock %}