{% extends "AdminBundle::admin.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
	<script>
	$(document).ready(function () {
		
		Dropzone.autoDiscover = false; // otherwise will be initialized twice
		var myDropzoneOptions = {
		    url: "{{ url('upload_media', {'resize' : '1_250_250_2_800_600'}) }}",
		    acceptedFiles: "image/jpeg,image/png,image/gif",
	        addRemoveLinks: true,
	        dictRemoveFile : "{{ 'Retirer cette photo'|trans }}",
	        dictCancelUploadConfirmation : "{{ 'Êtes-vous sûr de vouloir annuler le transfert'|trans }}",
	        dictCancelUpload : "{{ 'Annuler le transfert'|trans }}",
	        autoProcessQueue: true,
		    uploadMultiple: false,
		    parallelUploads: 1,
		    maxFiles: 1,
		    maxFilesize: 20, // MB
	        success: function (file, response) {
	            var imgName = response['name'];
	            var input_hidden = Dropzone.createElement("<input type='hidden' name='image' value='"+imgName+"'>");
	            
	            file.previewElement.classList.add("dz-success");
      			file.previewElement.appendChild(input_hidden);
	        },
	        error: function (file, response) {
	            file.previewElement.classList.add("dz-error");
	        },
	        init: function() {
			    this.on("addedfile", function() {
			      if (this.files[1]!=null){
			        this.removeFile(this.files[0]);
			      }
			    });
			}
		};
		var myDropzone = new Dropzone('#upload_image_div', myDropzoneOptions);
		
		Dropzone.autoDiscover = false; // otherwise will be initialized twice
		var myDropzoneOptions = {
		    url: "{{ url('upload_media', {'resize' : '1_80_80_2_800_600'}) }}",
		    acceptedFiles: "image/jpeg,image/png,image/gif",
	        addRemoveLinks: true,
	        dictRemoveFile : "{{ 'Retirer cette photo'|trans }}",
	        dictCancelUploadConfirmation : "{{ 'Êtes-vous sûr de vouloir annuler le transfert'|trans }}",
	        dictCancelUpload : "{{ 'Annuler le transfert'|trans }}",
	        autoProcessQueue: true,
		    uploadMultiple: false,
		    parallelUploads: 3,
		    //maxFiles: 1,
		    maxFilesize: 20, // MB
	        success: function (file, response) {
	            var imgName = response['name'];
	            var input_hidden = Dropzone.createElement("<input type='hidden' name='images[]' value='"+imgName+"'>");
	            
	            file.previewElement.classList.add("dz-success");
      			file.previewElement.appendChild(input_hidden);
	        },
	        error: function (file, response) {
	            file.previewElement.classList.add("dz-error");
	        },
		};
		var myDropzone = new Dropzone('#upload_images_div', myDropzoneOptions);

	});
	</script>
	
	{% if form.vars.value.type == 2 %}
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{getGmapApi()}}&signed_in=false&libraries=places&callback=initMap" async defer></script>
		<script>

		function updatePosition(lat, lng){
			var input_lat = document.getElementById('faprod_userbundle_user_gmap_lat');
			var input_lng = document.getElementById('faprod_userbundle_user_gmap_lng');
			
			input_lat.value = lat;
			input_lng.value = lng;
		}

		function initMap(lat = '', lng = '') {

			if (lat == ''){
				lat = {% if form.vars.value.lat %}{{ form.vars.value.lat }}{% else %}47.445908{% endif %};
			}
			   
			if (lng == ''){
				lng = {% if form.vars.value.lng %}{{ form.vars.value.lng }}{% else %}2.615234{% endif %};
			}


			var map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: Number(lat), lng: Number(lng) },
				zoom: 13,
			});
			var input = document.getElementById('pac-input');
		
			var autocomplete = new google.maps.places.Autocomplete(input);
			autocomplete.bindTo('bounds', map);
		
			var center = map.center;
		  
			var marker = new google.maps.Marker({
				position: center,
				draggable: true,
				map: map
			});
		
			marker.setIcon(/** @type {google.maps.Icon} */({
		      url: '{{ asset('images/template/map.png') }}',
		      size: new google.maps.Size(62, 70),
		      origin: new google.maps.Point(0, 0),
		      anchor: new google.maps.Point(0, 35),
		      scaledSize: new google.maps.Size(31, 35)
		    }));
		    marker.setVisible(true);
			marker.setDraggable(true);
			
			google.maps.event.addListener(marker, 'dragend', function () {
				map.setCenter(this.getPosition());
				updatePosition(this.getPosition().lat(), this.getPosition().lng());
			});
		  
		
			autocomplete.addListener('place_changed', function() {

		    marker.setVisible(false);
		    var place = autocomplete.getPlace();
		    if (!place.geometry) {
		      window.alert("{{ 'Localisation introuvable'|trans }}");
		      return;
		    } else {
				$('#faprod_userbundle_user_gmap_lat').val(place.geometry.location.lat());
				$('#faprod_userbundle_user_gmap_lng').val(place.geometry.location.lng());
				$('#faprod_userbundle_user_gmap_place_id').val(place.place_id);
				$('#faprod_userbundle_user_gmap_place_name').val(place.formatted_address);
		    }
		
		    // If the place has a geometry, then present it on a map.
		    if (place.geometry.viewport) {
		      map.fitBounds(place.geometry.viewport);
		    } else {
		      map.setCenter(place.geometry.location);
		      map.setZoom(13);  // Why 17? Because it looks good.
		    }
		    marker.setIcon(/** @type {google.maps.Icon} */({
		      url: '{{ asset('images/template/map.png') }}',
		      size: new google.maps.Size(62, 70),
		      origin: new google.maps.Point(0, 0),
		      anchor: new google.maps.Point(0, 35),
		      scaledSize: new google.maps.Size(31, 35)
		    }));
		    marker.setPosition(place.geometry.location);
		    marker.setVisible(true);
			marker.setDraggable(true);
			
			google.maps.event.addListener(marker, 'dragend', function () {
				map.setCenter(this.getPosition());
				updatePosition(this.getPosition().lat(), this.getPosition().lng());
			});
		
		  });
		}
			
			function refuserToucheEntree(event){
				// Compatibilité IE / Firefox
				if(!event && window.event) {
					event = window.event;
				}
				// IE
				if(event.keyCode == 13) {
					event.returnValue = false;
					event.cancelBubble = true;
				}
				// DOM
				if(event.which == 13) {
					event.preventDefault();
					event.stopPropagation();
				}
			}

		</script>
		{% endif %}
					
	
{% endblock %}

{% block body %}

  <h1>Ajouter un Membre</h1>

  {{ include("AdminBundle:User:form.html.twig") }}

{% endblock %}