{% extends "AdminBundle::admin.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block body %}

  <h1>Contacter un Membre</h1>

  <form method="post" class="form-horizontal">
  <div class="form_admin">
	 <table>
	    <thead>
		  <tr>
			<td colspan="2">
	 
			<ul id="bout-action">
			  <li>
				<div class="buttonwrapper">
					<a class="boldbuttons" href="{{ path('admin_user_show', {'user_id': user.id}) }}"><span>Annuler</span></a>
				</div>
			  </li>
			  <li class="button-valider">
				<input type="submit" value="Valider"/>
			  </li>
			</ul> 
			
			</td>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<th>{{ form_label(form.email, "Email") }}</th>
			<td>
			  {{ form_errors(form.email) }}
			  <input id="faprod_contactbundle_contact_email" name="faprod_contactbundle_contact[email]" required="required" type="email" value="{{ user.email }}">
			</td>
		  </tr>
		  <tr>
			<th>{{ form_label(form.sujet, "Objet") }}</th>
			<td>
			  {{ form_errors(form.sujet) }}
			  <input id="faprod_contactbundle_contact_sujet" name="faprod_contactbundle_contact[sujet]" required="required" type="text" value="Votre inscription">
			</td>
		  </tr>
		  <tr>
			<th>{{ form_label(form.message, "Message") }}</th>
			<td>
			  {{ form_errors(form.message) }}
			  <textarea id="faprod_contactbundle_contact_message" name="faprod_contactbundle_contact[message]">Bonjour,<br/><br/>
			  <br/>
			  Bien cordialement
			  </textarea>
			   <script type="text/javascript">
			    CKEDITOR.replace( 'faprod_contactbundle_contact_message',
			    {
			        toolbar :
							[
								{ name: 'basicstyles', items : [ 'Source','Bold','Italic','Underline','Strike' ] },
								{ name: 'paragraph', items : ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'] },
								{ name: 'links', items : [ 'Link','Unlink' ] },
								{ name: 'styles', items : [ 'Styles','Format','Font','FontSize' ] },
								{ name: 'colors', items : [ 'TextColor','BGColor' ] },
							],
					height: '400px',
			    });
			 </script>
			</td>
		  </tr>
      </tbody>
    </table>
  </div>
  </form>
  

{% endblock %}