{% form_theme form 'CoreBundle:Form:fields_errors.html.twig' %}
{% form_theme form 'UserBundle:Form:fields.html.twig' %}

<form method="POST" autocomplete="off" {{ form_enctype(form) }}>
<div class="form_admin">
 <table>
    <thead>
      <tr>
        <td colspan="2">
 
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_user_index') }}"><span>Annuler</span></a>
			</div>
          </li>
          <li class="button-valider">
          	<input type="submit" value="Valider"/>
          </li>
        </ul> 
        
        </td>
      </tr>
    </thead>
	<tfoot>
      <tr>
        <td colspan="2">
 
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_user_index') }}"><span>Annuler</span></a>
			</div>
          </li>
          <li class="button-valider">
          	<input type="submit" value="Valider"/>
          </li>
        </ul> 
        
        </td>
      </tr>
    </tfoot>
    <tbody>
     {{ form_errors(form) }}
     <tr>
     	<th>{{ form_label(form.image, "Photo principale") }}</th>
     	<td>
			<table>
				<tr>
					<td>
						{% if form.vars.value.image is not null %}
						 <img class="img-circle img-thumbnail" id="image_old_img" src="{{ form.vars.value.image.url }}"/>
						 <input type="hidden" id="image_old" name="image_old" value="{{ form.vars.value.image.filename }}">
						 {% if form.vars.value.image.filename != 'no_image.png' %}
							<a href="javascript:void(0);" onclick="$('#image_old').val('');$('#image_old_img').hide();$(this).hide();">{{ "Supprimer"|trans }}</a>
						 {% endif %}
						{% endif %}
					</td>
					<td>
						<div id="upload_image_div" class="dropzone text-center">
							<div class="dz-default dz-message">{{ "Cliquez ici pour ajouter votre photo"|trans }}</div>
						</div>
					</td>
				</tr>
			</table>
     	</td>
     </tr>
	 {% if form.vars.value.type == 1 %}
	 <tr>
        <th>{{ form_label(form.first_name, "Nom") }}</th>
        <td>
          {{ form_errors(form.first_name) }}
          {{ form_widget(form.first_name) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.last_name, "Prénom") }}</th>
        <td>
          {{ form_errors(form.last_name) }}
          {{ form_widget(form.last_name) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.cheveux, "Cheveux") }}</th>
        <td class="checkbox-register">
			
			{% for sub_category in cheveux.children %}
			
			<h4 class="liste-competences-title">{{ sub_category.title }}</h4>
			
          <ul>
			{% for competence in sub_category.children %}
				<li style="margin-right:10px;display:inline;"> <input {% if competence in form.vars.value.cheveux %}checked=checked{% endif %} type="checkbox" name="faprod_userbundle_user[cheveux][]" id="faprod_userbundle_user_cheveux_{{ competence.id }}" value="{{ competence.id }}"> {{ competence.title }}</li>
			{% endfor %}
			</ul>
			
			{% endfor %}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.peau, "Peau") }}</th>
        <td class="checkbox-register">

			{% for sub_category in peau.children %}
			
			<h4 class="liste-competences-title">{{ sub_category.title }}</h4>
			
          <ul>
			{% for competence in sub_category.children %}
				<li style="margin-right:10px;display:inline;"> <input {% if competence in form.vars.value.peau %}checked=checked{% endif %} type="checkbox" name="faprod_userbundle_user[peau][]" id="faprod_userbundle_user_peau_{{ competence.id }}" value="{{ competence.id }}"> {{ competence.title }}</li>
			{% endfor %}
			</ul>
			
			{% endfor %}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.preferences, "Preferences") }}</th>
        <td class="checkbox-register">
			
			{% for sub_category in preferences.children %}
			
			<h4 class="liste-competences-title">{{ sub_category.title }}</h4>
			
          <ul>
			{% for competence in sub_category.children %}
				<li style="margin-right:10px;display:inline;"> <input {% if competence in form.vars.value.preferences %}checked=checked{% endif %} type="checkbox" name="faprod_userbundle_user[preferences][]" id="faprod_userbundle_user_preferences_{{ competence.id }}" value="{{ competence.id }}"> {{ competence.title }}</li>
			{% endfor %}
			</ul>
			
			{% endfor %}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.last_name, "Adresse") }}</th>
        <td>
          {{ form_errors(form.address_1) }}
		  {{ form_widget(form.address_1, { 'attr': {'class': 'form-control'} }) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.last_name, "Complément adresse") }}</th>
        <td>
          {{ form_errors(form.address_2) }}
		  {{ form_widget(form.address_2) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.postal_code, "Code postal") }}</th>
        <td>
          {{ form_errors(form.postal_code) }}
          {{ form_widget(form.postal_code) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.city, "Ville") }}</th>
        <td>
          {{ form_errors(form.city) }}
          {{ form_widget(form.city) }}
        </td>
      </tr>
	   <tr>
        <th>{{ form_label(form.email, "Email") }}</th>
        <td>
          {{ form_errors(form.email) }}
          {{ form_widget(form.email) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.password, "Mot de passe") }}</th>
        <td>
          {{ form_errors(form.password) }}
          {{ form_widget(form.password) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.phone, "Téléphone fixe") }}</th>
        <td>
          {{ form_errors(form.phone) }}
          {{ form_widget(form.phone) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.mobile, "Téléphone portable") }}</th>
        <td>
          {{ form_errors(form.mobile) }}
          {{ form_widget(form.mobile) }}
        </td>
      </tr>
	 {% else %}
	 <tr>
        <th>{{ form_label(form.genre, "Je suis") }}</th>
        <td class="checkbox-register">
          {{ form_errors(form.genre) }}
          {{ form_widget(form.genre) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.metiers, "Métiers") }}</th>
        <td class="checkbox-register">
          {{ form_errors(form.metiers) }}
          {{ form_widget(form.metiers) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.cheveux, "Compétences Cheveux") }}</th>
        <td class="checkbox-register">
			
			{% for sub_category in cheveux.children %}
			{% if sub_category.matching %}
			<h4 class="liste-competences-title">{{ sub_category.title }}</h4>
			
          <ul>
			{% for competence in sub_category.children %}
				<li style="margin-right:10px;display:inline;"> <input {% if competence in form.vars.value.cheveux %}checked=checked{% endif %} type="checkbox" name="faprod_userbundle_user[cheveux][]" id="faprod_userbundle_user_cheveux_{{ competence.id }}" value="{{ competence.id }}"> {{ competence.title }}</li>
			{% endfor %}
			</ul>
			{% endif %}
			{% endfor %}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.peau, "Compétences Peau") }}</th>
        <td class="checkbox-register">

			{% for sub_category in peau.children %}
			{% if sub_category.matching %}
			<h4 class="liste-competences-title">{{ sub_category.title }}</h4>
			
          <ul>
			{% for competence in sub_category.children %}
				<li style="margin-right:10px;display:inline;"> <input {% if competence in form.vars.value.peau %}checked=checked{% endif %} type="checkbox" name="faprod_userbundle_user[peau][]" id="faprod_userbundle_user_peau_{{ competence.id }}" value="{{ competence.id }}"> {{ competence.title }}</li>
			{% endfor %}
			</ul>
			{% endif %}
			{% endfor %}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.statut, "Statut") }}</th>
        <td class="checkbox-register">
          {{ form_errors(form.statut) }}
          {{ form_widget(form.statut) }}
        </td>
      </tr>
	 <tr>
        <th>{{ form_label(form.first_name, "Nom") }}</th>
        <td>
          {{ form_errors(form.first_name) }}
          {{ form_widget(form.first_name) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.last_name, "Prénom") }}</th>
        <td>
          {{ form_errors(form.last_name) }}
          {{ form_widget(form.last_name) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.last_name, "Adresse") }}</th>
        <td>
          {{ form_errors(form.address_1) }}
		  {{ form_widget(form.address_1, { 'attr': {'class': 'form-control'} }) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.last_name, "Complément adresse") }}</th>
        <td>
          {{ form_errors(form.address_2) }}
		  {{ form_widget(form.address_2) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.postal_code, "Code postal") }}</th>
        <td>
          {{ form_errors(form.postal_code) }}
          {{ form_widget(form.postal_code) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.city, "Ville") }}</th>
        <td>
          {{ form_errors(form.city) }}
          {{ form_widget(form.city) }}
        </td>
      </tr>
	  <tr>
        <th><label>{{ "Géolocalisation"|trans }}</label></th>
        <td>
      	  {{ form_widget(form.gmap_lat) }}
      	  {{ form_widget(form.gmap_lng) }}
              
		  <input id="pac-input" onkeypress="refuserToucheEntree(event)" class="form-control" type="text" placeholder="{{ "Saisissez votre adresse"|trans }}" value="">
		  
		  <div id="map" style="height:300px;"></div>
		  
		  <script type="text/javascript">
			initMap();
		  </script>
		  
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.distance, "Distance") }}</th>
        <td>
          {{ form_errors(form.distance) }}
          {{ form_widget(form.distance) }}
        </td>
      </tr>
	   <tr>
        <th>{{ form_label(form.email, "Email") }}</th>
        <td>
          {{ form_errors(form.email) }}
          {{ form_widget(form.email) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.password, "Mot de passe") }}</th>
        <td>
          {{ form_errors(form.password) }}
          {{ form_widget(form.password) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.phone, "Téléphone fixe") }}</th>
        <td>
          {{ form_errors(form.phone) }}
          {{ form_widget(form.phone) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.mobile, "Téléphone portable") }}</th>
        <td>
          {{ form_errors(form.mobile) }}
          {{ form_widget(form.mobile) }}
        </td>
      </tr>
      <tr>
        <th>{{ "Autres Photos"|trans }}</th>
        <td>
            {% if form.vars.value.images is not null %}
            <ul>
		         {% for image in form.vars.value.images %}
				 <li style="float:left;width:260px;">
						<p>
					 		<img style="width:100px;height:100px;" id="images_old_img_{{ image.id }}" src="{{ image.url }}"/>
					 		<input type="hidden" id="images_old_{{ image.id }}" name="images_old[]" value="{{ image.id }}">
					 	</p>
					 	{% if image.filename != 'no_image.png' %}
					 	<p>
					 		<a href="javascript:void(0);" onclick="$('#images_old_{{ image.id }}').val('');$('#images_old_img_{{ image.id }}').hide();$(this).hide();">{{ "Supprimer"|trans }}</a>
					 	</p>
					 	{% endif %}
				 </li>
				 {% endfor %}
			</ul>
			{% endif %}
        </td>
      </tr>
      <tr>
    	<th>{{ "Ajouter Photos"|trans }}</th>
    	<td>
    		<div id="upload_images_div" class="dropzone">
			    <div class="dz-default dz-message">{{ "Cliquez ici pour ajouter vos photos"|trans }}</div>
			</div>
    	</td>
      </tr>
	  <tr>
        <th>{{ form_label(form.entreprise, "Nom de l'entreprise") }}</th>
        <td>
          {{ form_errors(form.entreprise) }}
          {{ form_widget(form.entreprise) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.siren, "SIRET") }}</th>
        <td>
          {{ form_errors(form.siren) }}
          {{ form_widget(form.siren) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.description, "Qui êtes vous ?") }}</th>
        <td>
          {{ form_errors(form.description) }}
          {{ form_widget(form.description, { 'attr': {'rows' : '15'} }) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.charte, "Charte") }}</th>
        <td class="checkbox-register">
          {{ form_errors(form.charte) }}
          {{ form_widget(form.charte) }}
        </td>
      </tr>
	  {% endif %}
	  <tr>
        <th>{{ form_label(form.cgu, "CGU") }}</th>
        <td class="checkbox-register">
          {{ form_errors(form.cgu) }}
          {{ form_widget(form.cgu) }}
        </td>
      </tr>
	  <tr>
        <th>{{ form_label(form.newsletter, "Newsletter") }}</th>
        <td class="checkbox-register">
          {{ form_errors(form.newsletter) }}
          {{ form_widget(form.newsletter) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.validate, "Valide") }}</th>
        <td>
          {{ form_errors(form.validate) }}
          <select name="faprod_userbundle_user[validate]" id="faprod_userbundle_user_validate">
          	<option {% if form.vars.value.validate == 0 %}selected=selected{% endif %} value="0">Non activé</option>
          	<option {% if form.vars.value.validate == 1 %}selected=selected{% endif %} value="1">Activé</option>
          	<option {% if form.vars.value.validate == -1 %}selected=selected{% endif %} value="-1">Blacklisté</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
{{ form_widget(form._token) }}
</form>

  	       
<script language="JavaScript" type="text/javascript">

function clearPwBox()
{
if (document.getElementById)
{
var pw = document.getElementById('user_password');
if (pw != null)
{
pw.value = '';
}

}
}
window.setTimeout("clearPwBox()", 100);
</script>