{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

  <h1>{{ nb_result }} Membres</h1>
  
  <div class="table_admin">
	<table>
	  <thead>
	    <tr style="background-color:white;">
	        <th colspan="16">
		        <ul id="bout-action">
		          <li>
		          	<div class="buttonwrapper">
						<a class="boldbuttons" href="{{ path('admin_user_add') }}"><span>Ajouter</span></a>
					</div>
		          </li>
		          <li>
		          	<div class="buttonwrapper">
						<a class="boldbuttons" href="{{ path('admin_user_export') }}"><span>Exporter</span></a>
					</div>
		          </li>
		          <li>
		            	<form action="{{ path('admin_user_gosearch') }}" method="post">
						    Recherche: <input type='text' id="search_user" name="search_user">
						    <input type="submit" id="boutton-recherche" class="button-valider" value="Chercher"/>
						</form>
		      		</li>
		        </ul>
	        </th>
	    </tr>  
	    <tr class="entete">
	      <th></th>
	      <th></th>
	      <th></th>
	      <th><a href="{{ path('admin_user_index', {'sort': 'id', 'sens': sens_inv}) }}">ID</a></th>
	      <th><a href="{{ path('admin_user_index', {'sort': 'first_name', 'sens': sens_inv}) }}">Nom</a></th>
	      <th><a href="{{ path('admin_user_index', {'sort': 'last_name', 'sens': sens_inv}) }}">Prénom</a></th>
	      <th><a href="{{ path('admin_user_index', {'sort': 'entreprise', 'sens': sens_inv}) }}">Entreprise</a></th>
		  <th><a href="{{ path('admin_user_index', {'sort': 'city', 'sens': sens_inv}) }}">Ville</a></th>
		  <th><a href="{{ path('admin_user_index', {'sort': 'type', 'sens': sens_inv}) }}">Type</a></th>
		  <th><a href="{{ path('admin_user_index', {'sort': 'metiers', 'sens': sens_inv}) }}">Métiers</a></th>
	      <th><a href="{{ path('admin_user_index', {'sort': 'validate', 'sens': sens_inv}) }}">Compte actif</a></th>
		  <th><a href="{{ path('admin_user_index', {'sort': 'created_at', 'sens': sens_inv}) }}">Date</a></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for user in liste %}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td><a href="{{ path('admin_user_show', {'user_id': user.id}) }}"><img src="{{ asset('images/loupe.png') }}"></a></td>
	      <td><a target="_blank" href="{{ path('register_autologin', {'p1': base64_encode(user.id), 'p2': base64_encode(user.email), 'p3': base64_encode(user.password)}) }}"><img src="{{ asset('images/player_play.png') }}"></a></td>
	      <td>
	      	{% if user.image is not null %}
      			<img style="width:45px;" src="{{ user.image.url }}"/>
      		{% endif %}
  		  </td>
	      <td>{{ user.id }}</td>
	      <td>{{ user.firstname }}</td>
	      <td>{{ user.lastname }}</td>
		  <td>{{ user.entreprise }}</td>
	      <td>{{ user.city }}</td>
		  <td>{{ user.typeLabel }}</td>
		  <td>{{ user.metiersLabel }}</td>
	      <td><center>{% if user.validate and user.mangoid %}<img src="{{ asset('images/success.png') }}">{% else %}<img src="{{ asset('images/sup.gif') }}">{% endif %}</center></td>
	      <td>{{ user.createdat("d/m/Y") }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	  
	</table>
	
	{% include 'AdminBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
	
  </div>

{% endblock %}
