{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

<h1>Details Membre</h1>

<div class="form_admin form_admin2">
<table>
  <tbody>
  	<tr>
      <th>Connexion:</th>
      <td><a target="_blank" href="{{ path('register_autologin', {'p1': base64_encode(user.id), 'p2': base64_encode(user.email), 'p3': base64_encode(user.password)}) }}"><img src="{{ asset('images/player_play.png') }}"></a></td>
      <th>ID:</th>
      <td>{{ user.id }}</td>
    </tr>
	<tr>
      <th>MANGOPAY ID:</th>
       <td>
		{% if user.mangoid %}
			{{ user.mangoid }}
		{% else %}
			<a class="boldbuttons" href="{{ path('admin_user_mango', {'user_id': user.id}) }}"><span>Créer compte MangoPay</span></a>
		{% endif %}
	   </td>
	   <th>Facebook ID:</th>
       <td>
			{{ user.facebookId }}
	   </td>
    </tr>
	<tr>
      <th>Photo principale:</th>
      <td colspan="3">
      	{% if user.image is not null %}
      		<img src="{{ user.image.url }}"/>
      	{% endif %}
  	  </td>
    </tr>
	<tr>
      <th>Nom:</th>
      <td>{{ user.firstName }}</td>
      <th>Prénom:</th>
      <td>{{ user.lastName }}</td>
    </tr>
	<tr>
      <th>Adresse 1:</th>
      <td>{{ user.address1 }}</td>
      <th>Adresse 2:</th>
      <td>{{ user.address2 }}</td>
    </tr>
	<tr>
      <th>Code postal:</th>
      <td>{{ user.postalCode }}</td>
      <th>Ville:</th>
      <td>{{ user.city }}</td>
    </tr>
	<tr>
      <th>Téléphone fixe:</th>
      <td>{{ user.phone }}</td>
      <th>Téléphone portable:</th>
      <td>{{ user.mobile }}</td>
    </tr>
	<tr>
      <th>Email:</th>
       <td colspan="3">{{ user.email }}</td>
    </tr>
	{% if user.type == 1 %}
	<tr>
      <th>Cheveux:</th>
       <td colspan="3">{{ user.cheveuxLabel }}</td>
    </tr>
	<tr>
      <th>Peau:</th>
       <td colspan="3">{{ user.peauLabel }}</td>
    </tr>
	<tr>
      <th>Preferences:</th>
       <td colspan="3">{{ user.preferencesLabel }}</td>
    </tr>
	{% endif %}
	{% if user.type == 2 %}
	<tr>
      <th>Je suis:</th>
      <td>{{ user.genreLabel }}</td>
      <th>Metiers:</th>
      <td>{{ user.metiersLabel }}</td>
    </tr>
	<tr>
      <th>Compétences Cheveux:</th>
       <td colspan="3">{{ user.cheveuxLabel }}</td>
    </tr>
	<tr>
      <th>Compétences Peau:</th>
       <td colspan="3">{{ user.peauLabel }}</td>
    </tr>
	<tr>
      <th>Statut:</th>
      <td>{{ user.statutLabel }}</td>
      <th>Nom de l'entreprise:</th>
      <td>{{ user.entreprise }}</td>
    </tr>
	<tr>
      <th>SIRET:</th>
       <td colspan="3">{{ user.siren }}</td>
    </tr>
	<tr>
       <th>Qui êtes vous ?:</th>
      <td colspan="3">{{ user.description|nl2br }}</td>
    </tr>
	<tr>
      <th>Charte de qualité:</th>
      <td>{{ user.chartelabel }}</td>
      <th>Newsletter:</th>
      <td>{{ user.newsletterlabel }}</td>
    </tr>
    <tr>
      <th>CGU:</th>
      <td>{{ user.cgulabel }}</td>
    	<th>Compte actif</th>
    	<td>{% if user.validate %}<img src="{{ asset('images/success.png') }}">{% else %}<img src="{{ asset('images/sup.gif') }}">{% endif %}</td>
    </tr>
    <tr>
      <th>Date creation</th>
      <td>{{ user.createdat("d/m/Y") }}</td>
      <th>Date modification:</th>
      <td>{{ user.updatedat("d/m/Y") }}</td>
    </tr>
    <tr>
      <th>Vues</th>
      <td>{{ user.vues }}</td>
      <th>Contacts</th>
      <td>{{ user.contacts }}</td>
    </tr>
    <tr>
    	 <td colspan="4">
    		<div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    	</td>
    </tr>
	{% endif %}
  </tbody>
   <thead>
      <tr>
        <td colspan="4">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_user_edit', {'user_id': user.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
		  <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_user_contact', {'user_id': user.id}) }}"><span>Envoyer un mail</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_user_delete', {'user_id': user.id}) }}"><span>Supprimer</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_user_index') }}"><span>Retour liste</span></a>
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </thead>
	<tfoot>
      <tr>
        <td colspan="4">
        <ul id="bout-action">
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_user_edit', {'user_id': user.id}) }}"><span>Modifier</span></a>
			</div>
          </li>
		  <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_user_contact', {'user_id': user.id}) }}"><span>Envoyer un mail</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" onclick="if (confirm('En êtes-vous sûr?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{{ path('admin_user_delete', {'user_id': user.id}) }}"><span>Supprimer</span></a>
			</div>
          </li>
          <li>
          	<div class="buttonwrapper">
				<a class="boldbuttons" href="{{ path('admin_user_index') }}"><span>Retour liste</span></a>
			</div>
          </li>
        </ul>        
        </td>
      </tr>
    </tfoot>
</table>
	
</div>
{% if user.type == 2 %}
  <h1 style="margin-top:30px;">Liste offres</h1>
  
  <div class="table_admin">
	<table>
	  <thead> 
	    <tr class="entete">
	      <th>Titre</th>
	      <th>Durée</th>
	      <th>Prix</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for offer in user.offers%}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td>{{ offer.title }}</td>
	      <td>{{ offer.dureeLabel }}</td>
		  <td>{{ offer.PriceLabel }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	
  </div>
  
  <h1 style="margin-top:30px;">Liste documents</h1>
  
  <div class="table_admin">
	<table>
	  <thead> 
	    <tr class="entete">
	      <th>Titre</th>
	      <th>Télécharger</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for document in user.documents%}
	    <tr class="item{% if loop.index is divisibleby(2) %}1{% endif %}">
	      <td>{{ document }}</td>
	      <td>{% if document.document %}<a href="{{ document.url }}" target="_blank">{{ "Télécharger"|trans }}</a>{% endif %}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	
  </div>
{% endif %}


{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
<script type="text/javascript">
    {{ chart(chart) }}
</script>
{% endblock %}