{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{% if app.user.type == 2 %}
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Messagerie"|trans }}
				{% else %}
				<a href="{{ path('home_index') }}">{{ "Accueil"|trans }}</a> > <a href="{{ path('user_show') }}">{{ "Mon profil"|trans }}</a> > {{ "Messagerie"|trans }}
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			{{ include("UserBundle:Partial:menu.html.twig") }}
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Messagerie"|trans }}</h3>
				</div>
				<div class="panel-body">
					
					<div class="row">
						<div class="col-lg-12 box">
							
							{% if liste|length > 0 %}
								{% for discussion in liste %}
								    <div class="discussion" onclick="document.location='{{ path('message_show', { 'discussion_id': discussion.id}) }}'">
								    	<div class="row">
								    		<div class="col-sm-4 col-md-4 col-lg-4 text-center">
								    			{% if app.user == discussion.user %}
								    			<p style="margin-bottom:5px;">
								    				<img style="width:65px;" class="img-circle img-thumbnail" src="{{ discussion.destinataire.image.url }}"/>
								    			</p>
								    			<p style="margin-bottom:0px;">
								    				<b>{{ discussion.destinataire.shortusername }}</b>
								    			</p>
								    			{% else %}
								    			<p style="margin-bottom:5px;">
								    				<img style="width:65px;" class="img-circle img-thumbnail" src="{{ discussion.user.image.url }}"/>
								    			</p>
								    			<p style="margin-bottom:0px;">
								    				<b>{{ discussion.user.shortusername }}</b>
								    			</p>
								    			{% endif %}
								    		</div>
								    		<div class="col-sm-6 col-md-6 col-lg-6">
								    			<p>
								    				{{ discussion.nbMessage }} {{ "message(s)"|trans }}
								    			</p>
								    			{% if app.user == discussion.user %}
								    			<p>
								    				{% if discussion.nbNoreadUser %}
								    					<b>{{ discussion.nbNoreadUser }} {{ "message(s) non lu(s)"|trans }}</b>
								    				{% else %}
								    					{{ "0 message non lu"|trans }}
								    				{% endif %}
								    			</p>
								    			{% else %}
								    			<p>
								    				{% if discussion.nbNoreadDestinataire %}
								    					<b>{{ discussion.nbNoreadDestinataire }} {{ "message(s) non lu(s)"|trans }}</b>
								    				{% else %}
								    					{{ "0 message non lu"|trans }}
								    				{% endif %}
								    			</p>
								    			{% endif %}
								    			<p>
								    				{{ "Dernier message"|trans }} : {{ discussion.updatedAt('d/m/Y H:i') }}
								    			</p>
								    		</div>
								    	</div>
								    </div>
								{% endfor %}
							{% else %}
								<div class="col-lg-12">
									{{ "Aucune discussion pour le moment"|trans }}
								</div>
							{% endif %}
							
							{% include 'CoreBundle::pagination.html.twig' with {'nbPages': nbPages, 'page': page, 'sort': sort, 'sens': sens, 'action': action} %}
					
						</div>
					</div>

		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}