<div class="row popup_message">
	<div class="col-lg-12" style="overflow-y:auto;max-height:314px;">
	
		{% if liste|length > 0 %}
			{% for discussion in liste %}
				<div class="discussion" onclick="document.location='{{ path('message_show', { 'discussion_id': discussion.id}) }}'">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4 text-center">
							{% if app.user == discussion.user %}
							<p style="margin-bottom:5px;">
								<img style="width:65px;" class="img-circle img-thumbnail" src="{{ discussion.destinataire.image.url }}"/>
							</p>
							<p style="margin-bottom:0px;">
								<b>{{ discussion.destinataire.shortusername }}</b>
							</p>
							{% else %}
							<p style="margin-bottom:5px;">
								<img style="width:65px;" class="img-circle img-thumbnail" src="{{ discussion.user.image.url }}"/>
							</p>
							<p style="margin-bottom:0px;">
								<b>{{ discussion.user.shortusername }}</b>
							</p>
							{% endif %}
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<p>
								{{ discussion.nbMessage }} {{ "message(s)"|trans }}
							</p>
							{% if app.user == discussion.user %}
							<p>
								{% if discussion.nbNoreadUser %}
									<b>{{ discussion.nbNoreadUser }} {{ "message(s) non lu(s)"|trans }}</b>
								{% else %}
									{{ "0 message non lu"|trans }}
								{% endif %}
							</p>
							{% else %}
							<p>
								{% if discussion.nbNoreadDestinataire %}
									<b>{{ discussion.nbNoreadDestinataire }} {{ "message(s) non lu(s)"|trans }}</b>
								{% else %}
									{{ "0 message non lu"|trans }}
								{% endif %}
							</p>
							{% endif %}
							<p>
								{{ "Dernier message"|trans }} : {{ discussion.updatedAt('d/m/Y H:i') }}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
			
			{% if liste|length >= 4  %}
			<p class="text-center">
				<a class="btn btn-primary" href="{{ path('message_index') }}">{{ "Voir tout"|trans }}</a>
			</p>
			{% endif %}
			
			
		{% else %}
			<div class="row">
				<div class="col-lg-12 text-center">
					<br/><br/><br/><br/><br/>
					{{ "Aucune discussion pour le moment"|trans }}.<br/><br/>
				</div>
			</div>
		{% endif %}
		
	</div>
</div>