{% extends "CoreBundle::layout.html.twig" %}

{% block body_content %}

<div class="container-fluid railway">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{% if app.user.type == 2 %}
				<a href="{{ path('home_index') }}">{{ "Accueil" }}</a> > <a href="{{ path('user_index') }}">{{ "Mon espace Pro"|trans }}</a> > {{ "Messagerie"|trans }}
				{% else %}
				<a href="{{ path('home_index') }}">{{ "Accueil" }}</a> > <a href="{{ path('user_show') }}">{{ "Mon profil"|trans }}</a> > {{ "Messagerie"|trans }}
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
		
			{{ include("UserBundle:Partial:menu.html.twig") }}
			
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">{{ "Discussion avec"|trans }} {% if app.user == discussion.user %}{{ discussion.destinataire.shortusername }}{% else %}{{ discussion.user.shortusername }}{% endif %}</h3>
				</div>
				<div class="panel-body">
					
					<div class="discussion discussion_show">
				    	<div class="row">
				    		<div class="col-sm-2 col-md-2 col-lg-2 text-center">
				    			{% if app.user == discussion.user %}
				    			<p style="margin-bottom:5px;">
				    				<img style="width:65px;" class="img-circle img-thumbnail" src="{{ discussion.destinataire.image.url }}"/>
				    			</p>
				    			<p style="margin-bottom:0px;">
				    				{{ discussion.destinataire.shortusername }}
				    			</p>
				    			{% else %}
				    			<p style="margin-bottom:5px;">
				    					<img style="width:65px;" class="img-circle img-thumbnail" src="{{ discussion.user.image.url }}"/>
				    				
				    			</p>
				    			<p style="margin-bottom:0px;">
				    				{{ discussion.user.shortusername }}
				    			</p>
				    			{% endif %}
				    		</div>
				    		<div class="col-sm-4 col-md-4 col-lg-4">
				    			<p>
				    				{{ discussion.nbMessage }} {{ "message(s)"|trans }}
				    			</p>
				    			<p>
				    				{{ "Dernier message"|trans }} : {{ discussion.updatedAt('d/m/Y H:i') }}
				    			</p>
				    		</div>
				    	</div>
				    </div>
				    
				    <div id="discussion_panel">
					
					
				    
				    {% for message in discussion.messages %}
				    	{% if app.user == message.user %}
				    	<div class="message_show_right message_show pull-right">
				    		<div class="row">
					    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					    			<p>
					    				{{ "Le"|trans }} {{ message.updatedAt('d/m/Y H:i') }}
					    			</p>
					    			<p>
					    				{{ message.texte|nl2br }}
					    			</p>
					    		</div>
					    		<div class="hidden-xs col-sm-4 col-md-4 col-lg-4 text-center">
						    		<p style="margin-bottom:5px;">
					    					<img style="width:65px;" class="img-circle img-thumbnail" src="{{ message.user.image.url }}"/>
					    				
					    			</p>
					    			<p style="margin-bottom:0px;">
					    				{{ message.user.shortusername }}
					    			</p>
				    			</div>
					    	</div>
					    </div>
				    	{% else %}
				    	<div class="message_show_left message_show pull-left">
					    	<div class="row">
					    		<div class="hidden-xs col-sm-4 col-md-4 col-lg-4 text-center">
						    		<p style="margin-bottom:5px;">
					    					<img style="width:65px;" class="img-circle img-thumbnail" src="{{ message.user.image.url }}"/>
					    				
					    			</p>
					    			<p style="margin-bottom:0px;">
					    				{{ message.user.shortusername }}
					    			</p>
				    			</div>
					    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					    			<p>
					    				{{ "Le"|trans }} {{ message.updatedAt('d/m/Y H:i') }}
					    			</p>
					    			<p>
					    				{{ message.texte|nl2br }}
					    			</p>
					    		</div>
					    	</div>
					    </div>
					    {% endif %}
					{% endfor %}

					
					</div>

					
					<script>
					element = document.getElementById('discussion_panel');
					element.scrollTop = element.scrollHeight;
					</script>
					
					<div class="row">
						<div class="col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
							<form onsubmit="$(this).find(':button').attr('disabled', 'disabled');this.submit();return true;" {{ form_enctype(form) }} method="post" class="zone_message form-horizontal col-lg-12">
								{{ form_widget(form.user) }}
								{{ form_widget(form.destinataire) }}
								<div class="row">
								      <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
								      	<div class="form-group">
								      	{{ form_label(form.texte, "Votre message"|trans) }}
								        {{ form_errors(form.texte) }}
								        {{ form_widget(form.texte, { 'attr': {'class': 'form-control', 'rows': '15', 'style' : 'height:80px !important;'} }) }}
								      </div>
								    </div>
								</div>
								<div class="row">
								    <div class="form-group">
								    	<div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
								       		<button class="pull-right btn btn-primary"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;{{ "Envoyer"|trans }}</button>
								        </div>
								    </div>
							    </div>
							    {{ form_widget(form._token) }}
						    </form>
					    </div>
					</div>

					
		    	</div>
			</div>
		    
		</div>
	</div>

</div>
{% endblock %}