
/* PROFIL CLIENTE */


.home_temp_bk{
background:transparent url(../images/template/home/home.jpg) center top;
 -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  height:500px;
  padding-top:290px;
}
#temp_contact_home {
background-color:#FEE6D7;
background-color: rgb(254,230,215);
background-color: rgba(254,230,215,0.70);
border-radius:20px;
margin-top:20px;
padding:50px;
text-align:center;
}
.item-booking-avalider {
background-color:#F9DCD3;
}
.modal-body{
padding-top:0px !important;
}
th{
font-weight:normal !important;
}
.table_popup th{
font-weight:bold !important;
background:transparent !important;
}
.table_popup{
background:transparent !important;
font-size:14px;
}
#agenda_user_erreur{
color:red;
font-weight:bold;
width:100%;
text-align:center;
}
.list_checks_profil li {
float:left;
width:190px;
}
.principe-badge {
color:#EA988B;
font-weight:bold;
}
.popup_mesinfos{
background:transparent url(../images/template/profil/2.jpg) no-repeat top center;
width:795px;
height:400px;
padding:58px;
}
.popup_mescheveux{
background:transparent url(../images/template/profil/3.jpg) no-repeat top center;
width:795px;
height:400px;
padding:57px;
}
.popup_peau{
background:transparent url(../images/template/profil/4.jpg) no-repeat top center;
width:795px;
height:400px;
padding:115px;
}
.popup_preferences{
background:transparent url(../images/template/profil/5.jpg) no-repeat top center;
width:795px;
height:400px;
padding:55px;
padding-top:80px;
}
.popup_favoris{
background:transparent url(../images/template/profil/6.jpg) no-repeat top center;
width:798px;
height:400px;
padding:16px;
padding-top:61px;
}
.popup_avis{
background:transparent url(../images/template/profil/7.jpg) no-repeat top center;
width:798px;
height:400px;
padding:39px;
padding-top:61px;
}
.popup_message{
background:transparent url(../images/template/profil/8.jpg) no-repeat top center;
width:798px;
height:400px;
padding:16px;
padding-top:61px;
}
.popup_booking{
background:transparent url(../images/template/profil/9.jpg) no-repeat top center;
width:798px;
height:400px;
padding:26px;
padding-top:16px;
padding-left:0px;
}
#profil_cliente_bk{
background:transparent url(../images/template/profil/espace_cliente.jpg) no-repeat top center;
width:100%;
height:540px;
position:relative;
}
#profil_pro_bk{
background:transparent url(../images/template/profil/espace_pro.jpg) no-repeat top center;
width:100%;
height:540px;
position:relative;
}
#profil_pro_photo{
position:absolute;
top:49px;
left:90px;
}
#profil_pro_photo img{
width:107px;
height:105px;
-webkit-transform: rotate(-4deg);
-moz-transform: rotate(-4deg);
-o-transform: rotate(-4deg);
transform: rotate(-4deg);
}
#profil_cliente_mesphotos {
position:absolute;
top:223px;
left:81px;
width:164px;
text-align:center;
font-size:22px;
}
#profil_cliente_photo{
position:absolute;
top:56px;
left:81px;
}
#profil_cliente_photo img{
width:155px;
height:155px;
}
#profil_cliente_prenom {
position:absolute;
top:77px;
left:272px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_cliente_mesinfos {
position:absolute;
top:195px;
left:303px;
width:165px;
text-align:center;
font-size:22px;
}
#profil_cliente_mescheveux {
position:absolute;
top:375px;
left:91px;
width:172px;
text-align:center;
font-size:22px;
}
#profil_cliente_mapeau {
position:absolute;
top:367px;
left:327px;
width:158px;
text-align:center;
font-size:22px;
}
#profil_cliente_mespreferences {
position:absolute;
top:111px;
left:653px;
width:175px;
text-align:center;
font-size:22px;
}
#profil_cliente_favoris {
position:absolute;
top:161px;
left:862px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_cliente_notes {
position:absolute;
top:267px;
left:628px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_cliente_reservations {
position:absolute;
top:413px;
left:628px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_cliente_messages {
position:absolute;
top:386px;
left:863px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_pro_espacepro_titre{
position:absolute;
top:115px;
left:238px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_pro_espacepro_titre2{
position:absolute;
top:70px;
left:738px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_pro_espacepro{
position:absolute;
top:225px;
left:160px;
width:280px;
text-align:center;
font-size:22px;
}
#profil_pro_monprofil{
position:absolute;
top:150px;
left:705px;
width:280px;
text-align:center;
font-size:22px;
}
#profil_pro_messagerie{
position:absolute;
top:428px;
left:701px;
width:287px;
text-align:center;
font-size:22px;
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

#faprod_userbundle_user_metier label,
#faprod_userbundle_user_cat label,
#faprod_userbundle_user_statut label,
#faprod_userbundle_user_genre label {
margin-right:25px;
}

ul.horaires{list-style-type:none;margin-top:20px}
ul.horaires li {overflow:hidden;border-bottom:1px solid #EDEDED;margin-bottom:5px}
ul.horaires li.last {border-bottom:0px;margin-bottom:0px;padding-bottom:0px}
ul.horaires li div.left{font-weight:bold;width:90px;float:left;margin-top:6px;margin-left:10px;color:#666}
ul.horaires li div.right{overflow:hidden;width:100%;color:#666;padding:0px;margin:0px}
ul.horaires li div.right div{float:left;padding:2px;margin-bottom:7px;width:100%}
ul.horaires li div.right div b{font-weight:normal;margin-left:10px;margin-right:10px}
ul.horaires li div.right div.closed{margin-top:0px;margin-left:10px;width:300px}
ul.horaires li div.right select{width:60px}
ul.horaires li div.right div.action{text-align:right;padding-top:0px;width:170px;float:right;margin-bottom:7px}
ul.horaires li div.right div.action a{padding-top:0px;font-size:11px}
ul.horaires li div.right div.action img{cursor:pointer}

.carousel-control.left{
background:none !important;
width:auto !important;
}
.carousel-control.left img{
margin-top:65px;
}
.carousel-control.right{
background:none !important;
width:auto !important;
}
.carousel-control.right img{
margin-top:65px;
}

.modal-dialog {
    width: 800px !important;
}
#agenda_user{
min-height:240px;
}
#agenda_user table th,
#agenda_user table td
{
padding:0px !important;
padding-top:3px !important;
padding-bottom:5px !important;
}
.agenda_entete{
text-align:center;
font-size:12px;
}
.agenda_choisir_ok{
border-radius:5px;
color:white;
background-color:#EA437B;
text-decoration:none;
padding:3px;
padding-left:10px;
padding-right:10px;
font-size:12px;
display:block;
margin:auto;
width:90%;
}
a.agenda_choisir_ok:hover{
text-decoration:none;
color:white;
font-weight:bold;
}
.agenda_booking{
border-radius:5px;
color:white;
background-color:#7F7FFF;
text-decoration:none;
padding:3px;
padding-left:10px;
padding-right:10px;
font-size:12px;
display:block;
margin:auto;
width:90%;
}
a.agenda_booking:hover{
text-decoration:none;
color:white;
font-weight:bold;
}
.agenda_choisir{
border-radius:5px;
color:white;
background-color:#F9DCD3;
text-decoration:none;
padding:3px;
padding-left:10px;
padding-right:10px;
font-size:12px;
display:block;
margin:auto;
width:90%;
}
.agenda_choisir_1 {
color:#BC6E5D !important;
background-color:#F9DCD3 !important;
}
.agenda_choisir_3 {
color:white !important;
background-color:#06C445 !important;
}
.agenda_choisir_-1{
color:white !important;
background-color:#F96555 !important;
}
.agenda_choisir_4 {
color:#5B5D5B !important;
background-color:#F8E294 !important;
}
a.agenda_choisir:hover{
text-decoration:none;
color:white;
font-weight:bold;
}
.agenda_select_date{
border-radius:5px;
color:white;
background-color:#DCA372;
padding:3px;
padding-left:10px;
padding-right:10px;
font-size:12px;
margin-bottom:0px;
}

label{
font-weight:normal !important;
}
.liste-competences li{
width:200px;
float:left;
}
.liste-competences-title {
color:#EA988B;
font-weight:bold;
}
.container-avis-title{
color:#1D1D1B;
text-align:center;
font-size:21px;
padding-top:25px;
padding-bottom:25px;
font-weight:bold;
}
.container-vision-description{
color:black;
padding-bottom:40px;
}
.container-vision-description2{
color:#1d1d1b;
}
.container-vision-title{
color:black;
text-align:center;
font-size:30px;
padding-top:25px;
padding-bottom:25px;
font-weight:bold;
font-style:italic;
font-family: 'Sofia';
}
.container-vision-title2{
color:#1d1d1b;
}
.home-categories-a img {
margin-bottom:10px;
}
.home-categories-a a {
color:#1D1D1B;
font-size:16px;
text-decoration:none;
font-weight:bold;
}
.container-blanc{
padding-top:80px;
padding-bottom:80px;
}
#header{
margin-bottom:30px;
}
#agenda_user table th,
#agenda_user table td
{
padding:0px !important;
padding-top:3px !important;
padding-bottom:5px !important;
}
.agenda_entete{
text-align:center;
font-size:12px;
}
.agenda_choisir_ok{
border-radius:5px;
color:white;
background-color:#EA988B;
text-decoration:none;
padding:3px;
padding-left:10px;
padding-right:10px;
font-size:12px;
}
a.agenda_choisir_ok:hover{
text-decoration:none;
color:white;
font-weight:bold;
}
.agenda_choisir{
border-radius:5px;
color:black;
background-color:#EDC36C;
text-decoration:none;
padding:1px;
padding-left:10px;
padding-right:10px;
font-size:16px;
}
a.agenda_choisir:hover{
text-decoration:none;
color:white;
font-weight:bold;
}
.agenda_select_date{
border-radius:5px;
color:white;
background-color:#DCA372;
padding:1px;
padding-left:10px;
padding-right:10px;
font-size:16px;
margin-bottom:0px;
}

.form-obligatoire{
color:red;
}
.input_radio label{
margin-right:15px;
}
.title-section{
color:#323332;
font-size:30px;
font-style:italic;
padding-top:15px;
}
.title-section b{
color:#EA988B;
font-weight:normal;
}
.datepicker:hover{
cursor:pointer;
}
.section-bulle{
background:transparent url(../images/template/home/bulle.png) no-repeat scroll 333px 0px;
padding-top:34px;
}
.section-bulle-body{
background-color:white;
padding:20px;
}
.container-rose{
background-color:#FCE3DC;
}
.container-gris{
background-color:#D0D0D0;
padding-top:10px;
padding-bottom:40px;
}
.home-box-picto{
border:1px solid white;
color: white;
text-align:center;
margin:10px;
padding:20px;
height:200px;
}
.home-box-picto-title{
font-size:24px;
font-weight:bold;
font-style:italic;
}
.home-box-picto-text{
font-size:13px;
}
.home-box-picto2{
background-color:#E75B8A;
}
.home-box-picto1{
background-color:#DCA372;
}
#faprod_userbundle_user_map li{
display:inline;
}

body {
  color:#343434;
  font-family:arial;
  font-size:18px;
}
#carousel-home-div{
position:absolute;
top:0px;
width:100%;
}
#carousel-home{
position:relative;
z-index:-1;
}
#carousel-home.carousel,
#carousel-home .carousel-inner img,
#carousel-home .carousel-inner{
	height:650px;
	width:100%;
}
hr{
border-color:#B7B7B7;
}
a {
color:#343434;
text-decoration:underline;
}
a:hover, a:focus {
color:#BC6E5D;
}
.btn{
text-decoration:none;
}
ul{
list-style:none;
padding:0px;
margin:0px;
}
ul li{
padding:0px;
margin:0px;
}
h1,
h2,
h3{
font-weight:normal;
color:#000000;
font-family: 'Sofia';
}
h1{
margin-top:0px;
margin-bottom:35px;
}
h2{
margin-bottom:25px;
}
h2 b{
color:#EA988B;
}
.title{
background:#FCE3DC;
padding-left:20px;
color:black;
margin:0px;
font-size:19px;
font-weight:bold;
padding-bottom:10px;
padding-top:8px;
border-radius:10px;
}
.title h1{
color:black;
margin:0px;
font-size:25px;
font-weight:bold;
}
.title_bottom{
margin-bottom:20px;
}
.title_top{
margin-top:20px;
}
.title span{
font-size:16px;
padding-right:15px;
}
.title b{
color:#E51F13;
}
.title2{
background-color:#FCE3DC;
color:black;
padding:10px;
padding-left:20px;
font-size:19px;
font-weight:bold;
border-radius:10px;
}
.home_slide_title_1{
color:#00323E;
margin-top:70px;
font-size:25px;
line-height:27px;
}
.home_slide_title_2{
color:#EA988B;
margin-top:30px;
font-size:25px;
line-height:27px;
}
.header-slogan{
margin-top:33px;
font-size:19px;
}

#popupcookie{
position:fixed;
bottom:0;
background-color:#EA988B;
background-color: rgb(45,45,45);
background-color: rgba(45,45,45,0.80);
padding:10px;
color:white;
font-size:13px;
z-index:3000;
width:100%;
}
#popupcookie a{
color:#FFFF00;
font-weight:bold;
}
.home_connexion_1{
background:#B35288 url(../images/template/connexion.png) no-repeat scroll 10px 18px;
color:white;
text-align:center;
margin-top:15px;
padding-top:5px;
padding-bottom:8px;
}
.home_connexion_2{
background-color:#EA988B;
color:white;
text-align:center;
margin-top:15px;
padding-top:5px;
padding-bottom:8px;
}
.home_connexion_1 a,
.home_connexion_2 a{
color:white;
}
.home_connexion_1 p,
.home_connexion_2 p{
margin:0px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  overflow:hidden;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  left:0;
  right:0;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
margin-left:0px !important;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right:0px !important;
}
.search_promesse{
color:black;
margin-bottom:20px;
font-weight:bold;
font-size:20px;
}
.search_promesse a{
color:black;
}

/* HEADER
-------------------------------------------------- */
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 470px;
}
#logo{
margin-top:15px;
display:block;
}
.logo_slogan{
font-style:italic;
color:black;
font-size:18px;
font-family: 'Sofia';
}
.menu-connexion-in,
.menu-connexion {
margin-top:5px;
}
.menu-connexion-in li,
.menu-connexion li{
margin-left:7px;
float:right;
}
.menu-connexion-in li a {
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 33px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
}
.menu{
margin-top:25px;
height:45px;
}
.menu ul li{
float:left;
}
.menu ul li a{
float:left;
padding-top:12px;
height:44px;
font-size:15px;
font-weight:bold;
padding-left:20px;
padding-right:20px;
text-align:center;
text-decoration:none;
text-transform:uppercase;
color:#564C49;
}
.menu ul li.menu_home a{
padding-top:10px;
}
.menu ul li a:hover{
color:#EA988B;
text-decoration:none;
}
.menu ul li.menu_home a:hover{
background-color:black;
}

#menu_left a{
text-decoration:none;
}
#menu_left a{
width:100%;
margin-bottom:5px;
}
#menu_left img{
text-align:right;
}
.railway{
padding-top:5px;
padding-bottom:5px;
margin-bottom:20px;
}
.railway,
.railway a{
font-size:12px;
}
.col-zonemembre{
background-color:#FCE3DC;
border-radius:7px;
padding-left:20px;
padding-right:20px;
padding-bottom:10px;
}
.zonemembre-infos b{
color:#E51F13;
}
.zonemembre-name-1{
color:black;
}
.zonemembre-name-2{
color:#B35288;
}
.zonemembre-name{
margin-top:7px;
margin-bottom:0px;
}
.zonemembre-infos{
font-size:14px;
margin-top:0px;
margin-bottom:0px;
}
.dropdown:hover .dropdown-menu {
display: block;
}
.dropdown .dropdown-menu {
margin-top:-5px;
left:-25px;
z-index:1001;
}
.dropdown .dropdown-menu a {
text-decoration:none;
}
#zonemembre-dropdown{
margin-top:11px;
}
.category-description{
padding-top:25px;
padding-bottom:25px;
background-color: #EA988B;
color:white;
}
.category-description p{
margin:0;
}

/* FOOTER
-------------------------------------------------- */

footer{
background-color:#FCE3DC;
margin-top:80px;
color:black;
}
footer a{
color:black;
}
.footer {
padding-top: 30px;
padding-bottom:30px;
min-height:115px;
padding-left:30px;
}
footer .container{
min-height:200px;
}
.footer a{
  text-decoration:none;
  font-size:16px;
}
#faprod{
float:right;
margin-right:20px;
}
#faprod a{
text-decoration:underline;
font-size:11px;
color:white;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 767px) {
	.menu_profil{
	background:transparent url(../images/template/profil/menu.jpg) no-repeat top center;
	width:260px;
	height:483px;
	padding-left:30px;
	padding-right:30px;
	padding-top:60px;
	}
	.menu_profil_pro{
	background:transparent url(../images/template/profil/menu_pro.jpg) no-repeat top center;
	width:260px;
	height:568px;
	padding-left:30px;
	padding-right:30px;
	padding-top:60px;
	}
	.form-control{
	  height:auto !important;	
	}
	footer .container {
		background:none !important;
	}
.search-home .home_search_large {
    margin-top: 0px !important;
}
  h1{
  	font-size:20px !important;
  }
  h2{
  	font-size:20px !important;
  }
  .body_home{
	background:none !important; 
  }
  #logo{
  	width:100px;
  	display:block;
  	margin-top:5px;
	margin-bottom:5px;
  }
  #logo img{
  	width:90px;
  }
  #search_home{
  	background-color:#006CCE;
  	border-radius:10px;
  	padding:25px;
  	margin-bottom:10px;
  }
  .vignette_image{
  	float:none !important;
  	margin:auto !important;
  }
  .vignette_infos{
   width:90%;
   margin-left:5%;
   margin-top:10px;
 }
 .vignette_infos_pro{
   width:90%;
   margin-left:5%;
   margin-top:10px;
 }
 .vignette_infos_title,
 .vignette_infos_description,
 .vignette_infos_autre_1,
 .vignette_infos_price{
 	width:100% !important;
 }
  body{
	padding-top:51px;
  }
  .navbar li a {
  	text-decoration:none;
  	font-weight:bold;
  }
  .search_box_criteria,
  #search_home {
  	padding:0px !important;
  	background:none !important;
  }
  .search_box_xs{
  	padding-top:10px;
  }
  .navbar-toggle {
  	margin-right:0px !important;
  	background-color:#EA988B !important;
	float:left !important;
  }
  .navbar-nav > li > a{
	  padding-top:5px !important;
	  padding-bottom:5px !important;
  }
  .col-content-center{
 	width:100%;
  }
  .col-content-right{
 	width:100%;
  }
  .infosvendeur_a{
    width:100%;
    margin-bottom:10px;
    float:left !important;
  }
  .tb-a{
    width:100%;
  }
  .tb_detail_dt li{
  	height:60px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .search_box{
    margin-top:30px;
  }
  .btn-sadv{
  	float:right;
  }
  .vignette_infos{
   width:460px;
 }
 .vignette_infos_pro{
   width:415px;
 }
 .col-content-center{
 	width:100%;
  }
  .col-content-right{
 	width:100%;
  }
 .infosvendeur_a{
   width:100%;
   margin-bottom:10px;
   float:left !important;
 }
 .menu ul li a {
 	font-size:11px;
 	padding-left:7px;
 	padding-right:7px;
 	padding-top:13px;
 }
 #home_zone_category_1{
 height:240px !important;
 }
 #home_zone_category_8{
 height:240px !important;
 }
 #home_zone_category_12{
 height:240px !important;
 }
 header{
	 height: 160px;
 }
}

@media (min-width: 992px) and (max-width: 1199px) {
 #header_slogan{
 	font-size:16px;
 }
 .vignette_infos{
   width:680px;
 }
 .vignette_infos_pro{
   width:635px;
 }
 .col-content-center{
 	width:71%;
 }
 .col-content-right{
 	width:29%;
 }
 .infosvendeur_a{
   width:100%;
   margin-bottom:10px;
   float:left !important;
 }
 .menu ul li a {
 	font-size:14px;
 	padding-left:8px;
 	padding-right:8px;
 }
 header{
	 height: 160px;
 }
 #profil_cliente_bk{
background:transparent url(../images/template/profil/espace_cliente2.jpg) no-repeat top center;
}
#profil_pro_bk{
background:transparent url(../images/template/profil/espace_pro2.jpg) no-repeat top center;
}
#profil_pro_photo{
top:59px;
left:52px;
}
#profil_cliente_mesphotos {
top:226px;
left:32px;
}
#profil_cliente_photo{
top:82px;
left:56px;
}
#profil_cliente_prenom {
top:79px;
left:216px;
}
#profil_cliente_mesinfos {
top:195px;
left:250px;
}
#profil_cliente_mescheveux {
top:375px;
left:50px;
}
#profil_cliente_mapeau {
top:367px;
left:275px;
}
#profil_cliente_mespreferences {
top:111px;
left:528px;
}
#profil_cliente_favoris {
top:135px;
left:708px;
}
#profil_cliente_notes {
top:267px;
left:505px;
}
#profil_cliente_reservations {
top:413px;
left:506px;
}
#profil_cliente_messages {
top:386px;
left:713px;
}
#profil_pro_espacepro_titre{
top:115px;
left:182px;
}
#profil_pro_espacepro_titre2{
top:70px;
left:594px;
}
#profil_pro_espacepro{
top:225px;
left:110px;
}
#profil_pro_monprofil{
top:146px;
left:563px;
}
#profil_pro_messagerie{
top:428px;
left:563px;
}
}

@media (min-width: 1200px) {
.menu_profil{
background:transparent url(../images/template/profil/menu.jpg) no-repeat top center;
width:260px;
height:560px;
padding-left:30px;
padding-right:30px;
padding-top:60px;
}
.menu_profil_pro{
	background:transparent url(../images/template/profil/menu_pro.jpg) no-repeat top center;
	width:260px;
	height:625px;
	padding-left:30px;
	padding-right:30px;
	padding-top:60px;
	}
 #search_home{
	width:100%;
	margin:auto;
	padding-top:15px;
 }
 .search_box{
    margin-top:30px;
  }
 #wrapper_search{
height:400px;
position:relative;
margin-top:-20px;
margin-bottom:30px;
}
 .vignette_infos_pro{
   width:830px;
 }
 #faprod{
  margin-top:115px;
  }
  .col-content-center{
 	width:71%;
 }
 .col-content-right{
 	width:29%;
 }
 .infosvendeur_a{
   margin-left:-10px;
   margin-right:-10px;
 }
 header{
	 height: 160px;
 }
}

/* CUSTOM GLOABL
-------------------------------------------------- */

.panel-default > .panel-heading {
background:#2E6FA7;
color:white;
}
.panel-divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.panel-title{
font-weight:bold;
}
.panel {
border-radius:10px;
}
.error_list {
color: red;
font: bold 10px Verdana, Arial, Helvetica, sans-serif;
list-style-type:none;
margin-left:0px;
margin-bottom:0px;
margin-top:0px;
}
.link_retour{
margin-bottom:80px;
margin-top:50px;
}
.jumbotron{
padding:25px;
}
.jumbotron_white h2{
margin-bottom:20px;
margin-top:0px;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #f9dcd3;
}
.table_white{
  background-color:white;
}
.table_white th{
  background-color:#f9dcd3;
}

.help-block{
margin-bottom:0px;
}
.order_status_0{
color:#B71F07;
font-weight:bold;
}
.order_status_1{
color:#B5A609;
font-weight:bold;
}
.order_status_2{
color:#0BB319;
font-weight:bold;
}
.connexion_boutton_facebook{
background:transparent url(../images/facebook_connexion2.png) no-repeat scroll 0px 0px;
width: 210px;
height: 29px;
border:0px none;
cursor:pointer;
margin:auto;
}

/* CUSTOM SITE
-------------------------------------------------- */

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
background:#FCE3DC;
color:black;
text-shadow:none;
font-weight:bold;
}
.list-group {
border-radius:0px;
}
.list-group-item:first-child {
border-radius:0px;
}
.panel-default > .panel-heading {
background:#FCE3DC;
color:black;
}
.panel-heading {
border-radius:10px;
}
.body_content{
min-height:570px;
padding-bottom:100px;
}

.btn-info{
border-color:black !important;
background:black !important;
color:white !important;
}
.hrsep{
border-top:1px solid #A0A0A0;
float:left;
width:100%;
}
.discussion{
background-color:#E9E9E9;
border-radius:8px;
padding:15px;
margin-bottom:20px;
}
.discussion:hover{
cursor:pointer;
}
.discussion_show:hover{
cursor:default !important;
}
.discussion_title{
font-weight:bold;
font-size:18px;
}
.message_show{
border-radius:8px;
padding:15px;
margin-bottom:20px;
width:85%;
}
.message_show_right{
background-color:#FFEBAA;
}
.message_show_left{
background-color:#D9E8F5;
}
#discussion_panel{
max-height:420px;
overflow-y:scroll;
margin-bottom:15px;
}
.zone_message{
background-color:#FFEBAA;
border-radius:15px;
border:1px solid #EA988B;
padding:20px;
}
.zone_message textarea{
border:1px solid #EA988B;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus,
.pagination>.active>span:focus {
background-color: #EA988B;
border-color: #EA988B;
}

/* HOME
-------------------------------------------------- */
.homecartes{
background:transparent url(../images/template/home/cartes.png) repeat-x scroll top 0px left -12px;
padding-left:20px;
padding-right:20px;
float:left;
width:100%;
margin-bottom:30px;
}
.homecartes a{
text-decoration:none;
font-weight:bold;
font-size:17px;
}

.btn{
border-radius:20px;
border:1px solid #EA988B;
color:#EA988B !important;
background:white !important;
font-size:18px !important;
text-shadow:none !important;
box-shadow: none !important;
}

.btn-primary:hover,
.btn-primary:focus{
border:1px solid #EA988B !important;
background-color:#F9DCD3 !important;
}

.success{
background:white url(../images/success.png) no-repeat scroll 10px 5px !important;
padding-left:25px;
}
.successko{
background:white url(../images/successko.png) no-repeat scroll 10px 5px !important;
padding-left:25px;
}

.form-control{
border-radius:20px;
border:1px solid #EA988B;
background:white !important;
font-size:18px !important;
height:42px !important;
}