/*****************/
/** jNotify CSS **/
/*****************/
#jNotify {
	position:absolute;
	background:#d8e6fc  url('../images/info.png') no-repeat 15px center;
	color:#35517c;
	border:1px solid #a7c3f0;
	padding:10px;
	padding-left:50px;
	margin:15px;
	z-index:9999;
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jNotify a {color:#35517c !important;text-decoration:none;}

/******************/
/** jSuccess CSS **/
/******************/
#jSuccess {
	position:absolute;
	background:#E6EFC2  url('../images/success.png') no-repeat 15px center;
	color:#264409;
	border:1px solid #C6D880;
	padding:10px;
	padding-left:50px;
	margin:15px;
	z-index:9999;
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jSuccess a {color:#264409 !important;text-decoration:none;}



/****************/
/** jError CSS **/
/****************/
#jError {
	position:absolute;
	background:#FBE3E4  url('../images/error.png') no-repeat 15px center;
	color:#8a1f11;
	border:1px solid #FBC2C4;
	padding:10px;
	padding-left:50px;
	margin:15px;
	z-index:9999;
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jError a {color:#8a1f11 !important;text-decoration:none;}

/** OVERLAY **/
#jOverlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9998
}

/* PROFIL CLIENTE */


.home_temp_bk{
background:transparent url(../images/template/home/home.jpg) center top;
 -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  height:500px;
  padding-top:290px;
}
#temp_contact_home {
background-color:#FEE6D7;
background-color: rgb(254,230,215);
background-color: rgba(254,230,215,0.70);
border-radius:20px;
margin-top:20px;
padding:50px;
text-align:center;
}
.item-booking-avalider {
background-color:#F9DCD3;
}
.modal-body{
padding-top:0px !important;
}
th{
font-weight:normal !important;
}
.table_popup th{
font-weight:bold !important;
background:transparent !important;
}
.table_popup{
background:transparent !important;
font-size:14px;
}
#agenda_user_erreur{
color:red;
font-weight:bold;
width:100%;
text-align:center;
}
.list_checks_profil li {
float:left;
width:190px;
}
.principe-badge {
color:#EA988B;
font-weight:bold;
}
.popup_mesinfos{
background:transparent url(../images/template/profil/2.jpg) no-repeat top center;
width:795px;
height:400px;
padding:58px;
}
.popup_mescheveux{
background:transparent url(../images/template/profil/3.jpg) no-repeat top center;
width:795px;
height:400px;
padding:57px;
}
.popup_peau{
background:transparent url(../images/template/profil/4.jpg) no-repeat top center;
width:795px;
height:400px;
padding:115px;
}
.popup_preferences{
background:transparent url(../images/template/profil/5.jpg) no-repeat top center;
width:795px;
height:400px;
padding:55px;
padding-top:80px;
}
.popup_favoris{
background:transparent url(../images/template/profil/6.jpg) no-repeat top center;
width:798px;
height:400px;
padding:16px;
padding-top:61px;
}
.popup_avis{
background:transparent url(../images/template/profil/7.jpg) no-repeat top center;
width:798px;
height:400px;
padding:39px;
padding-top:61px;
}
.popup_message{
background:transparent url(../images/template/profil/8.jpg) no-repeat top center;
width:798px;
height:400px;
padding:16px;
padding-top:61px;
}
.popup_booking{
background:transparent url(../images/template/profil/9.jpg) no-repeat top center;
width:798px;
height:400px;
padding:26px;
padding-top:16px;
padding-left:0px;
}
#profil_cliente_bk{
background:transparent url(../images/template/profil/espace_cliente.jpg) no-repeat top center;
width:100%;
height:540px;
position:relative;
}
#profil_pro_bk{
background:transparent url(../images/template/profil/espace_pro.jpg) no-repeat top center;
width:100%;
height:540px;
position:relative;
}
#profil_pro_photo{
position:absolute;
top:49px;
left:90px;
}
#profil_pro_photo img{
width:107px;
height:105px;
-webkit-transform: rotate(-4deg);
-moz-transform: rotate(-4deg);
-o-transform: rotate(-4deg);
transform: rotate(-4deg);
}
#profil_cliente_mesphotos {
position:absolute;
top:223px;
left:81px;
width:164px;
text-align:center;
font-size:22px;
}
#profil_cliente_photo{
position:absolute;
top:56px;
left:81px;
}
#profil_cliente_photo img{
width:155px;
height:155px;
}
#profil_cliente_prenom {
position:absolute;
top:77px;
left:272px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_cliente_mesinfos {
position:absolute;
top:195px;
left:303px;
width:165px;
text-align:center;
font-size:22px;
}
#profil_cliente_mescheveux {
position:absolute;
top:375px;
left:91px;
width:172px;
text-align:center;
font-size:22px;
}
#profil_cliente_mapeau {
position:absolute;
top:367px;
left:327px;
width:158px;
text-align:center;
font-size:22px;
}
#profil_cliente_mespreferences {
position:absolute;
top:111px;
left:653px;
width:175px;
text-align:center;
font-size:22px;
}
#profil_cliente_favoris {
position:absolute;
top:161px;
left:862px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_cliente_notes {
position:absolute;
top:267px;
left:628px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_cliente_reservations {
position:absolute;
top:413px;
left:628px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_cliente_messages {
position:absolute;
top:386px;
left:863px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_pro_espacepro_titre{
position:absolute;
top:115px;
left:238px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_pro_espacepro_titre2{
position:absolute;
top:70px;
left:738px;
width:221px;
text-align:center;
font-size:22px;
}
#profil_pro_espacepro{
position:absolute;
top:225px;
left:160px;
width:280px;
text-align:center;
font-size:22px;
}
#profil_pro_monprofil{
position:absolute;
top:150px;
left:705px;
width:280px;
text-align:center;
font-size:22px;
}
#profil_pro_messagerie{
position:absolute;
top:428px;
left:701px;
width:287px;
text-align:center;
font-size:22px;
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

#faprod_userbundle_user_metier label,
#faprod_userbundle_user_cat label,
#faprod_userbundle_user_statut label,
#faprod_userbundle_user_genre label {
margin-right:25px;
}

ul.horaires{list-style-type:none;margin-top:20px}
ul.horaires li {overflow:hidden;border-bottom:1px solid #EDEDED;margin-bottom:5px}
ul.horaires li.last {border-bottom:0px;margin-bottom:0px;padding-bottom:0px}
ul.horaires li div.left{font-weight:bold;width:90px;float:left;margin-top:6px;margin-left:10px;color:#666}
ul.horaires li div.right{overflow:hidden;width:100%;color:#666;padding:0px;margin:0px}
ul.horaires li div.right div{float:left;padding:2px;margin-bottom:7px;width:100%}
ul.horaires li div.right div b{font-weight:normal;margin-left:10px;margin-right:10px}
ul.horaires li div.right div.closed{margin-top:0px;margin-left:10px;width:300px}
ul.horaires li div.right select{width:60px}
ul.horaires li div.right div.action{text-align:right;padding-top:0px;width:170px;float:right;margin-bottom:7px}
ul.horaires li div.right div.action a{padding-top:0px;font-size:11px}
ul.horaires li div.right div.action img{cursor:pointer}

.carousel-control.left{
background:none !important;
width:auto !important;
}
.carousel-control.left img{
margin-top:65px;
}
.carousel-control.right{
background:none !important;
width:auto !important;
}
.carousel-control.right img{
margin-top:65px;
}

.modal-dialog {
    width: 800px !important;
}
#agenda_user{
min-height:240px;
}
#agenda_user table th,
#agenda_user table td
{
padding:0px !important;
padding-top:3px !important;
padding-bottom:5px !important;
}
.agenda_entete{
text-align:center;
font-size:12px;
}
.agenda_choisir_ok{
border-radius:5px;
color:white;
background-color:#EA437B;
text-decoration:none;
padding:3px;
padding-left:10px;
padding-right:10px;
font-size:12px;
display:block;
margin:auto;
width:90%;
}
a.agenda_choisir_ok:hover{
text-decoration:none;
color:white;
font-weight:bold;
}
.agenda_booking{
border-radius:5px;
color:white;
background-color:#7F7FFF;
text-decoration:none;
padding:3px;
padding-left:10px;
padding-right:10px;
font-size:12px;
display:block;
margin:auto;
width:90%;
}
a.agenda_booking:hover{
text-decoration:none;
color:white;
font-weight:bold;
}
.agenda_choisir{
border-radius:5px;
color:white;
background-color:#F9DCD3;
text-decoration:none;
padding:3px;
padding-left:10px;
padding-right:10px;
font-size:12px;
display:block;
margin:auto;
width:90%;
}
.agenda_choisir_1 {
color:#BC6E5D !important;
background-color:#F9DCD3 !important;
}
.agenda_choisir_3 {
color:white !important;
background-color:#06C445 !important;
}
.agenda_choisir_-1{
color:white !important;
background-color:#F96555 !important;
}
.agenda_choisir_4 {
color:#5B5D5B !important;
background-color:#F8E294 !important;
}
a.agenda_choisir:hover{
text-decoration:none;
color:white;
font-weight:bold;
}
.agenda_select_date{
border-radius:5px;
color:white;
background-color:#DCA372;
padding:3px;
padding-left:10px;
padding-right:10px;
font-size:12px;
margin-bottom:0px;
}

label{
font-weight:normal !important;
}
.liste-competences li{
width:200px;
float:left;
}
.liste-competences-title {
color:#EA988B;
font-weight:bold;
}
.container-avis-title{
color:#1D1D1B;
text-align:center;
font-size:21px;
padding-top:25px;
padding-bottom:25px;
font-weight:bold;
}
.container-vision-description{
color:black;
padding-bottom:40px;
}
.container-vision-description2{
color:#1d1d1b;
}
.container-vision-title{
color:black;
text-align:center;
font-size:30px;
padding-top:25px;
padding-bottom:25px;
font-weight:bold;
font-style:italic;
font-family: 'Sofia';
}
.container-vision-title2{
color:#1d1d1b;
}
.home-categories-a img {
margin-bottom:10px;
}
.home-categories-a a {
color:#1D1D1B;
font-size:16px;
text-decoration:none;
font-weight:bold;
}
.container-blanc{
padding-top:80px;
padding-bottom:80px;
}
#header{
margin-bottom:30px;
}
#agenda_user table th,
#agenda_user table td
{
padding:0px !important;
padding-top:3px !important;
padding-bottom:5px !important;
}
.agenda_entete{
text-align:center;
font-size:12px;
}
.agenda_choisir_ok{
border-radius:5px;
color:white;
background-color:#EA988B;
text-decoration:none;
padding:3px;
padding-left:10px;
padding-right:10px;
font-size:12px;
}
a.agenda_choisir_ok:hover{
text-decoration:none;
color:white;
font-weight:bold;
}
.agenda_choisir{
border-radius:5px;
color:black;
background-color:#EDC36C;
text-decoration:none;
padding:1px;
padding-left:10px;
padding-right:10px;
font-size:16px;
}
a.agenda_choisir:hover{
text-decoration:none;
color:white;
font-weight:bold;
}
.agenda_select_date{
border-radius:5px;
color:white;
background-color:#DCA372;
padding:1px;
padding-left:10px;
padding-right:10px;
font-size:16px;
margin-bottom:0px;
}

.form-obligatoire{
color:red;
}
.input_radio label{
margin-right:15px;
}
.title-section{
color:#323332;
font-size:30px;
font-style:italic;
padding-top:15px;
}
.title-section b{
color:#EA988B;
font-weight:normal;
}
.datepicker:hover{
cursor:pointer;
}
.section-bulle{
background:transparent url(../images/template/home/bulle.png) no-repeat scroll 333px 0px;
padding-top:34px;
}
.section-bulle-body{
background-color:white;
padding:20px;
}
.container-rose{
background-color:#FCE3DC;
}
.container-gris{
background-color:#D0D0D0;
padding-top:10px;
padding-bottom:40px;
}
.home-box-picto{
border:1px solid white;
color: white;
text-align:center;
margin:10px;
padding:20px;
height:200px;
}
.home-box-picto-title{
font-size:24px;
font-weight:bold;
font-style:italic;
}
.home-box-picto-text{
font-size:13px;
}
.home-box-picto2{
background-color:#E75B8A;
}
.home-box-picto1{
background-color:#DCA372;
}
#faprod_userbundle_user_map li{
display:inline;
}

body {
  color:#343434;
  font-family:arial;
  font-size:18px;
}
#carousel-home-div{
position:absolute;
top:0px;
width:100%;
}
#carousel-home{
position:relative;
z-index:-1;
}
#carousel-home.carousel,
#carousel-home .carousel-inner img,
#carousel-home .carousel-inner{
	height:650px;
	width:100%;
}
hr{
border-color:#B7B7B7;
}
a {
color:#343434;
text-decoration:underline;
}
a:hover, a:focus {
color:#BC6E5D;
}
.btn{
text-decoration:none;
}
ul{
list-style:none;
padding:0px;
margin:0px;
}
ul li{
padding:0px;
margin:0px;
}
h1,
h2,
h3{
font-weight:normal;
color:#000000;
font-family: 'Sofia';
}
h1{
margin-top:0px;
margin-bottom:35px;
}
h2{
margin-bottom:25px;
}
h2 b{
color:#EA988B;
}
.title{
background:#FCE3DC;
padding-left:20px;
color:black;
margin:0px;
font-size:19px;
font-weight:bold;
padding-bottom:10px;
padding-top:8px;
border-radius:10px;
}
.title h1{
color:black;
margin:0px;
font-size:25px;
font-weight:bold;
}
.title_bottom{
margin-bottom:20px;
}
.title_top{
margin-top:20px;
}
.title span{
font-size:16px;
padding-right:15px;
}
.title b{
color:#E51F13;
}
.title2{
background-color:#FCE3DC;
color:black;
padding:10px;
padding-left:20px;
font-size:19px;
font-weight:bold;
border-radius:10px;
}
.home_slide_title_1{
color:#00323E;
margin-top:70px;
font-size:25px;
line-height:27px;
}
.home_slide_title_2{
color:#EA988B;
margin-top:30px;
font-size:25px;
line-height:27px;
}
.header-slogan{
margin-top:33px;
font-size:19px;
}

#popupcookie{
position:fixed;
bottom:0;
background-color:#EA988B;
background-color: rgb(45,45,45);
background-color: rgba(45,45,45,0.80);
padding:10px;
color:white;
font-size:13px;
z-index:3000;
width:100%;
}
#popupcookie a{
color:#FFFF00;
font-weight:bold;
}
.home_connexion_1{
background:#B35288 url(../images/template/connexion.png) no-repeat scroll 10px 18px;
color:white;
text-align:center;
margin-top:15px;
padding-top:5px;
padding-bottom:8px;
}
.home_connexion_2{
background-color:#EA988B;
color:white;
text-align:center;
margin-top:15px;
padding-top:5px;
padding-bottom:8px;
}
.home_connexion_1 a,
.home_connexion_2 a{
color:white;
}
.home_connexion_1 p,
.home_connexion_2 p{
margin:0px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  overflow:hidden;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  left:0;
  right:0;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
margin-left:0px !important;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right:0px !important;
}
.search_promesse{
color:black;
margin-bottom:20px;
font-weight:bold;
font-size:20px;
}
.search_promesse a{
color:black;
}

/* HEADER
-------------------------------------------------- */
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 470px;
}
#logo{
margin-top:15px;
display:block;
}
.logo_slogan{
font-style:italic;
color:black;
font-size:18px;
font-family: 'Sofia';
}
.menu-connexion-in,
.menu-connexion {
margin-top:5px;
}
.menu-connexion-in li,
.menu-connexion li{
margin-left:7px;
float:right;
}
.menu-connexion-in li a {
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 33px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
}
.menu{
margin-top:25px;
height:45px;
}
.menu ul li{
float:left;
}
.menu ul li a{
float:left;
padding-top:12px;
height:44px;
font-size:15px;
font-weight:bold;
padding-left:20px;
padding-right:20px;
text-align:center;
text-decoration:none;
text-transform:uppercase;
color:#564C49;
}
.menu ul li.menu_home a{
padding-top:10px;
}
.menu ul li a:hover{
color:#EA988B;
text-decoration:none;
}
.menu ul li.menu_home a:hover{
background-color:black;
}

#menu_left a{
text-decoration:none;
}
#menu_left a{
width:100%;
margin-bottom:5px;
}
#menu_left img{
text-align:right;
}
.railway{
padding-top:5px;
padding-bottom:5px;
margin-bottom:20px;
}
.railway,
.railway a{
font-size:12px;
}
.col-zonemembre{
background-color:#FCE3DC;
border-radius:7px;
padding-left:20px;
padding-right:20px;
padding-bottom:10px;
}
.zonemembre-infos b{
color:#E51F13;
}
.zonemembre-name-1{
color:black;
}
.zonemembre-name-2{
color:#B35288;
}
.zonemembre-name{
margin-top:7px;
margin-bottom:0px;
}
.zonemembre-infos{
font-size:14px;
margin-top:0px;
margin-bottom:0px;
}
.dropdown:hover .dropdown-menu {
display: block;
}
.dropdown .dropdown-menu {
margin-top:-5px;
left:-25px;
z-index:1001;
}
.dropdown .dropdown-menu a {
text-decoration:none;
}
#zonemembre-dropdown{
margin-top:11px;
}
.category-description{
padding-top:25px;
padding-bottom:25px;
background-color: #EA988B;
color:white;
}
.category-description p{
margin:0;
}

/* FOOTER
-------------------------------------------------- */

footer{
background-color:#FCE3DC;
margin-top:80px;
color:black;
}
footer a{
color:black;
}
.footer {
padding-top: 30px;
padding-bottom:30px;
min-height:115px;
padding-left:30px;
}
footer .container{
min-height:200px;
}
.footer a{
  text-decoration:none;
  font-size:16px;
}
#faprod{
float:right;
margin-right:20px;
}
#faprod a{
text-decoration:underline;
font-size:11px;
color:white;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 767px) {
	.menu_profil{
	background:transparent url(../images/template/profil/menu.jpg) no-repeat top center;
	width:260px;
	height:483px;
	padding-left:30px;
	padding-right:30px;
	padding-top:60px;
	}
	.menu_profil_pro{
	background:transparent url(../images/template/profil/menu_pro.jpg) no-repeat top center;
	width:260px;
	height:568px;
	padding-left:30px;
	padding-right:30px;
	padding-top:60px;
	}
	.form-control{
	  height:auto !important;	
	}
	footer .container {
		background:none !important;
	}
.search-home .home_search_large {
    margin-top: 0px !important;
}
  h1{
  	font-size:20px !important;
  }
  h2{
  	font-size:20px !important;
  }
  .body_home{
	background:none !important; 
  }
  #logo{
  	width:100px;
  	display:block;
  	margin-top:5px;
	margin-bottom:5px;
  }
  #logo img{
  	width:90px;
  }
  #search_home{
  	background-color:#006CCE;
  	border-radius:10px;
  	padding:25px;
  	margin-bottom:10px;
  }
  .vignette_image{
  	float:none !important;
  	margin:auto !important;
  }
  .vignette_infos{
   width:90%;
   margin-left:5%;
   margin-top:10px;
 }
 .vignette_infos_pro{
   width:90%;
   margin-left:5%;
   margin-top:10px;
 }
 .vignette_infos_title,
 .vignette_infos_description,
 .vignette_infos_autre_1,
 .vignette_infos_price{
 	width:100% !important;
 }
  body{
	padding-top:51px;
  }
  .navbar li a {
  	text-decoration:none;
  	font-weight:bold;
  }
  .search_box_criteria,
  #search_home {
  	padding:0px !important;
  	background:none !important;
  }
  .search_box_xs{
  	padding-top:10px;
  }
  .navbar-toggle {
  	margin-right:0px !important;
  	background-color:#EA988B !important;
	float:left !important;
  }
  .navbar-nav > li > a{
	  padding-top:5px !important;
	  padding-bottom:5px !important;
  }
  .col-content-center{
 	width:100%;
  }
  .col-content-right{
 	width:100%;
  }
  .infosvendeur_a{
    width:100%;
    margin-bottom:10px;
    float:left !important;
  }
  .tb-a{
    width:100%;
  }
  .tb_detail_dt li{
  	height:60px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .search_box{
    margin-top:30px;
  }
  .btn-sadv{
  	float:right;
  }
  .vignette_infos{
   width:460px;
 }
 .vignette_infos_pro{
   width:415px;
 }
 .col-content-center{
 	width:100%;
  }
  .col-content-right{
 	width:100%;
  }
 .infosvendeur_a{
   width:100%;
   margin-bottom:10px;
   float:left !important;
 }
 .menu ul li a {
 	font-size:11px;
 	padding-left:7px;
 	padding-right:7px;
 	padding-top:13px;
 }
 #home_zone_category_1{
 height:240px !important;
 }
 #home_zone_category_8{
 height:240px !important;
 }
 #home_zone_category_12{
 height:240px !important;
 }
 header{
	 height: 160px;
 }
}

@media (min-width: 992px) and (max-width: 1199px) {
 #header_slogan{
 	font-size:16px;
 }
 .vignette_infos{
   width:680px;
 }
 .vignette_infos_pro{
   width:635px;
 }
 .col-content-center{
 	width:71%;
 }
 .col-content-right{
 	width:29%;
 }
 .infosvendeur_a{
   width:100%;
   margin-bottom:10px;
   float:left !important;
 }
 .menu ul li a {
 	font-size:14px;
 	padding-left:8px;
 	padding-right:8px;
 }
 header{
	 height: 160px;
 }
 #profil_cliente_bk{
background:transparent url(../images/template/profil/espace_cliente2.jpg) no-repeat top center;
}
#profil_pro_bk{
background:transparent url(../images/template/profil/espace_pro2.jpg) no-repeat top center;
}
#profil_pro_photo{
top:59px;
left:52px;
}
#profil_cliente_mesphotos {
top:226px;
left:32px;
}
#profil_cliente_photo{
top:82px;
left:56px;
}
#profil_cliente_prenom {
top:79px;
left:216px;
}
#profil_cliente_mesinfos {
top:195px;
left:250px;
}
#profil_cliente_mescheveux {
top:375px;
left:50px;
}
#profil_cliente_mapeau {
top:367px;
left:275px;
}
#profil_cliente_mespreferences {
top:111px;
left:528px;
}
#profil_cliente_favoris {
top:135px;
left:708px;
}
#profil_cliente_notes {
top:267px;
left:505px;
}
#profil_cliente_reservations {
top:413px;
left:506px;
}
#profil_cliente_messages {
top:386px;
left:713px;
}
#profil_pro_espacepro_titre{
top:115px;
left:182px;
}
#profil_pro_espacepro_titre2{
top:70px;
left:594px;
}
#profil_pro_espacepro{
top:225px;
left:110px;
}
#profil_pro_monprofil{
top:146px;
left:563px;
}
#profil_pro_messagerie{
top:428px;
left:563px;
}
}

@media (min-width: 1200px) {
.menu_profil{
background:transparent url(../images/template/profil/menu.jpg) no-repeat top center;
width:260px;
height:560px;
padding-left:30px;
padding-right:30px;
padding-top:60px;
}
.menu_profil_pro{
	background:transparent url(../images/template/profil/menu_pro.jpg) no-repeat top center;
	width:260px;
	height:625px;
	padding-left:30px;
	padding-right:30px;
	padding-top:60px;
	}
 #search_home{
	width:100%;
	margin:auto;
	padding-top:15px;
 }
 .search_box{
    margin-top:30px;
  }
 #wrapper_search{
height:400px;
position:relative;
margin-top:-20px;
margin-bottom:30px;
}
 .vignette_infos_pro{
   width:830px;
 }
 #faprod{
  margin-top:115px;
  }
  .col-content-center{
 	width:71%;
 }
 .col-content-right{
 	width:29%;
 }
 .infosvendeur_a{
   margin-left:-10px;
   margin-right:-10px;
 }
 header{
	 height: 160px;
 }
}

/* CUSTOM GLOABL
-------------------------------------------------- */

.panel-default > .panel-heading {
background:#2E6FA7;
color:white;
}
.panel-divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.panel-title{
font-weight:bold;
}
.panel {
border-radius:10px;
}
.error_list {
color: red;
font: bold 10px Verdana, Arial, Helvetica, sans-serif;
list-style-type:none;
margin-left:0px;
margin-bottom:0px;
margin-top:0px;
}
.link_retour{
margin-bottom:80px;
margin-top:50px;
}
.jumbotron{
padding:25px;
}
.jumbotron_white h2{
margin-bottom:20px;
margin-top:0px;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #f9dcd3;
}
.table_white{
  background-color:white;
}
.table_white th{
  background-color:#f9dcd3;
}

.help-block{
margin-bottom:0px;
}
.order_status_0{
color:#B71F07;
font-weight:bold;
}
.order_status_1{
color:#B5A609;
font-weight:bold;
}
.order_status_2{
color:#0BB319;
font-weight:bold;
}
.connexion_boutton_facebook{
background:transparent url(../images/facebook_connexion2.png) no-repeat scroll 0px 0px;
width: 210px;
height: 29px;
border:0px none;
cursor:pointer;
margin:auto;
}

/* CUSTOM SITE
-------------------------------------------------- */

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
background:#FCE3DC;
color:black;
text-shadow:none;
font-weight:bold;
}
.list-group {
border-radius:0px;
}
.list-group-item:first-child {
border-radius:0px;
}
.panel-default > .panel-heading {
background:#FCE3DC;
color:black;
}
.panel-heading {
border-radius:10px;
}
.body_content{
min-height:570px;
padding-bottom:100px;
}

.btn-info{
border-color:black !important;
background:black !important;
color:white !important;
}
.hrsep{
border-top:1px solid #A0A0A0;
float:left;
width:100%;
}
.discussion{
background-color:#E9E9E9;
border-radius:8px;
padding:15px;
margin-bottom:20px;
}
.discussion:hover{
cursor:pointer;
}
.discussion_show:hover{
cursor:default !important;
}
.discussion_title{
font-weight:bold;
font-size:18px;
}
.message_show{
border-radius:8px;
padding:15px;
margin-bottom:20px;
width:85%;
}
.message_show_right{
background-color:#FFEBAA;
}
.message_show_left{
background-color:#D9E8F5;
}
#discussion_panel{
max-height:420px;
overflow-y:scroll;
margin-bottom:15px;
}
.zone_message{
background-color:#FFEBAA;
border-radius:15px;
border:1px solid #EA988B;
padding:20px;
}
.zone_message textarea{
border:1px solid #EA988B;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus,
.pagination>.active>span:focus {
background-color: #EA988B;
border-color: #EA988B;
}

/* HOME
-------------------------------------------------- */
.homecartes{
background:transparent url(../images/template/home/cartes.png) repeat-x scroll top 0px left -12px;
padding-left:20px;
padding-right:20px;
float:left;
width:100%;
margin-bottom:30px;
}
.homecartes a{
text-decoration:none;
font-weight:bold;
font-size:17px;
}

.btn{
border-radius:20px;
border:1px solid #EA988B;
color:#EA988B !important;
background:white !important;
font-size:18px !important;
text-shadow:none !important;
box-shadow: none !important;
}

.btn-primary:hover,
.btn-primary:focus{
border:1px solid #EA988B !important;
background-color:#F9DCD3 !important;
}

.success{
background:white url(../images/success.png) no-repeat scroll 10px 5px !important;
padding-left:25px;
}
.successko{
background:white url(../images/successko.png) no-repeat scroll 10px 5px !important;
padding-left:25px;
}

.form-control{
border-radius:20px;
border:1px solid #EA988B;
background:white !important;
font-size:18px !important;
height:42px !important;
}
/* FORM SEARCH
-------------------------------------------------- */

.link_cancel{
color:#FB5C00;
}
.zone_message_advert_etapes{
font-size:20px;
color:white;
font-weight:bold;
background-color:#BC6E5D;
margin-bottom:15px;
margin-top:10px;
padding-left:15px;
border-radius:10px;
}
.zone_message_advert .offer-duree,
.zone_message_advert .offer-price{
color:#BC6E5D;
}
.offer-title{
color:#BC6E5D;
font-weight:bold;
font-size:18px;
}
.offer-duree{
color:#EA988B;
font-weight:bold;
font-size:15px;
}
.offer-price{
color:#EA988B;
font-weight:bold;
font-size:15px;
}

#map{
width:100%;
height:400px ;
}
.auto-style1 {
	background-color: #FFFF00;
}

.search_title_1{
margin-bottom:5px;
color:#6c6c6b;
}
.search_title_2{
color:#EA988B;
margin-top:10px;
font-size:26px;
}
.btn-partage-t{
background-color:#3A95BA !important;
width:100%;
margin-bottom:10px;
color:white !important;
}
.btn-partage-f{
background-color:#537BBD !important;
width:100%;
margin-bottom:10px;
color:white !important;
}
.btn-partage-m{
background-color:#B35288 !important;
width:100%;
color:white !important;
}

#list-departements li{
width:25%;
}
.railway{
background-color:#F9DCD3;
}
.home_search_large_1 h2,
.home_search_large_2 h2 {
color:white;
font-weight:bold;
font-size:21px;
margin-top:15px;
margin-bottom:10px;
}
.home_search_large_1 select{
margin-top:10px;
margin-bottom:10px;
}
.home_search_large_2 input{
margin-top:10px;
margin-bottom:10px;
}
.home_search_large_1{
background-color:#EA988B;
}
.home_search_large_2{
background-color:#914319;
}
.carousel-home-title1{
background-color:#564C49;
background-color: rgb(86,76,73);
background-color: rgba(86,76,73,0.70);
color:white;
font-style:italic;
font-size:25px;
padding-left:20px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
}
.carousel-home-title2{
background-color:#A33E50;
background-color: rgb(163,62,80);
background-color: rgba(163,62,80,0.70);
color:white;
font-style:italic;
font-size:25px;
padding-left:20px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
}
.btn-search{
border-color:#B35288 !important;
background:none !important;
background-color:#B35288 !important;
margin-top:12px;
}
.search_home_title{
font-size:20px;
color:white;
margin-top:5px;
margin-bottom:5px;
text-align:center;
font-style:italic;
}
.search-home .search_home_title{
font-size:25px;
color:white;
margin-top:15px;
margin-bottom:35px;
text-align:center;
font-style:italic;
}
#faprod_advertbundle_advert_ethnie label{
margin-right:15px;
}
.gm-style-iw > div {
    width: 390px !important;
}
.home_search_large{
padding-top:40px;
padding-bottom:40px;
}
.search-home .home_search_large{
margin-top:335px;
}
.btn-sadv-criteres{
border-color:#1C1C1C !important;
background-color:#1C1C1C !important;
color:white !important;
width:170px;
}
.btn-sadv{
width:170px;
}
.options_advsearch{
margin-bottom:15px;
}
.options_advsearch li{
display:inline;
margin-right:15px;
}

/* FORM ADVERT
-------------------------------------------------- */
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.list_options{
max-height:420px;
width:100%;
overflow:auto;
border:1px solid #5a5a5a;
padding:15px;
border-radius:10px;
margin-bottom:15px;
}
.checkbox input,
.checkbox-register input {
	width:15px;
}
.liste-photo{
list-style:none;
padding:0px;
}
.liste-photo li{
float:left;
margin:8px;
padding:0px;
margin-left:0px;
}
.liste-photo img{

}
.form-horizontal hr{
border-color:#8B8B8B;
}
.checkbox_label label{
font-weight:normal;
}
.liste-checkbox{
list-style:none;
padding:0px;
margin:0px;
}
.liste-checkbox li{
float:left;
width:200px;
padding:0px;
}

/* VIGNETTE HOME
-------------------------------------------------- */

.vignette_myadvert{
background-color:#E9E9E9;
border-radius:8px;
padding:8px;
width:336px !important;
margin:auto;
margin-bottom:30px;
padding:15px;
}
.vignette_myadvert:hover{
cursor:default !important;
}
.vignette_myadvert .vignette_home_image{
text-align:center;
}
.vignette_myadvert .vignette_home_infos_title{
margin-top:8px;
margin-bottom:8px;
}
.vignette_hover{
background-color:#DDA800;
background-color: rgb(221,168,0);
background-color: rgba(221,168,0,0.65);
height:370px;
width:260px;
z-index:1000;
position:absolute;
text-align:center;
display:none;
margin-top:-5px;
margin-left:-5px;
}
.vignette_hover img{
margin-top:160px;
}
.vignette_certifie{
margin-bottom:10px;
}
.vignette:hover .vignette_hover{
display:block;
}
.vignette_map{
cursor:pointer;
width:340px;
padding:5px !important;
}
.vignette_map .vignette_infos_title {
color:#EA988B;
font-size:15px;
font-weight:bold;
}
.vignette_infos_certifie{
margin-top:10px;
}
.vignette_map_link{
margin-top:8px;
}
.vignette_map_link a{
font-size:14px;
color:#EA988B;
text-decoration:none;
}
.vignette_price{
background-color:#FFEBAA;
background-color: rgb(255,235,170);
background-color: rgba(255,235,170,0.90);
height:40px;
width:90px;
padding-top:6px;
font-size:18px;
font-weight:bold;
z-index:1000;
position:absolute;
text-align:center;
bottom:0px;
right:0px;
}
.detail_advert_price{
background-color:#FFEBAA;
background-color: rgb(255,235,170);
background-color: rgba(255,235,170,0.90);
height:50px;
width:100px;
padding-top:9px;
font-size:25px;
font-weight:bold;
z-index:1000;
position:absolute;
text-align:center;
top:0px;
right:15px;
}
.vignette-btn{
margin-top:20px;
}
.message_discussion_bloc{
border:3px solid #EA988B;
margin-bottom:20px;
}
.message_discussion_bloc table {
margin-bottom:0px !important;
}
.vignette{
margin:auto;
margin-top:10px;
position:relative;
padding:5px;
border-bottom:1px solid #B7B7B7;
padding-bottom:20px;
}
.vignette_alaune{
background-color:#FFE4E2;
border:1px solid #E51F13;
}
.vignette_image{
height:250px;
width:250px;
text-align:center;
position:relative;
overflow:hidden;
}
.vignette_image_user{
margin-top:15px;
}
.vignette_image_user img{
width:60px;
}
.vignette_infos_title a{
font-weight:bold;
color:#EA988B;
padding-bottom:10px;
font-size:20px;
text-decoration:none;
}
.vignette_infos_autre{
font-size:16px;
font-weight:bold;
color:#6C6C6B;
}
.vignette_infos_autre_2{
color:#6C6C6B;
}
.vignette_infos_km{
font-size:12px;
text-align:center;
padding-top:3px;
width:100%;
float:right;
}
.vignette_infos{
width:250px;
height:110px;
}
.vignette_infos_1{
padding:0px;
padding-right:5px;
}
.vignette_infos_2{
padding:0px;
padding-left:5px;
}


/* BOUTIQUE
-------------------------------------------------- */

.user-detail-title h1{
color:#EA988B;
font-size:25px;
font-weight:bold;
margin-bottom:5px;
margin-top:0px;
}
.user-detail-title h2{
color:#BC6E5D;
font-size:22px;
font-weight:bold;
margin-bottom:5px;
margin-top:0px;
}
.user-detail-title h3{
margin-bottom:25px;
margin-top:0px;
}

.detail_col_right{
background-color:#E6E6E6;
}
.detail_col_right_box{
padding-left:15px;
padding-right:15px;
}
.detail_col_right_box_title{
color:#E51F13;
font-size:20px;
font-weight:bold;
text-decoration:none;
}
.vignette_boutique:hover{
cursor:pointer;
}
.vignette_boutique_hover{
background-color:#DDA800;
background-color: rgb(221,168,0);
background-color: rgba(221,168,0,0.65);
height:240px;
width:250px;
z-index:1000;
position:absolute;
text-align:center;
display:none;
}
.vignette_boutique_hover img{
margin-top:100px;
}
.vignette_boutique:hover .vignette_boutique_hover{
display:block;
}
.vignette_boutique{
height:240px;
width:250px;
margin:auto;
margin-bottom:30px;
position:relative;
}
.vignette_boutique_image{
height:150px;
width:250px;
text-align:center;
position:relative;
overflow:hidden;
}
.vignette_boutique_infos_title{
font-weight:bold;
color:#323232;
padding-top:10px;
font-size:16px;
}
.vignette_boutique_infos_autre{
font-size:14px;
}
.vignette_boutique_infos{
width:250px;
height:90px;
}
.vignette_boutique_infos{
padding:0px;
padding-right:5px;
}

/* DETAILS ADVERT
-------------------------------------------------- */

.a_abusif{
color:#E51F13;
text-decoration:none;
font-size:14px;
margin-top:15px;
margin-bottom:15px;
}
.zone_message_advert_title{
background-color:#B35288;
color:white;
}
.zone_message_advert{
padding:10px;
background-color:#F9DCD3;
margin-bottom:5px;
}
.zone_message_advert .form-group{
margin-bottom:5px;
}
.zone_message_advert textarea,
.zone_message_advert input{
border:1px solid #FFEBAA;
}
.zone_message_advert_infos{
background-color:#FFEBAA;
padding:7px;
}
#detail_right_telephone{
width:100%;
margin-top:20px;
}

.detail_dt li {
background-color:#E3E3E3;
padding:5px;
margin-bottom:2px;
text-align:left;
font-weight:bold;
height:32px;
}
.detail_dt li b {
width:120px;
float:left;
font-weight:normal;
}
.detail_dt_tb li b {
width:300px;
}
.detail_dt li s {
font-weight:normal;
}
.detail_dt li img {
margin-left:10px;
margin-right:10px;
}

.detail_advert_subtitle_1{
display:inline;
}
.detail_advert_subtitle_2{
border-left:1px solid #E3E3E3;
padding-left:15px;
margin-left:15px;
display:inline;
}
.detail_image{
width:100%;
text-align:center;
overflow: hidden;
}
.detail_right{
background-color:#bfcdd9;
width:100%;
padding:17px;
}
.zone_annonceur{
background-color:#FEECD7;
border:1px solid #FF7200;
padding:5px;
margin-bottom:30px;
}
.zone_annonceur_nom{
font-size:20px;
}
.zone_annonceur_nom a{
text-decoration:none;
font-weight:bold;
}
.zone_annonceur_infos{
font-size:14px;
}
.zone_annonceur_verifie{
font-size:15px;
color:#81984D;
font-weight:bold;
}
/* HOME
-------------------------------------------------- */

.home_bandeau_3 a{
margin-top:30px;
border-color:white !important;
background:white !important;
color:#004560 !important;
}
.home_bandeau{
background-color:#EA437B;
padding-top:10px;
padding-bottom:10px;
}
.home_bandeau_blog{
background-color:#CEC5BE;
padding-top:50px;
padding-bottom:10px;
}
.home_bandeau_1{
color:#CEC5BE;
font-size:20px;
margin-top:30px;
font-weight:bold;
}
.home_bandeau_2{
color:white;
font-size:25px;
}
.home_pourquoi h2{
margin-bottom:5px;
}
.home_pourquoi h3{
font-weight:bold;
margin-top:5px;
}
.home_market{
margin-top:30px;
}
.home_market img{
z-index:10;
}
.home_market_box{
border:1px solid #CEC6BF;
padding:20px;
height:400px;
z-index:0;
margin-top:200px;
margin-bottom:50px;
}
.home_market_title{
color:#EA437B;
font-weight:bold;
font-size:25px;
text-align:center;
line-height:30px;
}
.home_market_box_img{
margin-top:-175px;
}
#home_zone_category_51 ul{
height:260px;
}
#home_zone_category_68 ul{
height:260px;
}
#home_zone_category_85 ul{
height:100px;
}
#home_zone_category_90 ul{
height:110px;
}
#home_zone_category_95 ul{
height:165px;
}
#home_zone_category_104 ul{
height:165px;
}
#home_zone_category_113 ul{
height:165px;
}
#home_zone_category_124 ul{
height:165px;
}
#home_zone_category_132 ul{
height:165px;
}
#home_zone_category_143 ul{
height:165px;
}

.home_col_category b {
background-color:#004560;
display:block;
padding:10px;
color:white;
}
.home_col_category b a {
text-decoration:none;
color:white;
}
.home_col_category ul {
background-color:#E2DFDD;
border:1px solid #CEC6BF;
float:left;
padding-bottom:10px;
padding-top:5px;
margin-bottom:10px;
width:100%;
}
.home_categories{
margin-top:40px;
margin-bottom:30px;
}
.home_col_category ul li{
width:50%;
float:left;
padding-left:15px;
}

.menu-connexion-footer li{
float:left;
margin-left:25px;
}
.home_zone_category_2{
background-color:#EA437B;
padding-top:25px;
padding-bottom:25px;
}

/* RIGHT
-------------------------------------------------- */

.right_blog p{
margin:0px;
}
.right_blog_title{
font-weight:bold;
}
.right_blog_title a{
text-decoration:none;
font-size:14px;
}
.right_blog_date{
color:#727272;
font-style:italic;
}
.right_blog_description{
margin-top:5px;
margin-bottom:5px;
}
.right_blog{
margin-bottom:10px;
}
.box_marge_top{
margin-top:15px;
}
.box_marge_top_40{
margin-top:40px;
}
.box_marge_bottom_40{
margin-bottom:40px;
}

/* CONTENT
-------------------------------------------------- */

.nb_com{
padding-right:0px !important;
}
.comment{
margin-bottom:20px;
margin-top:20px;
}
.comment_author{
font-weight:bold;
color:#24475A;
background:transparent url(../images/template/bulle.png) no-repeat scroll 0px 0px;
padding-left:45px;
padding-top:8px;
padding-bottom:8px;
}
.comment_message{
font-style:italic;
text-align:justify;
}
.vignette_content_une{
width:100%;
margin-bottom:20px;
}
.vignette_content_une:hover{
cursor:pointer;
}
.vignette_content_image_une{
width:100%;
text-align:center;
}
.vignette_content_infos_visible_une{
padding:15px;
width:100%;
background-color:#F5F5F5;
}
.vignette_content_infos_title_une{
font-weight:bold;
color:#409BC8;
}
.vignette_content_infos_price_une{
font-size:15px;
}

.vignette_content{
height:360px;
width:350px;
margin:auto;
margin-bottom:20px;
}
.vignette_content:hover{
cursor:pointer;
}
.vignette_content_image{
height:250px;
width:350px;
text-align:center;
overflow: hidden;
position:absolute;
}
.vignette_content_infos_visible{
padding-top:5px;
height:50px;
top:255px;
width:350px;
z-index:1000;
position:relative;
}
.vignette_content_infos_title{
height:20px;
font-weight:bold;
color:#323232;
}
.vignette_content_infos_price{
font-size:15px;
height:28px;
}
.vignette_content_infos_date{
font-style:italic;
}
.vignette_content_infos{
background-color:#EA437B;
background-color: rgb(221, 96, 27);
background-color: rgba(221, 96, 27, 0.65);
padding-top:10px;
height:360px;
width:350px;
z-index:1000;
position:relative;
display:none;
margin-top:-50px;
}
.vignette_content_infos_hover{
margin-top:100px;
text-align:center;
}
.vignette_content:hover .vignette_content_infos{
display:block;
}
.vignette_content_mini{
margin-bottom:20px;
}
.vignette_content_mini:hover{
cursor:pointer;
}
.vignette_content_mini_image{
text-align:center;
overflow: hidden;
float:left;
}
.vignette_content_mini_image img {
width:110px;
height:80px;
}
.vignette_content_mini_infos_titre{
font-size:18px;
color:#409BC8;
font-weight:bold;
}
/*
	Menu
		- positioning and sizing
*/

#menu_a {
    color:#EA988B;
	font-size:30px;
	float:left;
	margin-top:20px;
}

html.mmenu-opened,
html.mmenu-opened body
{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
html.mmenu-opened body
{
	position: relative;
}
.mmenu
{
	padding-right:5px;
	padding-left:5px;
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.mmenu,
.mmenu *
{
	-webkit-text-size-adjust: none;
	font-size: 14px;
}
.mmenu ul,
.mmenu li,
.mmenu li > a,
.mmenu li > span
{
	display: block;
	padding: 0;
	margin: 0;
}
.mmenu > ul
{
	padding: 10px 0 40px 0;
}
.mmenu .mmenu-hidden
{
	display: none;
}
html.mmenu-left .mmenu > ul > li
{
	padding-right: 10px;
}
html.mmenu-right .mmenu > ul > li
{
	padding-left: 65px;
}
html.mmenu-opened .mmenu.mmenu-opened
{
	display: block;
}
html.mmenu-opened .mmenu-page
{

	background-color: inherit;
	min-height: 100%;
	position: absolute;
	z-index: 1;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#mmenu-blocker
{
	display: none;
}
html.mmenu-opened #mmenu-blocker
{

	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
}
html.mmenu-opened .mmenu-page,
html.mmenu-opened #mmenu-blocker
{
	-webkit-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
	-moz-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
	transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
}
html.mmenu-left.mmenu-opened .mmenu-page,
html.mmenu-left.mmenu-opened #mmenu-blocker
{
	margin-left: 0px;
	left: 0%;
}
html.mmenu-left.mmenu-opening .mmenu-page,
html.mmenu-left.mmenu-opening #mmenu-blocker
{
	margin-left: -65px;
	left: 100%;
}
html.mmenu-right.mmenu-opened .mmenu-page,
html.mmenu-right.mmenu-opened #mmenu-blocker
{
	margin-right: 0px;
	right: 0%;
}
html.mmenu-right.mmenu-opening .mmenu-page,
html.mmenu-right.mmenu-opening #mmenu-blocker
{
	margin-right: -65px;
	right: 100%;
}



/*
	Menu
		- styling
*/
.mmenu .btn {
font-size:15px !important;
}
.mmenu
{
	background: black;
}
.mmenu li
{
	position: relative;
	margin-bottom:5px;
}
.mmenu li:hover
{

}
.mmenu li:hover a{

}
.mmenu li:first-child
{
	border-top-width: 0;
}
.mmenu li > a,
.mmenu li > span
{
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 40px;
	overflow: hidden;
	padding-right: 5px;
}
.mmenu li > a,
.mmenu li > span,
.mmenu li > a:hover
{
	color: white;
	text-decoration: none;
}
.mmenu li.mmenu-selected > a,
.mmenu li.mmenu-selected > span
{
	background: #222;
}
.mmenu li.mmenu-selected > a.mmenu-subopen
{
	background: transparent;
}


/*
	Submenu
		- open link
*/
.mmenu a.mmenu-subopen
{
	border-left: 1px solid #111;
	width: 40px;
	height: 40px;
	padding: 0;
	position: absolute;
	right: 65px;
	top: 0;
	z-index: 2;
}
html.mmenu-right .mmenu a.mmenu-subopen
{
	right: 0;
}
.mmenu ul ul a.mmenu-subopen
{
	right: 0;
}
.mmenu a.mmenu-subopen.mmenu-fullsubopen
{
	width: 100%;
}
.mmenu a.mmenu-subopen + a,
.mmenu a.mmenu-subopen + span
{
	padding-right: 45px;
}


/*
	Submenu
		- close link
*/
.mmenu a.mmenu-subclose
{
	background: #222;
	text-indent: 40px;
	padding-top: 10px;
	margin-top: -10px;
}


/*
	Submenu
		- vertical
*/
.mmenu.mmenu-vertical ul ul
{
	display: none;
	padding: 0 10px 10px 10px;
}
.mmenu.mmenu-vertical li.mmenu-opened > ul
{
	display: block;
}
.mmenu.mmenu-vertical ul ul li:last-child
{
	border-bottom-width: 0;
}


/*
	Submenu
		- horizontal
*/
.mmenu.mmenu-horizontal
{
	width: 200%;
}
.mmenu.mmenu-horizontal ul
{
	width: 290px;
	margin-left: 0%;
	float: left;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: margin-left 0.5s ease;
	-moz-transition: margin-left 0.5s ease;
	transition: margin-left 0.5s ease;
}
.mmenu.mmenu-horizontal ul.mmenu-submenu
{
	display: none;
}
.mmenu.mmenu-horizontal ul.mmenu-submenu.mmenu-opened
{
	display: block;
}
.mmenu.mmenu-horizontal ul.mmenu-subopened
{
	margin-left: -50%;
	height: 100%;
	overflow: hidden;
}


/*
	Labels
*/
.mmenu li.mmenu-label
{
	background: #444;
	font-size: 11px;
	color: #ccc;
	text-transform: uppercase;
	text-indent: 20px;
	line-height: 20px;
}


/*
	Counters
*/
.mmenu em.mmenu-counter
{
	border-radius: 5px;
	background: #555;
	box-shadow: 0 0 2px rgba( 0, 0, 0, 0.3 );
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	color: #999;
	text-indent: 0;
	text-align: center;
	text-shadow: none;
	line-height: 22px;
	display: block;
	min-width: 20px;
	height: 20px;
	padding: 0;
	position: absolute;
	right: 105px;
	top: 10px;
}
.mmenu em.mmenu-counter + a.mmenu-subopen
{
	padding-left: 35px;
}
.mmenu em.mmenu-counter + a.mmenu-subopen + a,
.mmenu em.mmenu-counter + a.mmenu-subopen + span
{
	padding-right: 80px;
}
.mmenu em.mmenu-counter + a.mmenu-fullsubopen + a,
.mmenu em.mmenu-counter + a.mmenu-fullsubopen + span
{
	padding-right: 70px;
}


/* at right or subsub */
html.mmenu-right .mmenu em.mmenu-counter,
.mmenu.mmenu-vertical ul ul em.mmenu-counter
{
	right: 40px;
}


/*
	Arrows
*/
.mmenu a.mmenu-subopen:after,
.mmenu a.mmenu-subclose:before
{
	content: '';
	border: 4px solid rgba( 255, 255, 255, 0.3 );
	border-left: none;
	border-top: none;
	display: block;
	width: 6px;
	height: 6px;
	position: absolute;
}
.mmenu a.mmenu-subopen:after
{
	right: 16px;
	top: 16px;
	-webkit-transform: rotate( 315deg );
	transform: rotate( 315deg );
}
.mmenu a.mmenu-subclose:before
{
	left: 20px;
	top: 25px;
	-webkit-transform: rotate( 135deg );
	transform: rotate( 135deg );
}
.mmenu.mmenu-vertical li.mmenu-opened > a.mmenu-subopen:after
{
	-webkit-transform: rotate( 45deg );
	transform: rotate( 45deg );
}
html.mmenu-right .mmenu a.mmenu-subclose:before
{
	left: 85px;
}


/*
	Menu
		- positioning and sizing for larger screens
*/
@media all and (min-width: 500px) {
	.mmenu.mmenu-vertical
	{
		width: 500px;
	}
	html.mmenu-right .mmenu.mmenu-vertical
	{
		left: auto;
		right: 0;
	}

	.mmenu.mmenu-horizontal
	{
		width: 730px;
	}
	html.mmenu-right .mmenu.mmenu-horizontal
	{
		left: auto;
		right: -500px;
	}

	html.mmenu-left.mmenu-opening .mmenu-page,
	html.mmenu-left.mmenu-opening #mmenu-blocker
	{
		left: 360px;
	}
	html.mmenu-right.mmenu-opening .mmenu-page,
	html.mmenu-right.mmenu-opening #mmenu-blocker
	{
		right: 500px;
	}
}
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;
  width: 370px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}
/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.dropzone, .dropzone * {
  box-sizing: border-box; }

.dropzone {
  min-height: 125px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background: #FCFACA;
  padding: 20px 20px; }
  .dropzone.dz-clickable {
    cursor: pointer; }
    .dropzone.dz-clickable * {
      cursor: default; }
    .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
      cursor: pointer; }
  .dropzone.dz-started .dz-message {
    display: none; }
  .dropzone.dz-drag-hover {
    border-style: solid; }
    .dropzone.dz-drag-hover .dz-message {
      opacity: 0.5; }
  .dropzone .dz-message {
    text-align: center;
    margin: 2em 0; }
  .dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px; }
    .dropzone .dz-preview:hover {
      z-index: 1000; }
      .dropzone .dz-preview:hover .dz-details {
        opacity: 1; }
    .dropzone .dz-preview.dz-file-preview .dz-image {
      border-radius: 20px;
      background: #999;
      background: linear-gradient(to bottom, #eee, #ddd); }
    .dropzone .dz-preview.dz-file-preview .dz-details {
      opacity: 1; }
    .dropzone .dz-preview.dz-image-preview {
      background: #FCFACA; }
      .dropzone .dz-preview.dz-image-preview .dz-details {
        -webkit-transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        -ms-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear; }
    .dropzone .dz-preview .dz-remove {
      font-size: 14px;
      text-align: center;
      display: block;
      cursor: pointer;
      border: none; }
      .dropzone .dz-preview .dz-remove:hover {
        text-decoration: underline; }
    .dropzone .dz-preview:hover .dz-details {
      opacity: 1; }
    .dropzone .dz-preview .dz-details {
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      font-size: 13px;
      min-width: 100%;
      max-width: 100%;
      padding: 2em 1em;
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
      line-height: 150%; }
      .dropzone .dz-preview .dz-details .dz-size {
        margin-bottom: 1em;
        font-size: 16px; }
      .dropzone .dz-preview .dz-details .dz-filename {
        white-space: nowrap; }
        .dropzone .dz-preview .dz-details .dz-filename:hover span {
          border: 1px solid rgba(200, 200, 200, 0.8);
          background-color: rgba(255, 255, 255, 0.8); }
        .dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
          overflow: hidden;
          text-overflow: ellipsis; }
          .dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
            border: 1px solid transparent; }
      .dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 0 0.4em;
        border-radius: 3px; }
    .dropzone .dz-preview:hover .dz-image img {
      -webkit-transform: scale(1.05, 1.05);
      -moz-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
      -o-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
      -webkit-filter: blur(8px);
      filter: blur(8px); }
    .dropzone .dz-preview .dz-image {
      border-radius: 20px;
      overflow: hidden;
      width: 120px;
      height: 120px;
      position: relative;
      display: block;
      z-index: 10; }
      .dropzone .dz-preview .dz-image img {
        display: block; }
    .dropzone .dz-preview.dz-success .dz-success-mark {
      -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }
    .dropzone .dz-preview.dz-error .dz-error-mark {
      opacity: 1;
      -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
    .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
      pointer-events: none;
      opacity: 0;
      z-index: 500;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-left: -27px;
      margin-top: -27px; }
      .dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
        display: block;
        width: 54px;
        height: 54px; }
    .dropzone .dz-preview.dz-processing .dz-progress {
      opacity: 1;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .dropzone .dz-preview.dz-complete .dz-progress {
      opacity: 0;
      -webkit-transition: opacity 0.4s ease-in;
      -moz-transition: opacity 0.4s ease-in;
      -ms-transition: opacity 0.4s ease-in;
      -o-transition: opacity 0.4s ease-in;
      transition: opacity 0.4s ease-in; }
    .dropzone .dz-preview:not(.dz-processing) .dz-progress {
      -webkit-animation: pulse 6s ease infinite;
      -moz-animation: pulse 6s ease infinite;
      -ms-animation: pulse 6s ease infinite;
      -o-animation: pulse 6s ease infinite;
      animation: pulse 6s ease infinite; }
    .dropzone .dz-preview .dz-progress {
      opacity: 1;
      z-index: 1000;
      pointer-events: none;
      position: absolute;
      height: 16px;
      left: 50%;
      top: 50%;
      margin-top: -8px;
      width: 80px;
      margin-left: -40px;
      background: rgba(255, 255, 255, 0.9);
      -webkit-transform: scale(1);
      border-radius: 8px;
      overflow: hidden; }
      .dropzone .dz-preview .dz-progress .dz-upload {
        background: #FF6F08;
        background: linear-gradient(to bottom, #FF6F08, #FBAC73);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        -webkit-transition: width 300ms ease-in-out;
        -moz-transition: width 300ms ease-in-out;
        -ms-transition: width 300ms ease-in-out;
        -o-transition: width 300ms ease-in-out;
        transition: width 300ms ease-in-out; }
    .dropzone .dz-preview.dz-error .dz-error-message {
      display: block; }
    .dropzone .dz-preview.dz-error:hover .dz-error-message {
      opacity: 1;
      pointer-events: auto; }
    .dropzone .dz-preview .dz-error-message {
      pointer-events: none;
      z-index: 1000;
      position: absolute;
      display: block;
      display: none;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      border-radius: 8px;
      font-size: 13px;
      top: 130px;
      left: -10px;
      width: 140px;
      background: #be2626;
      background: linear-gradient(to bottom, #be2626, #a92222);
      padding: 0.5em 1.2em;
      color: white; }
      .dropzone .dz-preview .dz-error-message:after {
        content: '';
        position: absolute;
        top: -6px;
        left: 64px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #be2626; }
