/* FORM SEARCH
-------------------------------------------------- */

.link_cancel{
color:#FB5C00;
}
.zone_message_advert_etapes{
font-size:20px;
color:white;
font-weight:bold;
background-color:#BC6E5D;
margin-bottom:15px;
margin-top:10px;
padding-left:15px;
border-radius:10px;
}
.zone_message_advert .offer-duree,
.zone_message_advert .offer-price{
color:#BC6E5D;
}
.offer-title{
color:#BC6E5D;
font-weight:bold;
font-size:18px;
}
.offer-duree{
color:#EA988B;
font-weight:bold;
font-size:15px;
}
.offer-price{
color:#EA988B;
font-weight:bold;
font-size:15px;
}

#map{
width:100%;
height:400px ;
}
.auto-style1 {
	background-color: #FFFF00;
}

.search_title_1{
margin-bottom:5px;
color:#6c6c6b;
}
.search_title_2{
color:#EA988B;
margin-top:10px;
font-size:26px;
}
.btn-partage-t{
background-color:#3A95BA !important;
width:100%;
margin-bottom:10px;
color:white !important;
}
.btn-partage-f{
background-color:#537BBD !important;
width:100%;
margin-bottom:10px;
color:white !important;
}
.btn-partage-m{
background-color:#B35288 !important;
width:100%;
color:white !important;
}

#list-departements li{
width:25%;
}
.railway{
background-color:#F9DCD3;
}
.home_search_large_1 h2,
.home_search_large_2 h2 {
color:white;
font-weight:bold;
font-size:21px;
margin-top:15px;
margin-bottom:10px;
}
.home_search_large_1 select{
margin-top:10px;
margin-bottom:10px;
}
.home_search_large_2 input{
margin-top:10px;
margin-bottom:10px;
}
.home_search_large_1{
background-color:#EA988B;
}
.home_search_large_2{
background-color:#914319;
}
.carousel-home-title1{
background-color:#564C49;
background-color: rgb(86,76,73);
background-color: rgba(86,76,73,0.70);
color:white;
font-style:italic;
font-size:25px;
padding-left:20px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
}
.carousel-home-title2{
background-color:#A33E50;
background-color: rgb(163,62,80);
background-color: rgba(163,62,80,0.70);
color:white;
font-style:italic;
font-size:25px;
padding-left:20px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
}
.btn-search{
border-color:#B35288 !important;
background:none !important;
background-color:#B35288 !important;
margin-top:12px;
}
.search_home_title{
font-size:20px;
color:white;
margin-top:5px;
margin-bottom:5px;
text-align:center;
font-style:italic;
}
.search-home .search_home_title{
font-size:25px;
color:white;
margin-top:15px;
margin-bottom:35px;
text-align:center;
font-style:italic;
}
#faprod_advertbundle_advert_ethnie label{
margin-right:15px;
}
.gm-style-iw > div {
    width: 390px !important;
}
.home_search_large{
padding-top:40px;
padding-bottom:40px;
}
.search-home .home_search_large{
margin-top:335px;
}
.btn-sadv-criteres{
border-color:#1C1C1C !important;
background-color:#1C1C1C !important;
color:white !important;
width:170px;
}
.btn-sadv{
width:170px;
}
.options_advsearch{
margin-bottom:15px;
}
.options_advsearch li{
display:inline;
margin-right:15px;
}

/* FORM ADVERT
-------------------------------------------------- */
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.list_options{
max-height:420px;
width:100%;
overflow:auto;
border:1px solid #5a5a5a;
padding:15px;
border-radius:10px;
margin-bottom:15px;
}
.checkbox input,
.checkbox-register input {
	width:15px;
}
.liste-photo{
list-style:none;
padding:0px;
}
.liste-photo li{
float:left;
margin:8px;
padding:0px;
margin-left:0px;
}
.liste-photo img{

}
.form-horizontal hr{
border-color:#8B8B8B;
}
.checkbox_label label{
font-weight:normal;
}
.liste-checkbox{
list-style:none;
padding:0px;
margin:0px;
}
.liste-checkbox li{
float:left;
width:200px;
padding:0px;
}

/* VIGNETTE HOME
-------------------------------------------------- */

.vignette_myadvert{
background-color:#E9E9E9;
border-radius:8px;
padding:8px;
width:336px !important;
margin:auto;
margin-bottom:30px;
padding:15px;
}
.vignette_myadvert:hover{
cursor:default !important;
}
.vignette_myadvert .vignette_home_image{
text-align:center;
}
.vignette_myadvert .vignette_home_infos_title{
margin-top:8px;
margin-bottom:8px;
}
.vignette_hover{
background-color:#DDA800;
background-color: rgb(221,168,0);
background-color: rgba(221,168,0,0.65);
height:370px;
width:260px;
z-index:1000;
position:absolute;
text-align:center;
display:none;
margin-top:-5px;
margin-left:-5px;
}
.vignette_hover img{
margin-top:160px;
}
.vignette_certifie{
margin-bottom:10px;
}
.vignette:hover .vignette_hover{
display:block;
}
.vignette_map{
cursor:pointer;
width:340px;
padding:5px !important;
}
.vignette_map .vignette_infos_title {
color:#EA988B;
font-size:15px;
font-weight:bold;
}
.vignette_infos_certifie{
margin-top:10px;
}
.vignette_map_link{
margin-top:8px;
}
.vignette_map_link a{
font-size:14px;
color:#EA988B;
text-decoration:none;
}
.vignette_price{
background-color:#FFEBAA;
background-color: rgb(255,235,170);
background-color: rgba(255,235,170,0.90);
height:40px;
width:90px;
padding-top:6px;
font-size:18px;
font-weight:bold;
z-index:1000;
position:absolute;
text-align:center;
bottom:0px;
right:0px;
}
.detail_advert_price{
background-color:#FFEBAA;
background-color: rgb(255,235,170);
background-color: rgba(255,235,170,0.90);
height:50px;
width:100px;
padding-top:9px;
font-size:25px;
font-weight:bold;
z-index:1000;
position:absolute;
text-align:center;
top:0px;
right:15px;
}
.vignette-btn{
margin-top:20px;
}
.message_discussion_bloc{
border:3px solid #EA988B;
margin-bottom:20px;
}
.message_discussion_bloc table {
margin-bottom:0px !important;
}
.vignette{
margin:auto;
margin-top:10px;
position:relative;
padding:5px;
border-bottom:1px solid #B7B7B7;
padding-bottom:20px;
}
.vignette_alaune{
background-color:#FFE4E2;
border:1px solid #E51F13;
}
.vignette_image{
height:250px;
width:250px;
text-align:center;
position:relative;
overflow:hidden;
}
.vignette_image_user{
margin-top:15px;
}
.vignette_image_user img{
width:60px;
}
.vignette_infos_title a{
font-weight:bold;
color:#EA988B;
padding-bottom:10px;
font-size:20px;
text-decoration:none;
}
.vignette_infos_autre{
font-size:16px;
font-weight:bold;
color:#6C6C6B;
}
.vignette_infos_autre_2{
color:#6C6C6B;
}
.vignette_infos_km{
font-size:12px;
text-align:center;
padding-top:3px;
width:100%;
float:right;
}
.vignette_infos{
width:250px;
height:110px;
}
.vignette_infos_1{
padding:0px;
padding-right:5px;
}
.vignette_infos_2{
padding:0px;
padding-left:5px;
}


/* BOUTIQUE
-------------------------------------------------- */

.user-detail-title h1{
color:#EA988B;
font-size:25px;
font-weight:bold;
margin-bottom:5px;
margin-top:0px;
}
.user-detail-title h2{
color:#BC6E5D;
font-size:22px;
font-weight:bold;
margin-bottom:5px;
margin-top:0px;
}
.user-detail-title h3{
margin-bottom:25px;
margin-top:0px;
}

.detail_col_right{
background-color:#E6E6E6;
}
.detail_col_right_box{
padding-left:15px;
padding-right:15px;
}
.detail_col_right_box_title{
color:#E51F13;
font-size:20px;
font-weight:bold;
text-decoration:none;
}
.vignette_boutique:hover{
cursor:pointer;
}
.vignette_boutique_hover{
background-color:#DDA800;
background-color: rgb(221,168,0);
background-color: rgba(221,168,0,0.65);
height:240px;
width:250px;
z-index:1000;
position:absolute;
text-align:center;
display:none;
}
.vignette_boutique_hover img{
margin-top:100px;
}
.vignette_boutique:hover .vignette_boutique_hover{
display:block;
}
.vignette_boutique{
height:240px;
width:250px;
margin:auto;
margin-bottom:30px;
position:relative;
}
.vignette_boutique_image{
height:150px;
width:250px;
text-align:center;
position:relative;
overflow:hidden;
}
.vignette_boutique_infos_title{
font-weight:bold;
color:#323232;
padding-top:10px;
font-size:16px;
}
.vignette_boutique_infos_autre{
font-size:14px;
}
.vignette_boutique_infos{
width:250px;
height:90px;
}
.vignette_boutique_infos{
padding:0px;
padding-right:5px;
}

/* DETAILS ADVERT
-------------------------------------------------- */

.a_abusif{
color:#E51F13;
text-decoration:none;
font-size:14px;
margin-top:15px;
margin-bottom:15px;
}
.zone_message_advert_title{
background-color:#B35288;
color:white;
}
.zone_message_advert{
padding:10px;
background-color:#F9DCD3;
margin-bottom:5px;
}
.zone_message_advert .form-group{
margin-bottom:5px;
}
.zone_message_advert textarea,
.zone_message_advert input{
border:1px solid #FFEBAA;
}
.zone_message_advert_infos{
background-color:#FFEBAA;
padding:7px;
}
#detail_right_telephone{
width:100%;
margin-top:20px;
}

.detail_dt li {
background-color:#E3E3E3;
padding:5px;
margin-bottom:2px;
text-align:left;
font-weight:bold;
height:32px;
}
.detail_dt li b {
width:120px;
float:left;
font-weight:normal;
}
.detail_dt_tb li b {
width:300px;
}
.detail_dt li s {
font-weight:normal;
}
.detail_dt li img {
margin-left:10px;
margin-right:10px;
}

.detail_advert_subtitle_1{
display:inline;
}
.detail_advert_subtitle_2{
border-left:1px solid #E3E3E3;
padding-left:15px;
margin-left:15px;
display:inline;
}
.detail_image{
width:100%;
text-align:center;
overflow: hidden;
}
.detail_right{
background-color:#bfcdd9;
width:100%;
padding:17px;
}
.zone_annonceur{
background-color:#FEECD7;
border:1px solid #FF7200;
padding:5px;
margin-bottom:30px;
}
.zone_annonceur_nom{
font-size:20px;
}
.zone_annonceur_nom a{
text-decoration:none;
font-weight:bold;
}
.zone_annonceur_infos{
font-size:14px;
}
.zone_annonceur_verifie{
font-size:15px;
color:#81984D;
font-weight:bold;
}