body {
background:#C9C9C9 url(../images/fond2.png) repeat-x scroll left top;
font-size:12px;
width:1200px;
margin:10px auto 0pt;
}
#map{
width:100%;
height:400px ;
}
.liste-checkbox{
list-style:none;
padding:0px;
margin:0px;
}
.liste-checkbox li{
float:left;
width:200px;
padding:0px;
}
.list_select_sites li{
float:left;
width:250px;
}
.list_select_cats_div{
height:200px;
width:360px;
overflow:auto;
border:1px solid #5a5a5a;
padding:15px;
border-radius:10px;
}
.order_status_0{
color:#B71F07;
font-weight:bold;
}
.order_status_1{
color:#B5A609;
font-weight:bold;
}
.order_status_2{
color:#0BB319;
font-weight:bold;
}
#linklogout table{
float:right;	
}
#linklogout table td{
padding:4px;
border-left:1px solid #B2B2B2;
padding-left:15px;
padding-right:15px;
}
.form_images_type>div>div {
float:left;
width:265px;
margin:5px;
padding:5px;
border:1px solid #B2B2B2;
text-align:center;
}
.form_images_type #add_image{
float:left;
width:100%;
margin-top:8px;
margin-bottom:15px;
font-size:13px;
}
.form_images_type .btn-danger{
font-size:13px;
}
.form_images_type img{
width:100px;
height:100px;
}
.form_file_image{
width:200px;
margin:0px;
float:left;
}
.form_file_image input{
width:290px !important;
}
#tabs .onglet_admin_ml{
float:left;
width:97%;
border:1px solid #666666;
border-top:0px;
padding-top:8px;
margin-bottom:5px;
padding:1%;
}
#tabs ul {
margin: 0;
padding: 0;
float: left;
list-style: none;
height: 30px;
border-bottom: 1px solid #666;
border-left: 1px solid #666;
width: 99%;
}
#tabs ul li {
float: left;
margin: 0;
padding: 0;
height: 29px;
line-height: 29px;
border-left: none;
margin-bottom: -1px;
overflow: hidden;
position: relative;
background: #ddd
}
#tabs ul li a {
text-decoration: none;
color: #888;
display: block;
font-family: "Trebuchet MS";
font-size: 14px;
padding: 0 20px;
}
#tabs ul li a:hover {
background: #ccc;
color: #666;
}
.ui-tabs {position: relative}
.ui-tabs .ui-tabs-nav {margin: 0}
.ui-tabs .ui-tabs-nav li {float: left; margin: 0; padding: 0; border: 1px solid #ccc; border-left: none; margin-bottom: -1px; overflow: hidden; position: relative; background: #ddd}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {float: left; padding: 0; text-decoration: none; padding: 0 10px}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {margin-bottom: -1px; padding-bottom: 1px; border-bottom: 1px solid #fff}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {cursor: text; color: #666; background: #fff}
.ui-ta
.ui-tabs .ui-tabs-panel {display: block; border: 1px solid #ccc; border-top: none; overflow: hidden; clear: both; float: left; width: 479px; background: #fff; margin: 0; padding: 10px}
.pagination{
text-align:center;
margin-top:25px;
margin-bottom:25px;
float:left;
width:100%;
}
.pagination li{
float:left;
margin-left:8px;
}
.pagination a{
color:#096999;
font-weight:bold;
font-size:14px;
border:1px solid #096999;
padding:5px;
border-radius:5px;
text-decoration:none;
}
.pagination .active a {
background-color:#E6F5F9;
}
p{
margin:0px;
}
.indicator{
float:left;
width:100% !important;
}
div .indicator
{
  width: 100px;
  height: 17px;
  margin:11px;
  background: url(../images/indicator.gif) no-repeat 0 0;
  float:left;
}
.inputs_hidden{
z-index:-10;
position:absolute;
margin-left:-2000px;
float:left;
}
.h1_panneau{
cursor:pointer;
}
.assetImage{
float:left;
}
#cke_contents_content_html p,
.p_margin p{
margin:0;
}
a.tooltip em {
    display:none;
}
a.tooltip:hover {
    border: 0; 
    position: relative; 
    z-index: 500; 
    text-decoration:none;
}
a.tooltip:hover em {
    font-style: normal; 
    display: block; 
    position: absolute; 
    top: 20px; 
    left: -10px; 
    padding: 5px; 
    color: #000; 
    border: 1px solid #bbb; 
    background: #ffc; 
    width:400px;
    text-transform:none !important;
    text-align:left !important;
}
a.tooltip:hover em span {
    position: absolute; 
    top: -7px; 
    left: 15px;
    height: 7px; 
    width: 11px; 
    background: transparent url(../images/infobulletop00.gif); 
    margin:0; 
    padding: 0; 
    border: 0;
}
ul{
margin:0;
padding:0;
}
.centrer{
float:left;
width:100%;
}
#home_admin_1,
#home_admin_2{
height:250px;
}
#home_admin_1,
#home_admin_2,
#home_admin_3,
#home_admin_4{
float:left;
width:520px;
border: #464646 solid 1px;
padding:5px;
margin:10px;
margin-top:0px;
}
#home_admin_2{
}
#home_admin_3{
}
#home_admin_4{
}
#home_admin_1 table,
#home_admin_2 table,
#home_admin_3 table,
#home_admin_4 table{
width:508px !important;
}
#bout-action-search{
float:left;
margin-bottom:10px;
}
#bout-action-search li{
float:left;
margin-left:10px;
}
.bloc_categories_edit{
float:left;
width:50%;
margin:2px;
border: #464646 solid 1px;
}
.bloc_categories_edit input{
width:20px !important;
}
.link_cat_edit{
float:left;
width:100%;
text-decoration:none;
font-weight:bold;
color:#3C3C3C;
}
.masquer_cat_edit a{
font-size:16px;
font-style:italic;
color:#464646;
}
.error_list {
color: red;
font: bold 10px Verdana, Arial, Helvetica, sans-serif;
list-style-type:none;
margin-left:0px;
margin-bottom:0px;
margin-top:0px;
}
.suggestionsBox {
z-index:1000;
position: absolute;
left: 30px;
margin: 10px 0px 0px 0px;
width: 700px;
background-color: #212427;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border: 2px solid #000;	
color: #fff;
}
.suggestionsBox_product {
position: relative;
}
.rouge{
color:red;
font-weight:bold;
}
.orange{
color:#F7811F;
font-weight:bold;
}
.vert{
color:green;
font-weight:bold;
}
.suggestionsBox2 {
position: relative;
}
.suggestionList {
margin: 0px;
padding: 0px;
cursor: pointer;
}
.suggestionList ul li{
width:100%;
text-align:left;
margin-top:3px;
}
#edit-image-perso {
    position:absolute;
    z-index:1000;
    margin-top:70px;
    margin-left:550px;
}

#image-perso {
    position:absolute;
    z-index:1000;
    margin-top:70px;
    margin-left:550px;
}

#edit-image-content {
    position:absolute;
    z-index:1000;
    margin-top:20px;
    margin-left:975px;
}

h1 {
font-weight:bold;
color: #3E383F;
margin: 0px;
font-size: 15px;
float:left;
width:100%;
font-family:Arial;
margin-bottom:10px;
}

hr{
width: 95%;
float:left;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

.table_admin table {
	clear:both;
	background-color: #E1E1E1;
	margin-top: 10px;
	width: 1110px;
	margin-left:5px;
    font-family:Arial;
}


.table_admin table thead .entete th {
	text-transform: uppercase;
	color: grey;
	font-size: 10px;
	margin-top: 15px;
	text-align:left;
	height: 20px;
	padding-left: 5px;
    text-align:left;
}

.table_admin table thead .entete th a{
	text-transform: uppercase;
	color: #6C757A;
	font-size: 10px;
	margin-top: 15px;
	text-align:left;
	height: 20px;
	padding-left: 5px;
    text-align:left;
}

.table_admin table tbody tr {
    height: 20px;
    font-size: 12px;
}

.table_admin table tbody td {
    padding-left: 5px;
}

.table_admin table tbody .item {
    background-color: white;
}

.table_admin table tbody .item1 {
    background-color: #c0d2ea;
}
.form_admin{
float:left;
width:100%;
}

.form_admin table {
    margin-bottom: 10px;
    border: 2px solid #E1E1E1;
    margin-left:5px;
}

.form_admin th {
    color:#6C757A;
    display:block;
    float:left;
    font-size:13px;
    padding-top:0px;
    text-align:right;
    vertical-align: middle;
    text-transform:uppercase;
    width:200px;
    background-color: #E1E1E1;
    padding-right: 10px;
    padding-top:5px;
    padding-bottom:5px;
}
ul{
list-style:none;
}
.liste-photo{
float:left;
width:80%;
}
.liste-photo li {
float:left;
margin:5px;
}
.liste-photo li img{
width:100px;
}
.form_admin td {
    width:875px;
    padding-left: 10px;
}
.form_admin2 td{
width:326px;
}
.form_admin #btn_sauver td {
    width: 60px;
    height: 30px;
}

.form_admin #btn_sauver{
    width: 60px;
    border: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.form_admin #btn_sauver input {
    width: 80px;
    height:26px;
    background:none;
    border:0;
    cursor:pointer;
}

.form_admin input {
    margin-bottom: 2px;
    margin-left: 5px;
    width:80%;
    border:#80757A 1px solid;
    padding:2px;
}

.form_admin textarea {
    margin-bottom: 2px;
    margin-left: 5px;
    width:80%;
    border:#80757A 1px solid;
    padding:2px;
}

.form_admin select {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    border:#80757A 1px solid;
}

.table_admin tfoot {
    background-color: white;
}


#footer {
background:transparent url(../images/bloc3.png) no-repeat scroll left bottom;
height:90px;
width:1200px;
float:left;
}

#header {
background:transparent url(../images/bloc1.png) no-repeat scroll 0%  0%;
height:80px;
width:1200px;
float:left;
}

#logo {
position: absolute;
margin-left: 25px;
margin-top: 12px;
}

#linklogout{
margin-top:-69px;
float:right;
margin-right:50px;
font-family: arial;
font-size: 10pt;
text-align:right;
width:880px;
height:69px;
}

.title {
  position:relative;
  top: 20px;
  left: 15px;
  color: #666;
  font: bold 15px Verdana, Arial, Helvetica, sans-serif;
  margin-bottom:35px;
}

.title h2 {
  position:relative;
  font-size: 13pt;
}

/* Root = Horizontal, Secondary = Vertical */
ul#bout-action {
  margin: 0;
  border: 0 none;
  padding: 0;
  list-style: none;
  margin-top: 5px;
  height: 35px;
}

ul#bout-action li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  margin-left:20px;
}


.table_admin img{
border:0;
}
a.boldbuttons{
background: transparent url('../images/roundedge-gray-left.gif') no-repeat top left;
display: block;
float: left;
font: bold 13px Arial; /* Change 13px as desired */
line-height: 22px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 30px) */
height: 30px; /* Height of button background height */
padding-left: 8px; /* Width of left menu image */
text-decoration: none;

}

a:link.boldbuttons, a:visited.boldbuttons, a:hover.boldbuttons, a:active.boldbuttons{
color: white; /*button text color*/
}

a.boldbuttons span{
background: transparent url('../images/roundedge-gray-right.gif') no-repeat top right;
display: block;
padding: 4px 10px 4px 2px; /*Set 10px to be equal or greater than'padding-left' value above*/
}

a:hover.boldbuttons{ /* Hover state CSS */
text-decoration: underline;
}


.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 100%;
}
#content {
background:transparent url(../images/bloc2.png) repeat-y scroll 0%  0%;
width:1165px;
padding-left:35px;
height: 100%;
padding-top:15px;
padding-bottom:30px;
float:left;
}
#myslidemenu_div{
float:left;
width:1190px;
background:transparent url(../images/bloc2.png) repeat-y scroll 0%  0%;
padding-left:10px;
}
#menu {
	background: url(../images/bloc2.png) repeat-Y;
	width: 1200px; 
    padding-left:    50px;
    float:left;
}

/* Root = Horizontal, Secondary = Vertical */
ul#menu-root {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 500px; /*For KHTML*/
  list-style: none;
  height: 24px;
}

ul#menu-root li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 24px;
}

ul#menu-root ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 160px;
  list-style: none;
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
}

ul#menu-root ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#menu-root ul li {
  width: 160px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
  z-index: 1000;
}

/* Root Menu */
ul#menu-root a {
  /*border: 1px solid #FFF;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  */
  padding: 0 6px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  /*background: #EEE;*/
  color: #666;
  font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

/* Root Menu Hover Persistence */
ul#menu-root a:hover,
ul#menu-root li:hover a,
ul#menu-root li.iehover a {
  /*background: #CCC;*/
  color: #FFF;
}

/* 2nd Menu */
ul#menu-root li:hover li a,
ul#menu-root li.iehover li a {
  float: none;
  /*background: #EEE;*/
  color: #666;
}

/* 2nd Menu Hover Persistence */
ul#menu-root li:hover li a:hover,
ul#menu-root li:hover li:hover a,
ul#menu-root li.iehover li a:hover,
ul#menu-root li.iehover li.iehover a {
  /*background: #CCC;*/
  color: #FFF;
}

/* 3rd Menu */
ul#menu-root li:hover li:hover li a,
ul#menu-root li.iehover li.iehover li a {
  /*background: #EEE;*/
  color: #666;
}

/* 3rd Menu Hover Persistence */
ul#menu-root li:hover li:hover li a:hover,
ul#menu-root li:hover li:hover li:hover a,
ul#menu-root li.iehover li.iehover li a:hover,
ul#menu-root li.iehover li.iehover li.iehover a {
  /*background: #CCC;*/
  color: #FFF;
}

/* 4th Menu */
ul#menu-root li:hover li:hover li:hover li a,
ul#menu-root li.iehover li.iehover li.iehover li a {
  /*background: #EEE;*/
  color: #666;
}

/* 4th Menu Hover */
ul#menu-root li:hover li:hover li:hover li a:hover,
ul#menu-root li.iehover li.iehover li.iehover li a:hover {
  /*background: #CCC;*/
  color: #FFF;
}

ul#menu-root ul ul,
ul#menu-root ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#menu-root li:hover ul ul,
ul#menu-root li:hover ul ul ul,
ul#menu-root li.iehover ul ul,
ul#menu-root li.iehover ul ul ul {
  display: none;
}

ul#menu-root li:hover ul,
ul#menu-root ul li:hover ul,
ul#menu-root ul ul li:hover ul,
ul#menu-root li.iehover ul,
ul#menu-root ul li.iehover ul,
ul#menu-root ul ul li.iehover ul {
  display: block;
}




#menu ul {
    width:              100%;
}
#menu ul li a {
    margin-left:       5px;
    margin-right:      5px;
}
#menu ul li {
    border:             1px solid #3E383F;
	border-bottom:      1px solid #3E383F;
    background-color:   #FFFFFF;
    margin-right:       5px;
    z-index: 1000;
    
}
#menu ul ul li {
    border-bottom:      1px solid #3E383F;
    margin-right:       0px;
}
#menu ul li a {
	color:          #3E383F;
}
#menu ul li:hover, #menu ul li a:hover {
	background-color: #3E383F;
    color:              #FFFFFF;
    z-index: 1000;
}

.checkbox-register {
width:15px;
}
.checkbox input,
.checkbox-register input {
	width:15px;
}

#boutton-recherche,
.button-valider input {
width: 98px;
height: 31px;
background-image:url(../images/sauver.jpg);
border:0px none;
font-size:13px;
border:0px none;
font-weight:bold;
color:white;
margin-top:0px;
}

.qqch {
background:none;
clear:both;
font-size:0.01em;
}
.check-box input{
width:20px;
}
.list_select_marques li {
float:left;
margin-right:10px;
margin-bottom:5px;
width:170px;
}
.liste-photo-marques{
list-style:none;
padding:0px;
}
.liste-photo-marques li{
float:left;
margin:8px;
padding:0px;
margin-left:0px;
border:1px solid #9D9D9D;
width:102px;
height:102px;
text-align:center;
}