/* HOME
-------------------------------------------------- */

.home_bandeau_3 a{
margin-top:30px;
border-color:white !important;
background:white !important;
color:#004560 !important;
}
.home_bandeau{
background-color:#EA437B;
padding-top:10px;
padding-bottom:10px;
}
.home_bandeau_blog{
background-color:#CEC5BE;
padding-top:50px;
padding-bottom:10px;
}
.home_bandeau_1{
color:#CEC5BE;
font-size:20px;
margin-top:30px;
font-weight:bold;
}
.home_bandeau_2{
color:white;
font-size:25px;
}
.home_pourquoi h2{
margin-bottom:5px;
}
.home_pourquoi h3{
font-weight:bold;
margin-top:5px;
}
.home_market{
margin-top:30px;
}
.home_market img{
z-index:10;
}
.home_market_box{
border:1px solid #CEC6BF;
padding:20px;
height:400px;
z-index:0;
margin-top:200px;
margin-bottom:50px;
}
.home_market_title{
color:#EA437B;
font-weight:bold;
font-size:25px;
text-align:center;
line-height:30px;
}
.home_market_box_img{
margin-top:-175px;
}
#home_zone_category_51 ul{
height:260px;
}
#home_zone_category_68 ul{
height:260px;
}
#home_zone_category_85 ul{
height:100px;
}
#home_zone_category_90 ul{
height:110px;
}
#home_zone_category_95 ul{
height:165px;
}
#home_zone_category_104 ul{
height:165px;
}
#home_zone_category_113 ul{
height:165px;
}
#home_zone_category_124 ul{
height:165px;
}
#home_zone_category_132 ul{
height:165px;
}
#home_zone_category_143 ul{
height:165px;
}

.home_col_category b {
background-color:#004560;
display:block;
padding:10px;
color:white;
}
.home_col_category b a {
text-decoration:none;
color:white;
}
.home_col_category ul {
background-color:#E2DFDD;
border:1px solid #CEC6BF;
float:left;
padding-bottom:10px;
padding-top:5px;
margin-bottom:10px;
width:100%;
}
.home_categories{
margin-top:40px;
margin-bottom:30px;
}
.home_col_category ul li{
width:50%;
float:left;
padding-left:15px;
}

.menu-connexion-footer li{
float:left;
margin-left:25px;
}
.home_zone_category_2{
background-color:#EA437B;
padding-top:25px;
padding-bottom:25px;
}

/* RIGHT
-------------------------------------------------- */

.right_blog p{
margin:0px;
}
.right_blog_title{
font-weight:bold;
}
.right_blog_title a{
text-decoration:none;
font-size:14px;
}
.right_blog_date{
color:#727272;
font-style:italic;
}
.right_blog_description{
margin-top:5px;
margin-bottom:5px;
}
.right_blog{
margin-bottom:10px;
}
.box_marge_top{
margin-top:15px;
}
.box_marge_top_40{
margin-top:40px;
}
.box_marge_bottom_40{
margin-bottom:40px;
}

/* CONTENT
-------------------------------------------------- */

.nb_com{
padding-right:0px !important;
}
.comment{
margin-bottom:20px;
margin-top:20px;
}
.comment_author{
font-weight:bold;
color:#24475A;
background:transparent url(../images/template/bulle.png) no-repeat scroll 0px 0px;
padding-left:45px;
padding-top:8px;
padding-bottom:8px;
}
.comment_message{
font-style:italic;
text-align:justify;
}
.vignette_content_une{
width:100%;
margin-bottom:20px;
}
.vignette_content_une:hover{
cursor:pointer;
}
.vignette_content_image_une{
width:100%;
text-align:center;
}
.vignette_content_infos_visible_une{
padding:15px;
width:100%;
background-color:#F5F5F5;
}
.vignette_content_infos_title_une{
font-weight:bold;
color:#409BC8;
}
.vignette_content_infos_price_une{
font-size:15px;
}

.vignette_content{
height:360px;
width:350px;
margin:auto;
margin-bottom:20px;
}
.vignette_content:hover{
cursor:pointer;
}
.vignette_content_image{
height:250px;
width:350px;
text-align:center;
overflow: hidden;
position:absolute;
}
.vignette_content_infos_visible{
padding-top:5px;
height:50px;
top:255px;
width:350px;
z-index:1000;
position:relative;
}
.vignette_content_infos_title{
height:20px;
font-weight:bold;
color:#323232;
}
.vignette_content_infos_price{
font-size:15px;
height:28px;
}
.vignette_content_infos_date{
font-style:italic;
}
.vignette_content_infos{
background-color:#EA437B;
background-color: rgb(221, 96, 27);
background-color: rgba(221, 96, 27, 0.65);
padding-top:10px;
height:360px;
width:350px;
z-index:1000;
position:relative;
display:none;
margin-top:-50px;
}
.vignette_content_infos_hover{
margin-top:100px;
text-align:center;
}
.vignette_content:hover .vignette_content_infos{
display:block;
}
.vignette_content_mini{
margin-bottom:20px;
}
.vignette_content_mini:hover{
cursor:pointer;
}
.vignette_content_mini_image{
text-align:center;
overflow: hidden;
float:left;
}
.vignette_content_mini_image img {
width:110px;
height:80px;
}
.vignette_content_mini_infos_titre{
font-size:18px;
color:#409BC8;
font-weight:bold;
}